Repository Dynatrace/dynatrace-operator, pull requests merged in 2021-12, with the labels that each got.

#403 Adds editorconfig + pre-commit
  .editorconfig
  .github/pre-commit
  Makefile
Labels: minor

#419 Remove Url from multipleDynakubes samples
  config/samples/multipleDynakubes.yaml
Labels: documentation

#420 Adapt samples on release branch - rename and multipleDynakubes adaption
  config/samples/applicationMonitoring.yaml
  config/samples/classicFullStack.yaml
  config/samples/cloudNativeFullStack.yaml
  config/samples/hostMonitoring.yaml
  config/samples/multipleDynakubes.yaml
Labels: cherrypick
