Repository Dynatrace/dynatrace-operator, pull requests merged in 2021-11, with the labels that each got.

#318 Update troubleshootscript for MacOS
  troubleshoot/README.md
  troubleshoot/troubleshoot.sh
Labels: enhancement

#349 Update misleading log message
  controllers/kubeobjects/daemonset.go
Labels: cherrypick

#350 Remove old classic daemonset if exists
  controllers/oneagent/oneagent_controller.go
Labels: cherrypick

#351 Removes expire on release branch images
  .travis.yml
Labels: cherrypick

#352 Renames tenants table to dynakubes
  controllers/csi/driver/bind_config.go
  controllers/csi/driver/bind_config_test.go
  controllers/csi/driver/server_test.go
  controllers/csi/metadata/correctness.go
  controllers/csi/metadata/correctness_test.go
  controllers/csi/metadata/fakes.go
  controllers/csi/metadata/metadata.go
  controllers/csi/metadata/sqlite.go
  controllers/csi/metadata/sqlite_test.go
  controllers/csi/provisioner/reconciler.go
  controllers/csi/provisioner/reconciler_test.go
Labels: cherrypick

#357 Update csi image to not use snapshot on 0.3.0 branch
  config/common/csi/kustomization.yaml
Labels: cherrypick

#331 Create config file to use Github release notes
  .github/release.yml
  .github/workflows/changelog-ci.yml
  CHANGELOG.md
  actions/changelog-ci/Dockerfile
  actions/changelog-ci/LICENSE
  actions/changelog-ci/README.md
  actions/changelog-ci/action.yaml
  actions/changelog-ci/changelog-ci-config.json
  actions/changelog-ci/changelog-ci.py
  actions/changelog-ci/requirements.txt
Labels: documentation

#363 Change beta warning condition for applicationMonitoring
  README.md
  config/samples/applicationMonitoring.yml
  webhook/validation/validation.go
  webhook/validation/validation_test.go
Labels: enhancement

#322 New data-ingest endpoint secret containing data-ingest URL and token mounted to micrometer pods
  config/common/operator/clusterrole-operator.yaml
  config/common/webhook/clusterrole-webhook.yaml
  controllers/dynakube/dynakube_controller.go
  controllers/ingestendpoint/config.go
  controllers/ingestendpoint/secret.go
  controllers/ingestendpoint/secret_test.go
  controllers/kubeobjects/secret.go
  controllers/kubeobjects/secret_test.go
  dtclient/client.go
  initgeneration/initgeneration.go
  initgeneration/initgeneration_test.go
  webhook/mutation/pod_mutator.go
  webhook/mutation/pod_mutator_test.go
Labels: activegate

#365 Adjust usage of beta label on release branch
  README.md
  config/samples/applicationMonitoring.yml
  webhook/validation/validation.go
  webhook/validation/validation_test.go
Labels: cherrypick

#362 Add github release notes config to 0.3.0 release branch
  .github/release.yml
  .github/workflows/changelog-ci.yml
  CHANGELOG.md
  actions/changelog-ci/Dockerfile
  actions/changelog-ci/LICENSE
  actions/changelog-ci/README.md
  actions/changelog-ci/action.yaml
  actions/changelog-ci/changelog-ci-config.json
  actions/changelog-ci/changelog-ci.py
  actions/changelog-ci/requirements.txt
Labels: cherrypick

#364 Remove data-ingest from docs
  README.md
  config/samples/applicationMonitoring.yml
  config/samples/classicFullStack.yml
  config/samples/cloudNativeFullstack.yml
  config/samples/hostMonitoring.yml
  config/samples/multipleDynakubes.yml
Labels: activegate

#367 Rename mentions of beta to preview
  README.md
  api/v1beta1/oneagent_types.go
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/samples/applicationMonitoring.yml
  config/samples/cloudNativeFullstack.yml
  config/samples/multipleDynakubes.yml
  webhook/validation/validation.go
Labels: documentation

#369 Update troubleshoot script with activegate version check
  troubleshoot/troubleshoot.sh
Labels: bug

#374 Rename beta to preview release
  README.md
  api/v1beta1/oneagent_types.go
  config/crd/default/bases/dynatrace.com_dynakubes.yaml
  config/samples/applicationMonitoring.yml
  config/samples/cloudNativeFullstack.yml
  config/samples/multipleDynakubes.yml
  webhook/validation/validation.go
Labels: cherrypick

#366 Adds ruxitagentproc.conf update mechanism for CSI driver
  controllers/csi/metadata/fakes.go
  controllers/csi/metadata/path_resolver.go
  controllers/csi/metadata/sqlite_test.go
  controllers/csi/provisioner/agent.go
  controllers/csi/provisioner/processmoduleconfig.go
  controllers/csi/provisioner/processmoduleconfig_test.go
  controllers/csi/provisioner/reconciler.go
  controllers/csi/provisioner/reconciler_test.go
  dtclient/client.go
  dtclient/mock_client.go
  dtclient/processmoduleconfig.go
  dtclient/processmoduleconfig_test.go
  processmoduleconfig/update.go
  processmoduleconfig/update_test.go
Labels: enhancement

#291 Additional dimensions for data ingest
  config/common/webhook/clusterrole-webhook.yaml
  config/common/webhook/role-webhook.yaml
  initgeneration/init.sh.test-sample
  initgeneration/init.sh.tmpl
  webhook/mutation/pod_mutator.go
  webhook/mutation/pod_mutator_test.go
Labels: activegate

#380 Update support matrix 0.3.0
  README.md
Labels: cherrypick

#389 Change File endings of samples
  config/samples/applicationMonitoring.yaml
  config/samples/classicFullStack.yaml
  config/samples/cloudNativeFullStack.yaml
  config/samples/hostMonitoring.yaml
  config/samples/multipleDynakubes.yaml
Labels: documentation
