Repository Dynatrace/dynatrace-operator, pull requests merged in 2022-08, with the labels that each got.

#1016 Renamed helm-chart platform value google-marketplace to gke-marketplace
  .gitignore
  config/helm/chart/default/templates/Common/operator/deployment-operator.yaml
  config/helm/chart/default/templates/Common/webhook/deployment-webhook.yaml
  config/helm/chart/default/templates/_helpers.tpl
  config/helm/chart/default/tests/Common/operator/deployment-operator_test.yaml
  config/helm/chart/default/tests/Common/webhook/deployment-webhook_test.yaml
  config/helm/chart/default/tests/Google/application_test.yaml
  config/helm/chart/default/values.yaml
  hack/make/deploy/gcr.mk
  hack/make/manifests/config.mk
  hack/make/manifests/kubernetes.mk
Labels: helm

#1020 Renames helm-chart platform value google-marketplace to gke-marketplace (#1016)
  .gitignore
  config/helm/chart/default/templates/Common/operator/deployment-operator.yaml
  config/helm/chart/default/templates/Common/webhook/deployment-webhook.yaml
  config/helm/chart/default/templates/_helpers.tpl
  config/helm/chart/default/tests/Common/operator/deployment-operator_test.yaml
  config/helm/chart/default/tests/Common/webhook/deployment-webhook_test.yaml
  config/helm/chart/default/tests/Google/application_test.yaml
  config/helm/chart/default/values.yaml
  hack/make/deploy/gcr.mk
  hack/make/manifests/config.mk
  hack/make/manifests/kubernetes.mk
Labels: cherrypick

#1021 Restrict the token permissions
  .github/workflows/build-dockerimage.yaml
  .github/workflows/ci.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/preflight.yaml
  .github/workflows/publish-images.yaml
  .github/workflows/upload-dockerimage.yaml
Labels: ci

#1023 Update build jobs and configure GCR registry
  .github/workflows/publish-images.yaml
Labels: ci

#1022 Add priorityClass to CSI Pods
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/openshift/openshift-all.yaml
  config/helm/chart/default/templates/Common/csi/daemonset.yaml
  config/helm/chart/default/templates/Common/csi/priority-class.yaml
  config/helm/chart/default/tests/Common/csi/daemonset_test.yaml
  config/helm/chart/default/values.yaml
Labels: bug

#1025 Add priority class to csi pods
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/openshift/openshift-all.yaml
  config/helm/chart/default/templates/Common/csi/daemonset.yaml
  config/helm/chart/default/templates/Common/csi/priority-class.yaml
  config/helm/chart/default/tests/Common/csi/daemonset_test.yaml
  config/helm/chart/default/values.yaml
Labels: cherrypick

#1007 Restructure activegate controller folder structure
  src/controllers/activegate/capability/config.go
  src/controllers/activegate/reconciler/capability/config.go
  src/controllers/activegate/reconciler/statefulset/config.go
  src/controllers/dynakube/activegate/capability/capability.go
  src/controllers/dynakube/activegate/capability/capability_test.go
  src/controllers/dynakube/activegate/capability/config.go
  src/controllers/dynakube/activegate/capability/eec_runtime_config.go
  src/controllers/dynakube/activegate/capability/eec_runtime_config_test.go
  src/controllers/dynakube/activegate/capability/proxysecret.go
  src/controllers/dynakube/activegate/capability/reconciler.go
  src/controllers/dynakube/activegate/capability/reconciler_eec_runtime_config.go
  src/controllers/dynakube/activegate/capability/reconciler_test.go
  src/controllers/dynakube/activegate/capability/service.go
  src/controllers/dynakube/activegate/capability/service_test.go
  src/controllers/dynakube/activegate/config.go
  src/controllers/dynakube/activegate/reconciler.go
  src/controllers/dynakube/activegate/reconciler_test.go
  src/controllers/dynakube/activegate/statefulset/affinity.go
  src/controllers/dynakube/activegate/statefulset/affinity_test.go
  src/controllers/dynakube/activegate/statefulset/config.go
  src/controllers/dynakube/activegate/statefulset/container_eec.go
  src/controllers/dynakube/activegate/statefulset/container_eec_test.go
  src/controllers/dynakube/activegate/statefulset/container_statsd.go
  src/controllers/dynakube/activegate/statefulset/container_statsd_test.go
  src/controllers/dynakube/activegate/statefulset/event.go
  src/controllers/dynakube/activegate/statefulset/statefulset.go
  src/controllers/dynakube/activegate/statefulset/statefulset_test.go
  src/controllers/dynakube/apimonitoring/config.go
  src/controllers/dynakube/apimonitoring/reconciler.go
  src/controllers/dynakube/apimonitoring/reconciler_test.go
  src/controllers/dynakube/customproperties/config.go
  src/controllers/dynakube/customproperties/reconciler.go
  src/controllers/dynakube/customproperties/reconciler_test.go
  src/controllers/dynakube/dynakube_controller.go
  src/controllers/dynakube/dynakube_controller_test.go
  src/controllers/dynakube/dynakube_phase.go
  src/ingestendpoint/secret.go
  src/webhook/validation/proxy_url.go
Labels: activegate

#1024 Migrates from reusable workflows to composite actions
  .github/actions/build-image/action.yaml
  .github/actions/create-manifests/action.yaml
  .github/actions/preflight/action.yaml
  .github/actions/upload-image/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/openssf-scorecards.yaml
  .github/workflows/preflight.yaml
  .github/workflows/publish-images.yaml
  .github/workflows/upload-dockerimage.yaml
  hack/build/ci/create-manifest.sh
  hack/build/ci/upload-docker-image.sh
Labels: ci

#1030 Update CI to publish images on release
  .github/actions/build-image/action.yaml
  .github/actions/create-manifests/action.yaml
  .github/actions/preflight/action.yaml
  .github/actions/upload-image/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/openssf-scorecards.yaml
  .github/workflows/publish-images.yaml
  .github/workflows/upload-dockerimage.yaml
  hack/build/ci/create-manifest.sh
  hack/build/ci/download-go-build-deps.sh
  hack/build/ci/install-helm-dependencies.sh
  hack/build/ci/install-kubebuilder.sh
  hack/build/ci/preflight.sh
  hack/build/ci/run-unit-tests.sh
  hack/build/ci/upload-docker-image.sh
  hack/make/go.mk
Labels: cherrypick

#1032 Add default value for priorityClass
  config/helm/chart/default/templates/Common/csi/priority-class.yaml
Labels: bug

#1036 Fix matrix for publish images action
  .github/workflows/publish-images.yaml
Labels: ci

#1037 Fix `needs` for manifest step
  .github/workflows/publish-images.yaml
Labels: ci

#1038 Fix matrix names for other registries
  .github/workflows/publish-images.yaml
Labels: ci

#991 In `csidriver` pod, split `driver` container to `server` and `provisioner`
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/openshift/openshift-all.yaml
  config/helm/chart/default/generated/dynatrace-operator-crd.yaml
  config/helm/chart/default/templates/Common/csi/daemonset.yaml
  config/helm/chart/default/tests/Common/csi/daemonset_test.yaml
  src/cmd/csi/provisioner/builder.go
  src/cmd/csi/provisioner/builder_test.go
  src/cmd/csi/provisioner/command_test.go
  src/cmd/csi/provisioner/config.go
  src/cmd/csi/provisioner/manager.go
  src/cmd/csi/provisioner/manager_test.go
  src/cmd/csi/server/builder.go
  src/cmd/csi/server/builder_test.go
  src/cmd/csi/server/command_test.go
  src/cmd/csi/server/config.go
  src/cmd/csi/server/manager.go
  src/cmd/csi/server/manager_test.go
  src/cmd/main.go
  src/controllers/csi/config.go
  src/controllers/csi/driver/server.go
Labels: core

#1039 Fix registry name matching in matrix
  .github/workflows/publish-images.yaml
Labels: ci

#1040 Load repositories from secrets
  .github/workflows/publish-images.yaml
Labels: ci

#1042 Add extra service account to make bundle command
  hack/build/bundle.sh
Labels: bug

#980 Add troubleshoot sub-command to the operator image
  src/cmd/main.go
  src/cmd/troubleshoot/builder.go
  src/cmd/troubleshoot/builder_test.go
  src/cmd/troubleshoot/config.go
  src/cmd/troubleshoot/dtcluster_connection.go
  src/cmd/troubleshoot/dynakube.go
  src/cmd/troubleshoot/dynakube_test.go
  src/cmd/troubleshoot/image_pullable.go
  src/cmd/troubleshoot/image_pullable_test.go
  src/cmd/troubleshoot/logger.go
  src/cmd/troubleshoot/namespace.go
  src/cmd/troubleshoot/namespace_test.go
  src/controllers/dynakube/dtpullsecret/generate.go
  src/controllers/dynakube/dtpullsecret/generate_test.go
  src/initgeneration/initgeneration.go
  src/kubeobjects/dynakube.go
  src/kubeobjects/dynakube_test.go
  src/webhook/validation/api_url.go
  src/webhook/validation/api_url_test.go
  src/webhook/validation/config.go
Labels: core

#1055 Fix custom activegate labels in Dynakube
  src/controllers/activegate/reconciler/statefulset/statefulset.go
Labels: bug

#1056 Adapt capabilities to use uppercase letters for ALL keyword
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/openshift/openshift-all.yaml
  config/helm/chart/default/generated/dynatrace-operator-crd.yaml
  config/helm/chart/default/templates/Common/operator/deployment-operator.yaml
  config/helm/chart/default/templates/Common/webhook/deployment-webhook.yaml
  config/helm/chart/default/tests/Common/operator/deployment-operator_test.yaml
  config/helm/chart/default/tests/Common/webhook/deployment-webhook_test.yaml
  kuttl/activegate/tests/capabilities-walkthrough/25-assert.yaml
  kuttl/activegate/tests/capabilities-walkthrough/35-assert.yaml
  kuttl/activegate/tests/capabilities-walkthrough/45-assert.yaml
  kuttl/activegate/tests/capabilities-walkthrough/55-assert.yaml
  kuttl/activegate/tests/capabilities-walkthrough/65-assert.yaml
  src/controllers/dynakube/activegate/statefulset/container_eec.go
  src/controllers/dynakube/activegate/statefulset/container_statsd.go
  src/controllers/dynakube/activegate/statefulset/statefulset.go
  src/controllers/dynakube/activegate/statefulset/statefulset_test.go
Labels: bug

#1034 Add default value for priorityClass to helm chart
  config/helm/chart/default/templates/Common/csi/priority-class.yaml
  config/helm/chart/default/tests/Common/csi/priority-class_test.yaml
Labels: cherrypick

#1031 Makes the csi extract archives into a tmp folder
  src/controllers/csi/metadata/path_resolver.go
  src/controllers/csi/metadata/path_resolver_test.go
  src/controllers/csi/provisioner/agent.go
  src/controllers/csi/provisioner/controller.go
  src/controllers/dynakube/activegate/capability/capability.go
  src/dtclient/client.go
  src/installer/image/installer.go
  src/installer/image/installer_test.go
  src/installer/image/unpack.go
  src/installer/url/installer.go
  src/installer/url/installer_test.go
  src/installer/url/unpack.go
  src/installer/zip/extractor.go
  src/installer/zip/gzip.go
  src/installer/zip/gzip_test.go
  src/installer/zip/testing.go
  src/installer/zip/zip.go
  src/installer/zip/zip_test.go
  src/version/semantic.go
  src/webhook/mutation/namespace_mutator/mutator.go
Labels: bug

#1058 Changes github actions to use hashes
  .github/actions/build-image/action.yaml
  .github/actions/create-manifests/action.yaml
  .github/actions/preflight/action.yaml
  .github/actions/upload-image/action.yaml
  .github/dependabot.yml
  .github/workflows/ci.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/publish-images.yaml
Labels: ci

#1063 Adapt capabilities to use uppercase letters for ALL keyword
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/openshift/openshift-all.yaml
  config/helm/chart/default/templates/Common/operator/deployment-operator.yaml
  config/helm/chart/default/templates/Common/webhook/deployment-webhook.yaml
  config/helm/chart/default/tests/Common/operator/deployment-operator_test.yaml
  config/helm/chart/default/tests/Common/webhook/deployment-webhook_test.yaml
  kuttl/activegate/tests/capabilities-walkthrough/25-assert.yaml
  kuttl/activegate/tests/capabilities-walkthrough/35-assert.yaml
  kuttl/activegate/tests/capabilities-walkthrough/45-assert.yaml
  kuttl/activegate/tests/capabilities-walkthrough/55-assert.yaml
  kuttl/activegate/tests/capabilities-walkthrough/65-assert.yaml
  src/controllers/activegate/reconciler/statefulset/container_eec.go
  src/controllers/activegate/reconciler/statefulset/container_statsd.go
  src/controllers/activegate/reconciler/statefulset/statefulset.go
  src/controllers/activegate/reconciler/statefulset/statefulset_test.go
Labels: cherrypick

#1064 Ensure csi driver availability on node scale-down
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/openshift/openshift-all.yaml
  config/helm/chart/default/templates/Common/csi/daemonset.yaml
  config/helm/chart/default/tests/Common/csi/daemonset_test.yaml
  config/helm/chart/default/values.yaml
Labels: bug

#1065 Upgrade operator base image from ubi8-micro to ubi9-micro
  Dockerfile
Labels: core

#1067 Ensure csi driver availability on node scale-down
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/openshift/openshift-all.yaml
  config/helm/chart/default/templates/Common/csi/daemonset.yaml
  config/helm/chart/default/tests/Common/csi/daemonset_test.yaml
  config/helm/chart/default/values.yaml
Labels: cherrypick

#1059 Makes the csi extract archives into a tmp folder (#1031)
  src/controllers/activegate/capability/capability.go
  src/controllers/csi/metadata/path_resolver.go
  src/controllers/csi/metadata/path_resolver_test.go
  src/controllers/csi/provisioner/agent.go
  src/controllers/csi/provisioner/controller.go
  src/dtclient/client.go
  src/installer/image/installer.go
  src/installer/image/installer_test.go
  src/installer/image/unpack.go
  src/installer/url/installer.go
  src/installer/url/installer_test.go
  src/installer/url/unpack.go
  src/installer/zip/extractor.go
  src/installer/zip/gzip.go
  src/installer/zip/gzip_test.go
  src/installer/zip/testing.go
  src/installer/zip/zip.go
  src/installer/zip/zip_test.go
  src/version/semantic.go
  src/webhook/mutation/namespace_mutator/mutator.go
Labels: cherrypick

#1073 Upgrade to ubi9-micro as base image
  Dockerfile
Labels: cherrypick

#1074 Set empty workload kind/name on unknown owner
  src/config/enrichment_injection.go
  src/standalone/env.go
  src/standalone/env_test.go
  src/standalone/run_test.go
  src/webhook/mutation/pod_mutator/dataingest_mutation/workload.go
  src/webhook/mutation/pod_mutator/dataingest_mutation/workload_test.go
Labels: bug

#1077 Make extractor handle standalone usecase
  src/controllers/csi/provisioner/processmoduleconfig.go
  src/installer/url/config.go
  src/installer/url/installer.go
  src/installer/url/installer_test.go
  src/installer/zip/zip.go
  src/standalone/run.go
Labels: bug

#1076 Adds csidriver.kubeletPath to values.yaml
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/openshift/openshift-all.yaml
  config/helm/chart/default/generated/dynatrace-operator-crd.yaml
  config/helm/chart/default/templates/Common/csi/daemonset.yaml
  config/helm/chart/default/templates/Common/operator/deployment-operator.yaml
  config/helm/chart/default/templates/Common/webhook/deployment-webhook.yaml
  config/helm/chart/default/templates/_csidriver.tpl
  config/helm/chart/default/templates/_helpers.tpl
  config/helm/chart/default/templates/_labels.tpl
  config/helm/chart/default/tests/Common/csi/daemonset_test.yaml
  config/helm/chart/default/values.yaml
Labels: helm

#1078 Make extractor handle standalone usecase (#1077)
  src/controllers/csi/provisioner/processmoduleconfig.go
  src/installer/url/config.go
  src/installer/url/installer.go
  src/installer/url/installer_test.go
  src/installer/zip/zip.go
  src/standalone/run.go
Labels: cherrypick

#1075 Adds columns for volume mount attempts
  .github/pull_request_template.md
  .gitignore
  src/controllers/csi/driver/volumes/app/publisher.go
  src/controllers/csi/driver/volumes/app/publisher_test.go
  src/controllers/csi/driver/volumes/bind_config_test.go
  src/controllers/csi/driver/volumes/host/publisher_test.go
  src/controllers/csi/gc/binaries_test.go
  src/controllers/csi/metadata/correctness_test.go
  src/controllers/csi/metadata/metadata.go
  src/controllers/csi/metadata/metadata_test.go
  src/controllers/csi/metadata/sqlite.go
  src/controllers/csi/metadata/sqlite_test.go
  src/controllers/csi/provisioner/controller_test.go
Labels: core

#1084 Adds restart when OneAgentAPM is present
  src/webhook/mutation/pod_mutator/config.go
  src/webhook/mutation/pod_mutator/events.go
  src/webhook/mutation/pod_mutator/pod_mutator.go
  src/webhook/mutation/pod_mutator/pod_mutator_test.go
  src/webhook/mutation/pod_mutator/register.go
Labels: core

#1086 Set empty workload kind/name on unknown owner (#1074)
  src/config/enrichment_injection.go
  src/standalone/env.go
  src/standalone/env_test.go
  src/standalone/run_test.go
  src/webhook/mutation/pod_mutator/dataingest_mutation/workload.go
  src/webhook/mutation/pod_mutator/dataingest_mutation/workload_test.go
Labels: cherrypick

#1087 Fix custom activegate labels in Dynakube
  src/controllers/dynakube/activegate/statefulset/statefulset.go
Labels: cherrypick

#1085 Adds `tar` to the operator image
  Dockerfile
Labels: dependencies

#1089 Adds feature flag to configure `MaxFailedMountAttempts`
  src/api/v1beta1/feature_flags.go
  src/api/v1beta1/feature_flags_test.go
  src/controllers/csi/metadata/metadata.go
  src/controllers/csi/metadata/metadata_test.go
  src/controllers/csi/metadata/sqlite.go
  src/controllers/csi/metadata/sqlite_test.go
  src/controllers/csi/provisioner/controller.go
  src/controllers/csi/provisioner/controller_test.go
Labels: core

#1102 Use context for database calls
  src/cmd/csi/provisioner/builder.go
  src/cmd/csi/server/builder.go
  src/controllers/csi/driver/server.go
  src/controllers/csi/driver/volumes/app/publisher.go
  src/controllers/csi/driver/volumes/app/publisher_test.go
  src/controllers/csi/driver/volumes/bind_config.go
  src/controllers/csi/driver/volumes/bind_config_test.go
  src/controllers/csi/driver/volumes/host/publisher.go
  src/controllers/csi/driver/volumes/host/publisher_test.go
  src/controllers/csi/driver/volumes/publisher.go
  src/controllers/csi/gc/binaries.go
  src/controllers/csi/gc/binaries_test.go
  src/controllers/csi/gc/controller.go
  src/controllers/csi/gc/controller_test.go
  src/controllers/csi/gc/images.go
  src/controllers/csi/gc/images_test.go
  src/controllers/csi/metadata/correctness.go
  src/controllers/csi/metadata/correctness_test.go
  src/controllers/csi/metadata/fakes.go
  src/controllers/csi/metadata/metadata.go
  src/controllers/csi/metadata/sqlite.go
  src/controllers/csi/metadata/sqlite_test.go
  src/controllers/csi/provisioner/controller.go
  src/controllers/csi/provisioner/controller_test.go
Labels: core

#1100 Fixes intendation of contribution guidelines
  CONTRIBUTING.md
Labels: documentation

#1104 Readds the version log to the top of the logs
  src/cmd/main.go
Labels: bug

#1103 Creates the shared image dir so `os.Rename` can work
  src/installer/image/installer.go
Labels: bug

#1108 Switch back to ubi8-micro
  Dockerfile
Labels: core

#1106 E2E-Tests a simple cloud native installation
  .gitignore
  go.mod
  go.sum
  hack/make/go.mk
  test/activegate/installation.go
  test/cloudnative_test.go
  test/csi/installation.go
  test/kubeobjects/daemonset/wait.go
  test/kubeobjects/deployment/wait.go
  test/kubeobjects/environment/environment.go
  test/kubeobjects/manifests/installation.go
  test/kubeobjects/namespace/namespace.go
  test/kubeobjects/statefulset/wait.go
  test/oneagent/daemonset.go
  test/operator/installation.go
  test/secrets/secrets.go
  test/secrets/secrets_test.go
  test/testdata/cloudnative/sample-deployment.yaml
  test/webhook/installation.go
Labels: ci

#1105 Readds the version log to the top of the logs (#1104)
  src/cmd/main.go
Labels: cherrypick

#1107 Creates the shared image dir so `os.Rename` can work (#1103)
  src/installer/image/installer.go
Labels: cherrypick

#1112 Adapt helm files for release version 0.8.2
  config/helm/repos/stable/dynatrace-operator-0.8.2.tgz
  config/helm/repos/stable/dynatrace-operator-0.8.2.tgz.prov
  config/helm/repos/stable/index.yaml
  config/helm/repos/stable/index.yaml.previous
Labels: do-not-merge
