Repository Dynatrace/dynatrace-operator, pull requests merged in 2022-09, with the labels that each got.

#1118 Remove unnecessary dependencies from operator-image
  Dockerfile
Labels: bug

#1113 Fixes DynaKube phase not changed correctly
  src/controllers/dynakube/dynakube_controller.go
  src/controllers/dynakube/dynakube_controller_test.go
Labels: core

#1109 Uses MountAttempts in csi-driver
  src/api/v1beta1/feature_flags.go
  src/api/v1beta1/feature_flags_test.go
  src/controllers/csi/driver/volumes/app/publisher.go
  src/controllers/csi/driver/volumes/app/publisher_test.go
  src/controllers/csi/driver/volumes/bind_config.go
  src/controllers/csi/metadata/metadata.go
  src/controllers/csi/metadata/metadata_test.go
  src/controllers/csi/metadata/sqlite.go
  src/controllers/csi/metadata/sqlite_test.go
  src/controllers/csi/provisioner/controller_test.go
Labels: core

#1127 Sign images on release
  .github/actions/build-image/action.yaml
  .github/actions/create-manifests/action.yaml
  .github/actions/preflight/action.yaml
  .github/actions/sign-image/action.yaml
  .github/actions/upload-image/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/publish-images.yaml
Labels: ci

#1131 Fix arm build on protected branch
  .github/workflows/ci.yaml
  .github/workflows/publish-images.yaml
Labels: ci

#1092 Adds validation that volume storage env setting isn't used in read-only mode
  src/api/v1beta1/properties.go
  src/api/v1beta1/properties_test.go
  src/webhook/validation/config.go
  src/webhook/validation/oneagent.go
  src/webhook/validation/oneagent_test.go
Labels: oneagent

#1134 Fix check for protected branch status
  .github/workflows/ci.yaml
Labels: ci

#1122 Adds toleration matching node affinity to activegate
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/openshift/openshift-all.yaml
  config/helm/chart/default/generated/dynatrace-operator-crd.yaml
  hack/make/deploy/kubernetes.mk
  hack/make/deploy/openshift.mk
  src/cmd/operator/builder.go
  src/cmd/webhook/builder.go
  src/controllers/dynakube/activegate/internal/statefulset/statefulset.go
  src/controllers/dynakube/activegate/internal/statefulset/statefulset_test.go
  src/kubeobjects/affinity.go
  src/kubeobjects/pod.go
  src/kubeobjects/pod_test.go
  src/kubesystem/kubesystem.go
  src/kubesystem/kubesystem_test.go
  src/webhook/mutation/pod_mutator/register.go
Labels: bug

#1128 Adds toleration for arm and amd to operator components
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/openshift/openshift-all.yaml
  config/helm/chart/default/templates/Common/csi/daemonset.yaml
  config/helm/chart/default/templates/Common/operator/deployment-operator.yaml
  config/helm/chart/default/templates/Common/webhook/deployment-webhook.yaml
  config/helm/chart/default/tests/Common/csi/daemonset_test.yaml
  config/helm/chart/default/tests/Common/operator/deployment-operator_test.yaml
  config/helm/chart/default/tests/Common/webhook/deployment-webhook_test.yaml
  config/helm/chart/default/values.yaml
  hack/make/manifests/manifests.mk
Labels: helm

#1124 Removes unnecessary wiring around image build on CI
  .github/actions/build-image/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/publish-images.yaml
  Dockerfile
  hack/build/ci/prepare-build-variables.sh
  hack/build/create_cgo_cflags.sh
  hack/build/push_image.sh
Labels: ci

#1135 Adds annotations for generated daemonset pods
  src/api/v1beta1/oneagent_types.go
  src/controllers/dynakube/activegate/internal/statefulset/statefulset.go
  src/controllers/dynakube/oneagent/daemonset/daemonset.go
  src/controllers/dynakube/oneagent/daemonset/daemonset_test.go
  src/kubeobjects/labels.go
  src/kubeobjects/map.go
  src/kubeobjects/map_test.go
Labels: oneagent

#1132 Enables ActiveGate auth token by default
  src/api/v1beta1/feature_flags.go
  src/api/v1beta1/feature_flags_test.go
  src/controllers/dynakube/activegate/internal/statefulset/reconciler_test.go
  src/controllers/dynakube/activegate/internal/statefulset/statefulset_test.go
  src/controllers/dynakube/activegate/reconciler_test.go
  src/controllers/dynakube/dtclient_reconciler_test.go
  src/controllers/dynakube/dynakube_controller_test.go
  src/testing/e2e/integrationtests/envutils_test.go
  src/webhook/validation/config.go
  src/webhook/validation/deprecation.go
  src/webhook/validation/deprecation_test.go
Labels: activegate

#1129 Remove outdated `Dockerfile-localbuild`
  Dockerfile
  Dockerfile-localbuild
  hack/build/deploy_rhel.sh
  hack/build/push_image.sh
Labels: ci

#1144 Update action versions in comments
  .github/actions/build-image/action.yaml
  .github/actions/preflight/action.yaml
  .github/actions/upload-image/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/publish-images.yaml
Labels: ci

#1142 Updated custom resource samples for consistency
  assets/samples/applicationMonitoring.yaml
  assets/samples/classicFullStack.yaml
  assets/samples/cloudNativeFullStack.yaml
  assets/samples/hostMonitoring.yaml
  assets/samples/multipleDynakubes.yaml
Labels: documentation

#1125 Adds a test to check if oneagents startup correctly
  go.mod
  go.sum
  test/cloudnative_test.go
  test/kubeobjects/pod/execute.go
  test/oneagent/daemonset.go
  test/secrets/secrets.go
Labels: oneagent

#1148 Add artifacthub metadata file
  config/helm/repos/stable/artifacthub-repo.yml
Labels: ci

#1147 Adds missing unit tests for AG reconcilers
  src/controllers/dynakube/activegate/internal/authtoken/reconciler_test.go
  src/controllers/dynakube/activegate/internal/proxy/reconciler_test.go
  src/controllers/dynakube/activegate/internal/tenantinfo/reconciler.go
  src/controllers/dynakube/activegate/internal/tenantinfo/reconciler_test.go
Labels: core

#1136 Refactors activegate statefulset generation
  src/builder/api/builder.go
  src/builder/api/modifier.go
  src/builder/builder.go
  src/builder/builder_test.go
  src/builder/mocks/modifier.go
  src/controllers/dynakube/activegate/consts/consts.go
  src/controllers/dynakube/activegate/internal/authtoken/reconciler.go
  src/controllers/dynakube/activegate/internal/authtoken/reconciler_test.go
  src/controllers/dynakube/activegate/internal/capability/reconciler.go
  src/controllers/dynakube/activegate/internal/capability/reconciler_eec_runtime_config.go
  src/controllers/dynakube/activegate/internal/capability/reconciler_test.go
  src/controllers/dynakube/activegate/internal/capability/service.go
  src/controllers/dynakube/activegate/internal/capability/service_test.go
  src/controllers/dynakube/activegate/internal/customproperties/reconciler.go
  src/controllers/dynakube/activegate/internal/proxy/reconciler.go
  src/controllers/dynakube/activegate/internal/statefulset/affinity.go
  src/controllers/dynakube/activegate/internal/statefulset/affinity_test.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/builder.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/builder_test.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/authtoken.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/authtoken_test.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/certs.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/certs_test.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/config.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/config_test.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/customprops.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/customprops_test.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/eec.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/eec_test.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/proxy.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/proxy_test.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/rawimage.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/rawimage_test.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/readonly.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/readonly_test.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/statsd.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/statsd_test.go
  src/controllers/dynakube/activegate/internal/statefulset/config.go
  src/controllers/dynakube/activegate/internal/statefulset/container_statsd.go
  src/controllers/dynakube/activegate/internal/statefulset/reconciler.go
  src/controllers/dynakube/activegate/internal/statefulset/reconciler_test.go
  src/controllers/dynakube/activegate/internal/statefulset/statefulset.go
  src/controllers/dynakube/activegate/internal/statefulset/statefulset_test.go
  src/controllers/dynakube/activegate/internal/tenantinfo/reconciler.go
  src/controllers/dynakube/activegate/internal/tenantinfo/reconciler_test.go
  src/controllers/dynakube/activegate/reconciler.go
  src/kubeobjects/container.go
  src/kubeobjects/container_builder.go
  src/kubeobjects/slice.go
  src/kubeobjects/statefulsetevent.go
  src/kubeobjects/volumes.go
Labels: activegate

#1153 Updates manifests
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/openshift/openshift-all.yaml
  config/helm/chart/default/generated/dynatrace-operator-crd.yaml
Labels: core

#1154 Add suggested namespace annotation for OLM
  config/manifests/bases/dynatrace-operator.clusterserviceversion.yaml
Labels: core

#1150 Refactors capabilities into modifiers
  src/api/v1beta1/image_paths.go
  src/api/v1beta1/properties.go
  src/controllers/dynakube/activegate/capability/capability.go
  src/controllers/dynakube/activegate/capability/capability_test.go
  src/controllers/dynakube/activegate/consts/consts.go
  src/controllers/dynakube/activegate/internal/capability/reconciler.go
  src/controllers/dynakube/activegate/internal/capability/service.go
  src/controllers/dynakube/activegate/internal/capability/service_test.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/certs.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/config.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/config_test.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/customprops.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/eec.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/kubemon.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/kubemon_test.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/serviceport.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/serviceport_test.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/statsd.go
  src/controllers/dynakube/activegate/internal/statefulset/statefulset.go
  src/controllers/dynakube/activegate/internal/statefulset/statefulset_test.go
  src/controllers/dynakube/activegate/reconciler.go
  src/controllers/dynakube/dtclient_reconciler.go
  src/controllers/dynakube/dynakube_controller.go
  src/controllers/dynakube/version/version.go
  src/ingestendpoint/secret.go
Labels: activegate

#1161 Make provisioner to get tenantUUID from url
  src/api/v1beta1/properties.go
  src/controllers/csi/provisioner/controller.go
  src/controllers/csi/provisioner/controller_test.go
Labels: bug

#1165 Add suggested namespace annotation
  config/manifests/bases/dynatrace-operator.clusterserviceversion.yaml
Labels: cherrypick

#1155 Limited security context of init container
  src/installer/url/installer.go
  src/webhook/mutation/pod_mutator/init_container.go
  src/webhook/mutation/pod_mutator/init_container_test.go
  src/webhook/mutation/pod_mutator/pod_mutator_test.go
Labels: oneagent

#1164 Makes additional kubemon permission default
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/openshift/openshift-all.yaml
  config/helm/chart/default/generated/dynatrace-operator-crd.yaml
  config/helm/chart/default/templates/Common/kubernetes-monitoring/clusterrole-kubernetes-monitoring.yaml
  config/helm/chart/default/tests/Common/kubernetes-monitoring/clusterrole-kubernetes-monitoring_test.yaml
  config/helm/chart/default/values.yaml
Labels: helm

#1156 Makes ephemeral-storage configurable
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/openshift/openshift-all.yaml
  config/helm/chart/default/templates/Common/operator/deployment-operator.yaml
  config/helm/chart/default/templates/Common/webhook/deployment-webhook.yaml
  config/helm/chart/default/tests/Common/operator/deployment-operator_test.yaml
  config/helm/chart/default/tests/Common/webhook/deployment-webhook_test.yaml
Labels: helm

#1169 Makes additional kubemon permission default (#1164)
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/openshift/openshift-all.yaml
  config/helm/chart/default/templates/Common/kubernetes-monitoring/clusterrole-kubernetes-monitoring.yaml
  config/helm/chart/default/tests/Common/kubernetes-monitoring/clusterrole-kubernetes-monitoring_test.yaml
  config/helm/chart/default/values.yaml
Labels: cherrypick

#1171 Makes ephemeral-storage configurable
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/openshift/openshift-all.yaml
  config/helm/chart/default/templates/Common/operator/deployment-operator.yaml
  config/helm/chart/default/templates/Common/webhook/deployment-webhook.yaml
  config/helm/chart/default/tests/Common/operator/deployment-operator_test.yaml
  config/helm/chart/default/tests/Common/webhook/deployment-webhook_test.yaml
Labels: cherrypick

#1163 Make provisioner to get tenantUUID from url (#1161)
  src/api/v1beta1/properties.go
  src/controllers/csi/provisioner/controller.go
  src/controllers/csi/provisioner/controller_test.go
Labels: cherrypick

#1173 Fixes check for ignored namespaces
  src/mapper/mapper.go
  src/mapper/mapper_test.go
Labels: cherrypick

#1170 Adapt rotation interval for activeGate authToken
  src/controllers/dynakube/activegate/internal/authtoken/reconciler.go
Labels: activegate

#1172 Limited security context of init container (#1155)
  src/installer/url/installer.go
  src/webhook/mutation/pod_mutator/init_container.go
  src/webhook/mutation/pod_mutator/init_container_test.go
  src/webhook/mutation/pod_mutator/pod_mutator_test.go
Labels: cherrypick

#1174 Adapt rotation interval of auth token
  src/controllers/dynakube/activegate/internal/authtoken/reconciler.go
Labels: cherrypick

#1183 Makes the securityContext copying safer
  src/webhook/mutation/pod_mutator/config.go
  src/webhook/mutation/pod_mutator/init_container.go
  src/webhook/mutation/pod_mutator/init_container_test.go
  src/webhook/mutation/pod_mutator/pod_mutator_test.go
Labels: bug

#1187 Fix json format of data-ingest injected file
  src/controllers/dynakube/dynakube_controller.go
  src/standalone/files.go
Labels: cherrypick

#1191 Make csi limits and resources configurable with helm
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/openshift/openshift-all.yaml
  config/helm/chart/default/questions.yml
  config/helm/chart/default/templates/Common/csi/daemonset.yaml
  config/helm/chart/default/tests/Common/csi/daemonset_test.yaml
  config/helm/chart/default/values.yaml
  config/helm/schema.yaml
Labels: core

#1189 Safer check for dummy volume
  src/controllers/csi/driver/volumes/app/publisher.go
Labels: bug

#1193 Make csi limits and resources configurable with helm
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/openshift/openshift-all.yaml
  config/helm/chart/default/questions.yml
  config/helm/chart/default/templates/Common/csi/daemonset.yaml
  config/helm/chart/default/tests/Common/csi/daemonset_test.yaml
  config/helm/chart/default/values.yaml
  config/helm/schema.yaml
Labels: cherrypick

#1194 Safer check for dummy volume (#1189)
  src/controllers/csi/driver/volumes/app/publisher.go
Labels: cherrypick

#1190 Ignore .git directory when adding project directory to Dockerfile
  .dockerignore
Labels: core

#1186 Fix json format of data-ingest injected file
  src/controllers/dynakube/dynakube_controller.go
  src/standalone/files.go
Labels: core

#1195 Add OLM support for 4.8
  hack/build/bundle.sh
Labels: documentation

#1202 Makes SNAPSHOT_SUFFIX safer
  hack/make/deploy/gcr.mk
  hack/make/images.mk
  hack/make/manifests/manifests.mk
Labels: ci

#1196 Fix registry matrix for publish images step
  .github/workflows/publish-images.yaml
Labels: ci

#1209 Update build and dev dependencies in makefile
  hack/make/prerequisites.mk
Labels: ci
