Repository Dynatrace/dynatrace-operator, pull requests merged in 2022-06, with the labels that each got.

#807 Add missing shebang; fix hardcoded /bin/bash path
  hack/build/push_image.sh
  hack/build/test.sh
  hack/do_env_variables_exist.sh
  hack/e2e/install-kuttl.sh
  hack/helm/google-marketplace/upload_test.sh
  hack/helm/google-marketplace/verify.sh
  hack/troubleshoot/troubleshoot.sh
Labels: core

#808 Use apiReader in nodes controller where possible
  src/controllers/nodes/cache.go
  src/controllers/nodes/config.go
  src/controllers/nodes/nodes_controller.go
  src/controllers/nodes/nodes_controller_test.go
  src/controllers/nodes/oneagent_dao.go
Labels: bug

#809 Fix data-ingests's `endpoint.properties` secret handling
  src/api/v1beta1/properties.go
  src/controllers/dynakube/dynakube_controller.go
  src/ingestendpoint/secret.go
  src/ingestendpoint/secret_test.go
Labels: bug

#811 Switched highAvailability mode to true as new default
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/openshift/openshift-all.yaml
  config/helm/chart/default/tests/Common/webhook/deployment-webhook_test.yaml
  config/helm/chart/default/values.yaml
Labels: helm

#806 Store initial connect retry value in curl config file
  src/agproxysecret/secret.go
  src/api/v1beta1/properties.go
  src/controllers/certificates/certificate_secret.go
  src/controllers/dynakube/activegate/secrets/tenant_info_reconciler.go
  src/controllers/dynakube/dynakube_controller.go
  src/ingestendpoint/secret.go
  src/ingestendpoint/secret_test.go
  src/initgeneration/config.go
  src/initgeneration/initgeneration.go
  src/initgeneration/initgeneration_test.go
  src/kubeobjects/consts_test.go
  src/kubeobjects/dynakube.go
  src/kubeobjects/dynakube_test.go
  src/kubeobjects/query.go
  src/kubeobjects/query_test.go
  src/kubeobjects/secret.go
  src/kubeobjects/secret_test.go
  src/standalone/config.go
  src/standalone/files.go
  src/standalone/files_test.go
  src/standalone/run.go
  src/standalone/run_test.go
  src/standalone/secret.go
  src/standalone/secret_test.go
  src/webhook/mutation/config.go
  src/webhook/mutation/pod_mutator.go
  src/webhook/mutation/pod_mutator_test.go
Labels: oneagent

#812 Set `bash` shell as preferred for make
  Makefile
Labels: bug

#805 Add auth token rotation for the activeGate
  config/deploy/kubernetes/kubernetes-all.yaml
  config/helm/chart/default/templates/Common/operator/role-operator.yaml
  config/helm/chart/default/templates/Common/webhook/poddisruptionbudget-webhook.yaml
  config/helm/chart/default/tests/Common/operator/role-operator_test.yaml
  src/controllers/activegate/reconciler/statefulset/reconciler.go
  src/controllers/activegate/reconciler/statefulset/reconciler_test.go
  src/controllers/activegate/reconciler/statefulset/statefulset.go
  src/controllers/activegate/reconciler/statefulset/statefulset_test.go
  src/controllers/certificates/certificate_secret.go
  src/controllers/dynakube/activegate/secrets/authtoken_reconciler.go
  src/controllers/dynakube/activegate/secrets/tenant_info_reconciler.go
  src/controllers/dynakube/dynakube_controller.go
  src/dtclient/activegate_auth_token.go
  src/kubeobjects/secret.go
  src/kubeobjects/secret_test.go
Labels: core

#813 Updates schema for Google Cloud Marketplace
  config/helm/Dockerfile
  config/helm/README.md
  config/helm/chart/default/Chart.yaml
  config/helm/chart/default/README.md
  config/helm/chart/default/templates/application.yaml
  config/helm/data-test/schema.yaml
  config/helm/schema.yaml
  config/helm/testing/lint.sh
  hack/gcr/deploy.sh
  hack/gcr/deployer-image.sh
Labels: helm

#814 Move github actions bash scripts into separate files
  .github/workflows/build-dockerimage.yaml
  .github/workflows/ci.yaml
  .github/workflows/upload-dockerimage.yaml
  hack/build/ci/create-manifest.sh
  hack/build/ci/download-go-build-deps.sh
  hack/build/ci/install-cgo-dependencies.sh
  hack/build/ci/install-helm-dependencies.sh
  hack/build/ci/install-kubebuilder.sh
  hack/build/ci/prepare-build-variables.sh
  hack/build/ci/run-unit-tests.sh
  hack/build/ci/upload-docker-image.sh
  hack/build/create_go_build_args.sh
  hack/build/push_image.sh
Labels: ci

#818 Fix never invalidated license cache in GitHub actions
  .github/workflows/build-dockerimage.yaml
  hack/build/ci/download-go-build-deps.sh
Labels: bug, ci

#810 Updates the questions.yml for rancher
  config/helm/chart/default/questions.yml
  config/helm/chart/default/values.yaml
Labels: core

#821 Add tolerations and nodeSelectors
  config/helm/chart/default/templates/Common/csi/daemonset.yaml
  config/helm/chart/default/templates/Common/webhook/deployment-webhook.yaml
  config/helm/chart/default/tests/Common/csi/daemonset_test.yaml
  config/helm/chart/default/tests/Common/webhook/deployment-webhook_test.yaml
  config/helm/chart/default/values.yaml
Labels: helm

#820 Restructure sample folders and add dockerfile for codeModules image
  README.md
  assets/docker/codeModulesAMD.Dockerfile
  assets/docker/codeModulesARM.Dockerfile
  assets/samples/applicationMonitoring.yaml
  assets/samples/classicFullStack.yaml
  assets/samples/cloudNativeFullStack.yaml
  assets/samples/hostMonitoring.yaml
  assets/samples/kustomization.yaml
  assets/samples/multipleDynakubes.yaml
  config/manifests/kustomization.yaml
  config/olm/kubernetes/kustomization.yaml
  config/olm/openshift/kustomization.yaml
Labels: documentation

#822 Update helm instructions
  README.md
  config/helm/chart/default/README.md
Labels: documentation

#823 Rename `.Values.operator.image` to `.Values.image`
  config/helm/chart/default/questions.yml
  config/helm/chart/default/templates/_helpers.tpl
  config/helm/chart/default/tests/Common/csi/clusterrole-csi_test.yaml
  config/helm/chart/default/tests/Common/csi/clusterrolebinding-csi_test.yaml
  config/helm/chart/default/tests/Common/csi/daemonset_test.yaml
  config/helm/chart/default/tests/Common/csi/role-csi_test.yaml
  config/helm/chart/default/tests/Common/csi/rolebinding-csi_test.yaml
  config/helm/chart/default/tests/Common/operator/deployment-operator_test.yaml
  config/helm/chart/default/tests/Common/webhook/deployment-webhook_test.yaml
  config/helm/chart/default/values.yaml
  config/helm/schema.yaml
  hack/make/manifests/kubernetes.mk
  hack/make/manifests/openshift.mk
Labels: helm

#824 Pushes release image to all registries
  .github/workflows/publish-images.yaml
Labels: ci

#826 Rename `.Values.operator.image` to `.Values.image` (#823)
  config/helm/chart/default/questions.yml
  config/helm/chart/default/templates/_helpers.tpl
  config/helm/chart/default/tests/Common/csi/clusterrole-csi_test.yaml
  config/helm/chart/default/tests/Common/csi/clusterrolebinding-csi_test.yaml
  config/helm/chart/default/tests/Common/csi/daemonset_test.yaml
  config/helm/chart/default/tests/Common/csi/role-csi_test.yaml
  config/helm/chart/default/tests/Common/csi/rolebinding-csi_test.yaml
  config/helm/chart/default/tests/Common/operator/deployment-operator_test.yaml
  config/helm/chart/default/tests/Common/webhook/deployment-webhook_test.yaml
  config/helm/chart/default/values.yaml
  config/helm/schema.yaml
  hack/make/manifests/kubernetes.mk
  hack/make/manifests/openshift.mk
Labels: cherrypick

#827 Added feature flag to run oneagent as privileged
  src/api/v1beta1/feature_flags.go
  src/api/v1beta1/properties.go
  src/controllers/dynakube/oneagent/daemonset/daemonset.go
Labels: oneagent

#828 Update support lifecycle
  README.md
  config/helm/chart/default/README.md
Labels: documentation

#830 Added feature flag to run oneagent as privileged (#827)
  src/api/v1beta1/feature_flags.go
  src/api/v1beta1/properties.go
  src/controllers/dynakube/oneagent/daemonset/daemonset.go
Labels: cherrypick

#825 Add `UsesImage` column to Dynakube metadata table
  src/controllers/csi/driver/volumes/app/publisher_test.go
  src/controllers/csi/driver/volumes/bind_config_test.go
  src/controllers/csi/driver/volumes/host/publisher_test.go
  src/controllers/csi/metadata/correctness_test.go
  src/controllers/csi/metadata/fakes.go
  src/controllers/csi/metadata/metadata.go
  src/controllers/csi/metadata/sqlite.go
  src/controllers/csi/metadata/sqlite_test.go
  src/controllers/csi/provisioner/controller_test.go
Labels: core

#831 Add Openshift 3.11 exception to support lifecycle
  README.md
Labels: documentation

#832 Update support lifecycle
  README.md
  config/helm/chart/default/README.md
Labels: cherrypick

#819 Helm development version is set to appropriate version.
  Makefile
  config/helm/chart/default/Chart.yaml
  hack/make/bundle.mk
  hack/make/deploy/kubernetes.mk
  hack/make/deploy/openshift.mk
  hack/make/go.mk
  hack/make/helm/version.mk
  hack/make/manifests/config.mk
  hack/make/manifests/crd.mk
  hack/make/manifests/kubernetes.mk
  hack/make/manifests/manifests.mk
  hack/make/manifests/openshift.mk
Labels: helm

#816 Add OpenSSF scorecard workflow
  .github/workflows/openssf-scorecards.yaml
Labels: ci

#836 Adds default tolerations for the csi driver
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/openshift/openshift-all.yaml
  config/helm/chart/default/generated/dynatrace-operator-crd.yaml
  config/helm/chart/default/tests/Common/csi/daemonset_test.yaml
  config/helm/chart/default/values.yaml
Labels: core

#838 Adds default tolerations for the csi driver
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/openshift/openshift-all.yaml
  config/helm/chart/default/Chart.yaml
  config/helm/chart/default/tests/Common/csi/daemonset_test.yaml
  config/helm/chart/default/values.yaml
Labels: cherrypick

#839 Readds separate proxy key to the init secret
  src/initgeneration/initgeneration.go
  src/initgeneration/initgeneration_test.go
Labels: bug

#837 Update supported Openshift versions for Bundle
  config/manifests/bases/dynatrace-operator.clusterserviceversion.yaml
  hack/build/bundle.sh
Labels: core

#840 Update bundle generation to include onagent unprivileged Serviceaccount
  config/helm/chart/default/generated/dynatrace-operator-crd.yaml
  config/helm/chart/default/templates/Common/oneagent/clusterrole-oneagent-unprivileged.yaml
  config/helm/chart/default/templates/Common/oneagent/clusterrolebinding-oneagent-unprivileged.yaml
  config/helm/chart/default/templates/_helpers.tpl
  config/olm/README.md
  hack/build/bundle.sh
  hack/make/bundle.mk
  hack/setup_olm_catalog.sh
Labels: core

#842 Update Bundle for Kubernetes and supported versions
  config/helm/chart/default/generated/dynatrace-operator-crd.yaml
  config/helm/chart/default/templates/Common/oneagent/clusterrole-oneagent-unprivileged.yaml
  config/helm/chart/default/templates/Common/oneagent/clusterrolebinding-oneagent-unprivileged.yaml
  config/helm/chart/default/templates/_helpers.tpl
  config/manifests/bases/dynatrace-operator.clusterserviceversion.yaml
  config/olm/README.md
  hack/build/bundle.sh
  hack/make/bundle.mk
  hack/setup_olm_catalog.sh
Labels: cherrypick

#841 Readds separate proxy key to the init secret
  src/initgeneration/initgeneration.go
  src/initgeneration/initgeneration_test.go
Labels: cherrypick

#834 Reworks imageInstaller to extract into a shared dir
  src/controllers/csi/metadata/path_resolver.go
  src/controllers/csi/provisioner/agent.go
  src/controllers/csi/provisioner/agent_test.go
  src/controllers/csi/provisioner/controller.go
  src/controllers/csi/provisioner/events.go
  src/installer/common/consts.go
  src/installer/image/installer.go
  src/installer/image/source.go
  src/installer/image/unpack.go
  src/installer/symlink/symlink.go
  src/installer/url/download.go
  src/installer/url/installer.go
  src/installer/url/installer_test.go
  src/installer/url/unpack.go
  src/installer/zip/gzip.go
  src/installer/zip/zip.go
  src/processmoduleconfig/update.go
  src/processmoduleconfig/update_test.go
Labels: core

#835 Add separate config/binary directory when using code modules image
  src/controllers/csi/config.go
  src/controllers/csi/driver/volumes/app/publisher.go
  src/controllers/csi/driver/volumes/app/publisher_test.go
  src/controllers/csi/driver/volumes/bind_config.go
  src/controllers/csi/driver/volumes/bind_config_test.go
  src/controllers/csi/driver/volumes/host/publisher.go
  src/controllers/csi/metadata/path_resolver.go
Labels: core

#849 Changes csidriver containers to use read-only filesystem
  config/helm/chart/default/templates/Common/csi/daemonset.yaml
  config/helm/chart/default/tests/Common/csi/daemonset_test.yaml
Labels: helm

#848 Adapt makefile to generate correct names for csi manifests
  .gitignore
  hack/build/bundle.sh
  hack/make/manifests/config.mk
  hack/make/manifests/kubernetes.mk
Labels: bug

#851 Update host monitoring requirements
  README.md
Labels: documentation

#855 Add image publish release workflow
  .github/workflows/publish-images.yaml
Labels: ci

#856 Remove RHCC from image release workflow
  .github/workflows/publish-images.yaml
Labels: ci

#850 Adapt makefile for release and fix minor issue with bundle command
  .gitignore
  hack/build/bundle.sh
  hack/make/manifests/config.mk
  hack/make/manifests/kubernetes.mk
Labels: cherrypick

#858 Split bundle step for different platforms
  hack/make/bundle.mk
Labels: ci

#845 Adds contribution guidelines for error handling
  CONTRIBUTING.md
Labels: documentation

#864 Setup automatic dependency updates for go and docker in dependabot config
  .github/dependabot.yml
Labels: ci

#861 Set uid and gid explicitly in operator and webhook deployment
  Dockerfile
  config/helm/chart/default/templates/Common/csi/daemonset.yaml
  config/helm/chart/default/templates/Common/operator/deployment-operator.yaml
  config/helm/chart/default/templates/Common/webhook/deployment-webhook.yaml
  config/helm/chart/default/tests/Common/csi/daemonset_test.yaml
  config/helm/chart/default/tests/Common/operator/deployment-operator_test.yaml
  config/helm/chart/default/tests/Common/webhook/deployment-webhook_test.yaml
Labels: security

#877 Remove unnecessary char in `container.conf`
  src/standalone/files.go
Labels: bug

#878 Remove unnecessary char in `container.conf`
  src/standalone/files.go
Labels: cherrypick

#880 Fix arch used in standalone binary download
  src/standalone/config.go
  src/standalone/env.go
  src/standalone/env_test.go
  src/standalone/run.go
Labels: bug

#882 Fix arch used in standalone binary download
  src/standalone/config.go
  src/standalone/env.go
  src/standalone/env_test.go
  src/standalone/run.go
Labels: cherrypick

#881 Adds google-autopilot as a new platform to helm
  .gitignore
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/openshift/openshift-all.yaml
  config/helm/chart/default/generated/dynatrace-operator-crd.yaml
  config/helm/chart/default/templates/Common/operator/deployment-operator.yaml
  config/helm/chart/default/templates/Common/webhook/deployment-webhook.yaml
  config/helm/chart/default/templates/_helpers.tpl
  config/helm/chart/default/tests/Common/operator/deployment-operator_test.yaml
  config/helm/chart/default/tests/Common/webhook/deployment-webhook_test.yaml
  hack/make/manifests/config.mk
  hack/make/manifests/kubernetes.mk
Labels: bug

#883 Adds google-autopilot as a new platform to helm
  .gitignore
  config/helm/chart/default/generated/dynatrace-operator-crd.yaml
  config/helm/chart/default/templates/Common/operator/deployment-operator.yaml
  config/helm/chart/default/templates/Common/webhook/deployment-webhook.yaml
  config/helm/chart/default/templates/_helpers.tpl
  config/helm/chart/default/tests/Common/operator/deployment-operator_test.yaml
  config/helm/chart/default/tests/Common/webhook/deployment-webhook_test.yaml
  hack/make/manifests/config.mk
  hack/make/manifests/kubernetes.mk
Labels: cherrypick

#887 Refactors test objects from being global variables to being created in functions
  src/controllers/csi/metadata/correctness_test.go
  src/controllers/csi/metadata/fakes.go
  src/controllers/csi/metadata/sqlite_test.go
  src/controllers/csi/provisioner/controller_test.go
  src/webhook/mutation/pod_mutator/pod_mutator_test.go
Labels: documentation

#888 Reworks dockerConfig auth setup
  src/controllers/csi/provisioner/agent.go
  src/controllers/dynakube/version/version.go
  src/dockerconfig/docker_config.go
  src/dockerconfig/docker_config_test.go
  src/dockerconfig/system_context.go
Labels: core

#892 Reworks dockerConfig auth setup
  src/controllers/csi/provisioner/agent.go
  src/controllers/dynakube/version/version.go
  src/dockerconfig/docker_config.go
  src/dockerconfig/docker_config_test.go
  src/dockerconfig/system_context.go
Labels: cherrypick

#891 Moves the customPullSecret to the root of the values files
  config/helm/chart/default/questions.yml
  config/helm/chart/default/templates/Common/csi/daemonset.yaml
  config/helm/chart/default/templates/Common/operator/deployment-operator.yaml
  config/helm/chart/default/templates/Common/webhook/deployment-webhook.yaml
  config/helm/chart/default/tests/Common/csi/daemonset_test.yaml
  config/helm/chart/default/tests/Common/operator/deployment-operator_test.yaml
  config/helm/chart/default/tests/Common/webhook/deployment-webhook_test.yaml
  config/helm/chart/default/values.yaml
  config/helm/schema.yaml
Labels: bug

#890 Changes codemodules container.conf file's filemode
  src/standalone/files.go
Labels: bug

#894 Changes codemodules container.conf file's filemode
  src/standalone/files.go
Labels: cherrypick

#897 Adds namespace to PodDistruptionBudget
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/openshift/openshift-all.yaml
  config/helm/chart/default/templates/Common/webhook/poddisruptionbudget-webhook.yaml
Labels: cherrypick

#876 Implements operator and CSI subcommand
  .gitignore
  Dockerfile
  go.mod
  go.sum
  src/cmd/certificates/config.go
  src/cmd/certificates/watcher.go
  src/cmd/config/config.go
  src/cmd/config/config_test.go
  src/cmd/config/mock.go
  src/cmd/config/mock_test.go
  src/cmd/csi/builder.go
  src/cmd/csi/builder_test.go
  src/cmd/csi/command_test.go
  src/cmd/csi/manager.go
  src/cmd/csi/manager_test.go
  src/cmd/main.go
  src/cmd/manager/manager.go
  src/cmd/manager/mock.go
  src/cmd/manager/mock_test.go
  src/cmd/manager/test.go
  src/cmd/manager/test_test.go
  src/cmd/operator/builder.go
  src/cmd/operator/builder_test.go
  src/cmd/operator/csi_driver.go
  src/cmd/operator/main.go
  src/cmd/operator/manager.go
  src/cmd/operator/manager_test.go
  src/cmd/operator/operator.go
  src/cmd/operator/standalone.go
  src/cmd/operator/validation.go
  src/cmd/operator/webhook.go
  src/cmd/standalone/standalone.go
  src/cmd/standalone/standalone_test.go
  src/cmd/webhook/builder.go
  src/cmd/webhook/builder_test.go
  src/cmd/webhook/manager.go
  src/cmd/webhook/manager_test.go
  src/controllers/csi/metadata/sqlite.go
Labels: core

#900 Set priority to null for SCCs
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/openshift/openshift-all.yaml
  config/helm/chart/default/generated/dynatrace-operator-crd.yaml
  config/helm/chart/default/templates/Openshift/activegate/securitycontextconstraints.yaml
  config/helm/chart/default/templates/Openshift/oneagent/securitycontextconstraints-unprivileged.yaml
  config/helm/chart/default/templates/Openshift/operator/securitycontextconstraints.yaml
  config/helm/chart/default/templates/Openshift/webhook/securitycontextconstraints.yaml
  config/helm/chart/default/tests/Openshift/oneagent/securitycontextconstraints-unprivileged_test.yaml
Labels: bug

#898 Uses arch.Flavor when annotation is not set
  src/standalone/env.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/annotations.go
Labels: bug

#907 Allow to use empty proxy password (backport to release-0.7)
  src/webhook/validation/proxy_url.go
  src/webhook/validation/proxy_url_test.go
Labels: cherrypick

#899 Allow to use empty proxy password
  src/webhook/validation/proxy_url.go
  src/webhook/validation/proxy_url_test.go
Labels: bug

#901 Split bundle step for different platforms
  hack/make/bundle.mk
Labels: cherrypick

#906 Uses arch.Flavor when annotation is not set
  src/standalone/env.go
  src/webhook/mutation/pod_mutator.go
  src/webhook/mutation/pod_mutator_test.go
Labels: cherrypick

#902 Deprecates prefixed feature flags
  .golangci.yml
  src/api/v1beta1/feature_flags.go
  src/api/v1beta1/feature_flags_test.go
  src/controllers/activegate/reconciler/statefulset/reconciler_test.go
  src/controllers/activegate/reconciler/statefulset/statefulset_test.go
  src/webhook/validation/config.go
  src/webhook/validation/csi_daemonset_test.go
  src/webhook/validation/deprecation.go
  src/webhook/validation/deprecation_test.go
  src/webhook/validation/oneagent_test.go
Labels: core

#910 Remove ZERO WIDTH SPACE characters from the pre-commit script
  .github/pre-commit
Labels: ci

#911 Remove deprecation warning from gci and errors from pre-commit script.
  .github/pre-commit
  hack/make/go.mk
Labels: ci

#909 Fix usage of TrustedCAs in the Dynakube
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/openshift/openshift-all.yaml
  config/helm/chart/default/templates/Common/csi/role-csi.yaml
  config/helm/chart/default/tests/Common/csi/role-csi_test.yaml
  src/controllers/dynakube/dynakube_controller.go
  src/dockerconfig/docker_config.go
  src/dockerconfig/docker_config_test.go
Labels: bug

#905 Makes ruxitagentproc.conf read/writeable by all users
  src/cmd/csi/builder.go
  src/installer/common/consts.go
  src/installer/zip/gzip.go
  src/installer/zip/testing.go
  src/installer/zip/zip.go
Labels: bug

#847 Updates the image csi-gc to clean up unused shared images
  src/controllers/csi/driver/volumes/app/publisher.go
  src/controllers/csi/driver/volumes/app/publisher_test.go
  src/controllers/csi/gc/controller.go
  src/controllers/csi/gc/images.go
  src/controllers/csi/gc/images_test.go
  src/controllers/csi/metadata/fakes.go
  src/controllers/csi/metadata/metadata.go
  src/controllers/csi/metadata/sqlite.go
  src/controllers/csi/metadata/sqlite_test.go
  src/controllers/csi/provisioner/agent.go
  src/controllers/csi/provisioner/agent_test.go
  src/controllers/csi/provisioner/controller.go
  src/installer/image/installer.go
  src/installer/installer.go
  src/installer/mock.go
  src/installer/symlink/symlink.go
  src/installer/url/config.go
  src/installer/url/download.go
  src/installer/url/installer.go
  src/standalone/config.go
  src/standalone/run.go
  src/standalone/run_test.go
Labels: core
