Repository Dynatrace/dynatrace-operator, pull requests merged in 2022-11, with the labels that each got.

#1278 Adds step to dynamically create opencontainers labels
  .github/workflows/ci.yaml
  hack/build/ci/prepare-build-variables.sh
Labels: ci

#1288 Update registrar to v2.6.0 and livenessprobe to v2.8.0
  Dockerfile
Labels: dependencies

#1267 Adds regression test for cloudNative with codeModules and emulated network problems
  test/cloudnative/cloudnative_test.go
  test/cloudnative/network_problems.go
  test/sampleapps/sampleapps.go
  test/testdata/network/csi-denial.yaml
Labels: test

#1279 Added 'build label propagation' e2e test
  test/appmon/appmon_test.go
  test/appmon/dataingest.go
  test/appmon/labelversiondetection.go
  test/classic/install_test.go
  test/cloudnative/install.go
  test/dynakube/dynakube.go
  test/istiosetup/install.go
  test/kubeobjects/pod/list.go
  test/testdata/application-monitoring/buildlabels-sample-apps.yaml
Labels: test

#1275 Remove `dkState` struct from dynakube controller
  src/controllers/dynakube/activegate/internal/statefulset/reconciler.go
  src/controllers/dynakube/apimonitoring/reconciler.go
  src/controllers/dynakube/apimonitoring/reconciler_test.go
  src/controllers/dynakube/connectioninfo/reconciler.go
  src/controllers/dynakube/connectioninfo/reconciler_test.go
  src/controllers/dynakube/dtclient_builder.go
  src/controllers/dynakube/dtclient_reconciler.go
  src/controllers/dynakube/dtclient_reconciler_test.go
  src/controllers/dynakube/dtpullsecret/generate.go
  src/controllers/dynakube/dtpullsecret/generate_test.go
  src/controllers/dynakube/dtpullsecret/reconciler.go
  src/controllers/dynakube/dtpullsecret/reconciler_test.go
  src/controllers/dynakube/dynakube_controller.go
  src/controllers/dynakube/dynakube_phase.go
  src/controllers/dynakube/oneagent/oneagent_reconciler.go
  src/controllers/dynakube/oneagent/oneagent_reconciler_test.go
  src/controllers/dynakube/status/dynakube_state.go
  src/controllers/dynakube/status/status.go
  src/controllers/dynakube/status/status_test.go
  src/controllers/dynakube/version/version.go
  src/controllers/dynakube/version/version_image.go
  src/controllers/dynakube/version/version_test.go
  src/dtclient/dynatrace_client.go
  src/kubeobjects/daemonset.go
  src/kubeobjects/hasher.go
  src/kubeobjects/time.go
  src/kubesystem/kubesystem.go
Labels: core

#1299 Makes certificate-loader initcontainer readonly in case of feature-flag
  src/controllers/dynakube/activegate/consts/consts.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/config.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/kubemon.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/kubemon_test.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/readonly.go
Labels: bug

#1298 Uses proper docker manifest URL for checking codeModules images.
  src/cmd/troubleshoot/image.go
  src/cmd/troubleshoot/image_test.go
Labels: bug

#1303 Refactors `Reconciler` interface
  src/controllers/dynakube/activegate/internal/authtoken/reconciler.go
  src/controllers/dynakube/activegate/internal/authtoken/reconciler_test.go
  src/controllers/dynakube/activegate/internal/capability/reconciler.go
  src/controllers/dynakube/activegate/internal/capability/reconciler_eec_runtime_config.go
  src/controllers/dynakube/activegate/internal/customproperties/reconciler.go
  src/controllers/dynakube/activegate/internal/customproperties/reconciler_test.go
  src/controllers/dynakube/activegate/internal/proxy/reconciler.go
  src/controllers/dynakube/activegate/internal/proxy/reconciler_test.go
  src/controllers/dynakube/activegate/internal/statefulset/reconciler.go
  src/controllers/dynakube/activegate/internal/statefulset/reconciler_test.go
  src/controllers/dynakube/activegate/reconciler.go
  src/controllers/dynakube/activegate/reconciler_test.go
  src/controllers/dynakube/dynakube_controller.go
  src/controllers/reconciler.go
  src/kubeobjects/pseudo_reconciler.go
Labels: core

#1305 Replaces `::set-output` by using output env var
  .github/actions/build-image/action.yaml
  .github/actions/upload-image/action.yaml
  .github/dependabot.yml
  .github/workflows/ci.yaml
  hack/build/ci/prepare-build-variables.sh
Labels: ci

#1319 Removes https proxy in samples
  assets/samples/applicationMonitoring.yaml
  assets/samples/classicFullStack.yaml
  assets/samples/cloudNativeFullStack.yaml
  assets/samples/hostMonitoring.yaml
Labels: documentation

#1304 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#1323 Fixes statsd ports not being exposed correctly if only statsd is enabled
  src/api/v1beta1/properties.go
  src/controllers/dynakube/activegate/internal/capability/reconciler.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/statsd.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/statsd_test.go
  src/controllers/dynakube/activegate/reconciler.go
  src/controllers/dynakube/activegate/reconciler_test.go
Labels: activegate

#1321 Adds logic for configurable unmounted volume gc
  config/helm/chart/default/templates/Common/csi/daemonset.yaml
  config/helm/chart/default/tests/Common/csi/daemonset_test.yaml
  config/helm/chart/default/values.yaml
  src/controllers/csi/gc/binaries_test.go
  src/controllers/csi/gc/logs.go
  src/controllers/csi/gc/logs_test.go
  src/controllers/csi/gc/reconciler.go
  src/controllers/csi/gc/unmounted.go
  src/controllers/csi/gc/unmounted_test.go
Labels: bug

#1314 Let troubleshooting command continue execution until unrecoverable error is found
  src/cmd/troubleshoot/builder.go
  src/cmd/troubleshoot/checks.go
  src/cmd/troubleshoot/checks_test.go
  src/cmd/troubleshoot/connection.go
  src/cmd/troubleshoot/context.go
  src/cmd/troubleshoot/dynakube.go
  src/cmd/troubleshoot/dynakube_test.go
  src/cmd/troubleshoot/errors/aggregated.go
  src/cmd/troubleshoot/image.go
  src/cmd/troubleshoot/logger.go
  src/cmd/troubleshoot/namespace.go
  src/functional/filter.go
  src/functional/filter_test.go
  src/functional/map.go
  src/functional/map_test.go
Labels: core

#1297 Adds regression test for cloudnative mode with proxy
  hack/make/tests/e2e.mk
  test/cloudnative/proxy/cloudnative_proxy_test.go
  test/cloudnative/proxy/proxy.go
  test/kubeobjects/namespace/namespace.go
  test/proxy/proxy.go
  test/testdata/network/dynatrace-denial.yaml
  test/testdata/network/sample-ns-denial.yaml
Labels: test

#1326 Refactor component type usage
  src/cmd/troubleshoot/component.go
Labels: core

#1327 Adds logic for configurable unmounted volume gc (#1321)
  config/helm/chart/default/templates/Common/csi/daemonset.yaml
  config/helm/chart/default/tests/Common/csi/daemonset_test.yaml
  config/helm/chart/default/values.yaml
  src/controllers/csi/gc/binaries_test.go
  src/controllers/csi/gc/logs.go
  src/controllers/csi/gc/logs_test.go
  src/controllers/csi/gc/reconciler.go
  src/controllers/csi/gc/unmounted.go
  src/controllers/csi/gc/unmounted_test.go
Labels: cherrypick

#1328 Let troubleshooting command continue execution until unrecoverable error is found
  src/cmd/troubleshoot/builder.go
  src/cmd/troubleshoot/checks.go
  src/cmd/troubleshoot/checks_test.go
  src/cmd/troubleshoot/connection.go
  src/cmd/troubleshoot/context.go
  src/cmd/troubleshoot/dynakube.go
  src/cmd/troubleshoot/dynakube_test.go
  src/cmd/troubleshoot/errors/aggregated.go
  src/cmd/troubleshoot/image.go
  src/cmd/troubleshoot/logger.go
  src/cmd/troubleshoot/namespace.go
  src/functional/filter.go
  src/functional/filter_test.go
  src/functional/map.go
  src/functional/map_test.go
Labels: cherrypick

#1325 Makes unit tests for the activegate service more stable
  src/controllers/dynakube/activegate/internal/capability/reconciler.go
  src/controllers/dynakube/activegate/reconciler.go
  src/controllers/dynakube/activegate/reconciler_test.go
Labels: bug

#1330 Bugfix/use image lib in troubleshoot 0.10.0
  src/cmd/troubleshoot/builder.go
  src/cmd/troubleshoot/component.go
  src/cmd/troubleshoot/context.go
  src/cmd/troubleshoot/dynakube.go
  src/cmd/troubleshoot/dynakube_test.go
  src/cmd/troubleshoot/endpoint.go
  src/cmd/troubleshoot/endpoint_test.go
  src/cmd/troubleshoot/image.go
  src/cmd/troubleshoot/image_test.go
  src/cmd/troubleshoot/logger.go
  src/cmd/troubleshoot/proxy.go
  src/cmd/troubleshoot/proxy_test.go
  src/dockerconfig/docker_config.go
  src/image/components.go
  src/image/components_test.go
Labels: bug, cherrypick

#1322 Fix crash if CRD was not installed
  src/cmd/manager/mock.go
  src/cmd/operator/builder_test.go
  src/cmd/operator/manager.go
  src/cmd/operator/manager_test.go
  src/controllers/certificates/webhook_cert_controller.go
  src/controllers/certificates/webhook_cert_controller_test.go
Labels: bug

#1345 Adds missing properties for data enrichment
  src/standalone/env.go
  src/standalone/env_test.go
Labels: bug

#1346 Adds missing properties for data enrichment (#1345)
  src/standalone/env.go
  src/standalone/env_test.go
Labels: cherrypick

#1331 Fixes an issue where the ActiveGate's statefulset is deleted and recreated if labeled manually
  src/controllers/dynakube/activegate/internal/statefulset/reconciler.go
  src/controllers/dynakube/activegate/internal/statefulset/reconciler_test.go
Labels: bug

#1347 Fixes an issue where the ActiveGate's statefulset is deleted and recreated if labeled manually
  src/controllers/dynakube/activegate/internal/statefulset/reconciler.go
  src/controllers/dynakube/activegate/internal/statefulset/reconciler_test.go
Labels: cherrypick

#1344 Adds basic openshift support for the e2e tests
  test/activegate/activegate_test.go
  test/appmon/dataingest.go
  test/appmon/labelversiondetection.go
  test/cloudnative/network_problems.go
  test/operator/installation.go
  test/setup/setup.go
Labels: test

#1351 Add support for checking all dynakubes in troubleshoot subcommand
  src/cmd/troubleshoot/builder.go
  src/cmd/troubleshoot/builder_test.go
  src/cmd/troubleshoot/checks.go
  src/cmd/troubleshoot/checks_test.go
  src/cmd/troubleshoot/config.go
  src/cmd/troubleshoot/connection.go
  src/cmd/troubleshoot/context.go
  src/cmd/troubleshoot/crd.go
  src/cmd/troubleshoot/dynakube.go
  src/cmd/troubleshoot/dynakube_test.go
  src/cmd/troubleshoot/image.go
  src/cmd/troubleshoot/image_test.go
  src/cmd/troubleshoot/logger.go
  src/cmd/troubleshoot/namespace.go
  src/cmd/troubleshoot/namespace_test.go
  src/cmd/troubleshoot/proxy.go
  src/cmd/troubleshoot/proxy_test.go
  src/kubeobjects/dynakube.go
Labels: cherrypick

#1353 Lower default csi gc interval to 7 days
  src/controllers/csi/gc/unmounted.go
Labels: core

#1354 Lower csi gc interval
  src/controllers/csi/gc/unmounted.go
Labels: cherrypick

#1343 Adds support-archive sub-command incl. tarball and operator version c…
  .gitignore
  src/cmd/csi/provisioner/builder.go
  src/cmd/csi/server/builder.go
  src/cmd/main.go
  src/cmd/operator/builder.go
  src/cmd/support_archive/builder.go
  src/cmd/support_archive/collector.go
  src/cmd/support_archive/logger.go
  src/cmd/support_archive/logger_test.go
  src/cmd/support_archive/operator_version.go
  src/cmd/support_archive/operator_version_test.go
  src/cmd/support_archive/tarball.go
  src/cmd/support_archive/tarball_test.go
  src/cmd/troubleshoot/builder.go
  src/cmd/webhook/builder.go
  src/version/version.go
Labels: core

#1359 Update CSI registrar to v2.6.1 (#1356)
  Dockerfile
Labels: cherrypick

#1360 Adds make target for classic e2e test case
  hack/make/tests/e2e.mk
Labels: test

#1362 Update after, istio-client and grpc libraries to latest version
  go.mod
  go.sum
Labels: cherrypick

#1348 Add e2e test with cloudnative upgrade scenario
  src/kubeobjects/platform.go
  src/kubeobjects/platform_test.go
  test/activegate/activegate_test.go
  test/appmon/dataingest.go
  test/appmon/labelversiondetection.go
  test/classic/install_test.go
  test/cloudnative/cloudnative_test.go
  test/cloudnative/codemodules.go
  test/cloudnative/consts.go
  test/cloudnative/install.go
  test/cloudnative/network_problems.go
  test/cloudnative/proxy/proxy.go
  test/cloudnative/upgrade.go
  test/kubeobjects/manifests/installation.go
  test/kubeobjects/namespace/namespace.go
  test/logs/logs.go
  test/operator/installation.go
  test/proxy/proxy.go
  test/sampleapps/sampleapps.go
  test/setup/setup.go
Labels: test

#1364 Update CR samples to contain all CRD fields
  assets/samples/applicationMonitoring.yaml
  assets/samples/classicFullStack.yaml
  assets/samples/cloudNativeFullStack.yaml
  assets/samples/hostMonitoring.yaml
Labels: documentation

#1366 Update CR samples to contain all CRD fields (#1364)
  assets/samples/applicationMonitoring.yaml
  assets/samples/classicFullStack.yaml
  assets/samples/cloudNativeFullStack.yaml
  assets/samples/hostMonitoring.yaml
Labels: cherrypick

#1367 Remove deprecated `scan.connect.redhat.com` registry
  .github/workflows/publish-images.yaml
  hack/build/ci/upload-docker-image.sh
Labels: ci

#1368 Move preflight check after manifest creation
  .github/workflows/publish-images.yaml
Labels: bug

#1365 Reworks how the CRD is generated for helm
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/openshift/openshift-all.yaml
  config/helm/chart/default/generated/dynatrace-operator-crd.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  hack/helm/generate-crd.sh
  hack/make/manifests/config.mk
  hack/make/manifests/crd.mk
Labels: bug
