Repository Dynatrace/dynatrace-operator, pull requests merged in 2022-01, with the labels that each got.

#429 Remove licenses from local build
  build/deploy_local.sh
Labels: minor

#435 Update dependencies before install of packages in GitHub actions
  .github/workflows/ci.yml
Labels: minor

#437 Adds tlsSecretName to samples
  config/samples/applicationMonitoring.yaml
  config/samples/classicFullStack.yaml
  config/samples/cloudNativeFullStack.yaml
  config/samples/hostMonitoring.yaml
Labels: documentation

#433 Propagates tls cert to oneagents
  src/api/v1beta1/properties.go
  src/controllers/dynakube/oneagent/daemonset/volumes.go
  src/controllers/dynakube/oneagent/daemonset/volumes_test.go
  src/initgeneration/config.go
  src/initgeneration/init.sh.test-sample
  src/initgeneration/init.sh.tmpl
  src/initgeneration/initgeneration.go
  src/initgeneration/initgeneration_test.go
  src/webhook/mutation/pod_mutator.go
Labels: feature

#446 Updates resources.limits/request in helm chart
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/openshift/openshift-all.yaml
  config/helm/chart/default/templates/Common/csi/daemonset.yaml
  config/helm/chart/default/templates/Common/operator/deployment-operator.yaml
  config/helm/chart/default/templates/Common/webhook/deployment-webhook.yaml
  config/helm/chart/default/values.yaml
Labels: feature

#445 Adds preview warning for metrics-ingest (+minor fixes)
  Makefile
  config/helm/chart/default/templates/Common/webhook/validatingwebhookconfiguration.yaml
  src/api/v1beta1/properties.go
  src/ingestendpoint/secret.go
  src/webhook/validation/activegate_test.go
  src/webhook/validation/config.go
  src/webhook/validation/csi_daemonset_test.go
  src/webhook/validation/oneagent_test.go
  src/webhook/validation/preview.go
  src/webhook/validation/preview_test.go
  src/webhook/validation/validation.go
  src/webhook/validation/validation_test.go
Labels: activegate

#448 Adds dynakube feature flag to disable metadata enrichment
  src/api/v1beta1/feature_flags.go
  src/controllers/dynakube/dynakube_controller.go
  src/ingestendpoint/secret.go
  src/ingestendpoint/secret_test.go
  src/webhook/mutation/pod_mutator.go
Labels: activegate

#451 Removes not functional debug webhook logic
  src/cmd/operator/debug.go
  src/cmd/operator/main.go
  src/webhook/mutation/config.go
  src/webhook/mutation/pod_mutator.go
Labels: minor

#453 Enables the monitoring of the operator's namespace via feature-flag
  src/api/v1beta1/feature_flags.go
  src/mapper/mapper.go
Labels: bug

#458 Adds DNSPolicy to the ActiveGate section
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/openshift/openshift-all.yaml
  config/samples/applicationMonitoring.yaml
  config/samples/classicFullStack.yaml
  config/samples/cloudNativeFullStack.yaml
  config/samples/hostMonitoring.yaml
  src/api/v1beta1/activegate_types.go
  src/controllers/activegate/reconciler/statefulset/statefulset.go
  src/controllers/activegate/reconciler/statefulset/statefulset_test.go
Labels: activegate

#460 Makes the helm commands more readable
  Makefile
Labels: minor

#461 Adds token scope check for activeGate features
  .golangci.yml
  src/controllers/dynakube/dtclient_reconciler.go
  src/controllers/dynakube/dtclient_reconciler_test.go
  src/controllers/dynakube/dynakube_controller_test.go
  src/dtclient/client.go
  src/dtclient/tenant.go
Labels: activegate, minor

#479 Adds missing check for hostMonitoring for autoUpdate
  src/api/v1beta1/properties.go
Labels: bug

#484 Brings helm up-to-speed
  config/helm/chart/default/templates/Common/csi/daemonset.yaml
  config/helm/chart/default/templates/Common/customresource-dynakube.yaml
  config/helm/chart/default/templates/Common/operator/deployment-operator.yaml
  config/helm/chart/default/templates/Common/secret.yaml
  config/helm/chart/default/templates/Common/webhook/deployment-webhook.yaml
  config/helm/chart/default/tests/Common/customresource-modules/customresource-dynakube_applicationmonitoring_test.yaml
  config/helm/chart/default/tests/Common/customresource-modules/customresource-dynakube_cloudnativefullstack.yaml
  config/helm/chart/default/tests/Common/customresource-modules/customresource-dynakube_hostmonitoring_test.yaml
  config/helm/chart/default/values.yaml
Labels: helm

#486 Brings helm up-to-speed
  config/helm/chart/default/templates/Common/csi/daemonset.yaml
  config/helm/chart/default/templates/Common/customresource-dynakube.yaml
  config/helm/chart/default/templates/Common/operator/deployment-operator.yaml
  config/helm/chart/default/templates/Common/secret.yaml
  config/helm/chart/default/templates/Common/webhook/deployment-webhook.yaml
  config/helm/chart/default/tests/Common/customresource-modules/customresource-dynakube_applicationmonitoring_test.yaml
  config/helm/chart/default/tests/Common/customresource-modules/customresource-dynakube_cloudnativefullstack.yaml
  config/helm/chart/default/tests/Common/customresource-modules/customresource-dynakube_hostmonitoring_test.yaml
  config/helm/chart/default/values.yaml
Labels: helm

#491 Update image default registry in sample comments
  config/samples/classicFullStack.yaml
  config/samples/hostMonitoring.yaml
Labels: bug, documentation

#489 Updates version related files for helm
  config/helm/chart/default/Chart.yaml
  config/helm/chart/default/README.md
  config/helm/chart/default/questions.yml
  config/helm/chart/default/templates/application.yaml
  config/helm/chart/default/tests/Common/webhook/deployment-webhook_test.yaml
  config/helm/schema.yaml
Labels: helm

#499 Moves all the dtclient enpoints into one place
  src/dtclient/agent_version.go
  src/dtclient/communication_hosts.go
  src/dtclient/dynatrace_client.go
  src/dtclient/endpoints.go
  src/dtclient/kubernetes_settings.go
  src/dtclient/processmoduleconfig.go
  src/dtclient/send_event.go
  src/dtclient/tenant.go
  src/dtclient/token.go
Labels: minor

#505 Fixes daemonset deletion issue
  src/controllers/dynakube/dynakube_controller.go
  src/controllers/dynakube/dynakube_controller_test.go
Labels: bug

#490 Amended coding guidelines
  CONTRIBUTING.md
Labels: documentation

#501 Use different flavor in case of arm64 in the csi-provisioner
  src/controllers/csi/provisioner/agent.go
  src/controllers/csi/provisioner/arch/amd.go
  src/controllers/csi/provisioner/arch/arm.go
  src/dtclient/client.go
Labels: enhancement
