Repository Dynatrace/dynatrace-operator, pull requests merged in 2022-05, with the labels that each got.

#757 Create symlink from filesystem instead of latest version on Dynakube
  src/installer/installer.go
  src/installer/symlink/config.go
  src/installer/symlink/symlink.go
  src/installer/symlink/symlink_test.go
Labels: core

#759 Add ClusterRoles for OLM activegate
  Makefile
  config/helm/chart/default/templates/Common/activegate/clusterrole-activegate.yaml
  config/helm/chart/default/templates/Common/activegate/clusterrolebinding-activegate.yaml
  config/helm/chart/default/templates/Common/kubernetes-monitoring/clusterrole-kubernetes-monitoring.yaml
Labels: bug

#761 Add ClusterRoles for activegate serviceaccounts to generate correct CSV
  Makefile
  config/helm/chart/default/templates/Common/activegate/clusterrole-activegate.yaml
  config/helm/chart/default/templates/Common/activegate/clusterrolebinding-activegate.yaml
  config/helm/chart/default/templates/Common/kubernetes-monitoring/clusterrole-kubernetes-monitoring.yaml
Labels: cherrypick

#760 Replace the latest oneagent version endpoint to use the versions endpoint
  src/arch/consts.go
  src/arch/installer_params_amd.go
  src/arch/installer_params_arm.go
  src/controllers/csi/provisioner/agent.go
  src/controllers/csi/provisioner/arch/amd.go
  src/controllers/csi/provisioner/arch/arm.go
  src/controllers/csi/provisioner/controller_test.go
  src/controllers/dynakube/dtversion/version_info.go
  src/dtclient/agent_version.go
  src/dtclient/agent_version_test.go
  src/dtclient/client.go
  src/dtclient/dynatrace_client_test.go
  src/dtclient/endpoints.go
  src/installer/installer_test.go
  src/standalone/env.go
  src/webhook/mutation/pod_mutator.go
  src/webhook/mutation/pod_mutator_test.go
Labels: bug

#764 Check for fork correctly
  .github/workflows/ci.yml
Labels: ci

#763 Fixes the special arch filenames
  src/arch/amd.go
  src/arch/arm.go
Labels: bug

#762 Replace the latest oneagent version endpoint to use the versions endpoint
  src/arch/amd.go
  src/arch/arm.go
  src/arch/consts.go
  src/controllers/csi/provisioner/agent.go
  src/controllers/csi/provisioner/arch/amd.go
  src/controllers/csi/provisioner/arch/arm.go
  src/controllers/csi/provisioner/controller_test.go
  src/controllers/dynakube/version/version.go
  src/controllers/dynakube/version/version_info_test.go
  src/dtclient/agent_version.go
  src/dtclient/agent_version_test.go
  src/dtclient/client.go
  src/dtclient/dynatrace_client_test.go
  src/dtclient/endpoints.go
  src/installer/url/installer_test.go
  src/standalone/env.go
  src/version/semantic.go
  src/version/semantic_test.go
  src/webhook/mutation/pod_mutator.go
  src/webhook/mutation/pod_mutator_test.go
Labels: bug

#748 Updates csi garbage-collector logic to work with images
  src/api/v1beta1/properties.go
  src/api/v1beta1/properties_test.go
  src/controllers/csi/gc/binaries.go
  src/controllers/csi/gc/binaries_test.go
  src/controllers/csi/gc/controller.go
  src/controllers/csi/gc/images.go
  src/controllers/csi/gc/images_test.go
  src/controllers/csi/gc/logs_test.go
  src/controllers/csi/provisioner/agent_test.go
Labels: core

#745 Remove dynakube CR generation from helm chart
  config/deploy/openshift/openshift-all.yaml
  config/helm/README.md
  config/helm/chart/default/README.md
  config/helm/chart/default/questions.yml
  config/helm/chart/default/templates/Common/configmap.yaml
  config/helm/chart/default/templates/Common/customresource-dynakube.yaml
  config/helm/chart/default/templates/Common/secret.yaml
  config/helm/chart/default/templates/Common/webhook/validatingwebhookconfiguration.yaml
  config/helm/chart/default/templates/NOTES.txt
  config/helm/chart/default/templates/Openshift/activegate/securitycontextconstraints.yaml
  config/helm/chart/default/templates/Openshift/csi/securitycontextconstraints-csidriver.yaml
  config/helm/chart/default/templates/Openshift/oneagent/securitycontextconstraints-unprivileged.yaml
  config/helm/chart/default/templates/Openshift/operator/securitycontextconstraints.yaml
  config/helm/chart/default/templates/Openshift/webhook/securitycontextconstraints.yaml
  config/helm/chart/default/templates/_helpers.tpl
  config/helm/chart/default/tests/Common/configmap_test.yaml
  config/helm/chart/default/tests/Common/csi/clusterrole-csi_test.yaml
  config/helm/chart/default/tests/Common/csi/clusterrolebinding-csi_test.yaml
  config/helm/chart/default/tests/Common/csi/daemonset_test.yaml
  config/helm/chart/default/tests/Common/csi/role-csi_test.yaml
  config/helm/chart/default/tests/Common/csi/rolebinding-csi_test.yaml
  config/helm/chart/default/tests/Common/customresource-dynakube_test.yaml
  config/helm/chart/default/tests/Common/customresource-modules/customresource-dynakube_activegate_test.yaml
  config/helm/chart/default/tests/Common/customresource-modules/customresource-dynakube_applicationmonitoring_test.yaml
  config/helm/chart/default/tests/Common/customresource-modules/customresource-dynakube_classicfullstack_test.yaml
  config/helm/chart/default/tests/Common/customresource-modules/customresource-dynakube_cloudnativefullstack.yaml
  config/helm/chart/default/tests/Common/customresource-modules/customresource-dynakube_hostmonitoring_test.yaml
  config/helm/chart/default/tests/Common/customresource-modules/customresource-dynakube_kubemon_test.yaml
  config/helm/chart/default/tests/Common/customresource-modules/customresource-dynakube_routing_test.yaml
  config/helm/chart/default/tests/Common/operator/deployment-operator_test.yaml
  config/helm/chart/default/tests/Common/secret_test.yaml
  config/helm/chart/default/tests/Common/webhook/deployment-webhook_test.yaml
  config/helm/chart/default/tests/Openshift/oneagent/securitycontextconstraints-unprivileged_test.yaml
  config/helm/chart/default/values.yaml
  config/helm/data-test/schema.yaml
  config/helm/hack/README.md
  config/helm/hack/upload_test.sh
  config/helm/schema.yaml
  config/helm/testing/lint.sh
  src/testing/kuttl/README.md
  troubleshoot/README.md
Labels: helm

#766 Remove unnecessary ports in manifests
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/openshift/openshift-all.yaml
  config/helm/chart/default/templates/Common/operator/deployment-operator.yaml
  config/helm/chart/default/templates/Common/webhook/deployment-webhook.yaml
  config/helm/chart/default/tests/Common/operator/deployment-operator_test.yaml
  config/helm/chart/default/tests/Common/webhook/deployment-webhook_test.yaml
Labels: core

#780 Update supported platforms
  README.md
Labels: documentation

#775 Update qemu and buildx actions in ci.yaml
  .github/workflows/ci.yml
Labels: ci

#782 Update readme to include 0.4.2
  README.md
Labels: documentation

#784 Fixes unintentional introduction of DEPLOYED_VIA_OLM environment variable
  config/deploy/openshift/openshift-all.yaml
Labels: bug

#654 Refactors address_of to use Go 1.18 generics
  src/controllers/activegate/reconciler/statefulset/container_eec.go
  src/controllers/activegate/reconciler/statefulset/container_statsd.go
  src/controllers/activegate/reconciler/statefulset/statefulset.go
  src/controllers/dynakube/dynakube_controller_test.go
  src/controllers/dynakube/oneagent/daemonset/daemonset.go
  src/kubeobjects/address/address.go
  src/kubeobjects/address/address_test.go
  src/kubeobjects/address_of/address_of.go
  src/kubeobjects/address_of/address_of_test.go
Labels: core

#770 Add arm build on tag
  .github/workflows/ci.yml
Labels: ci

#791 Clean up leftovers
  config/deploy/kubernetes/kustomization.yaml
  config/deploy/openshift/openshift-all.yaml
Labels: bug

#792 Add tolerations for k8s 1.24 to samples
  config/samples/classicFullStack.yaml
  config/samples/cloudNativeFullStack.yaml
  config/samples/hostMonitoring.yaml
  config/samples/multipleDynakubes.yaml
Labels: bug

#790 Add feature flag for setting `DT_INITIAL_CONNECT_RETRY_MS` env-var to webhook injected containers
  src/api/v1beta1/feature_flags.go
  src/webhook/mutation/config.go
  src/webhook/mutation/pod_mutator.go
  src/webhook/mutation/pod_mutator_test.go
Labels: core

#794 Fix error masking in standalone runner
  src/standalone/run.go
  src/standalone/run_test.go
Labels: bug

#795 Fixes path to troubleshoot script in usage section
  hack/troubleshoot/README.md
Labels: documentation

#786 Add basic support for activeGate auth token
  src/api/v1beta1/feature_flags.go
  src/api/v1beta1/properties.go
  src/controllers/activegate/reconciler/statefulset/statefulset.go
  src/controllers/activegate/reconciler/statefulset/statefulset_test.go
  src/controllers/certificates/certificate_secret.go
  src/controllers/dynakube/activegate/config.go
  src/controllers/dynakube/activegate/secrets/authtoken_reconciler.go
  src/controllers/dynakube/activegate/secrets/config.go
  src/controllers/dynakube/activegate/secrets/tenant_info_reconciler.go
  src/controllers/dynakube/dtclient_reconciler.go
  src/controllers/dynakube/dynakube_controller.go
  src/dtclient/activegate_auth_token.go
  src/dtclient/activegate_auth_token_test.go
  src/dtclient/client.go
  src/dtclient/dynatrace_client.go
  src/dtclient/endpoints.go
  src/dtclient/kubernetes_settings.go
  src/dtclient/mock_client.go
  src/kubeobjects/secret.go
Labels: core

#801 Update `controller-gen` to `v0.9.0`
  Makefile
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/openshift/openshift-all.yaml
  config/helm/chart/default/generated/dynatrace-operator-crd.yaml
  src/api/v1beta1/dynakube_types.go
Labels: core

#798 Update `registrar` to `v2.5.1` and `livenessprobe` to `v2.7.0`
  Dockerfile
Labels: core

#802 Changes reinvocation policy to be enabled by default
  src/api/v1beta1/feature_flags.go
  src/dtclient/agent_tenant_info_test.go
  src/kubeobjects/consts_test.go
  src/kubeobjects/env.go
  src/kubeobjects/env_test.go
  src/kubeobjects/labels_test.go
  src/kubeobjects/secret_test.go
  src/kubeobjects/slice.go
  src/mapper/dynakubes.go
  src/mapper/mapper.go
  src/mapper/namespaces.go
  src/webhook/mutation/namespace_mutator.go
  src/webhook/mutation/pod_mutator.go
  src/webhook/mutation/pod_mutator_test.go
  src/webhook/validation/deprecation_test.go
Labels: core

#799 Improves makefile and makefile structure
  .github/workflows/ci.yaml
  HACKING.md
  Makefile
  hack/make/bundle.mk
  hack/make/deploy/kubernetes.mk
  hack/make/deploy/openshift.mk
  hack/make/go.mk
  hack/make/images.mk
  hack/make/manifests/config.mk
  hack/make/manifests/crd.mk
  hack/make/manifests/kubernetes.mk
  hack/make/manifests/manifests.mk
  hack/make/manifests/openshift.mk
  hack/make/prerequisites.mk
  hack/make/tests/helm.mk
  hack/make/tests/kuttl.mk
  hack/make/tests/olm.mk
  kuttl/activegate/testsuite.yaml
  kuttl/oneagent/oneagent-test.yaml
Labels: ci

#803 Fixes missing "crd:" prefix for crd options
  hack/make/manifests/config.mk
Labels: bug, ci
