Repository Dynatrace/dynatrace-operator, pull requests merged in 2022-07, with the labels that each got.

#904 Set priority to null for SCCs
  config/deploy/openshift/openshift-all.yaml
  config/helm/chart/default/generated/dynatrace-operator-crd.yaml
  config/helm/chart/default/templates/Openshift/activegate/securitycontextconstraints.yaml
  config/helm/chart/default/templates/Openshift/oneagent/securitycontextconstraints-unprivileged.yaml
  config/helm/chart/default/templates/Openshift/operator/securitycontextconstraints.yaml
  config/helm/chart/default/templates/Openshift/webhook/securitycontextconstraints.yaml
  config/helm/chart/default/tests/Openshift/oneagent/securitycontextconstraints-unprivileged_test.yaml
Labels: cherrypick

#922 Improves isAlreadyDownloaded check
  src/controllers/csi/provisioner/agent.go
  src/controllers/csi/provisioner/agent_test.go
  src/controllers/csi/provisioner/controller.go
  src/installer/url/download.go
  src/installer/url/installer.go
  src/installer/url/installer_test.go
  src/standalone/run.go
Labels: bug

#914 Fixes standalone init and webhook integration
  src/cmd/csi/config.go
  src/standalone/config.go
  src/standalone/env.go
  src/standalone/env_test.go
  src/standalone/files.go
  src/standalone/run.go
  src/standalone/run_test.go
  src/webhook/mutation/pod_mutator/config.go
  src/webhook/mutation/pod_mutator/init_container.go
  src/webhook/mutation/pod_mutator/init_container_test.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/mutator.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/mutator_test.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/volumes.go
  src/webhook/mutation/pod_mutator/pod_mutator.go
Labels: bug

#926 Use ARM libraries in ARM docker image
  Dockerfile
  hack/build/create_go_build_args.sh
  hack/build/push_image.sh
Labels: ci

#920 Makes standalone init env requirements injection specific
  src/standalone/env.go
Labels: bug

#924 Fixes codemodules install permissions
  src/cmd/standalone/standalone.go
  src/installer/zip/zip.go
Labels: bug

#928 Fixes codemodules install permissions
  src/cmd/operator/standalone.go
  src/installer/zip/zip.go
Labels: cherrypick

#932 Set unprivileged user/group for oneagent securitycontext
  src/controllers/dynakube/oneagent/daemonset/daemonset.go
  src/controllers/dynakube/oneagent/daemonset/daemonset_test.go
Labels: bug

#908 Add feature flag to opt-into injection per pod
  src/api/v1beta1/feature_flags.go
  src/mapper/mapper.go
  src/mapper/namespaces.go
  src/mapper/namespaces_test.go
  src/webhook/mutation/pod_mutator/dataingest_mutation/mutator.go
  src/webhook/mutation/pod_mutator/dataingest_mutation/mutator_test.go
  src/webhook/mutation/pod_mutator/init_container.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/mutator.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/mutator_test.go
  src/webhook/mutation/pod_mutator/pod_mutator.go
  src/webhook/mutator.go
Labels: core

#937 Use latest version endpoint for agent download
  src/controllers/dynakube/status/status.go
  src/dtclient/agent_version.go
  src/dtclient/agent_version_test.go
  src/dtclient/dynatrace_client_test.go
  src/dtclient/endpoints.go
Labels: bug

#943 Add `labelSelector` to webhook's `topologySpreadConstraints`
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/openshift/openshift-all.yaml
  config/helm/chart/default/templates/Common/webhook/deployment-webhook.yaml
  config/helm/chart/default/tests/Common/webhook/deployment-webhook_test.yaml
Labels: core

#945 Adds kubeversion to chart yaml
  config/helm/chart/default/Chart.yaml
Labels: helm

#942 Set unprivileged user/group for oneagent securitycontext
  src/controllers/dynakube/oneagent/daemonset/daemonset.go
  src/controllers/dynakube/oneagent/daemonset/daemonset_test.go
Labels: cherrypick

#944 Fix invalid import
  go.mod
  go.sum
  src/testing/e2e/dynakubetests/api_url_test.go
  src/testing/e2e/dynakubetests/environment.go
  src/testing/e2e/dynakubetests/immutable_image_test.go
  src/testing/e2e/dynakubetests/trusted_cas_test.go
Labels: bug

#952 Include prereleases in chart version
  config/helm/chart/default/Chart.yaml
Labels: helm

#954 Only set user/group when csi driver is used
  src/controllers/dynakube/oneagent/daemonset/daemonset.go
  src/controllers/dynakube/oneagent/daemonset/daemonset_test.go
Labels: bug

#953 Fixes oneagent privileged flag
  src/controllers/dynakube/oneagent/daemonset/daemonset.go
Labels: bug

#955 Fixes Istio reconciliation depending on a token check that depends on Istio reconciliations
  src/controllers/dynakube/dynakube_controller.go
  src/controllers/dynakube/dynakube_controller_test.go
  src/controllers/dynakube/istio/reconciler.go
  src/controllers/dynakube/istio/reconciler_test.go
  src/dtclient/communication_hosts.go
  src/dtclient/communication_hosts_test.go
  src/testing/e2e/integrationtests/istio_integration_test.go
Labels: bug

#956 Fixes Istio reconciliation depending on a token check that depends on Istio reconciliations
  src/controllers/dynakube/dynakube_controller.go
  src/controllers/dynakube/dynakube_controller_test.go
  src/controllers/dynakube/istio/reconciler.go
  src/controllers/dynakube/istio/reconciler_test.go
  src/dtclient/communication_hosts.go
  src/dtclient/communication_hosts_test.go
  src/testing/e2e/integrationtests/istio_integration_test.go
Labels: bug

#949 Update dockerfile and go dependencies
  Dockerfile
  go.mod
  go.sum
Labels: dependencies

#959 Sets priority to 1 for the SCCs
  config/deploy/openshift/openshift-all.yaml
  config/helm/chart/default/templates/Openshift/activegate/securitycontextconstraints.yaml
  config/helm/chart/default/templates/Openshift/csi/securitycontextconstraints-csidriver.yaml
  config/helm/chart/default/templates/Openshift/oneagent/securitycontextconstraints-privileged.yaml
  config/helm/chart/default/templates/Openshift/oneagent/securitycontextconstraints-unprivileged.yaml
  config/helm/chart/default/templates/Openshift/operator/securitycontextconstraints.yaml
  config/helm/chart/default/templates/Openshift/webhook/securitycontextconstraints.yaml
  config/helm/chart/default/tests/Openshift/oneagent/securitycontextconstraints-unprivileged_test.yaml
Labels: bug

#951 Remove unused e2e tests
  src/testing/e2e/client.go
  src/testing/e2e/dynakube.go
  src/testing/e2e/dynakubetests/api_url_test.go
  src/testing/e2e/dynakubetests/environment.go
  src/testing/e2e/dynakubetests/immutable_image_test.go
  src/testing/e2e/dynakubetests/skip_cert_check_test.go
  src/testing/e2e/dynakubetests/trusted_cas_test.go
  src/testing/e2e/prepare_environment.go
  src/testing/e2e/tokens.go
Labels: core

#962 Fixes kubeversion property in Chart.yaml
  config/helm/chart/default/Chart.yaml
Labels: helm

#936 Replace DEPLOYED_VIA_OLM with automatic environment detection
  config/helm/chart/default/templates/Common/operator/deployment-operator.yaml
  config/helm/chart/default/templates/Common/webhook/deployment-webhook.yaml
  config/helm/chart/default/tests/Common/webhook/deployment-webhook_test.yaml
  src/cmd/main.go
  src/cmd/operator/builder.go
  src/cmd/operator/builder_test.go
  src/cmd/webhook/builder.go
  src/cmd/webhook/builder_test.go
  src/kubesystem/kubesystem.go
  src/kubesystem/kubesystem_test.go
  src/webhook/mutation/pod_mutator/pod_mutator.go
  src/webhook/mutation/pod_mutator/register.go
  src/webhook/mutation/pod_mutator/request.go
  src/webhook/mutation/pod_mutator/request_test.go
Labels: core

#968 Updates index.yaml for 0.7.2
  config/helm/repos/stable/index.yaml
Labels: helm

#966 Improves isAlreadyDownloaded for ImageInstaller
  src/controllers/csi/metadata/fakes.go
  src/controllers/csi/metadata/metadata.go
  src/controllers/csi/metadata/sqlite.go
  src/controllers/csi/metadata/sqlite_test.go
  src/controllers/csi/provisioner/agent.go
  src/controllers/csi/provisioner/agent_test.go
  src/controllers/csi/provisioner/controller.go
  src/installer/image/installer.go
  src/installer/image/installer_test.go
Labels: bug

#947 Use latest version endpoint for agent download
  src/controllers/dynakube/status/status.go
  src/dtclient/agent_version.go
  src/dtclient/agent_version_test.go
  src/dtclient/dynatrace_client_test.go
  src/dtclient/endpoints.go
Labels: core

#879 Add redhat preflight workflow
  .github/workflows/preflight.yaml
  .github/workflows/publish-images.yaml
  .github/workflows/upload-dockerimage.yaml
  hack/build/ci/preflight.sh
  hack/build/ci/upload-docker-image.sh
Labels: ci

#969 Consolidates frequently used const into a separate package
  src/config/agent_injection.go
  src/config/enrichment_injection.go
  src/config/general_injection.go
  src/controllers/dynakube/dynakube_controller_test.go
  src/ingestendpoint/config.go
  src/ingestendpoint/secret.go
  src/ingestendpoint/secret_test.go
  src/initgeneration/initgeneration.go
  src/initgeneration/initgeneration_test.go
  src/mapper/config.go
  src/mapper/dynakube_test.go
  src/mapper/dynakubes.go
  src/mapper/mapper.go
  src/mapper/namespaces_test.go
  src/standalone/config.go
  src/standalone/env.go
  src/standalone/env_test.go
  src/standalone/files.go
  src/standalone/files_test.go
  src/standalone/run.go
  src/standalone/run_test.go
  src/standalone/secret.go
  src/standalone/secret_test.go
  src/webhook/config.go
  src/webhook/mutation/namespace_mutator/mutator_test.go
  src/webhook/mutation/pod_mutator/dataingest_mutation/env.go
  src/webhook/mutation/pod_mutator/dataingest_mutation/mutator.go
  src/webhook/mutation/pod_mutator/dataingest_mutation/mutator_test.go
  src/webhook/mutation/pod_mutator/dataingest_mutation/volumes.go
  src/webhook/mutation/pod_mutator/init_container.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/config.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/containers_test.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/env.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/env_test.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/mutator.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/mutator_test.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/volumes.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/volumes_test.go
  src/webhook/mutation/pod_mutator/request.go
  src/webhook/mutation/pod_mutator/request_test.go
Labels: core

#982 Updates samples for codeModulesImage
  assets/samples/applicationMonitoring.yaml
  assets/samples/classicFullStack.yaml
  assets/samples/cloudNativeFullStack.yaml
  assets/samples/hostMonitoring.yaml
Labels: documentation

#986 Consolidates frequently used const into a separate package
  src/config/agent_injection.go
  src/config/enrichment_injection.go
  src/config/general_injection.go
  src/controllers/dynakube/dynakube_controller_test.go
  src/ingestendpoint/config.go
  src/ingestendpoint/secret.go
  src/ingestendpoint/secret_test.go
  src/initgeneration/initgeneration.go
  src/initgeneration/initgeneration_test.go
  src/mapper/config.go
  src/mapper/dynakube_test.go
  src/mapper/dynakubes.go
  src/mapper/mapper.go
  src/mapper/namespaces_test.go
  src/standalone/config.go
  src/standalone/env.go
  src/standalone/env_test.go
  src/standalone/files.go
  src/standalone/files_test.go
  src/standalone/run.go
  src/standalone/run_test.go
  src/standalone/secret.go
  src/standalone/secret_test.go
  src/webhook/config.go
  src/webhook/mutation/namespace_mutator/mutator_test.go
  src/webhook/mutation/pod_mutator/dataingest_mutation/env.go
  src/webhook/mutation/pod_mutator/dataingest_mutation/mutator.go
  src/webhook/mutation/pod_mutator/dataingest_mutation/mutator_test.go
  src/webhook/mutation/pod_mutator/dataingest_mutation/volumes.go
  src/webhook/mutation/pod_mutator/init_container.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/config.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/containers_test.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/env.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/env_test.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/mutator.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/mutator_test.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/volumes.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/volumes_test.go
  src/webhook/mutation/pod_mutator/request.go
  src/webhook/mutation/pod_mutator/request_test.go
Labels: cherrypick

#987 Updates samples for codeModulesImage
  assets/samples/applicationMonitoring.yaml
  assets/samples/classicFullStack.yaml
  assets/samples/cloudNativeFullStack.yaml
  assets/samples/hostMonitoring.yaml
Labels: cherrypick

#988 Use kind "Pod" when owner reference is empty
  src/webhook/mutation/pod_mutator/dataingest_mutation/workload.go
  src/webhook/mutation/pod_mutator/dataingest_mutation/workload_test.go
Labels: core

#989 Use kind "Pod" when owner reference is empty
  src/webhook/mutation/pod_mutator/dataingest_mutation/workload.go
  src/webhook/mutation/pod_mutator/dataingest_mutation/workload_test.go
Labels: cherrypick, core

#965 Adds emojis to the github changelog generation
  .github/release.yml
Labels: ci

#979 Update `k8s.io/{api,apiextensions-apiserver}` dependencies
  go.mod
  go.sum
  src/cmd/operator/manager.go
Labels: core

#957 Update `go-sqlite` dependency and adjust building process to it
  .github/workflows/build-dockerimage.yaml
  .github/workflows/ci.yaml
  Dockerfile
  go.mod
  go.sum
  hack/build/ci/prepare-build-variables.sh
  hack/build/create_cgo_cflags.sh
  hack/build/create_go_linker_args.sh
  hack/build/push_image.sh
Labels: dependencies

#992 Replace GitHub action scripts with makefile commands
  .github/workflows/ci.yaml
  hack/build/ci/download-go-build-deps.sh
  hack/build/ci/install-helm-dependencies.sh
  hack/build/ci/install-kubebuilder.sh
  hack/build/ci/run-unit-tests.sh
  hack/make/go.mk
  hack/make/prerequisites.mk
Labels: ci

#981 Adds extra safety check for csi GC
  src/controllers/csi/gc/controller.go
  src/controllers/csi/gc/controller_test.go
  src/controllers/csi/provisioner/controller.go
  src/controllers/csi/provisioner/controller_test.go
Labels: bug

#998 Updates all the dependencies
  .golangci.yml
  go.mod
  go.sum
  hack/make/go.mk
  src/controllers/csi/gc/logs_test.go
  src/testing/e2e/integrationtests/envutils_test.go
Labels: dependencies

#1001 Installs Helm unittest plugin explicitly
  hack/helm/install-unittest-plugin.sh
  hack/make/prerequisites.mk
Labels: ci

#1002 Resource limits in values.yaml not correctly used.
  config/helm/chart/default/templates/Common/csi/daemonset.yaml
  config/helm/chart/default/tests/Common/csi/daemonset_test.yaml
Labels: bug, helm

#994 Adds extra safety check for csi GC
  src/controllers/csi/gc/controller.go
  src/controllers/csi/gc/controller_test.go
  src/controllers/csi/provisioner/controller.go
  src/controllers/csi/provisioner/controller_test.go
Labels: cherrypick

#1004 Installs Helm unittest plugin explicitly (#1001)
  hack/helm/install-unittest-plugin.sh
  hack/make/prerequisites.mk
Labels: cherrypick

#1008 Fixes codemodules cache not being updated correctly
  src/api/v1beta1/dynakube_status.go
  src/api/v1beta1/properties.go
  src/controllers/dynakube/status/status.go
  src/dtclient/processmoduleconfig.go
  src/dtclient/processmoduleconfig_test.go
Labels: oneagent

#993 Fixes OneAgent daemonset not having a separate service account for privileged mode
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/openshift/openshift-all.yaml
  config/helm/chart/default/generated/dynatrace-operator-crd.yaml
  config/helm/chart/default/templates/Common/oneagent/clusterrole-oneagent-privileged.yaml
  config/helm/chart/default/templates/Common/oneagent/clusterrolebinding-oneagent-privileged.yaml
  config/helm/chart/default/templates/Common/oneagent/serviceaccount-oneagent-privileged.yaml
  config/helm/chart/default/templates/Openshift/oneagent/securitycontextconstraints-privileged.yaml
  src/api/v1beta1/properties.go
  src/api/v1beta1/properties_test.go
  src/controllers/dynakube/oneagent/daemonset/arguments.go
  src/controllers/dynakube/oneagent/daemonset/arguments_test.go
  src/controllers/dynakube/oneagent/daemonset/daemonset.go
  src/controllers/dynakube/oneagent/daemonset/daemonset_test.go
  src/controllers/dynakube/oneagent/daemonset/env_vars.go
  src/controllers/dynakube/oneagent/daemonset/env_vars_test.go
  src/controllers/dynakube/oneagent/daemonset/volumes.go
  src/controllers/dynakube/oneagent/daemonset/volumes_test.go
Labels: oneagent

#1006 Make sure resource limits are used from values file in Helm chart for…
  config/helm/chart/default/templates/Common/csi/daemonset.yaml
  config/helm/chart/default/tests/Common/csi/daemonset_test.yaml
Labels: cherrypick

#999 Updates cloudnative fullstack Dynakube custom resource example
  assets/samples/cloudNativeFullStack.yaml
Labels: documentation

#1012 Updates cloudnative fullstack Dynakube custom resource example (#999)
  assets/samples/cloudNativeFullStack.yaml
Labels: cherrypick

#1011 Fixes OneAgent daemonset not having a separate service account for privileged mode
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/openshift/openshift-all.yaml
  config/helm/chart/default/generated/dynatrace-operator-crd.yaml
  config/helm/chart/default/templates/Common/oneagent/clusterrole-oneagent-privileged.yaml
  config/helm/chart/default/templates/Common/oneagent/clusterrolebinding-oneagent-privileged.yaml
  config/helm/chart/default/templates/Common/oneagent/serviceaccount-oneagent-privileged.yaml
  config/helm/chart/default/templates/Common/operator/deployment-operator.yaml
  config/helm/chart/default/templates/Openshift/oneagent/securitycontextconstraints-privileged.yaml
  src/api/v1beta1/properties.go
  src/api/v1beta1/properties_test.go
  src/controllers/dynakube/oneagent/daemonset/arguments.go
  src/controllers/dynakube/oneagent/daemonset/arguments_test.go
  src/controllers/dynakube/oneagent/daemonset/daemonset.go
  src/controllers/dynakube/oneagent/daemonset/daemonset_test.go
  src/controllers/dynakube/oneagent/daemonset/env_vars.go
  src/controllers/dynakube/oneagent/daemonset/env_vars_test.go
  src/controllers/dynakube/oneagent/daemonset/volumes.go
  src/controllers/dynakube/oneagent/daemonset/volumes_test.go
Labels: cherrypick

#1014 Set correct connection info
  src/controllers/csi/provisioner/controller.go
Labels: oneagent

#1015 fixes using incomplete connection info (#1014)
  src/controllers/csi/provisioner/controller.go
Labels: cherrypick
