Repository Dynatrace/dynatrace-operator, pull requests merged in 2022-10, with the labels that each got.

#1184 Include e2e build tag into linter.
  .github/pre-commit
Labels: bug

#1185 Added ActiveGate e2e test with all capabilities enabled
  hack/make/tests/e2e.mk
  test/activegate/activegate_test.go
  test/cloudnative/cloudnative_test.go
  test/cloudnative/codemodules_test.go
  test/cloudnative/install.go
  test/cloudnative/sampleapps.go
  test/dynakube/dynakube.go
  test/dynakube/tenant_secret.go
  test/kubeobjects/pod/wait.go
  test/logs/logs.go
  test/oneagent/connection.go
  test/proxy/proxy.go
  test/testdata/activegate/curl-pod-webhook-via-proxy.yaml
  test/testdata/activegate/curl-pod.yaml
  test/testdata/proxy/proxy.yaml
  test/testdata/secrets-samples/cloudnative-codemodules.yaml
  test/testdata/secrets-samples/install.yaml
Labels: test

#1204 Combine provisioner and garbage collector reconcilers
  src/cmd/csi/provisioner/builder.go
  src/controllers/csi/gc/binaries_test.go
  src/controllers/csi/gc/logs.go
  src/controllers/csi/gc/reconciler.go
  src/controllers/csi/gc/reconciler_test.go
  src/controllers/csi/metadata/sqlite.go
  src/controllers/csi/provisioner/controller.go
  src/controllers/csi/provisioner/controller_test.go
Labels: core

#1214 Makes tenantUUID usage consistent in provisioner
  src/controllers/csi/provisioner/agent.go
  src/controllers/csi/provisioner/agent_test.go
Labels: bug

#1222 Only try create secret if not present
  src/kubeobjects/secret.go
Labels: bug

#1220 Only require the activeGate token scope if activeGates are used
  src/controllers/dynakube/dtclient_reconciler.go
Labels: bug

#1221 Only require the activeGate token scope if activeGates are used
  src/controllers/dynakube/dtclient_reconciler.go
Labels: cherrypick

#1225 Add rhcc registry to matrix
  .github/workflows/publish-images.yaml
Labels: ci

#1203 Adds E2E test for a classic fullstack deployment
  test/activegate/activegate_test.go
  test/classic/classic_test.go
  test/classic/install_test.go
  test/cloudnative/cloudnative_test.go
  test/cloudnative/codemodules_test.go
  test/cloudnative/install.go
  test/cloudnative/sampleapps.go
  test/dynakube/dynakube.go
  test/dynakube/tenant_secret.go
  test/log/contains.go
  test/oneagent/connection.go
  test/proxy/proxy.go
  test/sampleapps/sampleapps.go
  test/setup/setup.go
  test/testdata/classic-fullstack/sample-deployment.yaml
Labels: test

#1211 Add feature flag for immutable oneagent images
  src/api/v1beta1/feature_flags.go
  src/api/v1beta1/properties.go
  src/controllers/csi/provisioner/controller.go
  src/controllers/csi/provisioner/controller_test.go
  src/controllers/dynakube/activegate/consts/consts.go
  src/controllers/dynakube/activegate/internal/proxy/reconciler.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/rawimage.go
  src/controllers/dynakube/activegate/internal/tenantinfo/config.go
  src/controllers/dynakube/activegate/internal/tenantinfo/reconciler.go
  src/controllers/dynakube/activegate/internal/tenantinfo/reconciler_test.go
  src/controllers/dynakube/activegate/reconciler.go
  src/controllers/dynakube/activegate/reconciler_test.go
  src/controllers/dynakube/connectioninfo/config.go
  src/controllers/dynakube/connectioninfo/reconciler.go
  src/controllers/dynakube/connectioninfo/reconciler_test.go
  src/controllers/dynakube/dtpullsecret/generate.go
  src/controllers/dynakube/dtpullsecret/reconciler_test.go
  src/controllers/dynakube/dynakube_controller.go
  src/controllers/dynakube/dynakube_controller_test.go
  src/controllers/dynakube/oneagent/daemonset/arguments.go
  src/controllers/dynakube/oneagent/daemonset/arguments_test.go
  src/controllers/dynakube/oneagent/daemonset/daemonset_test.go
  src/controllers/dynakube/oneagent/daemonset/volumes.go
  src/controllers/dynakube/oneagent/daemonset/volumes_test.go
  src/controllers/dynakube/status/status.go
  src/controllers/dynakube/status/status_test.go
  src/dtclient/activegate_auth_token_test.go
  src/dtclient/activegate_tenant_info.go
  src/dtclient/activegate_tenant_info_test.go
  src/dtclient/agent_tenant_info.go
  src/dtclient/agent_tenant_info_test.go
  src/dtclient/client.go
  src/dtclient/common_tenant_info_test.go
  src/dtclient/communication_hosts.go
  src/dtclient/communication_hosts_test.go
  src/dtclient/connection_info.go
  src/dtclient/connection_info_test.go
  src/dtclient/mock_client.go
  src/dtclient/processmoduleconfig.go
  src/dtclient/tenant_info.go
  src/ingestendpoint/secret.go
  src/initgeneration/initgeneration.go
  src/kubeobjects/secret.go
  src/kubeobjects/secret_test.go
  src/testing/e2e/integrationtests/envutils_test.go
Labels: core

#1226 Updates go dependencies
  go.mod
  go.sum
Labels: dependencies

#1210 Adds label-version-detection feature flag
  src/api/v1beta1/feature_flags.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/config.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/containers.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/containers_test.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/env.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/env_test.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/mutator_test.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/versionlabel.go
  src/webhook/mutator.go
Labels: core

#1231 Update `ruxitagentproc.conf` file only for cloud native and application monitoring
  src/controllers/csi/provisioner/controller.go
  src/controllers/csi/provisioner/controller_test.go
Labels: cherrypick

#1229 Adds pod annotation to disable mutation
  src/api/v1beta1/feature_flags.go
  src/webhook/config.go
  src/webhook/mutation/pod_mutator/dataingest_mutation/mutator.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/mutator.go
  src/webhook/mutation/pod_mutator/pod_mutator.go
  src/webhook/mutation/pod_mutator/pod_mutator_test.go
Labels: core

#1232 Use version in application monitoring without CSI
  src/config/agent_injection.go
  src/standalone/env.go
  src/standalone/env_test.go
  src/standalone/run.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/annotations.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/annotations_test.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/containers_test.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/env.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/env_test.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/mutator.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/mutator_test.go
Labels: bug

#1228 Makes tenantUUID usage consistent in provisioner
  src/controllers/csi/provisioner/agent.go
  src/controllers/csi/provisioner/agent_test.go
Labels: cherrypick

#1233 Enhances troubleshoot error message
  src/cmd/troubleshoot/builder.go
  src/cmd/troubleshoot/dynakube.go
  src/cmd/troubleshoot/logger.go
Labels: core

#1237 Removes dynakube namespace from ignored namespaces
  config/helm/chart/default/templates/Common/csi/daemonset.yaml
  config/helm/chart/default/templates/Common/operator/deployment-operator.yaml
  config/helm/chart/default/templates/Common/webhook/deployment-webhook.yaml
  config/helm/chart/default/tests/Common/csi/daemonset_test.yaml
  config/helm/chart/default/tests/Common/operator/deployment-operator_test.yaml
  config/helm/chart/default/tests/Common/webhook/deployment-webhook_test.yaml
  src/api/v1beta1/feature_flags.go
  src/controllers/dynakube/oneagent/daemonset/daemonset.go
  src/controllers/dynakube/oneagent/daemonset/daemonset_test.go
Labels: core

#1235 Enhances troubleshoot error message
  src/cmd/troubleshoot/builder.go
  src/cmd/troubleshoot/dynakube.go
  src/cmd/troubleshoot/logger.go
Labels: cherrypick

#1247 Adds dynakube namespace to list of ignored namespaces
  src/api/v1beta1/feature_flags.go
  src/api/v1beta1/feature_flags_test.go
Labels: core

#1240 Update CRD `caBundle` if certificate secret is up to date
  src/controllers/certificates/certificate_secret.go
  src/controllers/certificates/certificate_secret_test.go
  src/controllers/certificates/webhook_cert_controller.go
  src/controllers/certificates/webhook_cert_controller_test.go
Labels: bug

#1253 Use version in application monitoring without CSI (#1232)
  src/config/agent_injection.go
  src/standalone/env.go
  src/standalone/env_test.go
  src/standalone/run.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/annotations.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/annotations_test.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/containers_test.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/env.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/env_test.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/mutator.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/mutator_test.go
Labels: cherrypick

#1254 Fix unconfigurable onegent classic privileged container
  src/api/v1beta1/feature_flags.go
  src/api/v1beta1/properties.go
  src/api/v1beta1/properties_test.go
  src/controllers/dynakube/oneagent/daemonset/daemonset.go
Labels: bug

#1252 Fixes csi-driver stuck in Terminate after restart
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/openshift/openshift-all.yaml
  config/helm/chart/default/generated/dynatrace-operator-crd.yaml
  config/helm/chart/default/templates/Common/csi/daemonset.yaml
  config/helm/chart/default/templates/_csidriver.tpl
  config/helm/chart/default/tests/Common/csi/daemonset_test.yaml
  src/controllers/csi/driver/server.go
  src/controllers/csi/metadata/correctness.go
  src/controllers/csi/metadata/metadata.go
Labels: bug

#1255 Fix csi-driver stuck in terminating after restart
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/openshift/openshift-all.yaml
  config/helm/chart/default/templates/Common/csi/daemonset.yaml
  config/helm/chart/default/templates/_csidriver.tpl
  config/helm/chart/default/tests/Common/csi/daemonset_test.yaml
  src/controllers/csi/driver/server.go
  src/controllers/csi/metadata/correctness.go
  src/controllers/csi/metadata/metadata.go
Labels: cherrypick

#1258 Respects folder fileMode during gzip unzip
  src/installer/zip/gzip.go
Labels: cherrypick

#1257 Respects folder fileMode during gzip unzip
  src/installer/zip/gzip.go
Labels: bug

#1263 [do-not-merge] Adapt helm files for release version 0.9.1
  config/helm/repos/stable/dynatrace-operator-0.9.1.tgz
  config/helm/repos/stable/dynatrace-operator-0.9.1.tgz.prov
  config/helm/repos/stable/index.yaml
  config/helm/repos/stable/index.yaml.previous
Labels: do-not-merge

#1260 Adds test for data ingest
  hack/make/tests/e2e.mk
  test/activegate/activegate_test.go
  test/appmon/appmon_test.go
  test/classic/classic_test.go
  test/classic/install_test.go
  test/cloudnative/cloudnative_test.go
  test/cloudnative/codemodules_test.go
  test/cloudnative/install_test.go
  test/dynakube/dynakube.go
  test/kubeobjects/manifests/installation.go
  test/kubeobjects/pod/wait.go
  test/operator/installation.go
  test/secrets/secrets.go
  test/setup/setup.go
  test/testdata/application-monitoring/sample-apps.yaml
  test/testdata/secrets-samples/multi-tenant.yaml
  test/testdata/secrets-samples/single-tenant.yaml
Labels: test

#1266 Add correct version labels for OLM release
  config/olm/kubernetes/0.9.1/manifests/dynatrace-dynakube-oneagent-privileged_v1_serviceaccount.yaml
  config/olm/kubernetes/0.9.1/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_clusterrole.yaml
  config/olm/kubernetes/0.9.1/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  config/olm/kubernetes/0.9.1/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_role.yaml
  config/olm/kubernetes/0.9.1/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_rolebinding.yaml
  config/olm/kubernetes/0.9.1/manifests/dynatrace-oneagent-csi-driver_v1_serviceaccount.yaml
  config/olm/kubernetes/0.9.1/manifests/dynatrace-operator.clusterserviceversion.yaml
  config/olm/kubernetes/0.9.1/manifests/dynatrace-webhook_v1_service.yaml
  config/olm/kubernetes/0.9.1/manifests/dynatrace.com_dynakubes.yaml
Labels: ci

#1238 Propagate namespace label references as environment variables used for version detection
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/openshift/openshift-all.yaml
  go.mod
  go.sum
  src/webhook/mutation/pod_mutator/oneagent_mutation/config.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/containers_test.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/mutator_test.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/versionlabel.go
  src/webhook/mutator.go
Labels: core

#1276 Update constant labels of operator docker image
  Dockerfile
Labels: core
