Repository Dynatrace/dynatrace-operator, pull requests merged in 2022-12, with the labels that each got.

#1374 Reworks how the CRD is generated for helm (#1365)
  config/helm/chart/default/generated/dynatrace-operator-crd.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  hack/helm/generate-crd.sh
  hack/make/manifests/config.mk
  hack/make/manifests/crd.mk
Labels: cherrypick

#1361 Adds cloudNative regression test with agentVersion set
  hack/make/tests/e2e.mk
  test/cloudnative/cloudnative_test.go
  test/cloudnative/specific_agent_version.go
  test/dynakube/dynakube.go
Labels: test

#1376 Fix possible nil pointer in GC
  src/controllers/csi/gc/reconciler.go
  src/controllers/csi/gc/reconciler_test.go
Labels: bug

#1363 Add support-archive E2E test.
  .gitignore
  hack/make/tests/e2e.mk
  test/activegate/activegate_test.go
  test/appmon/dataingest.go
  test/appmon/labelversiondetection.go
  test/bash/bash.go
  test/classic/install_test.go
  test/cloudnative/cloudnative_test.go
  test/cloudnative/codemodules.go
  test/cloudnative/install.go
  test/cloudnative/network_problems.go
  test/kubeobjects/environment/environment.go
  test/kubeobjects/pod/execute.go
  test/operator/pods.go
  test/setup/setup.go
  test/shell/shell.go
  test/shell/shell_test.go
  test/support_archive/install.go
  test/support_archive/support_archive_test.go
Labels: test

#1381 Removes the oneagent immutable image feature-flag
  src/api/v1beta1/feature_flags.go
  src/controllers/dynakube/connectioninfo/reconciler.go
  src/controllers/dynakube/connectioninfo/reconciler_test.go
  src/controllers/dynakube/oneagent/daemonset/arguments.go
  src/controllers/dynakube/oneagent/daemonset/arguments_test.go
  src/controllers/dynakube/oneagent/daemonset/volumes.go
  src/controllers/dynakube/oneagent/daemonset/volumes_test.go
Labels: core

#1382 Removes the oneagent immutable image feature-flag (#1381)
  src/api/v1beta1/feature_flags.go
  src/controllers/dynakube/connectioninfo/reconciler.go
  src/controllers/dynakube/connectioninfo/reconciler_test.go
  src/controllers/dynakube/oneagent/daemonset/arguments.go
  src/controllers/dynakube/oneagent/daemonset/arguments_test.go
  src/controllers/dynakube/oneagent/daemonset/volumes.go
  src/controllers/dynakube/oneagent/daemonset/volumes_test.go
Labels: cherrypick

#1385 update csi registrar to 2.6.2
  Dockerfile
Labels: dependencies

#1384 Fixes hostMonitoring mode with csi volume
  src/controllers/csi/gc/reconciler.go
  src/controllers/csi/provisioner/controller.go
  src/controllers/csi/provisioner/controller_test.go
Labels: bug

#1387 update csi registrar to 2.6.2
  Dockerfile
Labels: dependencies

#1389 Fixes hostMonitoring mode with csi volume (#1384)
  src/controllers/csi/gc/reconciler.go
  src/controllers/csi/provisioner/controller.go
  src/controllers/csi/provisioner/controller_test.go
Labels: cherrypick

#1388 Split connection info secrets non-secret part to configmap
  .gitignore
  src/api/v1beta1/properties.go
  src/builder/builder.go
  src/builder/builder_test.go
  src/builder/mocks/modifier.go
  src/controllers/csi/gc/reconciler.go
  src/controllers/csi/provisioner/agent.go
  src/controllers/csi/provisioner/controller.go
  src/controllers/csi/provisioner/controller_test.go
  src/controllers/dynakube/activegate/consts/consts.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/builder_test.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/authtoken.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/authtoken_test.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/certs.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/certs_test.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/config_test.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/customprops.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/customprops_test.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/eec.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/kubemon.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/kubemon_test.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/proxy.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/proxy_test.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/rawimage.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/rawimage_test.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/readonly.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/readonly_test.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/serviceport.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/serviceport_test.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/statsd.go
  src/controllers/dynakube/activegate/internal/statefulset/statefulset.go
  src/controllers/dynakube/connectioninfo/config.go
  src/controllers/dynakube/connectioninfo/reconciler.go
  src/controllers/dynakube/connectioninfo/reconciler_test.go
  src/controllers/dynakube/oneagent/daemonset/arguments.go
  src/controllers/dynakube/oneagent/daemonset/arguments_test.go
  src/controllers/dynakube/oneagent/daemonset/env_vars.go
  src/controllers/dynakube/oneagent/daemonset/env_vars_test.go
  src/dtclient/connection_info.go
  src/dtclient/connection_info_test.go
  src/ingestendpoint/secret.go
  src/kubeobjects/configmap.go
  src/kubeobjects/configmap_test.go
  src/kubeobjects/secret_test.go
Labels: core

#1400 Uses correct files in e2e tests when openshift is the platform
  test/operator/installation.go
Labels: bug

#1401 Make mounting of pods more safe
  src/controllers/csi/driver/volumes/app/publisher.go
  src/controllers/csi/driver/volumes/app/publisher_test.go
Labels: bug

#1402 Update annotation description in dynakube samples
  assets/samples/applicationMonitoring.yaml
  assets/samples/classicFullStack.yaml
  assets/samples/cloudNativeFullStack.yaml
  assets/samples/hostMonitoring.yaml
Labels: documentation

#1403 Unmount agent volume incase of failed db call when mounting
  src/controllers/csi/driver/volumes/app/publisher.go
  src/controllers/csi/driver/volumes/app/publisher_test.go
Labels: cherrypick

#1404 Update annotation description in dynakube samples (#1402)
  assets/samples/applicationMonitoring.yaml
  assets/samples/classicFullStack.yaml
  assets/samples/cloudNativeFullStack.yaml
  assets/samples/hostMonitoring.yaml
Labels: cherrypick

#1396 Split connection info secrets non-secret part to configmap (#1388)
  .gitignore
  src/api/v1beta1/properties.go
  src/builder/builder.go
  src/builder/builder_test.go
  src/builder/mocks/modifier.go
  src/controllers/csi/gc/reconciler.go
  src/controllers/csi/provisioner/agent.go
  src/controllers/csi/provisioner/controller.go
  src/controllers/csi/provisioner/controller_test.go
  src/controllers/dynakube/activegate/consts/consts.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/builder_test.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/authtoken.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/authtoken_test.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/certs.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/certs_test.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/config_test.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/customprops.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/customprops_test.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/eec.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/kubemon.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/kubemon_test.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/proxy.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/proxy_test.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/rawimage.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/rawimage_test.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/readonly.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/readonly_test.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/serviceport.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/serviceport_test.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/statsd.go
  src/controllers/dynakube/activegate/internal/statefulset/statefulset.go
  src/controllers/dynakube/connectioninfo/config.go
  src/controllers/dynakube/connectioninfo/reconciler.go
  src/controllers/dynakube/connectioninfo/reconciler_test.go
  src/controllers/dynakube/oneagent/daemonset/arguments.go
  src/controllers/dynakube/oneagent/daemonset/arguments_test.go
  src/controllers/dynakube/oneagent/daemonset/env_vars.go
  src/controllers/dynakube/oneagent/daemonset/env_vars_test.go
  src/dtclient/connection_info.go
  src/dtclient/connection_info_test.go
  src/ingestendpoint/secret.go
  src/kubeobjects/configmap.go
  src/kubeobjects/configmap_test.go
  src/kubeobjects/secret_test.go
Labels: cherrypick

#1407 Add dynamic docker labels on release
  .github/workflows/publish-images.yaml
Labels: ci

#1357 Add basic synthetic capability to Activegate
  src/api/v1beta1/activegate_types.go
  src/api/v1beta1/dynakube_status.go
  src/api/v1beta1/feature_flags.go
  src/api/v1beta1/feature_flags_test.go
  src/api/v1beta1/properties.go
  src/controllers/dynakube/activegate/capability/capability.go
  src/controllers/dynakube/activegate/consts/consts.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/config.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/config_test.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/synthetic.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/synthetic_test.go
  src/controllers/dynakube/activegate/internal/statefulset/statefulset.go
  src/controllers/dynakube/activegate/internal/statefulset/statefulset_test.go
  src/kubeobjects/slice.go
  src/webhook/validation/activegate.go
  src/webhook/validation/activegate_test.go
  src/webhook/validation/config.go
  src/webhook/validation/preview.go
  src/webhook/validation/synthetic.go
  src/webhook/validation/synthetic_test.go
Labels: activegate

#1409 Adapt Chart.yaml for release of 0.10.1
  config/helm/chart/default/Chart.yaml
Labels: ci

#1414 [do-not-merge] Adapt helm files for release version 0.10.1
  config/helm/repos/stable/dynatrace-operator-0.10.1.tgz
  config/helm/repos/stable/dynatrace-operator-0.10.1.tgz.prov
  config/helm/repos/stable/index.yaml
  config/helm/repos/stable/index.yaml.previous
Labels: do-not-merge

#1386 Adds operator pods log collection to support archive.
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/openshift/openshift-all.yaml
  config/helm/chart/default/templates/Common/operator/role-operator.yaml
  config/helm/chart/default/tests/Common/operator/role-operator_test.yaml
  src/cmd/main.go
  src/cmd/support_archive/builder.go
  src/cmd/support_archive/logs.go
  src/cmd/support_archive/logs_test.go
  src/mocks/k8s.io/client-go/kubernetes/typed/core/v1/pod_interface.go
Labels: core

#1423 Removed duplication of activegate-statsd container definition in AG statefulset
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/config.go
Labels: bug

#1410 Disable `docker login` for build step
  .github/workflows/ci.yaml
Labels: ci

#1426 Add dynamic docker labels on release (#1407)
  .github/workflows/publish-images.yaml
Labels: cherrypick

#1405 Restructure and add description of e2e tests
  .gitignore
  hack/make/tests/e2e.mk
  test/activegate/installation.go
  test/log/contains.go
  test/oneagent/connection.go
  test/proxy/proxy.go
  test/scenarios/README.md
  test/scenarios/activegate/basic/activegate_test.go
  test/scenarios/activegate/installation.go
  test/scenarios/activegate/proxy/activegate_test.go
  test/scenarios/applicationmonitoring/applicationmonitoring_test.go
  test/scenarios/applicationmonitoring/dataingest.go
  test/scenarios/applicationmonitoring/labelversiondetection.go
  test/scenarios/classic/classic_test.go
  test/scenarios/classic/install_test.go
  test/scenarios/cloudnative/basic/cloudnative_test.go
  test/scenarios/cloudnative/codemodules.go
  test/scenarios/cloudnative/consts.go
  test/scenarios/cloudnative/install.go
  test/scenarios/cloudnative/istio/cloudnative_test.go
  test/scenarios/cloudnative/network/cloudnative_test.go
  test/scenarios/cloudnative/network_problems.go
  test/scenarios/cloudnative/proxy/cloudnative_test.go
  test/scenarios/cloudnative/proxy/proxy.go
  test/scenarios/cloudnative/specific_agent_version.go
  test/scenarios/cloudnative/upgrade.go
  test/scenarios/support_archive/install.go
  test/scenarios/support_archive/support_archive_test.go
Labels: test

#1424 E2E test for support archive log collection.
  src/cmd/support_archive/config.go
  src/cmd/support_archive/logs.go
  src/cmd/support_archive/operator_version.go
  test/scenarios/support_archive/support_archive_test.go
Labels: test
