Repository Dynatrace/dynatrace-operator, pull requests merged in 2022-03, with the labels that each got.

#602 Add openshift scc for operator and webhook
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/openshift/openshift-all.yaml
  config/helm/chart/default/templates/Common/csi/daemonset.yaml
  config/helm/chart/default/templates/Common/operator/deployment-operator.yaml
  config/helm/chart/default/templates/Common/webhook/deployment-webhook.yaml
  config/helm/chart/default/templates/Openshift/operator/securitycontextconstraints.yaml
  config/helm/chart/default/templates/Openshift/webhook/securitycontextconstraints.yaml
  config/helm/chart/default/tests/Common/webhook/deployment-webhook_test.yaml
  config/helm/chart/default/values.yaml
Labels: bug

#603 Remove preview warning from CSI driver
  src/webhook/validation/config.go
  src/webhook/validation/csi_daemonset_test.go
  src/webhook/validation/oneagent_test.go
  src/webhook/validation/preview.go
  src/webhook/validation/preview_test.go
  src/webhook/validation/validation_test.go
Labels: oneagent

#600 Removes statsd-ingest dependency on metrics-ingest
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/openshift/openshift-all.yaml
  src/api/v1beta1/properties.go
  src/api/v1beta1/properties_test.go
  src/controllers/activegate/reconciler/capability/reconciler.go
  src/controllers/activegate/reconciler/capability/reconciler_test.go
  src/controllers/activegate/reconciler/capability/service.go
  src/controllers/activegate/reconciler/capability/service_test.go
  src/ingestendpoint/secret.go
Labels: activegate

#612 Makes apparmor setting more flexible in helm
  config/helm/chart/default/templates/Common/operator/deployment-operator.yaml
  config/helm/chart/default/templates/Common/operator/role-operator.yaml
  config/helm/chart/default/templates/Common/webhook/deployment-webhook.yaml
  config/helm/chart/default/tests/Common/operator/role-operator_test.yaml
  config/helm/chart/default/values.yaml
Labels: helm

#613 Revert pre-generation of Kubernetes ME Id
  src/dtclient/kubernetes_settings.go
  src/dtclient/kubernetes_settings_test.go
Labels: core

#592 Add validity check for certificates on webhook startup
  src/cmd/operator/watcher.go
  src/controllers/certificates/certs.go
  src/kubeobjects/certificates.go
Labels: bug, core

#608 Multiple osagents on the same node
  src/api/v1beta1/feature_flags.go
  src/webhook/validation/config.go
  src/webhook/validation/oneagent.go
  src/webhook/validation/oneagent_test.go
Labels: feature, oneagent

#615 Update volume entry if exists
  src/controllers/csi/metadata/sqlite.go
  src/controllers/csi/metadata/sqlite_test.go
Labels: bug

#617 Allows domainless tenant urls
  src/api/v1beta1/properties_test.go
  src/webhook/validation/api_url.go
  src/webhook/validation/api_url_test.go
Labels: bug, core

#604 Removes admission.Errored responses from podmutator webhook
  src/webhook/mutation/pod_mutator.go
  src/webhook/mutation/pod_mutator_test.go
Labels: core

#614 Fix phase field not updating
  src/api/v1beta1/properties.go
  src/api/v1beta1/properties_test.go
  src/controllers/dynakube/dynakube_controller.go
  src/controllers/dynakube/dynakube_controller_test.go
  src/controllers/dynakube/oneagent/daemonset/daemonset.go
  src/controllers/dynakube/oneagent/oneagent_reconciler.go
  src/controllers/dynakube/oneagent/oneagent_reconciler_test.go
  src/testing/e2e/integrationtests/envutils_test.go
  src/testing/e2e/integrationtests/oneagent_controller_integration_test.go
Labels: bug, oneagent

#622 Enables relevant ActiveGate service ports based on capability requirements
  src/api/v1beta1/properties.go
  src/controllers/activegate/capability/capability.go
  src/controllers/activegate/capability/capability_test.go
  src/controllers/activegate/reconciler/capability/reconciler.go
  src/controllers/activegate/reconciler/capability/service.go
  src/controllers/activegate/reconciler/capability/service_test.go
  src/controllers/dynakube/dynakube_controller.go
Labels: bug, activegate

#620 Fix nil panic introduced by installer rework
  src/controllers/csi/provisioner/processmoduleconfig.go
  src/dtclient/processmoduleconfig.go
  src/dtclient/processmoduleconfig_test.go
Labels: bug

#625 Update samples, readme and CRD to not mention cloudNative and applicationMonitoring as preview features
  README.md
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/openshift/openshift-all.yaml
  config/samples/applicationMonitoring.yaml
  config/samples/cloudNativeFullStack.yaml
  config/samples/multipleDynakubes.yaml
  src/api/v1beta1/oneagent_types.go
Labels: documentation

#616 Added opt-in feature flag AnnotationFeatureEnableActivegateRawImage
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/openshift/openshift-all.yaml
  src/api/v1beta1/feature_flags.go
  src/controllers/activegate/reconciler/statefulset/statefulset.go
  src/controllers/activegate/reconciler/statefulset/statefulset_test.go
  src/controllers/dynakube/dynakube_controller.go
Labels: activegate

#628 Fix phase field not updating
  src/api/v1beta1/properties.go
  src/api/v1beta1/properties_test.go
  src/controllers/dynakube/dynakube_controller.go
  src/controllers/dynakube/dynakube_controller_test.go
  src/controllers/dynakube/oneagent/daemonset/daemonset.go
  src/controllers/dynakube/oneagent/oneagent_reconciler.go
  src/controllers/dynakube/oneagent/oneagent_reconciler_test.go
  src/testing/e2e/integrationtests/envutils_test.go
  src/testing/e2e/integrationtests/oneagent_controller_integration_test.go
Labels: cherrypick

#629 Decouple standalone and oneagent csi storage
  src/controllers/csi/driver/volumes/app/publisher.go
  src/controllers/csi/metadata/metadata.go
  src/controllers/csi/provisioner/controller.go
Labels: bug

#630 Update livenessprobe/registrar binaries
  Dockerfile
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/openshift/openshift-all.yaml
  config/helm/chart/default/templates/Common/csi/daemonset.yaml
Labels: cherrypick

#631 Decouple standalone and oneagent csi storage
  src/controllers/csi/driver/volumes/host/publisher.go
  src/controllers/csi/driver/volumes/host/publisher_test.go
  src/controllers/csi/metadata/metadata.go
  src/controllers/csi/provisioner/controller.go
Labels: cherrypick

#596 Switch to distroless base image
  Dockerfile
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/openshift/openshift-all.yaml
  config/helm/chart/default/templates/Common/csi/daemonset.yaml
Labels: core

#597 SecurityContext added to ActiveGate container
  config/deploy/openshift/openshift-all.yaml
  config/helm/chart/default/templates/Common/customresource-dynakube.yaml
  config/helm/chart/default/templates/Openshift/activegate/securitycontextconstraints.yaml
  config/helm/chart/default/values.yaml
  src/api/v1beta1/feature_flags.go
  src/controllers/activegate/capability/config.go
  src/controllers/activegate/reconciler/statefulset/container_eec.go
  src/controllers/activegate/reconciler/statefulset/container_eec_test.go
  src/controllers/activegate/reconciler/statefulset/statefulset.go
  src/controllers/activegate/reconciler/statefulset/statefulset_test.go
  src/kubeobjects/slice.go
Labels: activegate, security

#634 Cherrypick: Adapt Makefile to exclude CSI and add v1beta1 changes to CSV
  Makefile
  PROJECT
  config/helm/chart/default/templates/Common/operator/clusterrole-operator.yaml
  config/helm/chart/default/templates/Common/webhook/clusterrole-webhook.yaml
  config/manifests/bases/dynatrace-operator.clusterserviceversion.yaml
  src/api/v1beta1/activegate_types.go
  src/api/v1beta1/dynakube_types.go
Labels: cherrypick

#636 Fixes double insert to dynakube table
  src/controllers/csi/provisioner/controller.go
Labels: bug

#646 added helm-0.5 release
  config/helm/repos/stable/dynatrace-operator-0.5.0.tgz
  config/helm/repos/stable/dynatrace-operator-0.5.0.tgz.prov
  config/helm/repos/stable/index.yaml
  config/helm/repos/stable/index.yaml.previous
Labels: helm

#648 Moves the version check in the correct volume publisher
  src/controllers/csi/driver/volumes/app/publisher.go
  src/controllers/csi/driver/volumes/host/publisher.go
  src/controllers/csi/driver/volumes/host/publisher_test.go
Labels: bug

#632 Improve helm unittests for csi resources
  config/helm/chart/default/tests/Common/configmap_test.yaml
  config/helm/chart/default/tests/Common/csi/clusterrole-csi_test.yaml
  config/helm/chart/default/tests/Common/csi/clusterrolebinding-csi_test.yaml
  config/helm/chart/default/tests/Common/csi/daemonset_test.yaml
  config/helm/chart/default/tests/Common/csi/role-csi_test.yaml
  config/helm/chart/default/tests/Common/csi/rolebinding-csi_test.yaml
  config/helm/chart/default/tests/Common/customresource-modules/customresource-dynakube_applicationmonitoring_test.yaml
  config/helm/chart/default/tests/Common/customresource-modules/customresource-dynakube_classicfullstack_test.yaml
  config/helm/chart/default/tests/Common/customresource-modules/customresource-dynakube_cloudnativefullstack.yaml
  config/helm/chart/default/tests/Common/customresource-modules/customresource-dynakube_hostmonitoring_test.yaml
  config/helm/chart/default/tests/Common/operator/role-operator_test.yaml
  config/helm/chart/default/tests/Common/webhook/clusterrole-webhook_test.yaml
  config/helm/chart/default/tests/Common/webhook/clusterrolebinding-webhook_test.yaml
  config/helm/chart/default/tests/Common/webhook/deployment-webhook_test.yaml
  config/helm/chart/default/tests/Common/webhook/mutatingwebhookconfiguration_test.yaml
  config/helm/chart/default/tests/Common/webhook/rolebinding-webhook_test.yaml
  config/helm/chart/default/tests/Common/webhook/service_test.yaml
  config/helm/chart/default/tests/Openshift/oneagent/securitycontextconstraints-unprivileged_test.yaml
Labels: feature

#637 ActiveGate pods support setting PriorityClass
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/openshift/openshift-all.yaml
  config/helm/chart/default/questions.yml
  config/helm/chart/default/templates/Common/customresource-dynakube.yaml
  config/helm/chart/default/tests/Common/customresource-modules/customresource-dynakube_activegate_test.yaml
  config/helm/chart/default/values.yaml
  config/samples/classicFullStack.yaml
  config/samples/cloudNativeFullStack.yaml
  config/samples/hostMonitoring.yaml
  src/api/v1beta1/activegate_types.go
  src/controllers/activegate/reconciler/statefulset/statefulset.go
  src/controllers/activegate/reconciler/statefulset/statefulset_test.go
Labels: activegate

#641 Dynatrace containers livenessprobes switched from `/healthz` to `/livez`
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/openshift/openshift-all.yaml
  config/helm/chart/default/templates/Common/csi/daemonset.yaml
  config/helm/chart/default/templates/Common/kubernetes-monitoring/clusterrole-kubernetes-monitoring.yaml
  config/helm/chart/default/templates/Common/operator/deployment-operator.yaml
  config/helm/chart/default/templates/Common/webhook/deployment-webhook.yaml
  config/helm/chart/default/tests/Common/kubernetes-monitoring/clusterrole-kubernetes-monitoring_test.yaml
  config/helm/chart/default/tests/Common/operator/deployment-operator_test.yaml
  config/helm/chart/default/tests/Common/webhook/deployment-webhook_test.yaml
  config/olm/kubernetes/0.2.1/manifests/dynatrace-operator.v0.2.1.clusterserviceversion.yaml
  config/olm/kubernetes/0.2.2/manifests/dynatrace-operator.v0.2.2.clusterserviceversion.yaml
  config/olm/kubernetes/0.4.2/manifests/dynatrace-operator.clusterserviceversion.yaml
  config/olm/openshift/0.2.1/manifests/dynatrace-operator.v0.2.1.clusterserviceversion.yaml
  config/olm/openshift/0.2.2/manifests/dynatrace-operator.v0.2.2.clusterserviceversion.yaml
  config/olm/openshift/0.4.2/manifests/dynatrace-operator.clusterserviceversion.yaml
  src/cmd/operator/csi_driver.go
  src/cmd/operator/operator.go
  src/webhook/mutation/pod_mutator.go
Labels: core

#619 Adds detailed logs for the standalone init
  src/standalone/dtclient_builder.go
  src/standalone/env.go
  src/standalone/env_test.go
  src/standalone/files.go
  src/standalone/run.go
  src/standalone/run_test.go
  src/standalone/secret.go
Labels: core

#611 Removes "alpha." from the feature flags + adds deprecation warning for old flags
  config/helm/chart/default/templates/Common/customresource-dynakube.yaml
  src/api/v1beta1/feature_flags.go
  src/api/v1beta1/feature_flags_resources.go
  src/controllers/activegate/reconciler/capability/eec_runtime_config.go
  src/controllers/activegate/reconciler/capability/eec_runtime_config_test.go
  src/controllers/activegate/reconciler/statefulset/container_eec_test.go
  src/controllers/activegate/reconciler/statefulset/container_statsd_test.go
  src/controllers/activegate/reconciler/statefulset/statefulset_test.go
  src/controllers/dynakube/dtclient_reconciler_test.go
  src/controllers/dynakube/dynakube_controller_test.go
  src/mapper/dynakube_test.go
  src/mapper/namespaces_test.go
  src/webhook/mutation/pod_mutator_test.go
  src/webhook/validation/config.go
  src/webhook/validation/deprecation.go
  src/webhook/validation/deprecation_test.go
Labels: core

#647 Only generate manifests for the selected platform
  Makefile
Labels: minor, ci

#618 Adds database overview to the logs of the csi driver on error and startup
  src/controllers/csi/driver/server.go
  src/controllers/csi/metadata/correctness.go
  src/controllers/csi/metadata/fakes.go
  src/controllers/csi/metadata/metadata.go
  src/controllers/csi/metadata/sqlite.go
  src/controllers/csi/metadata/sqlite_test.go
Labels: core

#652 Added TopologySpreadConstraints support to ActiveGate spec
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/kubernetes/kustomization.yaml
  config/deploy/openshift/openshift-all.yaml
  src/api/v1beta1/activegate_types.go
  src/api/v1beta1/zz_generated.deepcopy.go
  src/controllers/activegate/reconciler/statefulset/statefulset.go
  src/controllers/activegate/reconciler/statefulset/statefulset_test.go
Labels: activegate

#657 Cherrypick: Adapt Samples and Readme for 0.5.0 release
  README.md
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/openshift/openshift-all.yaml
  config/samples/applicationMonitoring.yaml
  config/samples/cloudNativeFullStack.yaml
  config/samples/multipleDynakubes.yaml
  src/api/v1beta1/oneagent_types.go
Labels: cherrypick

#658 Webhook AppArmor annotation fixed
  config/helm/chart/default/templates/Common/webhook/deployment-webhook.yaml
Labels: bug

#659 Webhook AppArmor annotation fixed
  config/helm/chart/default/templates/Common/webhook/deployment-webhook.yaml
Labels: bug

#660 Reverted kustomization.yaml accidental change
  config/deploy/kubernetes/kustomization.yaml
Labels: bug

#667 Add `CODEOWNERS` file
  CODEOWNERS
Labels: ci

#666 Remove dataingest environment variable from pod injection
  src/ingestendpoint/secret.go
  src/webhook/mutation/pod_mutator.go
  src/webhook/mutation/pod_mutator_test.go
Labels: oneagent

#609 Reworked phase/status-field handling
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/openshift/openshift-all.yaml
  src/api/v1beta1/dynakube_types.go
  src/controllers/dynakube/dynakube_controller.go
  src/controllers/dynakube/dynakube_controller_test.go
  src/controllers/dynakube/dynakube_phase.go
  src/controllers/dynakube/oneagent/oneagent_reconciler.go
  src/controllers/dynakube/status/dynakube_state.go
Labels: core

#661 ActiveGate webserver's CA mounted properly in OneAgents pods
  src/api/v1beta1/properties.go
  src/controllers/dynakube/oneagent/daemonset/daemonset.go
  src/controllers/dynakube/oneagent/daemonset/volumes.go
  src/controllers/dynakube/oneagent/daemonset/volumes_test.go
  src/initgeneration/initgeneration.go
  src/webhook/mutation/pod_mutator.go
Labels: bug, oneagent

#674 ActiveGate webserver's CA mounted properly in OneAgents pods
  src/api/v1beta1/properties.go
  src/controllers/dynakube/oneagent/daemonset/daemonset.go
  src/controllers/dynakube/oneagent/daemonset/volumes.go
  src/controllers/dynakube/oneagent/daemonset/volumes_test.go
  src/initgeneration/initgeneration.go
  src/webhook/mutation/pod_mutator.go
Labels: cherrypick

#668 Fix mock client for ARM architecture
  src/controllers/csi/provisioner/controller_test.go
Labels: core

#672 Simplifies the matchLabels for Oneagent daemonset
  src/controllers/csi/gc/logs_test.go
  src/controllers/dynakube/oneagent/daemonset/daemonset.go
  src/controllers/dynakube/oneagent/daemonset/labels.go
  src/kubeobjects/daemonset.go
  src/kubeobjects/daemonset_test.go
  src/kubeobjects/secret_test.go
Labels: bug, oneagent

#664 Mark for termination Event was not sent correctly, because of wrong labels on Daemonset
  src/controllers/activegate/reconciler/statefulset/statefulset.go
  src/controllers/activegate/reconciler/statefulset/statefulset_test.go
  src/controllers/dynakube/dynakube_controller.go
  src/controllers/dynakube/oneagent/daemonset/arguments.go
  src/controllers/dynakube/oneagent/daemonset/arguments_test.go
  src/controllers/dynakube/oneagent/daemonset/daemonset.go
  src/controllers/dynakube/oneagent/daemonset/labels_test.go
  src/controllers/dynakube/oneagent/daemonset/volumes_test.go
  src/controllers/dynakube/oneagent/oneagent_reconciler.go
  src/controllers/dynakube/oneagent/oneagent_reconciler_test.go
  src/deploymentmetadata/deploymentmetadata.go
  src/deploymentmetadata/deploymentmetadata_test.go
  src/webhook/mutation/pod_mutator.go
Labels: bug
