Repository Dynatrace/dynatrace-operator, pull requests merged in 2022-04, with the labels that each got.

#686 Improve info log when `bin` folder does not exist in CSI driver
  src/controllers/csi/gc/binaries.go
Labels: bug

#559 Change crdApplied to required for google marketplace
  config/helm/hack/upload_test.sh
  config/helm/schema.yaml
Labels: helm

#678 Prunes the makefile
  Makefile
  build/push_image.sh
Labels: ci

#688 Fix lint github action
  .github/workflows/ci.yml
  .golangci.yml
  src/dtclient/client_test.go
Labels: ci

#610 Add kuttl tests for oneagent modes
  .gitignore
  Makefile
  config/deploy/openshift/openshift-all.yaml
  hack/e2e/install-kuttl.sh
  src/testing/kuttl/README.md
  src/testing/kuttl/create-dynakube-base.sh
  src/testing/kuttl/oneagent/appmonitoring/00-errors.yaml
  src/testing/kuttl/oneagent/appmonitoring/00-setup.yaml
  src/testing/kuttl/oneagent/appmonitoring/01-assert.yaml
  src/testing/kuttl/oneagent/appmonitoring/01-dynakube.yaml
  src/testing/kuttl/oneagent/appmonitoring/01-errors.yaml
  src/testing/kuttl/oneagent/appmonitoring/02-assert.yaml
  src/testing/kuttl/oneagent/appmonitoring/02-errors.yaml
  src/testing/kuttl/oneagent/appmonitoring/02-podinject.yaml
  src/testing/kuttl/oneagent/appmonitoring/03-assert.yaml
  src/testing/kuttl/oneagent/appmonitoring/03-errors.yaml
  src/testing/kuttl/oneagent/appmonitoring/03-undo-podinject.yaml
  src/testing/kuttl/oneagent/appmonitoring/04-reset.yaml
  src/testing/kuttl/oneagent/classicFullStack/00-errors.yaml
  src/testing/kuttl/oneagent/classicFullStack/00-setup.yaml
  src/testing/kuttl/oneagent/classicFullStack/01-assert.yaml
  src/testing/kuttl/oneagent/classicFullStack/01-dynakube.yaml
  src/testing/kuttl/oneagent/classicFullStack/02-assert.yaml
  src/testing/kuttl/oneagent/classicFullStack/02-errors.yaml
  src/testing/kuttl/oneagent/classicFullStack/02-podinject.yaml
  src/testing/kuttl/oneagent/classicFullStack/03-assert.yaml
  src/testing/kuttl/oneagent/classicFullStack/03-errors.yaml
  src/testing/kuttl/oneagent/classicFullStack/03-undo-podinject.yaml
  src/testing/kuttl/oneagent/classicFullStack/04-errors.yaml
  src/testing/kuttl/oneagent/classicFullStack/04-reset.yaml
  src/testing/kuttl/oneagent/cloudnative/00-errors.yaml
  src/testing/kuttl/oneagent/cloudnative/00-setup.yaml
  src/testing/kuttl/oneagent/cloudnative/01-assert.yaml
  src/testing/kuttl/oneagent/cloudnative/01-dynakube.yaml
  src/testing/kuttl/oneagent/cloudnative/01-errors.yaml
  src/testing/kuttl/oneagent/cloudnative/02-assert.yaml
  src/testing/kuttl/oneagent/cloudnative/02-errors.yaml
  src/testing/kuttl/oneagent/cloudnative/02-podinject.yaml
  src/testing/kuttl/oneagent/cloudnative/03-assert.yaml
  src/testing/kuttl/oneagent/cloudnative/03-errors.yaml
  src/testing/kuttl/oneagent/cloudnative/03-undo-podinject.yaml
  src/testing/kuttl/oneagent/cloudnative/04-errors.yaml
  src/testing/kuttl/oneagent/cloudnative/04-reset.yaml
  src/testing/kuttl/oneagent/hostMonitoring/00-errors.yaml
  src/testing/kuttl/oneagent/hostMonitoring/00-setup.yaml
  src/testing/kuttl/oneagent/hostMonitoring/01-assert.yaml
  src/testing/kuttl/oneagent/hostMonitoring/01-dynakube.yaml
  src/testing/kuttl/oneagent/hostMonitoring/01-errors.yaml
  src/testing/kuttl/oneagent/hostMonitoring/02-assert.yaml
  src/testing/kuttl/oneagent/hostMonitoring/02-errors.yaml
  src/testing/kuttl/oneagent/hostMonitoring/02-podinject.yaml
  src/testing/kuttl/oneagent/hostMonitoring/03-errors.yaml
  src/testing/kuttl/oneagent/hostMonitoring/03-reset.yaml
  src/testing/kuttl/oneagent/installation/00-assert.yaml
  src/testing/kuttl/oneagent/installation/00-errors.yaml
  src/testing/kuttl/oneagent/kind.yaml
  src/testing/kuttl/oneagent/oneagent-test.yaml
Labels: ci

#687 Improve info log when `bin` folder does not exist in CSI driver
  src/controllers/csi/gc/binaries.go
Labels: bug, cherrypick

#683 Remove version from `matchLabels` in Helm and Activegate
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/openshift/openshift-all.yaml
  config/helm/chart/default/templates/Common/csi/daemonset.yaml
  config/helm/chart/default/templates/Common/operator/deployment-operator.yaml
  config/helm/chart/default/templates/Common/webhook/deployment-webhook.yaml
  config/helm/chart/default/templates/_helpers.tpl
  src/controllers/activegate/reconciler/statefulset/labels.go
  src/controllers/activegate/reconciler/statefulset/reconciler.go
  src/controllers/activegate/reconciler/statefulset/statefulset.go
  src/controllers/activegate/reconciler/statefulset/statefulset_test.go
  src/kubeobjects/daemonset.go
  src/kubeobjects/labels.go
Labels: bug

#689 Add image field for hostAgents to cloudNativeFullStack
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/openshift/openshift-all.yaml
  config/helm/chart/default/questions.yml
  config/helm/chart/default/values.yaml
  src/api/v1alpha1/zz_generated.deepcopy.go
  src/api/v1beta1/dynakube_conversion.go
  src/api/v1beta1/dynakube_conversion_test.go
  src/api/v1beta1/oneagent_types.go
  src/api/v1beta1/properties.go
  src/api/v1beta1/properties_test.go
  src/api/v1beta1/zz_generated.deepcopy.go
  src/controllers/csi/provisioner/agent_test.go
  src/controllers/dynakube/dtclient_reconciler_test.go
  src/controllers/dynakube/dynakube_controller_test.go
  src/controllers/dynakube/oneagent/daemonset/arguments_test.go
  src/controllers/dynakube/oneagent/daemonset/daemonset.go
  src/controllers/dynakube/oneagent/daemonset/daemonset_test.go
  src/controllers/dynakube/oneagent/daemonset/volumes_test.go
  src/controllers/dynakube/oneagent/oneagent_reconciler_test.go
  src/controllers/dynakube/updates/version_test.go
  src/testing/e2e/integrationtests/istio_integration_test.go
  src/testing/e2e/integrationtests/oneagent_controller_integration_test.go
  src/webhook/validation/csi_daemonset_test.go
  src/webhook/validation/oneagent_test.go
  src/webhook/validation/validation_test.go
Labels: core

#691 Fix `activegate.customproperties.value` when multi line string is used
  .github/workflows/ci.yml
  .golangci.yml
  config/helm/chart/default/templates/Common/customresource-dynakube.yaml
  config/helm/chart/default/tests/Common/customresource-modules/customresource-dynakube_activegate_test.yaml
  src/dtclient/client_test.go
Labels: bug, helm

#690 Adds a guide/script on how to test OLM bundles
  Makefile
  config/olm/README.md
  hack/olm.sh
  hack/setup_olm_catalog.sh
Labels: documentation

#693 Remove metrics-ingest from samples as it can cause certificate issues
  config/samples/applicationMonitoring.yaml
  config/samples/classicFullStack.yaml
  config/samples/cloudNativeFullStack.yaml
  config/samples/hostMonitoring.yaml
  config/samples/multipleDynakubes.yaml
Labels: documentation

#695 Exclude `metrics-ingest` from samples
  config/samples/applicationMonitoring.yaml
  config/samples/classicFullStack.yaml
  config/samples/cloudNativeFullStack.yaml
  config/samples/hostMonitoring.yaml
Labels: cherrypick

#696 Readd csi driver to openshift manifests
  Makefile
  config/deploy/openshift/openshift-all.yaml
Labels: bug

#694 Fixes using wrong tag for immutable image when version is set
  src/api/v1beta1/properties.go
  src/api/v1beta1/properties_test.go
Labels: bug, core

#684 Add codeModulesImage field to Dynakube where CSI Driver is used
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/openshift/openshift-all.yaml
  src/api/v1beta1/oneagent_types.go
  src/api/v1beta1/properties.go
  src/webhook/validation/config.go
  src/webhook/validation/oneagent.go
  src/webhook/validation/oneagent_test.go
Labels: oneagent

#682 Add merged entries in helm-index
  config/helm/repos/stable/index.yaml
Labels: helm

#714 Readd csi driver to openshift manifests
  Makefile
  config/deploy/openshift/openshift-all.yaml
Labels: cherrypick

#715 Gets kubeconfig only when subcommand needs it
  src/cmd/operator/main.go
Labels: bug

#719 Gets kubeconfig only when subcommand needs it
  src/cmd/operator/main.go
Labels: bug, cherrypick

#713 Add highavailability option for webhook via helm
  config/helm/chart/default/templates/Common/webhook/deployment-webhook.yaml
  config/helm/chart/default/templates/Common/webhook/poddisruptionbudget-webhook.yaml
  config/helm/chart/default/values.yaml
Labels: helm

#721 Add RW volume for AG tls certificate
  src/controllers/activegate/capability/config.go
  src/controllers/activegate/reconciler/statefulset/statefulset.go
  src/controllers/activegate/reconciler/statefulset/statefulset_test.go
Labels: bug, activegate

#706 Add an validator to verify correctness of ProxyUrl string/secret
  src/agproxysecret/secret.go
  src/webhook/validation/config.go
  src/webhook/validation/proxy_url.go
  src/webhook/validation/proxy_url_test.go
Labels: bug, activegate

#718 Update agent config during init only in case of installer mode
  src/standalone/run.go
  src/standalone/run_test.go
Labels: bug

#732 Remove possibility to install operator with install.sh
  deploy/install.sh
Labels: cherrypick

#731 Remove possibility to install operator with install.sh
  deploy/install.sh
Labels: core

#730 Update agent config during init only in case of installer mode
  src/standalone/run.go
  src/standalone/run_test.go
Labels: bug, cherrypick

#726 Refactor component feature and version labels
  src/agproxysecret/secret.go
  src/controllers/activegate/reconciler/capability/service.go
  src/controllers/activegate/reconciler/capability/service_test.go
  src/controllers/activegate/reconciler/statefulset/labels.go
  src/controllers/activegate/reconciler/statefulset/statefulset.go
  src/controllers/activegate/reconciler/statefulset/statefulset_test.go
  src/controllers/dynakube/dynakube_controller_test.go
  src/controllers/dynakube/oneagent/daemonset/daemonset.go
  src/controllers/dynakube/oneagent/daemonset/labels.go
  src/controllers/dynakube/oneagent/daemonset/labels_test.go
  src/controllers/dynakube/oneagent/oneagent_reconciler.go
  src/controllers/dynakube/oneagent/oneagent_reconciler_test.go
  src/ingestendpoint/secret.go
  src/initgeneration/initgeneration.go
  src/kubeobjects/labels.go
  src/kubeobjects/labels_test.go
  src/mapper/dynakube_test.go
  src/mapper/namespaces_test.go
Labels: core

#725 Add highavailability option for webhook via helm
  config/helm/chart/default/templates/Common/webhook/deployment-webhook.yaml
  config/helm/chart/default/templates/Common/webhook/poddisruptionbudget-webhook.yaml
  config/helm/chart/default/values.yaml
Labels: cherrypick

#728 Add connectionInfo to ProcessModuleConfig
  src/controllers/csi/provisioner/controller.go
  src/controllers/csi/provisioner/controller_test.go
  src/dtclient/communication_hosts.go
  src/dtclient/processmoduleconfig.go
Labels: oneagent

#736 Update CodeQL action with required scopes
  .github/workflows/codeql-analysis.yml
Labels: ci

#723 Makes the deprecated feature-flag warning more precise
  config/helm/chart/default/templates/Common/customresource-dynakube.yaml
  src/api/v1beta1/feature_flags.go
  src/api/v1beta1/feature_flags_resources.go
  src/controllers/activegate/reconciler/capability/eec_runtime_config.go
  src/controllers/activegate/reconciler/capability/eec_runtime_config_test.go
  src/controllers/activegate/reconciler/statefulset/container_eec_test.go
  src/controllers/activegate/reconciler/statefulset/container_statsd_test.go
  src/controllers/activegate/reconciler/statefulset/statefulset_test.go
  src/controllers/dynakube/dtclient_reconciler_test.go
  src/controllers/dynakube/dynakube_controller_test.go
  src/mapper/dynakube_test.go
  src/mapper/namespaces_test.go
  src/webhook/validation/deprecation.go
  src/webhook/validation/deprecation_test.go
Labels: core

#738 Makes the deprecated feature-flag warning more precise (#723)
  config/helm/chart/default/templates/Common/customresource-dynakube.yaml
  src/api/v1beta1/feature_flags.go
  src/api/v1beta1/feature_flags_resources.go
  src/controllers/activegate/reconciler/capability/eec_runtime_config.go
  src/controllers/activegate/reconciler/capability/eec_runtime_config_test.go
  src/controllers/activegate/reconciler/statefulset/container_eec_test.go
  src/controllers/activegate/reconciler/statefulset/container_statsd_test.go
  src/controllers/activegate/reconciler/statefulset/statefulset_test.go
  src/controllers/dynakube/dtclient_reconciler_test.go
  src/controllers/dynakube/dynakube_controller_test.go
  src/mapper/dynakube_test.go
  src/mapper/namespaces_test.go
  src/webhook/validation/deprecation.go
  src/webhook/validation/deprecation_test.go
Labels: bug, cherrypick

#734 Adapt error handling of invalid revision.json
  src/controllers/csi/provisioner/processmoduleconfig.go
  src/controllers/csi/provisioner/processmoduleconfig_test.go
Labels: bug

#741 Correct handling of revision.json file
  src/controllers/csi/provisioner/processmoduleconfig.go
  src/controllers/csi/provisioner/processmoduleconfig_test.go
Labels: cherrypick

#681 Add pull request event to CI workflow
  .github/workflows/ci.yml
Labels: ci

#743 Check `fork` flag on `pull_request` event
  .github/workflows/ci.yml
Labels: ci

#670 Remove ExportData token permission if host-requests are disabled
  src/controllers/dynakube/dtclient_reconciler.go
  src/controllers/dynakube/dtclient_reconciler_test.go
Labels: core

#737 Add feature flag for ignoring proxy within oneAgent and activeGate
  src/api/v1beta1/feature_flags.go
  src/api/v1beta1/properties.go
  src/controllers/activegate/reconciler/statefulset/statefulset.go
  src/controllers/activegate/reconciler/statefulset/statefulset_test.go
  src/controllers/dynakube/dynakube_controller.go
  src/controllers/dynakube/dynakube_controller_test.go
  src/controllers/dynakube/oneagent/daemonset/arguments.go
  src/controllers/dynakube/oneagent/daemonset/arguments_test.go
Labels: bug

#742 Bump go version to ^1.18
  .github/workflows/ci.yml
  Dockerfile
  go.mod
Labels: core

#746 Add feature flag for proxy usage on oneAgent and activeGate
  src/api/v1beta1/feature_flags.go
  src/api/v1beta1/properties.go
  src/controllers/activegate/reconciler/statefulset/statefulset.go
  src/controllers/activegate/reconciler/statefulset/statefulset_test.go
  src/controllers/dynakube/dynakube_controller.go
  src/controllers/dynakube/dynakube_controller_test.go
  src/controllers/dynakube/oneagent/daemonset/arguments.go
  src/controllers/dynakube/oneagent/daemonset/arguments_test.go
Labels: cherrypick

#747 Fix check for empty high availability flag
  config/helm/chart/default/templates/Common/webhook/deployment-webhook.yaml
Labels: bug, helm

#740 Added e2e ActiveGate tests
  .gitignore
  Makefile
  config/deploy/kubernetes/kubernetes-all.yaml
  src/testing/kuttl/activegate/create-dynakube-base.sh
  src/testing/kuttl/activegate/manifests/dynatrace-namespace.yaml
  src/testing/kuttl/activegate/tests/capabilities-walkthrough/10-assert.yaml
  src/testing/kuttl/activegate/tests/capabilities-walkthrough/10-setup.yaml
  src/testing/kuttl/activegate/tests/capabilities-walkthrough/20-routing.yaml
  src/testing/kuttl/activegate/tests/capabilities-walkthrough/25-assert.yaml
  src/testing/kuttl/activegate/tests/capabilities-walkthrough/25-wait-for-ag-sts.yaml
  src/testing/kuttl/activegate/tests/capabilities-walkthrough/30-kubemon.yaml
  src/testing/kuttl/activegate/tests/capabilities-walkthrough/35-assert.yaml
  src/testing/kuttl/activegate/tests/capabilities-walkthrough/35-wait-for-ag-sts.yaml
  src/testing/kuttl/activegate/tests/capabilities-walkthrough/40-metricsingest.yaml
  src/testing/kuttl/activegate/tests/capabilities-walkthrough/45-assert.yaml
  src/testing/kuttl/activegate/tests/capabilities-walkthrough/45-wait-for-ag-sts.yaml
  src/testing/kuttl/activegate/tests/capabilities-walkthrough/50-dynatrace-api.yaml
  src/testing/kuttl/activegate/tests/capabilities-walkthrough/55-assert.yaml
  src/testing/kuttl/activegate/tests/capabilities-walkthrough/55-wait-for-ag-sts.yaml
  src/testing/kuttl/activegate/tests/capabilities-walkthrough/60-all.yaml
  src/testing/kuttl/activegate/tests/capabilities-walkthrough/65-assert.yaml
  src/testing/kuttl/activegate/tests/capabilities-walkthrough/65-wait-for-ag-sts.yaml
  src/testing/kuttl/activegate/tests/wait-for.sh
  src/testing/kuttl/activegate/testsuite-debug.yaml
  src/testing/kuttl/activegate/testsuite.yaml
  src/testing/kuttl/create-dynakube-base.sh
  src/testing/kuttl/create-secrets.sh
  src/testing/kuttl/oneagent/appmonitoring/00-setup.yaml
  src/testing/kuttl/oneagent/classicFullStack/00-setup.yaml
  src/testing/kuttl/oneagent/cloudnative/00-setup.yaml
  src/testing/kuttl/oneagent/create-dynakube-base.sh
  src/testing/kuttl/oneagent/hostMonitoring/00-setup.yaml
Labels: activegate, ci

#750 Fix automatic kubernetes api monitoring usage being skipped
  src/controllers/dynakube/dynakube_controller.go
Labels: bug

#751 Fix automatic kubernetes api monitoring usage being skipped
  src/controllers/dynakube/dynakube_controller.go
Labels: cherrypick

#749 Fix activegate service not updating when labels mismatch
  src/controllers/activegate/capability/capability.go
  src/controllers/activegate/reconciler/capability/reconciler.go
  src/controllers/activegate/reconciler/capability/service.go
  src/controllers/activegate/reconciler/capability/service_test.go
Labels: bug

#752 Fix activegate service not updating when labels mismatch
  src/controllers/activegate/capability/capability.go
  src/controllers/activegate/reconciler/capability/reconciler.go
  src/controllers/activegate/reconciler/capability/service.go
  src/controllers/activegate/reconciler/capability/service_test.go
Labels: cherrypick

#753 Fixed invalid value in (.Values.webhook).highAvailability (#747)
  config/helm/chart/default/templates/Common/webhook/deployment-webhook.yaml
Labels: cherrypick

#754 Skip cache removal when file does not exist
  src/controllers/csi/provisioner/agent.go
  src/controllers/csi/provisioner/processmoduleconfig.go
Labels: bug

#758 Fix github action to use correct branch name in ci.yaml
  .github/workflows/ci.yml
Labels: ci

#756 Improve logs for `ruxitagentproc.conf` cache deletion
  src/controllers/csi/provisioner/processmoduleconfig.go
Labels: bug
