Repository Dynatrace/dynatrace-operator, pull requests merged in 2022-02, with the labels that each got.

#514 Moves the tls in the correct postion for oneagent daemonset
  src/controllers/dynakube/oneagent/daemonset/volumes.go
Labels: bug

#536 Fix branch check for master branch
  .github/workflows/ci.yml
Labels: ci

#313 Add statsd ingest
  src/api/v1beta1/activegate_types.go
  src/api/v1beta1/feature_flags.go
  src/api/v1beta1/internal_operator_flags.go
  src/api/v1beta1/internal_operator_flags_test.go
  src/api/v1beta1/properties.go
  src/api/v1beta1/properties_test.go
  src/controllers/activegate/internal/consts/consts.go
  src/controllers/activegate/reconciler/capability/reconciler.go
  src/controllers/activegate/reconciler/capability/reconciler_test.go
  src/controllers/activegate/reconciler/capability/service.go
  src/controllers/activegate/reconciler/capability/service_test.go
  src/controllers/activegate/reconciler/statefulset/container_eec.go
  src/controllers/activegate/reconciler/statefulset/container_eec_test.go
  src/controllers/activegate/reconciler/statefulset/container_statsd.go
  src/controllers/activegate/reconciler/statefulset/container_statsd_test.go
  src/controllers/activegate/reconciler/statefulset/statefulset.go
  src/controllers/activegate/reconciler/statefulset/statefulset_test.go
  src/controllers/dynakube/oneagent/daemonset/daemonset.go
  src/kubeobjects/container_builder.go
  src/kubeobjects/hasher.go
  src/kubeobjects/slice_utils.go
  src/webhook/validation/api_url.go
  src/webhook/validation/api_url_test.go
  src/webhook/validation/config.go
Labels: activegate

#447 Updates the pre-commit to generate the manifests for master
  .github/pre-commit
Labels: minor

#538 Adds warning for missing memory limit for activeGate
  src/api/v1beta1/activegate_types.go
  src/kubeobjects/slice.go
  src/webhook/validation/activegate.go
  src/webhook/validation/activegate_test.go
  src/webhook/validation/config.go
  src/webhook/validation/validation.go
  src/webhook/validation/validation_test.go
Labels: enhancement, activegate

#541 Add VolumeAttribute to csi volume
  src/controllers/csi/driver/config.go
  src/controllers/csi/driver/server.go
  src/webhook/mutation/pod_mutator.go
  src/webhook/mutation/pod_mutator_test.go
Labels: enhancement

#519 Refactor nodes controller
  src/controllers/nodes/cache.go
  src/controllers/nodes/config.go
  src/controllers/nodes/nodes_controller.go
  src/controllers/nodes/nodes_controller_test.go
  src/controllers/nodes/oneagent_dao.go
  src/controllers/nodes/watchers.go
Labels: enhancement

#537 Allow to use hostNetwork for webhook
  config/helm/chart/default/templates/Common/webhook/deployment-webhook.yaml
  config/helm/chart/default/values.yaml
Labels: enhancement

#539 Separate statsd-ingest capability from metrics-ingest
  src/api/v1beta1/activegate_types.go
  src/api/v1beta1/feature_flags.go
  src/api/v1beta1/properties.go
  src/controllers/activegate/capability/capability.go
  src/controllers/activegate/capability/capability_test.go
  src/controllers/activegate/internal/consts/consts.go
  src/controllers/activegate/reconciler/capability/reconciler.go
  src/controllers/activegate/reconciler/capability/reconciler_test.go
  src/controllers/activegate/reconciler/capability/service.go
  src/controllers/activegate/reconciler/capability/service_test.go
  src/controllers/activegate/reconciler/statefulset/container_eec.go
  src/controllers/activegate/reconciler/statefulset/container_eec_test.go
  src/controllers/activegate/reconciler/statefulset/container_statsd.go
  src/controllers/activegate/reconciler/statefulset/container_statsd_test.go
  src/controllers/activegate/reconciler/statefulset/statefulset.go
  src/controllers/activegate/reconciler/statefulset/statefulset_test.go
  src/webhook/validation/config.go
  src/webhook/validation/preview.go
Labels: activegate

#548 Removes unnecessary scopes for API Token
  src/controllers/dynakube/dtclient_reconciler.go
  src/controllers/dynakube/dtclient_reconciler_test.go
  src/controllers/dynakube/dynakube_controller_test.go
  src/dtclient/client.go
  src/testing/e2e/integrationtests/envutils_test.go
Labels: bug

#551 Removes unnecessary scopes for API Token
  src/controllers/dynakube/dtclient_reconciler.go
  src/controllers/dynakube/dtclient_reconciler_test.go
  src/controllers/dynakube/dynakube_controller_test.go
  src/dtclient/client.go
  src/testing/e2e/integrationtests/envutils_test.go
Labels: bug

#549 Adds support for single token in troubleshoot script
  troubleshoot/troubleshoot.sh
Labels: bug

#513 Init subcommand to replace init.sh
  src/cmd/operator/main.go
  src/cmd/operator/standalone.go
  src/controllers/csi/provisioner/agent.go
  src/controllers/csi/provisioner/agent_test.go
  src/controllers/csi/provisioner/controller.go
  src/controllers/csi/provisioner/controller_test.go
  src/controllers/csi/provisioner/processmoduleconfig.go
  src/controllers/csi/provisioner/processmoduleconfig_test.go
  src/dtclient/agent_version.go
  src/dtclient/agent_version_test.go
  src/dtclient/client.go
  src/dtclient/dynatrace_client.go
  src/dtclient/endpoints.go
  src/dtclient/mock_client.go
  src/dtclient/processmoduleconfig.go
  src/dtclient/processmoduleconfig_test.go
  src/installer/config.go
  src/installer/installer.go
  src/installer/installer_test.go
  src/installer/mock.go
  src/standalone/config.go
  src/standalone/dtclient_builder.go
  src/standalone/dtclient_builder_test.go
  src/standalone/env.go
  src/standalone/env_test.go
  src/standalone/files.go
  src/standalone/files_test.go
  src/standalone/run.go
  src/standalone/run_test.go
  src/standalone/secret.go
  src/standalone/secret_test.go
Labels: enhancement

#553 Send Mark for termination event also, when node is not found in the cluster anymore
  src/controllers/nodes/nodes_controller.go
Labels: bug

#556 Change logging condition when ensuring agProxySecret is deleted
  src/agproxysecret/secret.go
Labels: bug

#552 Removes init.sh, used init command instead
  src/initgeneration/config.go
  src/initgeneration/init.sh.test-sample
  src/initgeneration/init.sh.tmpl
  src/initgeneration/initgeneration.go
  src/initgeneration/initgeneration_test.go
  src/standalone/config.go
  src/standalone/env.go
  src/standalone/run.go
  src/standalone/run_test.go
  src/standalone/secret.go
  src/standalone/secret_test.go
  src/webhook/mutation/config.go
  src/webhook/mutation/pod_mutator.go
  src/webhook/mutation/pod_mutator_test.go
Labels: enhancement

#560 Fix image version for CI build
  .github/workflows/ci.yml
Labels: cherrypick

#562 Change logging condition
  src/agproxysecret/secret.go
Labels: cherrypick

#563 Secret reference instead of plain text
  src/ingestendpoint/secret.go
  src/webhook/mutation/pod_mutator.go
  src/webhook/mutation/pod_mutator_test.go
Labels: cherrypick

#561 Adds Extension Controller/StatsD logs to the ActiveGate support archive
  src/controllers/activegate/reconciler/statefulset/container_eec.go
  src/controllers/activegate/reconciler/statefulset/container_eec_test.go
  src/controllers/activegate/reconciler/statefulset/container_statsd.go
  src/controllers/activegate/reconciler/statefulset/container_statsd_test.go
  src/controllers/activegate/reconciler/statefulset/statefulset.go
  src/controllers/activegate/reconciler/statefulset/statefulset_test.go
Labels: activegate

#555 Host csi-volume for ReadOnly OneAgent pods
  src/controllers/csi/driver/config.go
  src/controllers/csi/driver/server.go
  src/controllers/csi/driver/volumes/app/bind_config.go
  src/controllers/csi/driver/volumes/app/bind_config_test.go
  src/controllers/csi/driver/volumes/app/publisher.go
  src/controllers/csi/driver/volumes/app/publisher_test.go
  src/controllers/csi/driver/volumes/bind_config.go
  src/controllers/csi/driver/volumes/bind_config_test.go
  src/controllers/csi/driver/volumes/host/config.go
  src/controllers/csi/driver/volumes/host/publisher.go
  src/controllers/csi/driver/volumes/host/publisher_test.go
  src/controllers/csi/driver/volumes/publisher.go
  src/controllers/csi/driver/volumes/volume_config.go
  src/controllers/csi/driver/volumes/volume_config_test.go
  src/controllers/csi/metadata/fakes.go
  src/controllers/csi/metadata/metadata.go
  src/controllers/csi/metadata/path_resolver.go
  src/controllers/csi/metadata/sqlite.go
  src/controllers/csi/metadata/sqlite_test.go
  src/controllers/dynakube/oneagent/daemonset/daemonset.go
  src/controllers/dynakube/oneagent/daemonset/volumes.go
  src/controllers/dynakube/oneagent/daemonset/volumes_test.go
  src/webhook/mutation/pod_mutator.go
  src/webhook/mutation/pod_mutator_test.go
Labels: enhancement

#586 Adds security context for EEC and StatsD containers (statsd-ingest)
  src/controllers/activegate/reconciler/statefulset/container_eec.go
  src/controllers/activegate/reconciler/statefulset/container_eec_test.go
  src/controllers/activegate/reconciler/statefulset/container_statsd.go
  src/controllers/activegate/reconciler/statefulset/container_statsd_test.go
  src/kubeobjects/address_of/address_of.go
  src/kubeobjects/address_of/address_of_test.go
  src/kubeobjects/security_context.go
Labels: activegate

#588 Maps certain StatsD-related annotations to EEC/StatsD container resource requests or limits
  src/api/v1beta1/feature_flags_resources.go
  src/api/v1beta1/feature_flags_resources_test.go
  src/controllers/activegate/reconciler/statefulset/container_eec.go
  src/controllers/activegate/reconciler/statefulset/container_eec_test.go
  src/controllers/activegate/reconciler/statefulset/container_statsd.go
  src/controllers/activegate/reconciler/statefulset/container_statsd_test.go
  src/controllers/activegate/reconciler/statefulset/statefulset_test.go
Labels: activegate

#582 Maps EEC/StatsD-related annotations to the EEC and data sources runtime properties
  src/api/v1beta1/feature_flags.go
  src/api/v1beta1/internal_operator_flags.go
  src/api/v1beta1/internal_operator_flags_test.go
  src/controllers/activegate/capability/capability.go
  src/controllers/activegate/capability/capability_test.go
  src/controllers/activegate/reconciler/capability/eec_runtime_config.go
  src/controllers/activegate/reconciler/capability/eec_runtime_config_test.go
  src/controllers/activegate/reconciler/capability/reconciler.go
  src/controllers/activegate/reconciler/capability/reconciler_eec_runtime_config.go
  src/controllers/activegate/reconciler/statefulset/container_eec.go
  src/controllers/activegate/reconciler/statefulset/container_eec_test.go
  src/kubeobjects/map.go
  src/kubeobjects/object.go
Labels: activegate

#544 Raw ActiveGate image support
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/openshift/openshift-all.yaml
  src/api/v1alpha1/dynakube_types.go
  src/api/v1alpha1/zz_generated.deepcopy.go
  src/api/v1beta1/dynakube_status.go
  src/api/v1beta1/dynakube_types.go
  src/api/v1beta1/properties.go
  src/api/v1beta1/zz_generated.deepcopy.go
  src/controllers/activegate/reconciler/automaticapimonitoring/reconciler.go
  src/controllers/activegate/reconciler/statefulset/statefulset.go
  src/controllers/activegate/reconciler/statefulset/statefulset_test.go
  src/controllers/dynakube/activegate/config.go
  src/controllers/dynakube/activegate/reconciler.go
  src/controllers/dynakube/dynakube_controller.go
  src/controllers/dynakube/dynakube_controller_test.go
  src/controllers/dynakube/status/status_test.go
  src/dtclient/activegate_tenant_info.go
  src/dtclient/activegate_tenant_info_test.go
  src/dtclient/agent_tenant_info.go
  src/dtclient/agent_tenant_info_test.go
  src/dtclient/agent_version_test.go
  src/dtclient/client.go
  src/dtclient/client_test.go
  src/dtclient/common_tenant_info_test.go
  src/dtclient/communication_hosts.go
  src/dtclient/dynatrace_client_test.go
  src/dtclient/endpoints.go
  src/dtclient/mock_client.go
  src/dtclient/send_event_test.go
  src/dtclient/tenant_info.go
  src/dtclient/tenant_test.go
  src/kubeobjects/secret.go
  src/kubeobjects/slice.go
  src/kubeobjects/volumes.go
Labels: activegate

#593 Defines constants for environment variables in EEC/StatsD containers
  src/controllers/activegate/reconciler/statefulset/container_eec.go
  src/controllers/activegate/reconciler/statefulset/container_eec_test.go
  src/controllers/activegate/reconciler/statefulset/container_statsd.go
  src/controllers/activegate/reconciler/statefulset/container_statsd_test.go
Labels: activegate

#594 Includes DT_STATSD_INGEST_URL in the endpoint.properties file injected to pods
  src/controllers/activegate/capability/config.go
  src/controllers/activegate/reconciler/capability/reconciler.go
  src/controllers/activegate/reconciler/capability/reconciler_test.go
  src/controllers/activegate/reconciler/capability/service.go
  src/controllers/activegate/reconciler/capability/service_test.go
  src/controllers/activegate/reconciler/statefulset/container_eec.go
  src/controllers/activegate/reconciler/statefulset/container_statsd.go
  src/controllers/activegate/reconciler/statefulset/container_statsd_test.go
  src/controllers/activegate/reconciler/statefulset/statefulset.go
  src/controllers/activegate/reconciler/statefulset/statefulset_test.go
  src/ingestendpoint/secret.go
  src/ingestendpoint/secret_test.go
Labels: activegate

#599 Fix CSI driver daemonset
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/openshift/openshift-all.yaml
  config/helm/chart/default/templates/Common/csi/daemonset.yaml
  config/helm/chart/default/templates/Common/csi/role-csi.yaml
Labels: bug

#595 Set terminationGracePeriod for oneagent pods
  src/controllers/dynakube/oneagent/daemonset/daemonset.go
Labels: oneagent

#580 Adds security context to the operator/webhook
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/openshift/openshift-all.yaml
  config/helm/chart/default/templates/Common/operator/deployment-operator.yaml
  config/helm/chart/default/templates/Common/webhook/deployment-webhook.yaml
  config/helm/chart/default/tests/Common/operator/deployment-operator_test.yaml
  config/helm/chart/default/tests/Common/webhook/deployment-webhook_test.yaml
Labels: security

#598 Adds a simple pull request template
  .github/pull_request_template.md
Labels: minor

#585 Makes readonly oneagent host volume the default
  config/helm/chart/default/templates/Common/customresource-dynakube.yaml
  config/helm/chart/default/templates/_helpers.tpl
  config/helm/chart/default/values.yaml
  src/api/v1beta1/feature_flags.go
  src/api/v1beta1/properties.go
  src/controllers/csi/driver/server.go
  src/controllers/csi/driver/volumes/host/publisher.go
  src/controllers/csi/driver/volumes/host/publisher_test.go
  src/controllers/csi/metadata/fakes.go
  src/controllers/csi/metadata/metadata.go
  src/controllers/csi/metadata/sqlite.go
  src/controllers/csi/metadata/sqlite_test.go
  src/controllers/dynakube/oneagent/daemonset/daemonset.go
  src/controllers/dynakube/oneagent/daemonset/env_vars.go
  src/controllers/dynakube/oneagent/daemonset/volumes.go
  src/controllers/dynakube/oneagent/daemonset/volumes_test.go
  src/webhook/validation/csi_daemonset_test.go
  src/webhook/validation/oneagent_test.go
Labels: enhancement
