Repository Dynatrace/dynatrace-operator, pull requests merged in 2023-04, with the labels that each got.

#1667 Auto-detects platform for helm install
  config/helm/chart/default/templates/Common/csi/daemonset.yaml
  config/helm/chart/default/templates/Common/oneagent/serviceaccount-oneagent-privileged.yaml
  config/helm/chart/default/templates/Common/oneagent/serviceaccount-oneagent-unprivileged.yaml
  config/helm/chart/default/templates/Common/operator/deployment-operator.yaml
  config/helm/chart/default/templates/Common/operator/serviceaccount-operator.yaml
  config/helm/chart/default/templates/Common/webhook/deployment-webhook.yaml
  config/helm/chart/default/templates/Common/webhook/serviceaccount-webhook.yaml
  config/helm/chart/default/templates/Openshift/activegate/securitycontextconstraints.yaml
  config/helm/chart/default/templates/Openshift/csi/securitycontextconstraints-csidriver.yaml
  config/helm/chart/default/templates/Openshift/oneagent/securitycontextconstraints-privileged.yaml
  config/helm/chart/default/templates/Openshift/oneagent/securitycontextconstraints-unprivileged.yaml
  config/helm/chart/default/templates/Openshift/operator/securitycontextconstraints.yaml
  config/helm/chart/default/templates/Openshift/webhook/securitycontextconstraints.yaml
  config/helm/chart/default/templates/_helpers.tpl
  config/helm/chart/default/templates/_platform.tpl
  config/helm/chart/default/templates/application.yaml
  config/helm/chart/default/tests/Common/oneagent/serviceaccount-oneagent-unprivileged_test.yaml
  config/helm/chart/default/tests/Common/operator/serviceaccount-operator_test.yaml
  config/helm/chart/default/tests/Common/webhook/serviceaccount-webhook_test.yaml
  config/helm/chart/default/values.yaml
Labels: helm

#1618 Check network cut off works in e2e tests
  hack/make/tests/e2e.mk
  test/helpers/proxy/proxy.go
  test/helpers/sampleapps/curl.go
  test/scenarios/activegate/installation.go
  test/scenarios/cloudnative/network_problems.go
  test/scenarios/cloudnative/proxy/proxy.go
  test/testdata/network/dynatrace-kube-system-approval.yaml
  test/testdata/network/dynatrace-openshift-approval.yaml
  test/testdata/network/proxy-approval.yaml
Labels: test

#1677 Add check for poddisruptionbudget
  config/helm/chart/default/Chart.yaml
  config/helm/chart/default/templates/Common/webhook/poddisruptionbudget-webhook.yaml
Labels: helm

#1685 Reworks OneAgentCanConnect() check
  test/helpers/components/oneagent/connection.go
  test/helpers/steps/assess/dynakube.go
Labels: test

#1688 Update dependencies on release-0.11
  .github/workflows/codeql-analysis.yaml
  .github/workflows/openssf-scorecards.yaml
  Dockerfile
  go.mod
  go.sum
Labels: cherrypick, dependencies

#1689 Adds downgrade check for the public registry
  src/controllers/dynakube/version/activegate.go
  src/controllers/dynakube/version/codemodules.go
  src/controllers/dynakube/version/oneagent.go
  src/controllers/dynakube/version/oneagent_test.go
  src/controllers/dynakube/version/synthetic.go
  src/controllers/dynakube/version/updater.go
  src/controllers/dynakube/version/updater_test.go
Labels: bug

#1703 Adds downgrade check for the public registry (#1688)
  src/controllers/dynakube/version/activegate.go
  src/controllers/dynakube/version/codemodules.go
  src/controllers/dynakube/version/oneagent.go
  src/controllers/dynakube/version/oneagent_test.go
  src/controllers/dynakube/version/synthetic.go
  src/controllers/dynakube/version/updater.go
  src/controllers/dynakube/version/updater_test.go
Labels: bug

#1704 Bump dependencies for release-0.11 branch
  .github/actions/sign-image/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/openssf-scorecards.yaml
  .github/workflows/publish-images.yaml
  go.mod
  go.sum
Labels: cherrypick, dependencies

#1690 Run uninstall.sh script after classic e2e test
  hack/make/tests/e2e.mk
  test/helpers/components/csi/daemonset.go
  test/helpers/components/oneagent/daemonset.go
  test/helpers/steps/teardown/operator.go
  test/scenarios/cloudnative/codemodules.go
  test/testdata/oneagent/uninstall-oneagent.yaml
Labels: test

#1705 Update image tags in Dockerfile to use tag and digest
  Dockerfile
Labels: dependencies

#1708 Add digest to image signing
  .github/actions/sign-image/action.yaml
  .github/workflows/publish-images.yaml
  hack/build/ci/get-image-digest.sh
Labels: ci

#1707 Adds default limits for the injected init-container
  src/api/v1beta1/oneagent_types.go
  src/api/v1beta1/properties.go
  src/api/v1beta1/zz_generated.deepcopy.go
  src/cmd/troubleshoot/dynakube_test.go
  src/webhook/mutation/pod_mutator/init_container.go
  src/webhook/mutation/pod_mutator/init_container_test.go
  src/webhook/mutation/pod_mutator/pod_mutator_test.go
Labels: core

#1711 Make cert secret owned by the webhook deployment
  src/controllers/certificates/webhook_cert_controller.go
  src/controllers/certificates/webhook_cert_controller_test.go
Labels: bug

#1712 Make cert secret owned by the webhook deployment (#1711)
  src/controllers/certificates/webhook_cert_controller.go
  src/controllers/certificates/webhook_cert_controller_test.go
Labels: cherrypick

#1718 Add safety check to prevent snapshot push from make command
  hack/make/images.mk
Labels: ci

#1719 Fix disappearing init container incase of nil resources
  src/webhook/mutation/pod_mutator/init_container.go
  src/webhook/mutation/pod_mutator/init_container_test.go
Labels: bug

#1722 Adds readonly csi feature-flag + related webhook changes
  src/api/v1beta1/feature_flags.go
  src/config/agent_injection.go
  src/kubeobjects/volumes.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/config.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/containers.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/containers_test.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/env.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/env_test.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/mutator.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/mutator_test.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/volumes.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/volumes_test.go
  src/webhook/validation/config.go
  src/webhook/validation/csi_daemonset.go
  src/webhook/validation/csi_daemonset_test.go
Labels: core

#1691 Cache OneAgent and ActiveGate connection info in Dynakube status
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  src/api/v1beta1/dynakube_status.go
  src/api/v1beta1/properties.go
  src/api/v1beta1/properties_test.go
  src/api/v1beta1/zz_generated.deepcopy.go
  src/controllers/csi/provisioner/controller.go
  src/controllers/csi/provisioner/controller_test.go
  src/controllers/dynakube/activegate/config.go
  src/controllers/dynakube/activegate/reconciler.go
  src/controllers/dynakube/activegate/reconciler_test.go
  src/controllers/dynakube/connectioninfo/communication_hosts.go
  src/controllers/dynakube/connectioninfo/communication_hosts_test.go
  src/controllers/dynakube/connectioninfo/config.go
  src/controllers/dynakube/connectioninfo/reconciler.go
  src/controllers/dynakube/connectioninfo/reconciler_test.go
  src/controllers/dynakube/dynakube_controller.go
  src/controllers/dynakube/dynakube_controller_test.go
  src/controllers/dynakube/oneagent/daemonset/env_vars.go
  src/controllers/dynakube/oneagent/oneagent_reconciler.go
  src/controllers/dynakube/oneagent/oneagent_reconciler_test.go
  src/dtclient/client.go
  src/dtclient/connection_info.go
  src/dtclient/connection_info_test.go
  src/dtclient/mock_client.go
  src/dtclient/processmoduleconfig.go
Labels: core

#1737 Copies agent configs from readonly csi volume to emptyDir using standalone init
  src/standalone/copy.go
  src/standalone/copy_test.go
  src/standalone/env.go
  src/standalone/env_test.go
  src/standalone/files.go
  src/standalone/run.go
  src/standalone/run_test.go
  src/standalone/secret.go
  src/standalone/secret_test.go
Labels: core

#1720 Add platform detection to makefile and e2e tests
  Makefile
  hack/make/deploy/helm.mk
  hack/make/deploy/kubernetes.mk
  hack/make/deploy/openshift.mk
  test/helpers/components/operator/installation.go
  test/helpers/steps/assess/operator.go
Labels: test

#1741 Revert digest usage for tenant-registry images
  src/controllers/dynakube/activegate/internal/statefulset/statefulset.go
  src/controllers/dynakube/dynakube_controller.go
  src/controllers/dynakube/dynakube_controller_test.go
  src/controllers/dynakube/version/activegate.go
  src/controllers/dynakube/version/activegate_test.go
  src/controllers/dynakube/version/codemodules.go
  src/controllers/dynakube/version/codemodules_test.go
  src/controllers/dynakube/version/image_hash.go
  src/controllers/dynakube/version/image_hash_test.go
  src/controllers/dynakube/version/oneagent.go
  src/controllers/dynakube/version/oneagent_test.go
  src/controllers/dynakube/version/reconciler.go
  src/controllers/dynakube/version/reconciler_test.go
  src/controllers/dynakube/version/synthetic.go
  src/controllers/dynakube/version/synthetic_test.go
  src/controllers/dynakube/version/updater.go
  src/controllers/dynakube/version/updater_test.go
Labels: bug

#1743 Adds additional check for custom fields during version status creation
  src/controllers/dynakube/version/reconciler.go
  src/controllers/dynakube/version/reconciler_test.go
Labels: bug

#1744 Revert digest usage for tenant-registry images (#1741)
  src/controllers/dynakube/activegate/internal/statefulset/statefulset.go
  src/controllers/dynakube/dynakube_controller.go
  src/controllers/dynakube/dynakube_controller_test.go
  src/controllers/dynakube/version/activegate.go
  src/controllers/dynakube/version/activegate_test.go
  src/controllers/dynakube/version/codemodules.go
  src/controllers/dynakube/version/codemodules_test.go
  src/controllers/dynakube/version/image_hash.go
  src/controllers/dynakube/version/image_hash_test.go
  src/controllers/dynakube/version/oneagent.go
  src/controllers/dynakube/version/oneagent_test.go
  src/controllers/dynakube/version/reconciler.go
  src/controllers/dynakube/version/reconciler_test.go
  src/controllers/dynakube/version/synthetic.go
  src/controllers/dynakube/version/synthetic_test.go
  src/controllers/dynakube/version/updater.go
  src/controllers/dynakube/version/updater_test.go
Labels: cherrypick

#1749 Revert "Adds additional check for custom fields" on release-0.11 branch
  src/controllers/dynakube/version/reconciler.go
  src/controllers/dynakube/version/reconciler_test.go
Labels: cherrypick

#1752 [do-not-merge] Adapt helm files for release version 0.11.1
  config/helm/repos/stable/dynatrace-operator-0.11.1.tgz
  config/helm/repos/stable/dynatrace-operator-0.11.1.tgz.prov
  config/helm/repos/stable/index.yaml
  config/helm/repos/stable/index.yaml.previous
Labels: do-not-merge
