Repository Dynatrace/dynatrace-operator, pull requests merged in 2023-01, with the labels that each got.

#1406 Moves deploymentmetadata to configmap
  src/cmd/operator/manager_test.go
  src/controllers/dynakube/activegate/consts/consts.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/builder_test.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/rawimage.go
  src/controllers/dynakube/activegate/internal/statefulset/statefulset.go
  src/controllers/dynakube/activegate/internal/statefulset/statefulset_test.go
  src/controllers/dynakube/connectioninfo/config.go
  src/controllers/dynakube/deploymentmetadata/config.go
  src/controllers/dynakube/deploymentmetadata/deploymentmetadata.go
  src/controllers/dynakube/deploymentmetadata/deploymentmetadata_test.go
  src/controllers/dynakube/deploymentmetadata/reconciler.go
  src/controllers/dynakube/deploymentmetadata/reconciler_test.go
  src/controllers/dynakube/dynakube_controller.go
  src/controllers/dynakube/oneagent/daemonset/arguments.go
  src/controllers/dynakube/oneagent/daemonset/arguments_test.go
  src/controllers/dynakube/oneagent/daemonset/daemonset.go
  src/controllers/dynakube/oneagent/daemonset/daemonset_test.go
  src/controllers/dynakube/oneagent/daemonset/env_vars.go
  src/controllers/dynakube/oneagent/daemonset/env_vars_test.go
  src/controllers/dynakube/oneagent/daemonset/volumes_test.go
  src/controllers/dynakube/oneagent/oneagent_reconciler.go
  src/controllers/dynakube/oneagent/oneagent_reconciler_test.go
  src/deploymentmetadata/deploymentmetadata.go
  src/kubeobjects/configmap.go
  src/kubeobjects/configmap_test.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/env.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/env_test.go
Labels: core

#1438 Update `CONTAINERS_COUNT` environment variable if sidecar container was added by another mutating webhook
  src/kubeobjects/container.go
  src/kubeobjects/env.go
  src/kubeobjects/env_test.go
  src/kubeobjects/pod.go
  src/webhook/mutation/pod_mutator/dataingest_mutation/mutator.go
  src/webhook/mutation/pod_mutator/init_container.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/containers.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/containers_test.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/mutator.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/mutator_test.go
  src/webhook/mutation/pod_mutator/pod_mutator.go
  src/webhook/mutator.go
Labels: core

#1437 Improve performance of namespace secret generation
  config/helm/chart/default/templates/Common/operator/clusterrole-operator.yaml
  hack/make/go.mk
  src/ingestendpoint/secret.go
  src/initgeneration/initgeneration.go
  src/kubeobjects/configmap_test.go
  src/kubeobjects/daemonset_test.go
  src/kubeobjects/query_test.go
  src/kubeobjects/secret.go
  src/kubeobjects/secret_test.go
Labels: core

#1439 Adds support for official codemodules image
  src/controllers/csi/metadata/path_resolver.go
  src/installer/zip/extractor.go
  src/installer/zip/gzip.go
  src/installer/zip/zip.go
Labels: bug

#1440 Remove platform suffix from RHCC release image
  .github/actions/preflight/action.yaml
  .github/actions/upload-image/action.yaml
  .github/workflows/publish-images.yaml
  hack/build/ci/preflight.sh
  hack/build/ci/upload-docker-image.sh
Labels: ci

#1443 Use chart version in `application.yaml`
  config/helm/chart/default/templates/application.yaml
Labels: helm

#1447 Update registrar/livenessprobe to `v2.7.0`/`v2.9.0`
  Dockerfile
Labels: dependencies

#1446 Remove install.sh script
  deploy/install.sh
Labels: documentation

#1444 Use chart version in `application.yaml` (#1443)
  config/helm/chart/default/templates/application.yaml
Labels: cherrypick

#1450 [0.10] Update registrar/livenessprobe to `v2.7.0`/`v2.9.0` (#1447)
  Dockerfile
Labels: cherrypick

#1449 [0.10] Remove platform suffix from RHCC release image (#1440)
  .github/actions/preflight/action.yaml
  .github/actions/upload-image/action.yaml
  .github/workflows/publish-images.yaml
  hack/build/ci/preflight.sh
  hack/build/ci/upload-docker-image.sh
Labels: cherrypick

#1451 Fix sqlite library version
  .gitignore
  go.mod
  go.sum
Labels: dependencies

#1445 [0.9] Backport fixes to release branch
  .github/actions/preflight/action.yaml
  .github/actions/upload-image/action.yaml
  .github/workflows/publish-images.yaml
  Dockerfile
  go.mod
  go.sum
  hack/build/ci/preflight.sh
  hack/build/ci/upload-docker-image.sh
  src/controllers/csi/driver/volumes/app/publisher.go
  src/controllers/csi/driver/volumes/app/publisher_test.go
  src/controllers/csi/gc/controller.go
  src/controllers/csi/provisioner/controller.go
  src/controllers/csi/provisioner/controller_test.go
Labels: cherrypick

#1454 Fixes some wording and typos in the samples
  assets/samples/applicationMonitoring.yaml
  assets/samples/classicFullStack.yaml
  assets/samples/cloudNativeFullStack.yaml
  assets/samples/hostMonitoring.yaml
Labels: documentation

#1425 Adds K8S object collection to support archive.
  src/cmd/support_archive/builder.go
  src/cmd/support_archive/config.go
  src/cmd/support_archive/logs_test.go
  src/cmd/support_archive/resource_query.go
  src/cmd/support_archive/resource_query_test.go
  src/cmd/support_archive/resources.go
  src/cmd/support_archive/resources_test.go
  src/mocks/sigs.k8s.io/controller-runtime/pkg/client/reader.go
Labels: core

#1459 Release helm v0.9.2
  config/helm/repos/stable/dynatrace-operator-0.9.2.tgz
  config/helm/repos/stable/dynatrace-operator-0.9.2.tgz.prov
  config/helm/repos/stable/index.yaml
  config/helm/repos/stable/index.yaml.previous
Labels: helm, do-not-merge

#1433 Fixes bug which shows unset codeModules image as error
  src/cmd/troubleshoot/component.go
  src/cmd/troubleshoot/image.go
  src/cmd/troubleshoot/image_test.go
Labels: bug

#1462 Removes buggy make bundle targets
  hack/make/bundle.mk
Labels: bug

#1448 Add token scope check for `apiToken` to troubleshoot command
  src/cmd/troubleshoot/builder.go
  src/cmd/troubleshoot/checks.go
  src/cmd/troubleshoot/connection.go
  src/cmd/troubleshoot/context.go
  src/cmd/troubleshoot/dynakube.go
  src/cmd/troubleshoot/dynakube_test.go
Labels: troubleshoot

#1461 E2E test for support archive K8s object collection.
  hack/make/tests/e2e.mk
  test/csi/daemonset.go
  test/kubeobjects/replicaset/list.go
  test/kubeobjects/service/list.go
  test/operator/deployment.go
  test/operator/pods.go
  test/scenarios/support_archive/support_archive_test.go
  test/webhook/deployment.go
Labels: test

#1466 Adapt helm files on release branch for 0.10.2
  config/helm/repos/stable/dynatrace-operator-0.9.2.tgz
  config/helm/repos/stable/dynatrace-operator-0.9.2.tgz.prov
  config/helm/repos/stable/index.yaml
  config/helm/repos/stable/index.yaml.previous
Labels: helm

#1468 [do-not-merge] Adapt helm files for release version 0.10.2
  config/helm/repos/stable/dynatrace-operator-0.10.2.tgz
  config/helm/repos/stable/dynatrace-operator-0.10.2.tgz.prov
  config/helm/repos/stable/index.yaml
  config/helm/repos/stable/index.yaml.previous
Labels: do-not-merge

#1460 Move to glibc go build
  Dockerfile
Labels: core

#1469 Move to leases based leader election, + make it more configurable
  src/cmd/operator/manager.go
Labels: core

#1477 Fixed log.Info function call arguments
  src/ingestendpoint/secret.go
Labels: bug

#1478 Add SecurityContextConstraint for ActiveGate with read-only root filesystem
  config/helm/chart/default/templates/Openshift/activegate/securitycontextconstraints.yaml
Labels: bug

#1479 Removes creation of StatsD (and consequently EEC) containers in ActiveGate pods
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/openshift/openshift-all.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  src/api/v1beta1/activegate_types.go
  src/api/v1beta1/dynakube_status.go
  src/api/v1beta1/feature_flags.go
  src/api/v1beta1/feature_flags_resources.go
  src/api/v1beta1/feature_flags_resources_test.go
  src/api/v1beta1/properties.go
  src/api/v1beta1/zz_generated.deepcopy.go
  src/controllers/dynakube/activegate/capability/capability.go
  src/controllers/dynakube/activegate/consts/consts.go
  src/controllers/dynakube/activegate/internal/capability/eec_runtime_config.go
  src/controllers/dynakube/activegate/internal/capability/eec_runtime_config_test.go
  src/controllers/dynakube/activegate/internal/capability/reconciler.go
  src/controllers/dynakube/activegate/internal/capability/reconciler_eec_runtime_config.go
  src/controllers/dynakube/activegate/internal/capability/service.go
  src/controllers/dynakube/activegate/internal/capability/service_test.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/config.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/eec.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/eec_test.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/statsd.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/statsd_test.go
  src/controllers/dynakube/activegate/reconciler_test.go
  src/controllers/dynakube/version/version.go
  src/controllers/dynakube/version/version_test.go
  src/ingestendpoint/secret.go
  src/ingestendpoint/secret_test.go
  src/webhook/validation/config.go
  src/webhook/validation/preview.go
  test/dynakube/dynakube.go
  test/scenarios/activegate/installation.go
Labels: activegate

#1482 Updates Dockerfile samples to match official images
  assets/docker/codeModulesAMD.Dockerfile
  assets/docker/codeModulesARM.Dockerfile
Labels: documentation

#1483 Fix error logging on dynakube reconicliation
  src/controllers/dynakube/dynakube_controller.go
Labels: bug

#1498 Fix support lifecycle documentation
  README.md
Labels: documentation

#1497 Fix failing RHCC image preflight scan upload
  hack/build/ci/preflight.sh
Labels: ci

#1493 Installs operator in e2e tests via make
  hack/make/deploy/kubernetes.mk
  hack/make/deploy/openshift.mk
  test/operator/installation.go
  test/scenarios/activegate/installation.go
  test/scenarios/applicationmonitoring/dataingest.go
  test/scenarios/applicationmonitoring/labelversiondetection.go
  test/scenarios/cloudnative/network_problems.go
  test/setup/setup.go
Labels: test

#1500 Update default branch to main
  .github/pull_request_template.md
  .github/workflows/ci.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/openssf-scorecards.yaml
  config/helm/chart/default/README.md
  hack/make/images.mk
  hack/make/manifests/config.mk
  hack/make/manifests/kubernetes.mk
  hack/make/manifests/manifests.mk
  hack/make/manifests/openshift.mk
  hack/troubleshoot/README.md
Labels: documentation

#1503 Removes unnecessary step in the e2e operator installation
  test/operator/installation.go
Labels: bug

#1505 Fixes the image tag creation logic to work with main
  hack/build/ci/prepare-build-variables.sh
Labels: bug

#1495 Add runAsUser/runAsGroup fields to ActiveGate SecurityContext
  config/helm/chart/default/templates/Openshift/activegate/securitycontextconstraints.yaml
  src/controllers/dynakube/activegate/consts/consts.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/kubemon.go
  src/controllers/dynakube/activegate/internal/statefulset/statefulset.go
  src/controllers/dynakube/activegate/internal/statefulset/statefulset_test.go
Labels: activegate, security

#1501 Makes image build faster for local envs
  .dockerignore
  .github/actions/build-image/action.yaml
  Dockerfile
  hack/build/ci/third-party-licenses.sh
  hack/build/push_image.sh
Labels: core

#1504 Collect dynakube manifests
  src/cmd/support_archive/resource_query.go
  src/cmd/support_archive/resources_test.go
  test/scenarios/support_archive/support_archive_test.go
Labels: bug, troubleshoot

#1508 Refactor how the images work in the makefile and related scripts
  .gitignore
  Makefile
  config/deploy/kubernetes/kubernetes-all.yaml
  config/deploy/openshift/openshift-all.yaml
  hack/build/build_image.sh
  hack/build/push_image.sh
  hack/helm/install-unittest-plugin.sh
  hack/kuttl/activegate/create-dynakube-base.sh
  hack/kuttl/activegate/wait-for.sh
  hack/kuttl/create-secrets.sh
  hack/kuttl/oneagent/create-dynakube-base.sh
  hack/make/bundle.mk
  hack/make/deploy/kubernetes.mk
  hack/make/deploy/openshift.mk
  hack/make/go.mk
  hack/make/images.mk
  hack/make/manifests/config.mk
  hack/make/manifests/crd.mk
  hack/make/manifests/kubernetes.mk
  hack/make/manifests/manifests.mk
  hack/make/manifests/openshift.mk
  hack/make/tests/e2e.mk
  hack/make/tests/helm.mk
  test/operator/installation.go
Labels: core

#1512 Skip unnecessary requests to tenant within 15 min window
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  hack/make/manifests/manifests.mk
  src/api/v1alpha1/zz_generated.deepcopy.go
  src/api/v1beta1/dynakube_status.go
  src/api/v1beta1/dynakube_status_test.go
  src/api/v1beta1/zz_generated.deepcopy.go
  src/controllers/dynakube/activegate/internal/authtoken/reconciler.go
  src/controllers/dynakube/connectioninfo/reconciler.go
  src/controllers/dynakube/connectioninfo/reconciler_test.go
  src/controllers/dynakube/dynatraceclient/builder.go
  src/controllers/dynakube/oneagent/oneagent_reconciler.go
Labels: core

#1511 Adds run all e2e command/script + ENFORCE_ISTIO
  hack/e2e/run_all.sh
  hack/make/tests/e2e.mk
  test/istiosetup/install.go
Labels: ci
