Repository Dynatrace/dynatrace-operator, pull requests merged in 2023-06, with the labels that each got.

#1827 Simplify dtclient timeout logic
  src/dtclient/activegate_auth_token.go
  src/dtclient/client.go
  src/dtclient/dynatrace_client.go
  src/dtclient/dynatrace_client_test.go
  src/dtclient/image.go
  src/dtclient/kubernetes_settings.go
Labels: bug

#1835 Fix the race condition of multiple dynakubes configured with and without a proxy
  src/controllers/dynakube/activegate/capability/capability.go
  src/controllers/dynakube/activegate/capability/capability_test.go
  src/controllers/dynakube/activegate/internal/proxy/reconciler.go
  src/controllers/dynakube/activegate/internal/proxy/reconciler_test.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/proxy.go
  src/controllers/dynakube/activegate/reconciler_test.go
  src/controllers/dynakube/dynakube_controller_test.go
Labels: bug

#1830 Fix dynakube sample image and version fields by setting empty string
  assets/samples/classicFullStack.yaml
  assets/samples/cloudNativeFullStack.yaml
  assets/samples/hostMonitoring.yaml
Labels: documentation

#1836 Add extra check for secret creation during pod mutation
  src/webhook/mutation/pod_mutator/dataingest_mutation/mutator.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/mutator.go
  src/webhook/mutation/pod_mutator/pod_mutator.go
Labels: bug

#1838 Remove custom Security Context Constraints
  config/helm/chart/default/templates/Common/activegate/clusterrole-activegate.yaml
  config/helm/chart/default/templates/Common/activegate/clusterrolebinding-activegate.yaml
  config/helm/chart/default/templates/Common/csi/clusterrole-csi.yaml
  config/helm/chart/default/templates/Common/csi/clusterrolebinding-csi.yaml
  config/helm/chart/default/templates/Common/csi/role-csi.yaml
  config/helm/chart/default/templates/Common/csi/rolebinding-csi.yaml
  config/helm/chart/default/templates/Common/kubernetes-monitoring/clusterrole-kubernetes-monitoring.yaml
  config/helm/chart/default/templates/Common/kubernetes-monitoring/clusterrolebinding-kubernetes-monitoring.yaml
  config/helm/chart/default/templates/Common/oneagent/clusterrole-oneagent-privileged.yaml
  config/helm/chart/default/templates/Common/oneagent/clusterrole-oneagent-unprivileged.yaml
  config/helm/chart/default/templates/Common/oneagent/clusterrolebinding-oneagent-privileged.yaml
  config/helm/chart/default/templates/Common/oneagent/clusterrolebinding-oneagent-unprivileged.yaml
  config/helm/chart/default/templates/Common/operator/clusterrole-operator.yaml
  config/helm/chart/default/templates/Common/operator/clusterrolebinding-operator.yaml
  config/helm/chart/default/templates/Common/operator/role-operator.yaml
  config/helm/chart/default/templates/Common/operator/rolebinding-operator.yaml
  config/helm/chart/default/templates/Common/webhook/clusterrole-webhook.yaml
  config/helm/chart/default/templates/Common/webhook/clusterrolebinding-webhook.yaml
  config/helm/chart/default/templates/Common/webhook/role-webhook.yaml
  config/helm/chart/default/templates/Common/webhook/rolebinding-webhook.yaml
  config/helm/chart/default/templates/Openshift/activegate/securitycontextconstraints.yaml
  config/helm/chart/default/templates/Openshift/csi/securitycontextconstraints-csidriver.yaml
  config/helm/chart/default/templates/Openshift/oneagent/securitycontextconstraints-privileged.yaml
  config/helm/chart/default/templates/Openshift/oneagent/securitycontextconstraints-unprivileged.yaml
  config/helm/chart/default/templates/Openshift/operator/securitycontextconstraints.yaml
  config/helm/chart/default/templates/Openshift/webhook/securitycontextconstraints.yaml
  config/helm/chart/default/tests/Common/csi/clusterrole-csi_test.yaml
  config/helm/chart/default/tests/Common/csi/clusterrolebinding-csi_test.yaml
  config/helm/chart/default/tests/Common/csi/role-csi_test.yaml
  config/helm/chart/default/tests/Common/csi/rolebinding-csi_test.yaml
  config/helm/chart/default/tests/Common/kubernetes-monitoring/clusterrole-kubernetes-monitoring_test.yaml
  config/helm/chart/default/tests/Common/kubernetes-monitoring/clusterrolebinding-kubernetes-monitoring_test.yaml
  config/helm/chart/default/tests/Common/oneagent/clusterrole-oneagent-privileged_test.yaml
  config/helm/chart/default/tests/Common/oneagent/clusterrole-oneagent-unprivileged_test.yaml
  config/helm/chart/default/tests/Common/operator/clusterrole-operator_test.yaml
  config/helm/chart/default/tests/Common/operator/clusterrolebinding-operator_test.yaml
  config/helm/chart/default/tests/Common/operator/role-operator_test.yaml
  config/helm/chart/default/tests/Common/operator/rolebinding-operator_test.yaml
  config/helm/chart/default/tests/Common/webhook/clusterrole-webhook_test.yaml
  config/helm/chart/default/tests/Common/webhook/clusterrolebinding-webhook_test.yaml
  config/helm/chart/default/tests/Common/webhook/role-webhook_test.yaml
  config/helm/chart/default/tests/Common/webhook/rolebinding-webhook_test.yaml
  config/helm/chart/default/tests/Openshift/oneagent/securitycontextconstraints-unprivileged_test.yaml
Labels: core

#1841 Overwrite the tenantUUID in the ruxitagentproc.conf
  src/controllers/csi/provisioner/controller.go
  src/dtclient/processmoduleconfig.go
  src/standalone/run.go
  src/standalone/run_test.go
Labels: bug

#1851 Add ppc64le to image manifest on release
  hack/build/ci/create-manifest.sh
Labels: ci

#1842 Fix trustedCA handling for image registries
  src/controllers/csi/provisioner/agent_test.go
  src/dockerconfig/docker_config.go
  src/dockerconfig/docker_config_test.go
Labels: bug

#1853 Fix trustedCA handling for image registries
  src/controllers/csi/provisioner/agent_test.go
  src/dockerconfig/docker_config.go
  src/dockerconfig/docker_config_test.go
Labels: cherrypick

#1856 Update dependencies for 0.12 release
  .github/actions/build-image/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/openssf-scorecards.yaml
  .github/workflows/publish-images.yaml
  Dockerfile
  go.mod
  go.sum
Labels: cherrypick

#1866 Update dependencies for 0.12 release branch
  .github/actions/build-image/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/openssf-scorecards.yaml
  .github/workflows/publish-images.yaml
  go.mod
  go.sum
Labels: dependencies

#1867 Removes openshiftOrOlm check in helm manifests
  config/helm/chart/default/templates/Common/activegate/clusterrole-activegate.yaml
  config/helm/chart/default/templates/Common/csi/clusterrole-csi.yaml
  config/helm/chart/default/templates/Common/csi/csidriver.yaml
  config/helm/chart/default/templates/Common/kubernetes-monitoring/clusterrole-kubernetes-monitoring.yaml
  config/helm/chart/default/templates/Common/oneagent/clusterrole-oneagent-privileged.yaml
  config/helm/chart/default/templates/Common/oneagent/clusterrole-oneagent-unprivileged.yaml
  config/helm/chart/default/templates/Common/operator/clusterrole-operator.yaml
  config/helm/chart/default/templates/Common/webhook/clusterrole-webhook.yaml
  config/helm/chart/default/templates/_platform.tpl
  hack/make/manifests/kubernetes.mk
  hack/make/manifests/openshift.mk
Labels: helm

#1868 Removes openshiftOrOlm check in helm manifests
  config/helm/chart/default/templates/Common/activegate/clusterrole-activegate.yaml
  config/helm/chart/default/templates/Common/csi/clusterrole-csi.yaml
  config/helm/chart/default/templates/Common/csi/csidriver.yaml
  config/helm/chart/default/templates/Common/kubernetes-monitoring/clusterrole-kubernetes-monitoring.yaml
  config/helm/chart/default/templates/Common/oneagent/clusterrole-oneagent-privileged.yaml
  config/helm/chart/default/templates/Common/oneagent/clusterrole-oneagent-unprivileged.yaml
  config/helm/chart/default/templates/Common/operator/clusterrole-operator.yaml
  config/helm/chart/default/templates/Common/webhook/clusterrole-webhook.yaml
  config/helm/chart/default/templates/_platform.tpl
  hack/make/manifests/kubernetes.mk
  hack/make/manifests/openshift.mk
Labels: cherrypick

#1860 Standardises readiness and liveness probes in webhook and operator components
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  config/helm/chart/default/templates/Common/operator/deployment-operator.yaml
  config/helm/chart/default/templates/Common/webhook/deployment-webhook.yaml
  config/helm/chart/default/tests/Common/operator/deployment-operator_test.yaml
  config/helm/chart/default/tests/Common/webhook/deployment-webhook_test.yaml
  src/cmd/operator/manager.go
  src/cmd/operator/manager_test.go
  src/cmd/webhook/manager.go
Labels: core

#1869 Add automatic k8s cluster monitoring annotation to dynakube samples
  assets/samples/applicationMonitoring.yaml
  assets/samples/classicFullStack.yaml
  assets/samples/cloudNativeFullStack.yaml
  assets/samples/hostMonitoring.yaml
  assets/samples/multipleDynakubes.yaml
Labels: documentation

#1876 Add unique label to e2e test namespace for support archive test
  test/scenarios/support_archive/install.go
Labels: test

#1878 Add unique label to e2e test namespace for support archive test
  test/scenarios/support_archive/install.go
Labels: cherrypick

#1875 Fixed specific agent version e2e test (old version equal new version)
  src/version/semantic.go
  test/scenarios/cloudnative/specific_agent_version/specific_agent_version.go
Labels: bug, test

#1879 Fixed specific agent version e2e test (old version equal new version)
  src/version/semantic.go
  test/scenarios/cloudnative/specific_agent_version/specific_agent_version.go
Labels: cherrypick

#1881 Removed duplicated oneagent clusterrole, clusterrolebinding and serviceaccount
  config/helm/chart/default/templates/Common/oneagent/clusterrole-oneagent-privileged.yaml
  config/helm/chart/default/templates/Common/oneagent/clusterrole-oneagent.yaml
  config/helm/chart/default/templates/Common/oneagent/serviceaccount-oneagent-privileged.yaml
  config/helm/chart/default/templates/Common/oneagent/serviceaccount-oneagent.yaml
  config/helm/chart/default/tests/Common/oneagent/clusterrole-oneagent-unprivileged_test.yaml
  config/helm/chart/default/tests/Common/oneagent/clusterrole-oneagent_test.yaml
  config/helm/chart/default/tests/Common/oneagent/serviceaccount-oneagent_test.yaml
  src/controllers/dynakube/oneagent/daemonset/daemonset.go
  src/controllers/dynakube/oneagent/daemonset/daemonset_test.go
Labels: oneagent

#1884 Adds automated sbom creation and upload to publish-image step
  .github/actions/upload-sbom/action.yaml
  .github/workflows/publish-images.yaml
Labels: ci

#1887 Adds automated sbom creation and upload to publish-image step
  .github/actions/upload-sbom/action.yaml
  .github/workflows/publish-images.yaml
Labels: cherrypick

#1888 Add pre release step in github workflows
  .github/workflows/release.yaml
Labels: ci

#1901 Adds correct version comment for trivy action to release workflow
  .github/workflows/release.yaml
Labels: dependencies

#1900 Adds correct labels to topologySpreadConstraints of webhook
  config/helm/chart/default/templates/Common/webhook/deployment-webhook.yaml
  config/helm/chart/default/tests/Common/webhook/deployment-webhook_test.yaml
Labels: bug

#1903 Use pod label to filter for operator components in support archive
  src/cmd/support_archive/builder.go
  src/cmd/support_archive/builder_test.go
  src/cmd/support_archive/logs.go
  src/cmd/support_archive/logs_test.go
  src/cmd/support_archive/resource_query.go
  src/cmd/support_archive/resource_query_test.go
  src/cmd/support_archive/resources.go
  src/cmd/support_archive/resources_test.go
Labels: troubleshoot

#1906 Fixes broken link to support lifecycle in readme.md
  README.md
Labels: documentation

#1905 Updates pull request template
  .github/pull_request_template.md
Labels: documentation

#1907 Remove synthetic e2e test
  hack/make/tests/e2e.mk
  test/scenarios/synthetic/monolocation/suite.go
  test/scenarios/synthetic/monolocation/suite_test.go
Labels: test
