Repository Dynatrace/dynatrace-operator, pull requests merged in 2023-05, with the labels that each got.

#1748 Adds additional check for custom fields during version status creation (#1743)
  src/controllers/dynakube/version/reconciler.go
  src/controllers/dynakube/version/reconciler_test.go
Labels: bug

#1747 Double timeout for activeGate readinessProbe
  src/controllers/dynakube/activegate/internal/statefulset/statefulset.go
  src/controllers/dynakube/activegate/internal/statefulset/statefulset_test.go
Labels: activegate

#1757 General fixes for the e2e tests
  hack/make/tests/e2e.mk
  src/kubeobjects/platform.go
  test/helpers/components/csi/daemonset.go
  test/helpers/components/operator/installation.go
  test/helpers/kubeobjects/daemonset/get.go
  test/helpers/kubeobjects/manifests/installation.go
  test/helpers/sampleapps/base/sampleapp.go
  test/helpers/sampleapps/sampleapp.go
  test/scenarios/classic/install.go
  test/scenarios/cloudnative/basic/install.go
  test/scenarios/cloudnative/codemodules/codemodules.go
  test/scenarios/cloudnative/disabled_auto_injection/disabled_auto_injection.go
  test/scenarios/cloudnative/install.go
  test/scenarios/cloudnative/network/network_problems.go
  test/scenarios/cloudnative/specific_agent_version/specific_agent_version.go
  test/scenarios/cloudnative/upgrade/upgrade.go
Labels: test

#1759 Fixing linting after update
  src/api/v1beta1/dynakube_types.go
  src/cmd/manager/test.go
  src/cmd/support_archive/logger.go
  src/cmd/support_archive/resource_query.go
  src/cmd/troubleshoot/logger.go
  src/controllers/csi/driver/server.go
  src/controllers/csi/metadata/correctness_test.go
  src/controllers/csi/metadata/sqlite.go
  src/controllers/dynakube/istio/istio_test.go
  src/controllers/dynakube/istio/reconciler_test.go
  src/installer/image/unpack.go
  src/kubeobjects/hasher.go
  src/kubeobjects/objects.go
  src/logger/error_prettify.go
  src/logger/logger.go
  src/webhook/mutation/pod_mutator/request.go
Labels: ci

#1770 Skip pushing image and manifest when creating a PR from a fork
  .github/workflows/ci.yaml
Labels: ci

#1771 Remove injected check for classicFullstack e2e test
  test/scenarios/classic/install.go
Labels: bug

#1776 Add OCP 4.13 as supported version for OLM
  hack/build/bundle.sh
Labels: core

#1723 Adds applicationMonitoring without CSIDriver e2e test
  hack/make/tests/e2e.mk
  test/helpers/sampleapps/base/sampleapp.go
  test/helpers/sampleapps/sampleapp.go
  test/scenarios/applicationmonitoring/applicationmonitoring_test.go
  test/scenarios/applicationmonitoring/without_csi.go
Labels: test

#1777 Add OCP 4.13 as supported version for OLM
  hack/build/bundle.sh
Labels: cherrypick

#1778 Add CSI Driver label for to support OCP 4.13 PodSecurityStandards
  config/helm/chart/default/templates/Common/csi/csidriver.yaml
  config/helm/chart/default/tests/Common/csi/csidriver_test.yaml
Labels: core

#1781 Add CSI Driver label for to support OCP 4.13 PodSecurityStandards
  config/helm/chart/default/templates/Common/csi/csidriver.yaml
  config/helm/chart/default/tests/Common/csi/csidriver_test.yaml
Labels: cherrypick

#1780 Improves error for unexpected type for image ref in image installer
  src/installer/image/installer.go
Labels: cherrypick

#1779 Improves error for unexpected type for image ref in image installer
  src/installer/image/installer.go
Labels: bug

#1784 Adds feature flag to set seccomp profile for initContainer
  src/api/v1beta1/feature_flags.go
  src/webhook/mutation/pod_mutator/init_container.go
  src/webhook/mutation/pod_mutator/init_container_test.go
Labels: core

#1788 Fixes growing number of communicationHosts in Status
  src/controllers/dynakube/connectioninfo/reconciler.go
Labels: bug

#1789 Split image field for helm chart
  config/helm/chart/default/templates/_helpers.tpl
  config/helm/chart/default/tests/Common/csi/daemonset_test.yaml
  config/helm/chart/default/tests/Common/operator/deployment-operator_test.yaml
  config/helm/chart/default/tests/Common/webhook/deployment-webhook_test.yaml
  config/helm/chart/default/values.yaml
Labels: helm

#1791 Prevent update of dynakube image status incase of error during registry call
  src/api/v1beta1/dynakube_status.go
  src/controllers/dynakube/activegate/internal/authtoken/reconciler.go
  src/controllers/dynakube/dynakube_controller.go
  src/controllers/dynakube/dynakube_controller_test.go
  src/controllers/dynakube/oneagent/oneagent_reconciler_test.go
  src/controllers/dynakube/version/activegate.go
  src/controllers/dynakube/version/oneagent.go
  src/controllers/dynakube/version/synthetic.go
  src/controllers/dynakube/version/updater.go
  src/controllers/dynakube/version/updater_test.go
Labels: bug

#1792 Prevent update of dynakube image status incase of error during registry call
  src/api/v1beta1/dynakube_status.go
  src/controllers/dynakube/activegate/internal/authtoken/reconciler.go
  src/controllers/dynakube/dynakube_controller.go
  src/controllers/dynakube/dynakube_controller_test.go
  src/controllers/dynakube/oneagent/oneagent_reconciler_test.go
  src/controllers/dynakube/version/activegate.go
  src/controllers/dynakube/version/oneagent.go
  src/controllers/dynakube/version/synthetic.go
  src/controllers/dynakube/version/updater.go
  src/controllers/dynakube/version/updater_test.go
Labels: cherrypick

#1798 increases timeout of validating webhook configuration to 10s
  config/helm/chart/default/templates/Common/webhook/validatingwebhookconfiguration.yaml
Labels: core

#1803 Update link to support lifecycle documentation
  README.md
Labels: documentation

#1804 Fix scorecard action by pinning `github/codeql-action` to `2.3.3`
  .github/workflows/codeql-analysis.yaml
  .github/workflows/openssf-scorecards.yaml
Labels: bug

#1805 Replace NetworkPolicies with Istio CRs for e2e tests
  hack/make/tests/e2e.mk
  test/helpers/proxy/proxy.go
  test/helpers/sampleapps/curl.go
  test/scenarios/activegate/installation.go
  test/scenarios/activegate/proxy/activegate_test.go
  test/scenarios/cloudnative/network/cloudnative_test.go
  test/scenarios/cloudnative/network/network_problems.go
  test/scenarios/cloudnative/proxy/cloudnative_test.go
  test/scenarios/cloudnative/proxy/proxy.go
  test/testdata/network/csi-denial.yaml
  test/testdata/network/dynatrace-denial.yaml
  test/testdata/network/dynatrace-kube-system-approval.yaml
  test/testdata/network/dynatrace-openshift-approval.yaml
  test/testdata/network/proxy-approval.yaml
  test/testdata/network/proxy.yaml
  test/testdata/network/sample-ns-denial.yaml
Labels: test

#1810 Fix nilpointer in cloudnative-proxy e2e istio pre-check
  test/scenarios/cloudnative/proxy/cloudnative_test.go
Labels: bug

#1807 Optimise Istio reconciliation to increase performance
  src/controllers/dynakube/dynakube_controller.go
  src/controllers/dynakube/istio/istio.go
  src/controllers/dynakube/istio/istio_test.go
  src/controllers/dynakube/istio/reconciler.go
  src/controllers/dynakube/istio/reconciler_test.go
  src/controllers/dynakube/istio/serviceentry.go
  src/controllers/dynakube/istio/validate.go
  src/controllers/dynakube/istio/virtualservice.go
  src/kubeobjects/objects.go
  src/webhook/validation/istio.go
Labels: core

#1809 Optimize renovate dependency parsing in makefiles and third party licenses
  .github/renovate.json5
  hack/build/ci/third-party-licenses.sh
  hack/make/prerequisites.mk
Labels: ci

#1812 fixed renovate regex for dockerfile golang version
  .github/renovate.json5
Labels: ci

#1806 Simplify make deploy/undeploy commands
  hack/make/deploy/deploy.mk
  hack/make/deploy/gke.mk
  hack/make/deploy/helm.mk
  hack/make/deploy/kubernetes.mk
  hack/make/deploy/openshift.mk
  hack/make/deploy/undeploy.mk
Labels: ci

#1815 Add space between target name and color code
  Makefile
Labels: ci

#1816 Build only `amd64` image on feature branches
  .github/workflows/ci.yaml
Labels: ci

#1811 Add support for oc debug pod command
  src/webhook/mutation/pod_mutator/pod_mutator.go
  src/webhook/mutation/pod_mutator/pod_mutator_test.go
Labels: core

#1817 Fixes oneAgent pod restarts after operator version change
  src/controllers/dynakube/deploymentmetadata/config.go
  src/controllers/dynakube/deploymentmetadata/reconciler.go
  src/controllers/dynakube/oneagent/daemonset/arguments.go
  src/controllers/dynakube/oneagent/daemonset/arguments_test.go
  src/controllers/dynakube/oneagent/daemonset/env_vars.go
Labels: bug

#1821 Make activegate SCC less fragile
  config/helm/chart/default/templates/Openshift/activegate/securitycontextconstraints.yaml
Labels: bug

#1814 Add shell script for automatic release note generation
  hack/build/ci/generate-release-notes.sh
Labels: ci

#1820 introduce dtclient basic request timeout
  hack/make/prerequisites.mk
  src/dtclient/activegate_auth_token.go
  src/dtclient/dynatrace_client.go
  src/dtclient/dynatrace_client_test.go
  src/dtclient/image.go
  src/dtclient/kubernetes_settings.go
Labels: core
