Repository Dynatrace/dynatrace-operator, pull requests merged in 2023-02, with the labels that each got.

#1514 Removes redundant status timestamps
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  src/api/v1beta1/dynakube_status.go
  src/api/v1beta1/zz_generated.deepcopy.go
  src/controllers/dynakube/activegate/internal/authtoken/reconciler.go
Labels: bug

#1515 Makes the e2e run_all.sh exit with none zero if a test failed
  hack/e2e/run_all.sh
Labels: ci

#1513 Make CSI log GC more error resilient
  src/controllers/csi/gc/unmounted.go
Labels: bug

#1516 Rename dynatrace-api related status fields in DynaKube to lowercase
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  src/api/v1beta1/dynakube_status.go
Labels: bug

#1427 Allow the use of a existing priorityclass
  config/helm/chart/default/templates/Common/csi/daemonset.yaml
  config/helm/chart/default/templates/Common/csi/priority-class.yaml
  config/helm/chart/default/templates/_csidriver.tpl
  config/helm/chart/default/tests/Common/csi/daemonset_test.yaml
  config/helm/chart/default/tests/Common/csi/priority-class_test.yaml
  config/helm/chart/default/values.yaml
Labels: helm

#1528 Upgrade go lang to 1.20
  .github/workflows/ci.yaml
  .golangci.yml
  go.mod
  src/api/v1alpha1/dynakube_types.go
  src/cmd/support_archive/logs_test.go
  src/dtclient/activegate_auth_token.go
  src/dtclient/connection_info.go
  src/dtclient/dynatrace_client_test.go
  src/dtclient/kubernetes_settings.go
  src/dtclient/send_event.go
Labels: core, dependencies

#1530 Make usage of response.Body.Close() more convinient
  src/dtclient/activegate_auth_token.go
  src/dtclient/client.go
  src/dtclient/connection_info.go
  src/dtclient/dynatrace_client.go
  src/dtclient/dynatrace_client_test.go
  src/dtclient/kubernetes_settings.go
  src/dtclient/processmoduleconfig.go
  src/dtclient/send_event.go
  src/dtclient/token.go
  test/kubeobjects/manifests/installation.go
Labels: core

#1517 Extends troubleshoot subcommand to check for OneAgentAPM objects
  src/cmd/troubleshoot/builder.go
  src/cmd/troubleshoot/context.go
  src/cmd/troubleshoot/oneagentapm.go
Labels: troubleshoot

#1518 Adds latest available public registry image endpoints
  src/dtclient/client.go
  src/dtclient/endpoints.go
  src/dtclient/image.go
  src/dtclient/image_test.go
  src/dtclient/mock_client.go
Labels: core

#1531 Add feature flag to configure custom seccomp profile for oneagent
  src/api/v1beta1/feature_flags.go
  src/controllers/dynakube/oneagent/daemonset/daemonset.go
  src/controllers/dynakube/oneagent/daemonset/daemonset_test.go
Labels: security

#1548 Use csi less target for OLM bundle generation
  config/deploy/kubernetes/kustomization.yaml
  config/deploy/openshift/kustomization.yaml
  config/manifests/bases/dynatrace-operator.clusterserviceversion.yaml
Labels: bug

#1547 Improves crd generation
  .golangci.yml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  hack/helm/generate-crd.sh
  hack/make/manifests/config.mk
  hack/make/manifests/crd.mk
  src/api/v1alpha1/dynakube_types.go
Labels: bug

#1550 Remove comment of wrong default value for MAX_UNMOUNTED_VOLUME_AGE
  config/helm/chart/default/values.yaml
Labels: documentation

#1552 Change order of e2e tests by adding prefix to classsicFullStack test
  hack/make/tests/e2e.mk
Labels: bug, test

#1551 Updates the go linting and pre-commit make targets
  .github/pre-commit
  .github/workflows/ci.yaml
  hack/make/go.mk
  hack/make/prerequisites.mk
Labels: dependencies

#1565 Improve CRD generation
  .golangci.yml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  hack/helm/generate-crd.sh
  hack/make/manifests/config.mk
  hack/make/manifests/crd.mk
Labels: cherrypick

#1567 Fix failing RHCC image preflight scan upload
  hack/build/ci/preflight.sh
Labels: cherrypick

#1568 Adapt usage of maxUnmountedVolumeAge in helm values
  config/helm/chart/default/templates/Common/csi/daemonset.yaml
  config/helm/chart/default/tests/Common/csi/daemonset_test.yaml
  src/controllers/csi/gc/unmounted.go
Labels: cherrypick

#1569 Make CSI log GC more error resilient
  src/controllers/csi/gc/unmounted.go
Labels: cherrypick

#1570 Fix error logging on dynakube reconicliation
  src/controllers/dynakube/dynakube_controller.go
Labels: cherrypick

#1574 Upgrade dependencies to latest patch versions on release-0.10 branch
  Dockerfile
  go.mod
  go.sum
Labels: dependencies

#1566 Replace cilium network policy and update proxy tests
  test/helpers/istio/install.go
  test/helpers/sampleapps/curl.go
  test/helpers/steps/assess/operator.go
  test/scenarios/README.md
  test/scenarios/activegate/proxy/activegate_test.go
  test/scenarios/cloudnative/codemodules.go
  test/scenarios/cloudnative/install.go
  test/scenarios/cloudnative/network/cloudnative_test.go
  test/scenarios/cloudnative/network_problems.go
  test/scenarios/cloudnative/proxy/cloudnative_test.go
  test/scenarios/cloudnative/proxy/proxy.go
  test/testdata/network/csi-denial.yaml
  test/testdata/network/curl-pod.yaml
  test/testdata/network/dynatrace-denial.yaml
  test/testdata/network/proxy.yaml
  test/testdata/network/sample-ns-denial.yaml
Labels: test
