Repository Dynatrace/dynatrace-operator, pull requests merged in 2023-08, with the labels that each got.

#1999 Updates helm manifest (because of changed EdgeConnect CRD)
  config/crd/bases/dynatrace.com_edgeconnects.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
Labels: core

#2004 Update dependencies for 0.13.0 release branch
  Dockerfile
  go.mod
  go.sum
Labels: dependencies

#2005 Add executable bit to release note generation file
  hack/build/ci/generate-release-notes.sh
Labels: ci

#2006 Fix generate manifests step in pre release action
  .github/workflows/release.yaml
Labels: ci

#2009 Respect oneagent-no-proxy feature-flag in application monitoring
  src/initgeneration/initgeneration.go
  src/initgeneration/initgeneration_test.go
Labels: bug

#1997 Adds EdgeConnect controller
  config/helm/chart/default/templates/Common/operator/role-operator.yaml
  config/helm/chart/default/tests/Common/operator/role-operator_test.yaml
  src/api/v1beta1/dynakube/dynakube_types.go
  src/api/v1beta1/groupversion_info.go
  src/cmd/operator/manager.go
  src/cmd/support_archive/builder.go
  src/cmd/support_archive/resource_query.go
  src/cmd/troubleshoot/builder.go
  src/controllers/edgeconnect/config.go
  src/controllers/edgeconnect/controller.go
  src/controllers/edgeconnect/controller_test.go
  src/scheme/scheme.go
  test/helpers/components/dynakube/dynakube.go
  test/scenarios/cloudnative/public_registry/public_registry.go
Labels: core

#2011 Disable label-version-detection feature by default
  src/api/v1beta1/feature_flags.go
  src/api/v1beta1/feature_flags_test.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/containers_test.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/mutator_test.go
Labels: bug

#2012 Respect oneagent-no-proxy feature-flag in application monitoring
  src/initgeneration/initgeneration.go
  src/initgeneration/initgeneration_test.go
Labels: cherrypick

#2013 Disable label-version-detection feature by default (#2011)
  src/api/v1beta1/dynakube/feature_flags.go
  src/api/v1beta1/dynakube/feature_flags_test.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/containers_test.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/mutator_test.go
Labels: cherrypick

#2010 Adds volume-profile label in openshift-csi manifest
  config/helm/chart/default/templates/Common/csi/csidriver.yaml
  config/helm/chart/default/tests/Common/csi/csidriver_test.yaml
Labels: bug

#2015 Adds volume-profile label in openshift-csi manifest (#2010)
  config/helm/chart/default/templates/Common/csi/csidriver.yaml
  config/helm/chart/default/tests/Common/csi/csidriver_test.yaml
Labels: cherrypick

#2021 Make switch modes tests more reliable
  test/scenarios/classic/switch_modes/install.go
  test/scenarios/cloudnative/switch_modes/install.go
Labels: test

#2025 Make switch modes tests more reliable
  test/scenarios/classic/switch_modes/install.go
  test/scenarios/cloudnative/switch_modes/install.go
Labels: cherrypick

#2024 Clean up better in switchmode e2e tests
  test/helpers/steps/assess/dynakube.go
  test/helpers/steps/assess/operator.go
  test/helpers/steps/teardown/operator.go
  test/helpers/steps/teardown/uninstall.go
  test/scenarios/activegate/installation.go
  test/scenarios/applicationmonitoring/labelversiondetection.go
  test/scenarios/applicationmonitoring/without_csi.go
  test/scenarios/classic/switch_modes/install.go
  test/scenarios/cloudnative/switch_modes/install.go
Labels: cherrypick

#2020 Update dependencies for release 0.13
  go.mod
  go.sum
Labels: dependencies

#2023 Make Dynakube args and env vars override default operator values
  src/controllers/dynakube/activegate/internal/statefulset/statefulset.go
  src/controllers/dynakube/oneagent/daemonset/arguments.go
  src/controllers/dynakube/oneagent/daemonset/arguments_test.go
  src/controllers/dynakube/oneagent/daemonset/env_vars_test.go
Labels: bug

#2000 Adds validation webhook for EdgeConnect CR
  config/helm/chart/default/templates/Common/webhook/validatingwebhookconfiguration.yaml
  src/cmd/troubleshoot/dynakube.go
  src/cmd/webhook/builder.go
  src/webhook/validation/dynakube/activegate.go
  src/webhook/validation/dynakube/activegate_test.go
  src/webhook/validation/dynakube/api_url.go
  src/webhook/validation/dynakube/api_url_test.go
  src/webhook/validation/dynakube/config.go
  src/webhook/validation/dynakube/csi_daemonset.go
  src/webhook/validation/dynakube/csi_daemonset_test.go
  src/webhook/validation/dynakube/deprecation.go
  src/webhook/validation/dynakube/deprecation_test.go
  src/webhook/validation/dynakube/istio.go
  src/webhook/validation/dynakube/istio_test.go
  src/webhook/validation/dynakube/namespace_selector.go
  src/webhook/validation/dynakube/namespace_selector_test.go
  src/webhook/validation/dynakube/oneagent.go
  src/webhook/validation/dynakube/oneagent_test.go
  src/webhook/validation/dynakube/preview.go
  src/webhook/validation/dynakube/preview_test.go
  src/webhook/validation/dynakube/proxy_url.go
  src/webhook/validation/dynakube/proxy_url_test.go
  src/webhook/validation/dynakube/synthetic.go
  src/webhook/validation/dynakube/synthetic_test.go
  src/webhook/validation/dynakube/validation.go
  src/webhook/validation/dynakube/validation_test.go
  src/webhook/validation/edgeconnect/api_server.go
  src/webhook/validation/edgeconnect/api_server_test.go
  src/webhook/validation/edgeconnect/config.go
  src/webhook/validation/edgeconnect/validation.go
  src/webhook/validation/message.go
Labels: core

#2029 Make Dynakube args and env vars override default operator values on main branch
  src/controllers/dynakube/activegate/internal/statefulset/statefulset.go
  src/controllers/dynakube/oneagent/daemonset/arguments.go
  src/controllers/dynakube/oneagent/daemonset/arguments_test.go
  src/controllers/dynakube/oneagent/daemonset/env_vars_test.go
Labels: cherrypick

#1998 Download image manifests via go-containerregistry
  src/controllers/dynakube/dynakube_controller_test.go
  src/controllers/dynakube/version/activegate.go
  src/controllers/dynakube/version/activegate_test.go
  src/controllers/dynakube/version/codemodules.go
  src/controllers/dynakube/version/codemodules_test.go
  src/controllers/dynakube/version/image_hash.go
  src/controllers/dynakube/version/image_hash_test.go
  src/controllers/dynakube/version/oneagent.go
  src/controllers/dynakube/version/oneagent_test.go
  src/controllers/dynakube/version/reconciler.go
  src/controllers/dynakube/version/reconciler_test.go
  src/controllers/dynakube/version/synthetic.go
  src/controllers/dynakube/version/synthetic_test.go
  src/controllers/dynakube/version/testdata/certs.go
  src/controllers/dynakube/version/updater.go
  src/controllers/dynakube/version/updater_test.go
  src/registry/client.go
  src/registry/mocks/client.go
Labels: core

#2026 Fixes pre-release action by generating correct manifest
  .github/workflows/release.yaml
  hack/make/manifests/config.mk
Labels: bug

#2030 Cherrypick Fixes pre-release action by generating correct manifest (#2026)
  .github/workflows/release.yaml
  hack/build/ci/generate-release-notes.sh
  hack/make/manifests/config.mk
Labels: cherrypick

#2028 Extend support archive by managed operator components
  src/cmd/support_archive/builder.go
  src/cmd/support_archive/logs.go
  src/cmd/support_archive/logs_test.go
  src/cmd/support_archive/resource_query.go
  src/cmd/support_archive/resource_query_test.go
  src/cmd/support_archive/resources_test.go
  test/scenarios/support_archive/files.go
  test/scenarios/support_archive/install.go
Labels: core

#2038 Fix pre-release action by adding access to "Release" environment
  .github/workflows/release.yaml
Labels: ci

#2041 Not fail csi-init on network problems
  src/cmd/csi/init/builder.go
  src/cmd/csi/init/config.go
  src/controllers/csi/metadata/correctness.go
  src/controllers/csi/metadata/correctness_test.go
  test/testdata/sample-app/restricted-csi.yaml
Labels: bug

#2042 Not fail csi-init on network problems
  src/cmd/csi/init/builder.go
  src/cmd/csi/init/config.go
  src/controllers/csi/metadata/correctness.go
  src/controllers/csi/metadata/correctness_test.go
  test/testdata/sample-app/restricted-csi.yaml
Labels: cherrypick

#2040 Enhance CONTRIBUTING.md guide and fix makefile missing commands
  .markdownlint.json
  CONTRIBUTING.md
  Makefile
  doc/coding-style-guide.md
  hack/make/prerequisites.mk
Labels: documentation

#2050 [do-not-merge] Adapt helm files for release version 0.13.0
  config/helm/repos/stable/dynatrace-operator-0.13.0.tgz
  config/helm/repos/stable/dynatrace-operator-0.13.0.tgz.prov
  config/helm/repos/stable/index.yaml
  config/helm/repos/stable/index.yaml.previous
Labels: do-not-merge

#2054 Bugfix/always pass proxy to oa even when empty
  src/controllers/csi/provisioner/controller.go
  src/controllers/dynakube/oneagent/daemonset/arguments.go
  src/controllers/dynakube/oneagent/daemonset/arguments_test.go
Labels: bug

#2058 Add code-style section about func param ordering
  doc/coding-style-guide.md
Labels: documentation

#2056 Add edgeconnect version logic
  src/api/v1alpha1/edgeconnect/config.go
  src/api/v1alpha1/edgeconnect/properties.go
  src/api/v1beta1/dynakube/properties.go
  src/cmd/operator/builder_test.go
  src/cmd/troubleshoot/dynakube.go
  src/controllers/csi/driver/volumes/app/publisher_test.go
  src/controllers/csi/provisioner/controller.go
  src/controllers/csi/provisioner/controller_test.go
  src/controllers/csi/provisioner/install.go
  src/controllers/csi/provisioner/install_test.go
  src/controllers/dynakube/activegate/internal/statefulset/statefulset.go
  src/controllers/dynakube/activegate/internal/statefulset/statefulset_test.go
  src/controllers/dynakube/oneagent/daemonset/daemonset.go
  src/controllers/dynakube/status/status_test.go
  src/controllers/dynakube/version/image_hash.go
  src/controllers/edgeconnect/controller.go
  src/controllers/edgeconnect/controller_test.go
  src/controllers/edgeconnect/version/config.go
  src/controllers/edgeconnect/version/edgeConnect_test.go
  src/controllers/edgeconnect/version/edgeconnect.go
  src/controllers/edgeconnect/version/reconciler.go
  src/controllers/edgeconnect/version/updater.go
  src/dockerconfig/docker_config.go
  src/dockerconfig/docker_config_test.go
  src/dockerkeychain/config.go
  src/dockerkeychain/docker_keychain.go
  src/dockerkeychain/docker_keychain_test.go
  src/installer/image/installer.go
  src/installer/image/installer_test.go
  src/installer/image/unpack.go
  src/kubesystem/kubesystem_test.go
  src/registry/client.go
Labels: core

#2066 Change check for adding scc permission to csi clusterrole
  config/helm/chart/default/templates/Common/csi/clusterrole-csi.yaml
  config/helm/chart/default/tests/Common/csi/clusterrole-csi_test.yaml
Labels: bug

#2064 Set OneAgent readiness probe value based on image Healthcheck
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  src/api/v1beta1/dynakube/dynakube_status.go
  src/api/v1beta1/dynakube/properties.go
  src/controllers/dynakube/dynakube_controller_test.go
  src/controllers/dynakube/oneagent/daemonset/daemonset.go
  src/controllers/dynakube/oneagent/daemonset/daemonset_test.go
  src/controllers/dynakube/version/activegate.go
  src/controllers/dynakube/version/activegate_test.go
  src/controllers/dynakube/version/codemodules.go
  src/controllers/dynakube/version/codemodules_test.go
  src/controllers/dynakube/version/image_hash.go
  src/controllers/dynakube/version/image_hash_test.go
  src/controllers/dynakube/version/oneagent.go
  src/controllers/dynakube/version/oneagent_test.go
  src/controllers/dynakube/version/reconciler.go
  src/controllers/dynakube/version/reconciler_test.go
  src/controllers/dynakube/version/synthetic.go
  src/controllers/dynakube/version/synthetic_test.go
  src/controllers/dynakube/version/updater.go
  src/controllers/dynakube/version/updater_test.go
  src/controllers/edgeconnect/version/edgeConnect_test.go
  src/installer/image/unpack.go
  src/registry/client.go
  src/registry/mocks/client.go
Labels: oneagent

#2062 Add ARCHITECTURE.md
  ARCHITECTURE.md
Labels: documentation

#2070 Set default values when Healthcheck time vars are not set
  src/controllers/dynakube/version/healthconfig.go
  src/controllers/dynakube/version/healthconfig_test.go
  src/controllers/dynakube/version/reconciler.go
  src/controllers/dynakube/version/reconciler_test.go
Labels: oneagent

#2073 Enable CodeCov GitHub action
  .github/workflows/ci.yaml
  hack/make/go.mk
Labels: ci

#2072 Remove DockerConfig struct
  src/controllers/csi/provisioner/controller.go
  src/controllers/csi/provisioner/install.go
  src/controllers/csi/provisioner/install_test.go
  src/controllers/dynakube/version/image_hash_test.go
  src/controllers/dynakube/version/reconciler.go
  src/dockerconfig/config.go
  src/dockerconfig/docker_config.go
  src/dockerconfig/docker_config_test.go
  src/dockerconfig/system_context.go
  src/dockerconfig/system_context_test.go
Labels: core
