Repository Dynatrace/dynatrace-operator, pull requests merged in 2023-12, with the labels that each got.

#2419 Make cloud native network zone E2E test less fragile
  test/features/cloudnative/network_zones/network_zones.go
  test/helpers/rand/name.go
  test/helpers/rand/name_test.go
  test/helpers/tenant/network_zone.go
Labels: test

#2431 Removes github action to push tag to snyk
  .github/workflows/release.yaml
Labels: ci

#2433 Make installCRD default in values.yaml
  config/helm/chart/default/values.yaml
Labels: helm

#2434 Removes github action to push image tag to Snyk
  .github/workflows/release.yaml
Labels: cherrypick

#2436 Update sample link location
  README.md
Labels: documentation

#2438 Move test/features/README.md doc to code
  doc/e2e/features.md
  hack/doc/gen_e2e_features.sh
  test/features/README.md
  test/features/activegate/activegate.go
  test/features/applicationmonitoring/data_ingest.go
  test/features/applicationmonitoring/label_version_detection.go
  test/features/applicationmonitoring/without_csi.go
  test/features/classic/classic.go
  test/features/cloudnative/codemodules/codemodules.go
  test/features/cloudnative/default/default.go
  test/features/cloudnative/network_problems/network_problems.go
  test/features/cloudnative/network_zones/network_zones.go
  test/features/cloudnative/proxy/proxy.go
  test/features/support_archive/support_archive.go
Labels: documentation

#2444 Add own feature flag for enforcementMode
  pkg/api/v1beta1/dynakube/feature_flags.go
  pkg/api/v1beta1/dynakube/feature_flags_test.go
  pkg/injection/namespace/initgeneration/initgeneration.go
  pkg/injection/namespace/initgeneration/initgeneration_test.go
  pkg/injection/startup/env.go
  pkg/injection/startup/env_test.go
  pkg/injection/startup/run.go
  pkg/injection/startup/run_test.go
  pkg/injection/startup/secret.go
  pkg/webhook/mutation/pod_mutator/init_container_test.go
Labels: core

#2445 Add release branch 0.15 to renovate config
  .github/renovate.json5
Labels: dependencies

#2446 Add own feature flag for enforcementMode (#2444)
  pkg/api/v1beta1/dynakube/feature_flags.go
  pkg/api/v1beta1/dynakube/feature_flags_test.go
  pkg/injection/namespace/initgeneration/initgeneration.go
  pkg/injection/namespace/initgeneration/initgeneration_test.go
  pkg/injection/startup/env.go
  pkg/injection/startup/env_test.go
  pkg/injection/startup/run.go
  pkg/injection/startup/run_test.go
  pkg/injection/startup/secret.go
  pkg/webhook/mutation/pod_mutator/init_container_test.go
Labels: cherrypick

#2426 Use local digest for signing the docker images
  .github/actions/create-manifests/action.yaml
  .github/workflows/release.yaml
  hack/build/ci/create-manifest.sh
  hack/build/ci/get-image-digest.sh
Labels: ci

#2479 Fail safe in oneagent_started e2e test step
  test/helpers/kubeobjects/daemonset/wait.go
Labels: test

#2482 Revert oneagent-ready fail safe and increase timeout
  test/helpers/kubeobjects/daemonset/wait.go
Labels: test

#2464 Added errors handling logic to the EdgeConnect controller
  pkg/clients/edgeconnect/client.go
  pkg/controllers/edgeconnect/controller.go
  pkg/controllers/edgeconnect/controller_test.go
Labels: core

#2490 Remove duplicated proxy e2e test
  doc/api/feature-flags.md
  doc/e2e/features.md
  test/features/cloudnative/codemodules/codemodules.go
  test/features/cloudnative/proxy/proxy.go
  test/scenarios/istio/istio_test.go
Labels: test

#2505 Fix location of version package
  PROJECT
  hack/build/bundle.sh
  hack/build/create_go_linker_args.sh
Labels: bug

#2506 Fix location of version package (#2505)
  PROJECT
  hack/build/bundle.sh
  hack/build/create_go_linker_args.sh
Labels: cherrypick

#2398 Add amazon-ecr to image push action
  .github/workflows/release.yaml
Labels: ci

#2508 Avoid duplication of `--set-host-id-source` OneAgent argument
  pkg/api/v1beta1/dynakube/properties.go
  pkg/controllers/dynakube/oneagent/daemonset/arguments.go
  pkg/controllers/dynakube/oneagent/daemonset/arguments_test.go
  pkg/controllers/dynakube/oneagent/daemonset/daemonset.go
  pkg/controllers/dynakube/oneagent/oneagent_reconciler_test.go
Labels: bug

#2512 Add azure marketplace to helm-chart
  config/helm/chart/default/templates/_helpers.tpl
  config/helm/chart/default/templates/_labels.tpl
  config/helm/chart/default/templates/_platform.tpl
Labels: helm

#2491 Remove deprecated feature flags
  pkg/api/v1beta1/dynakube/feature_flags.go
  pkg/api/v1beta1/dynakube/feature_flags_test.go
  pkg/api/v1beta1/dynakube/properties.go
  pkg/clients/dynatrace/client.go
  pkg/clients/dynatrace/dynatrace_client.go
  pkg/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/authtoken.go
  pkg/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/authtoken_test.go
  pkg/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/config_test.go
  pkg/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/kubemon.go
  pkg/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/kubemon_test.go
  pkg/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/rawimage.go
  pkg/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/rawimage_test.go
  pkg/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/readonly.go
  pkg/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/readonly_test.go
  pkg/controllers/dynakube/activegate/internal/statefulset/reconciler.go
  pkg/controllers/dynakube/activegate/internal/statefulset/reconciler_test.go
  pkg/controllers/dynakube/activegate/internal/statefulset/statefulset_test.go
  pkg/controllers/dynakube/activegate/reconciler.go
  pkg/controllers/dynakube/activegate/reconciler_test.go
  pkg/controllers/dynakube/connectioninfo/reconciler.go
  pkg/controllers/dynakube/connectioninfo/reconciler_test.go
  pkg/controllers/dynakube/dynatraceclient/builder.go
  pkg/controllers/dynakube/dynatraceclient/options.go
  pkg/controllers/dynakube/oneagent/daemonset/daemonset_test.go
  pkg/controllers/dynakube/oneagent/daemonset/volumes_test.go
  pkg/controllers/dynakube/token/token.go
  pkg/controllers/dynakube/token/tokens_test.go
  pkg/controllers/dynakube/version/oneagent.go
  pkg/controllers/dynakube/version/oneagent_test.go
  pkg/webhook/mutation/pod_mutator/pod_mutator.go
  pkg/webhook/mutation/pod_mutator/pod_mutator_test.go
  pkg/webhook/validation/dynakube/config.go
  pkg/webhook/validation/dynakube/csi_daemonset_test.go
  pkg/webhook/validation/dynakube/deprecation.go
  pkg/webhook/validation/dynakube/deprecation_test.go
  pkg/webhook/validation/dynakube/oneagent.go
  pkg/webhook/validation/dynakube/oneagent_test.go
Labels: core

#2518 Fix wrong cosign public key file
  .github/workflows/release.yaml
Labels: bug

#2519 Fix typo in isito.md
  doc/istio.md
Labels: documentation

#2517 Adds helm instructions for release-notes generation
  hack/build/ci/generate-release-notes.sh
Labels: ci
