Repository Dynatrace/dynatrace-operator, pull requests merged in 2023-03, with the labels that each got.

#1546 Fixes internal activeGate capability reconciler tests
  src/controllers/dynakube/activegate/capability/capability.go
  src/controllers/dynakube/activegate/capability/capability_test.go
  src/controllers/dynakube/activegate/internal/capability/mock.go
  src/controllers/dynakube/activegate/internal/capability/reconciler_test.go
Labels: activegate

#1576 Use csi less target for OLM bundle generation
  config/deploy/kubernetes/kustomization.yaml
  config/deploy/openshift/kustomization.yaml
Labels: cherrypick

#1583 Double default values for leader election
  src/cmd/operator/manager.go
Labels: core

#1585 Collect `.yaml` instead of `.json` manifests in support archive
  src/cmd/support_archive/config.go
  src/cmd/support_archive/resources.go
  src/cmd/support_archive/resources_test.go
Labels: core

#1586 Unify the default namespace for supportachive and troubleshoot command
  src/cmd/support_archive/builder.go
  src/cmd/troubleshoot/builder.go
  src/kubeobjects/env.go
Labels: core

#1587 Removes troubleshoot.sh
  hack/troubleshoot/README.md
  hack/troubleshoot/troubleshoot.sh
Labels: core

#1584 Adds NO_PROXY feature-flag to the dynakube
  src/api/v1beta1/certs.go
  src/api/v1beta1/feature_flags.go
  src/api/v1beta1/properties.go
  src/api/v1beta1/proxy.go
  src/api/v1beta1/test/certs_test.go
  src/api/v1beta1/test/proxy_test.go
  src/cmd/troubleshoot/builder.go
  src/cmd/troubleshoot/context.go
  src/cmd/troubleshoot/dynakube.go
  src/cmd/troubleshoot/dynakube_test.go
  src/cmd/troubleshoot/proxy.go
  src/cmd/troubleshoot/proxy_test.go
  src/controllers/csi/provisioner/agent_test.go
  src/controllers/dynakube/activegate/consts/consts.go
  src/controllers/dynakube/activegate/internal/proxy/reconciler.go
  src/controllers/dynakube/activegate/internal/proxy/reconciler_test.go
  src/controllers/dynakube/dynatraceclient/builder.go
  src/controllers/dynakube/dynatraceclient/options.go
  src/controllers/dynakube/dynatraceclient/options_test.go
  src/controllers/dynakube/oneagent/daemonset/arguments.go
  src/controllers/dynakube/oneagent/daemonset/env_vars.go
  src/dockerconfig/docker_config.go
  src/dockerconfig/docker_config_test.go
  src/dtclient/activegate_auth_token_test.go
  src/dtclient/agent_version_test.go
  src/dtclient/client.go
  src/dtclient/client_test.go
  src/dtclient/connection_info_test.go
  src/dtclient/dynatrace_client_test.go
  src/dtclient/image_test.go
  src/dtclient/send_event_test.go
  src/initgeneration/initgeneration.go
  src/initgeneration/initgeneration_test.go
  src/kubeobjects/configmap_test.go
  src/kubeobjects/dynakube.go
  src/kubeobjects/dynakube_test.go
  src/kubeobjects/secret.go
  src/kubeobjects/secret_test.go
  src/standalone/dtclient_builder.go
  src/standalone/dtclient_builder_test.go
  src/standalone/files_test.go
  src/standalone/secret.go
  src/standalone/secret_test.go
  src/webhook/validation/proxy_url.go
  src/webhook/validation/proxy_url_test.go
Labels: core

#1594 Simplifies pod exec logic in e2e tests
  test/helpers/kubeobjects/pod/execute.go
  test/scenarios/activegate/installation.go
  test/scenarios/applicationmonitoring/dataingest.go
  test/scenarios/applicationmonitoring/labelversiondetection.go
  test/scenarios/classic/install.go
  test/scenarios/cloudnative/codemodules.go
  test/scenarios/cloudnative/install.go
  test/scenarios/cloudnative/network_problems.go
  test/scenarios/support_archive/install.go
Labels: test

#1592 Simplify logging and get rid of log singleton
  src/cmd/troubleshoot/builder.go
  src/cmd/troubleshoot/builder_test.go
  src/cmd/troubleshoot/checks.go
  src/cmd/troubleshoot/checks_test.go
  src/cmd/troubleshoot/config.go
  src/cmd/troubleshoot/context.go
  src/cmd/troubleshoot/crd.go
  src/cmd/troubleshoot/dynakube.go
  src/cmd/troubleshoot/dynakube_test.go
  src/cmd/troubleshoot/image.go
  src/cmd/troubleshoot/image_test.go
  src/cmd/troubleshoot/logger.go
  src/cmd/troubleshoot/logger_test.go
  src/cmd/troubleshoot/namespace.go
  src/cmd/troubleshoot/namespace_test.go
  src/cmd/troubleshoot/oneagentapm.go
  src/cmd/troubleshoot/proxy.go
  src/cmd/troubleshoot/proxy_test.go
Labels: troubleshoot

#1600 Moves go build tags to a common location
  .github/actions/build-image/action.yaml
  Dockerfile
  hack/build/build_image.sh
  hack/build/ci/prepare-build-variables.sh
  hack/build/create_go_build_tags.sh
  hack/make/go.mk
  hack/make/tests/e2e.mk
Labels: ci

#1601 Fix support archive E2E test.
  test/scenarios/support_archive/install.go
Labels: test

#1608 Manually label operator namespace with istio injection label
  test/scenarios/cloudnative/codemodules.go
Labels: bug

#1610 Adds feature flag to configure failure policy per dynakube
  src/api/v1beta1/feature_flags.go
  src/webhook/mutation/pod_mutator/init_container.go
  src/webhook/mutation/pod_mutator/init_container_test.go
Labels: core

#1611 Make support archive manifest names lowercase
  src/cmd/support_archive/resources.go
  src/cmd/support_archive/resources_test.go
  test/scenarios/support_archive/install.go
Labels: core

#1613 Fixes e2e test which checks for disk usages in codeModules injection test
  test/scenarios/cloudnative/codemodules.go
Labels: bug

#1615 Feature flag for configuring minimum interval between requests to Dynatrace API
  src/api/v1beta1/dynakube_status.go
  src/api/v1beta1/dynakube_status_test.go
  src/api/v1beta1/feature_flags.go
  src/api/v1beta1/properties.go
  src/api/v1beta1/properties_test.go
  src/controllers/dynakube/connectioninfo/reconciler.go
  src/controllers/dynakube/dynakube_controller.go
  src/controllers/dynakube/dynatraceclient/builder.go
  src/controllers/dynakube/oneagent/oneagent_reconciler.go
  src/controllers/dynakube/version/version.go
  src/controllers/dynakube/version/version_test.go
  src/kubeobjects/time.go
  src/timeprovider/provider.go
  src/timeprovider/provider_test.go
Labels: feature request

#1609 Support all custom pull secret auth methods
  src/cmd/troubleshoot/builder.go
  src/cmd/troubleshoot/context.go
  src/cmd/troubleshoot/image.go
  src/cmd/troubleshoot/image_test.go
  src/controllers/csi/metadata/path_resolver.go
  src/controllers/csi/provisioner/agent.go
  src/controllers/csi/provisioner/agent_test.go
  src/controllers/dynakube/dynakube_controller_test.go
  src/controllers/dynakube/version/version.go
  src/controllers/dynakube/version/version_test.go
  src/dockerconfig/docker_config.go
  src/dockerconfig/docker_config_test.go
  src/dockerconfig/system_context.go
  src/dockerconfig/system_context_test.go
  src/installer/image/installer.go
  src/installer/image/source_test.go
  src/installer/installer.go
  src/installer/mock.go
  src/installer/url/installer.go
Labels: core

#1619 Adapt dockerfile to install dependencies correctly
  Dockerfile
Labels: core

#1630 Removes unnecessary http port for activegates
  assets/calico/activegate-policy.yaml
  src/controllers/dynakube/activegate/consts/consts.go
  src/controllers/dynakube/activegate/internal/capability/reconciler_test.go
  src/controllers/dynakube/activegate/internal/capability/service.go
  src/controllers/dynakube/activegate/internal/capability/service_test.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/serviceport.go
  src/controllers/dynakube/activegate/internal/statefulset/statefulset.go
  src/controllers/dynakube/activegate/reconciler_test.go
Labels: activegate

#1634 Updates version documentation in Dynakube samples
  assets/samples/applicationMonitoring.yaml
  assets/samples/classicFullStack.yaml
  assets/samples/cloudNativeFullStack.yaml
  assets/samples/hostMonitoring.yaml
Labels: documentation

#1638 Lower request amount for image manifest if codeModulesImage provides digest
  src/installer/image/installer.go
  src/installer/image/source.go
  src/installer/image/source_test.go
Labels: core

#1581 Add Synthetic capability preview via feature-flags
  src/api/v1beta1/activegate_types.go
  src/api/v1beta1/feature_flags.go
  src/api/v1beta1/feature_flags_test.go
  src/api/v1beta1/properties.go
  src/controllers/dynakube/activegate/capability/capability.go
  src/controllers/dynakube/activegate/capability/capability_test.go
  src/controllers/dynakube/activegate/internal/capability/reconciler.go
  src/controllers/dynakube/activegate/internal/capability/reconciler_test.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/config.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/synthetic.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/synthetic_test.go
  src/controllers/dynakube/activegate/internal/statefulset/reconciler.go
  src/controllers/dynakube/activegate/internal/statefulset/statefulset.go
  src/controllers/dynakube/activegate/internal/statefulset/statefulset_test.go
  src/controllers/dynakube/activegate/reconciler.go
  src/controllers/dynakube/activegate/reconciler_test.go
  src/controllers/dynakube/version/reconciler.go
  src/controllers/dynakube/version/synthetic.go
  src/controllers/dynakube/version/synthetic_test.go
  src/kubeobjects/address/address.go
  src/kubeobjects/labels.go
  src/kubeobjects/resources.go
  src/webhook/validation/activegate.go
  src/webhook/validation/activegate_test.go
  src/webhook/validation/config.go
  src/webhook/validation/preview.go
  src/webhook/validation/synthetic.go
  src/webhook/validation/synthetic_test.go
Labels: activegate

#1637 Adapt activegate e2e test for operator deployment with readonly active gate
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/readonly.go
  test/helpers/components/dynakube/dynakube.go
  test/helpers/steps/assess/dynakube.go
  test/scenarios/activegate/installation.go
Labels: test

#1645 Adapt Chart.yaml for release version 0.10.4
  config/helm/chart/default/Chart.yaml
Labels: cherrypick

#1631 Changes codeModules check in e2e tests
  test/helpers/logs/logs.go
  test/scenarios/cloudnative/codemodules.go
Labels: bug

#1657 Adds support for repo:tag@digest images for codemodules image
  src/installer/image/source.go
  src/installer/image/source_test.go
Labels: bug

#1632 Set default topology spread constraints on activegate statefulset if none configured in dynakube.
  src/controllers/dynakube/activegate/internal/statefulset/statefulset.go
  src/controllers/dynakube/activegate/internal/statefulset/statefulset_test.go
Labels: core

#1658 Fixes csi-server "archive-is-available" logic
  src/controllers/csi/driver/volumes/app/publisher.go
  src/controllers/csi/driver/volumes/app/publisher_test.go
  src/controllers/csi/driver/volumes/bind_config.go
  src/controllers/csi/driver/volumes/bind_config_test.go
  test/scenarios/cloudnative/codemodules.go
Labels: bug

#1661 Add a CLEANUP option for the e2e tests
  hack/e2e/run_all.sh
  hack/make/tests/e2e.mk
  test/helpers/kubeobjects/environment/environment.go
Labels: test

#1668 Update image labels in `Dockerfile`
  Dockerfile
Labels: core

#1664 Bump sigstore/cosign to v2.0.0 in /.github/actions/sign-image (sigstore/cosign-installer from v2.8.1 to v3.0.1)
  .github/actions/sign-image/action.yaml
  .github/workflows/publish-images.yaml
Labels: ci
