Repository Dynatrace/dynatrace-operator, pull requests merged in 2023-11, with the labels that each got.

#2301 Add infra-only mode to host monitoring sample
  assets/samples/hostMonitoring.yaml
Labels: documentation

#2321 Replace custom modifier test code with mockery generated one
  .mockery.yaml
  pkg/controllers/dynakube/activegate/internal/statefulset/builder/builder_test.go
  pkg/util/builder/builder_test.go
  pkg/util/builder/mocks/modifier.go
  test/mocks/pkg/util/builder/Modifier.go
Labels: core

#2320 Always Add ClusterId EnvVar To Pods
  pkg/injection/startup/env.go
  pkg/injection/startup/env_test.go
Labels: bug

#2317 Make timeoutSeconds configurable for webhook configurations via values.yaml
  config/helm/chart/default/templates/Common/webhook/mutatingwebhookconfiguration.yaml
  config/helm/chart/default/templates/Common/webhook/validatingwebhookconfiguration.yaml
  config/helm/chart/default/tests/Common/webhook/mutatingwebhookconfiguration_test.yaml
  config/helm/chart/default/tests/Common/webhook/validatingwebhookconfiguration_test.yaml
  config/helm/chart/default/values.yaml
Labels: helm

#2322 Update mockery to use lowercase filenames
  .mockery.yaml
  test/mocks/pkg/util/builder/modifier.go
Labels: core

#2328 Speed up retrying token fixing
  pkg/controllers/dynakube/dynakube_controller_test.go
  pkg/controllers/dynakube/dynatraceclient/builder.go
Labels: bug

#2323 Make timeoutSeconds configurable for webhook configurations via helm values
  config/helm/chart/default/templates/Common/webhook/mutatingwebhookconfiguration.yaml
  config/helm/chart/default/templates/Common/webhook/validatingwebhookconfiguration.yaml
  config/helm/chart/default/tests/Common/webhook/mutatingwebhookconfiguration_test.yaml
  config/helm/chart/default/tests/Common/webhook/validatingwebhookconfiguration_test.yaml
  config/helm/chart/default/values.yaml
Labels: cherrypick

#2331 Speed up retrying token fixing
  src/controllers/dynakube/dynakube_controller_test.go
  src/controllers/dynakube/dynatraceclient/builder.go
Labels: cherrypick

#2340 Generate mock for webhook.PodMutator interface using vectra/mockery
  .mockery.yaml
  pkg/webhook/mock.go
  pkg/webhook/mutation/pod_mutator/pod_mutator_test.go
  test/mocks/pkg/webhook/pod_mutator.go
Labels: test

#2351 Add no-proxy to image library transport
  pkg/oci/registry/client.go
  pkg/oci/registry/client_test.go
Labels: bug

#2352 Add no-proxy to image library transport
  src/controllers/dynakube/version/image_hash.go
Labels: bug

#2359 Add validation for 3rd gen API URLs
  pkg/webhook/validation/dynakube/api_url.go
  pkg/webhook/validation/dynakube/api_url_test.go
  pkg/webhook/validation/dynakube/config.go
Labels: bug

#2341 Create optional otel secret for e2e tests
  cmd/csi/provisioner/builder.go
  cmd/csi/server/builder.go
  cmd/operator/builder.go
  cmd/webhook/builder.go
  doc/otel.md
  test/helpers/tenant/secrets.go
  test/scenarios/istio/istio_test.go
  test/scenarios/release/release_test.go
  test/scenarios/standard/standard_test.go
  test/testdata/secrets-samples/otel-tenant.yaml
  test/testdata/secrets-samples/single-tenant.yaml
Labels: test

#2365 Upgrade the istio CR version to v1beta1
  hack/make/tests/e2e.mk
  pkg/api/scheme/scheme.go
  pkg/controllers/dynakube/dynakube_controller_test.go
  pkg/controllers/dynakube/istio/client.go
  pkg/controllers/dynakube/istio/client_test.go
  pkg/controllers/dynakube/istio/config.go
  pkg/controllers/dynakube/istio/reconciler_test.go
  pkg/controllers/dynakube/istio/serviceentry.go
  pkg/controllers/dynakube/istio/serviceentry_test.go
  pkg/controllers/dynakube/istio/virtualservice.go
  pkg/controllers/dynakube/istio/virtualservice_test.go
  test/helpers/istio/install.go
Labels: core

#2371 Fix e2e otel secret creation
  test/scenarios/istio/istio_test.go
Labels: test

#2374 Add default oneagent initial retry in case of istio
  pkg/api/v1beta1/dynakube/feature_flags.go
  pkg/api/v1beta1/dynakube/feature_flags_test.go
Labels: core

#2375 Add validation for CR name length
  pkg/api/v1alpha1/edgeconnect/properties.go
  pkg/api/v1beta1/dynakube/properties.go
  pkg/webhook/validation/dynakube/config.go
  pkg/webhook/validation/dynakube/dynakube_name.go
  pkg/webhook/validation/dynakube/dynakube_name_test.go
  pkg/webhook/validation/edgeconnect/api_server.go
  pkg/webhook/validation/edgeconnect/config.go
  pkg/webhook/validation/edgeconnect/name.go
  pkg/webhook/validation/edgeconnect/name_test.go
Labels: core

#2381 Move versionStatusUpdater to mockery mocks
  .mockery.yaml
  pkg/controllers/dynakube/version/reconciler.go
  pkg/controllers/dynakube/version/reconciler_test.go
  pkg/controllers/dynakube/version/updater.go
  pkg/controllers/dynakube/version/updater_test.go
  test/mocks/pkg/controllers/dynakube/version/status_updater.go
Labels: test

#2385 Generate mock for pkg/injection/codemodule/installer interface using vectra/mockery
  .mockery.yaml
  pkg/controllers/csi/provisioner/controller_test.go
  pkg/controllers/csi/provisioner/install_test.go
  pkg/injection/codemodule/installer/mock.go
  pkg/injection/startup/run_test.go
  test/mocks/pkg/injection/codemodule/installer/installer.go
Labels: core

#2387 Shorten test dynakube name to pass validation
  hack/make/tests/e2e.mk
  test/features/cloudnative/codemodules/codemodules.go
Labels: test

#2350 Fix race condition where code modules are not injected into ActiveGate pods
  pkg/controllers/dynakube/connectioninfo/reconciler.go
  pkg/controllers/dynakube/connectioninfo/reconciler_test.go
  pkg/controllers/dynakube/dynakube_controller.go
  pkg/controllers/dynakube/dynakube_controller_test.go
  pkg/webhook/mutation/pod_mutator/pod_mutator.go
  pkg/webhook/mutation/pod_mutator/request.go
Labels: bug

#2382 Replace controller-runtime.Manager custom mock with mockery generated Manager
  .mockery.yaml
  cmd/csi/provisioner/builder_test.go
  cmd/csi/provisioner/command_test.go
  cmd/csi/provisioner/manager_test.go
  cmd/csi/server/builder_test.go
  cmd/csi/server/command_test.go
  cmd/csi/server/manager_test.go
  cmd/manager/mock.go
  cmd/manager/mock_test.go
  cmd/operator/builder_test.go
  cmd/operator/manager_test.go
  cmd/webhook/builder_test.go
  cmd/webhook/manager_test.go
  test/mocks/cmd/manager/provider.go
  test/mocks/sigs.k8s.io/controller-runtime/pkg/manager/manager.go
Labels: core

#2376 Replace custom client test code with mockery generated one
  .mockery.yaml
  hack/make/go.mk
  pkg/clients/dynatrace/mock_client.go
  pkg/controllers/csi/provisioner/controller_test.go
  pkg/controllers/csi/provisioner/install_test.go
  pkg/controllers/csi/provisioner/processmoduleconfig_test.go
  pkg/controllers/dynakube/activegate/internal/authtoken/reconciler_test.go
  pkg/controllers/dynakube/activegate/reconciler_test.go
  pkg/controllers/dynakube/apimonitoring/reconciler_test.go
  pkg/controllers/dynakube/connectioninfo/reconciler_test.go
  pkg/controllers/dynakube/dtpullsecret/reconciler_test.go
  pkg/controllers/dynakube/dynakube_controller_test.go
  pkg/controllers/dynakube/oneagent/oneagent_reconciler_test.go
  pkg/controllers/dynakube/token/tokens_test.go
  pkg/controllers/dynakube/version/activegate_test.go
  pkg/controllers/dynakube/version/codemodules_test.go
  pkg/controllers/dynakube/version/oneagent_test.go
  pkg/controllers/dynakube/version/reconciler_test.go
  pkg/controllers/dynakube/version/synthetic_test.go
  pkg/controllers/nodes/nodes_controller_test.go
  pkg/injection/codemodule/installer/url/installer_test.go
  pkg/injection/startup/run_test.go
  pkg/oci/registry/mocks/client.go
  test/mocks/cmd/manager/provider.go
  test/mocks/pkg/clients/dynatrace/Client.go
  test/mocks/pkg/controllers/dynakube/version/status_updater.go
Labels: core

#2388 Generate mock for controller-runtime/pkg/reconciler interface using vectra/mockery
  .mockery.yaml
  CONTRIBUTING.md
  pkg/controllers/csi/provisioner/controller_test.go
  test/mocks/pkg/clients/dynatrace/client.go
  test/mocks/sigs.k8s.io/controller-runtime/pkg/reconcile/reconciler.go
Labels: core

#2298 Add edgeconnect provisioner mode
  .mockery.yaml
  config/crd/bases/dynatrace.com_edgeconnects.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  pkg/api/v1alpha1/edgeconnect/edgeconnect_types.go
  pkg/clients/edgeconnect/client.go
  pkg/clients/edgeconnect/config.go
  pkg/clients/edgeconnect/edgeconnect.go
  pkg/clients/edgeconnect/iface.go
  pkg/controllers/edgeconnect/consts/consts.go
  pkg/controllers/edgeconnect/controller.go
  pkg/controllers/edgeconnect/controller_test.go
  pkg/controllers/edgeconnect/deployment/deployment.go
  pkg/controllers/edgeconnect/deployment/deployment_test.go
  test/mocks/pkg/clients/edgeconnect/client.go
Labels: core

#2391 Add managed-by-operator parameter when creating edgeConnect resources
  pkg/clients/edgeconnect/client.go
  pkg/clients/edgeconnect/client_test.go
  pkg/clients/edgeconnect/edgeconnect.go
Labels: core

#2392 Restructure dynakube samples
  assets/samples/dynakube/applicationMonitoring.yaml
  assets/samples/dynakube/classicFullStack.yaml
  assets/samples/dynakube/cloudNativeFullStack.yaml
  assets/samples/dynakube/hostMonitoring.yaml
  assets/samples/dynakube/kustomization.yaml
  assets/samples/dynakube/multipleDynakubes.yaml
  assets/samples/edgeconnect/edgeconnect.yaml
  config/manifests/kustomization.yaml
  config/olm/kubernetes/kustomization.yaml
  config/olm/openshift/kustomization.yaml
Labels: documentation

#2394 Make user secret creation error tolerant
  pkg/api/scheme/fake/fake.go
  pkg/injection/namespace/ingestendpoint/secret.go
  pkg/injection/namespace/initgeneration/initgeneration.go
  pkg/util/kubeobjects/secret/secret.go
  pkg/util/kubeobjects/secret/secret_test.go
Labels: core

#2400 Remove unnecessary build tags
  .github/workflows/ci.yaml
  hack/build/create_go_build_tags.sh
Labels: ci

#2402 Only check the actual activegate container for mounts in e2e test
  test/features/activegate/activegate.go
Labels: test

#2403 Updates mockery rules in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#2404 Remove restriction to `cluster.local` domain for startup probe
  cmd/startup_probe/builder.go
Labels: core

#2405 Add readiness + liveness to e2e sample proxy
  test/helpers/proxy/proxy.go
  test/testdata/network/proxy.yaml
Labels: test

#2412 Make renovate pin versions of markdownlint-cli and helm unittest
  .github/renovate.json5
  hack/helm/install-unittest-plugin.sh
  hack/make/prerequisites.mk
Labels: dependencies

#2422 Fix e2e proxy.yaml for latest openshift
  test/testdata/network/proxy.yaml
Labels: test

#2423 Fix e2e proxy.yaml for latest openshift (#2422)
  test/testdata/network/proxy.yaml
Labels: cherrypick
