Repository Dynatrace/dynatrace-operator, pull requests merged in 2023-10, with the labels that each got.

#2161 Skip helm index file creation incase of pre-release
  .github/workflows/release.yaml
Labels: ci

#2158 Fix operator behavior related to `503 ServiceUnavailable` DynatraceApi error
  src/controllers/dynakube/dynakube_controller.go
  src/controllers/dynakube/dynatraceapi/status.go
  src/controllers/dynakube/token/tokens.go
  src/controllers/dynakube/token/tokens_test.go
Labels: core

#2162 Skip helm index file creation incase of pre-release (#2161)
  .github/workflows/release.yaml
Labels: cherrypick

#2153 Adds 'force' injection failure policy
  src/api/v1beta1/dynakube/feature_flags.go
  src/api/v1beta1/dynakube/feature_flags_test.go
  src/standalone/env.go
  src/standalone/env_test.go
  src/standalone/run.go
  src/standalone/run_test.go
Labels: core

#2159 Replace containers/image library for image reference parsing.
  go.mod
  go.sum
  src/controllers/dynakube/version/image_hash_test.go
  src/controllers/dynakube/version/updater.go
  src/controllers/dynakube/version/updater_test.go
  src/controllers/edgeconnect/version/updater.go
  src/installer/image/config.go
  src/installer/image/installer.go
  src/installer/image/unpack.go
  src/installer/image/unpack_test.go
  src/registry/client.go
Labels: core

#2174 Add code-review section to the style guide
  doc/coding-style-guide.md
Labels: documentation

#2172 E2E tests for network zone support
  hack/make/tests/e2e.mk
  test/helpers/components/activegate/installation.go
  test/helpers/components/dynakube/builder.go
  test/helpers/components/dynakube/dynakube.go
  test/helpers/tenant/network_zone.go
  test/scenarios/cloudnative/default/default.go
  test/scenarios/cloudnative/network_zones/network_zones.go
  test/scenarios/cloudnative/network_zones/network_zones_test.go
Labels: test

#2142 Refactor registry.ImageGetter interface
  src/cmd/troubleshoot/builder.go
  src/cmd/troubleshoot/image.go
  src/cmd/troubleshoot/image_test.go
  src/controllers/dynakube/dynakube_controller.go
  src/controllers/dynakube/dynakube_controller_test.go
  src/controllers/dynakube/version/activegate.go
  src/controllers/dynakube/version/activegate_test.go
  src/controllers/dynakube/version/fakeregistry.go
  src/controllers/dynakube/version/healthconfig.go
  src/controllers/dynakube/version/image_hash.go
  src/controllers/dynakube/version/image_hash_test.go
  src/controllers/dynakube/version/oneagent.go
  src/controllers/dynakube/version/oneagent_test.go
  src/controllers/dynakube/version/reconciler.go
  src/controllers/dynakube/version/reconciler_test.go
  src/controllers/dynakube/version/synthetic.go
  src/controllers/dynakube/version/synthetic_test.go
  src/controllers/dynakube/version/updater.go
  src/controllers/dynakube/version/updater_test.go
  src/controllers/edgeconnect/controller.go
  src/controllers/edgeconnect/controller_test.go
  src/controllers/edgeconnect/version/updater.go
  src/registry/client.go
  src/registry/mocks/client.go
Labels: core

#2168 Adds ActiveGate endpoints as Istio ServiceEntries
  src/controllers/dynakube/connectioninfo/communication_hosts.go
  src/controllers/dynakube/connectioninfo/communication_hosts_test.go
  src/controllers/dynakube/dynakube_controller.go
  src/controllers/dynakube/istio/config.go
  src/controllers/dynakube/istio/reconciler.go
  src/controllers/dynakube/istio/reconciler_test.go
Labels: activegate, oneagent

#2178 Add limits to init container of CSI driver daemonset
  config/helm/chart/default/templates/Common/csi/daemonset.yaml
  config/helm/chart/default/tests/Common/csi/daemonset_test.yaml
  config/helm/chart/default/values.yaml
Labels: helm

#2193 Adds missing nodeAffinity settings for arm and ppcle support to the activeGate statefulset
  pkg/controllers/dynakube/activegate/internal/statefulset/statefulset.go
  pkg/controllers/dynakube/activegate/internal/statefulset/statefulset_test.go
  pkg/controllers/dynakube/oneagent/daemonset/affinity.go
  pkg/util/kubeobjects/affinity.go
  pkg/util/kubeobjects/affinity_test.go
Labels: bug

#2195 Adds missing nodeAffinity settings for arm and ppcle support to the activeGate statefulset
  src/controllers/dynakube/activegate/internal/statefulset/statefulset.go
  src/controllers/dynakube/activegate/internal/statefulset/statefulset_test.go
  src/controllers/dynakube/oneagent/daemonset/affinity.go
  src/kubeobjects/affinity.go
  src/kubeobjects/affinity_test.go
Labels: cherrypick

#2170 Add helm-package upload to OCI registry
  .github/actions/build-helm/action.yaml
  .github/actions/upload-helm/action.yaml
  .github/workflows/release.yaml
  hack/build/ci/push-helm-chart.sh
Labels: ci

#2186 Use image index digest instead of plain image digest
  pkg/oci/registry/client.go
Labels: bug

#2201 Remove default tolerations for activeGate pods(#2200)
  pkg/controllers/dynakube/activegate/internal/statefulset/statefulset.go
  pkg/controllers/dynakube/activegate/internal/statefulset/statefulset_test.go
  pkg/util/kubeobjects/affinity.go
  pkg/util/kubeobjects/affinity_test.go
Labels: cherrypick

#2205 Keep namespace when running undeploy/helm
  hack/make/deploy/helm.mk
Labels: test

#2206 Keep namespace when running undeploy/helm #2205
  hack/make/deploy/helm.mk
Labels: cherrypick

#2207 Only get oneagent healthcheck when needed
  src/controllers/dynakube/version/reconciler.go
Labels: bug

#2200 Removes default tolerations for activeGate pods
  src/controllers/dynakube/activegate/internal/statefulset/statefulset.go
  src/controllers/dynakube/activegate/internal/statefulset/statefulset_test.go
  src/kubeobjects/affinity.go
  src/kubeobjects/affinity_test.go
Labels: activegate

#2208 Only get oneagent healthcheck when needed #2207
  pkg/controllers/dynakube/version/reconciler.go
Labels: cherrypick

#2197 Add helm-package upload to OCI registry (#2161)
  .github/actions/build-helm/action.yaml
  .github/actions/upload-helm/action.yaml
  .github/workflows/release.yaml
  hack/build/ci/push-helm-chart.sh
Labels: ci

#2198 Document the use of mockery in contributing.md
  .mockery.yaml
  CONTRIBUTING.md
  hack/make/go.mk
  hack/make/prerequisites.mk
  pkg/oci/registry/mocks/client.go
Labels: documentation

#2210 Fix the "a tag or digest is required" check
  pkg/controllers/dynakube/version/updater.go
  pkg/controllers/dynakube/version/updater_test.go
Labels: bug

#2211 Small addition to the code review guidelines
  doc/coding-style-guide.md
Labels: documentation

#2212 Fix the flakey Istio e2e Test
  test/scenarios/cloudnative/default/default.go
Labels: test

#2189 Add seccompProfile on the POD level
  config/helm/chart/default/templates/Common/operator/deployment-operator.yaml
  config/helm/chart/default/templates/Common/webhook/deployment-webhook.yaml
  config/helm/chart/default/tests/Common/operator/deployment-operator_test.yaml
  config/helm/chart/default/tests/Common/webhook/deployment-webhook_test.yaml
  config/helm/chart/default/values.yaml
  pkg/controllers/dynakube/activegate/internal/statefulset/statefulset.go
Labels: core

#2219 Update dependencies for release-0.14
  Dockerfile
  go.mod
  go.sum
Labels: dependencies

#2222 Change ubi9-micro to multi-arch image in dockerfile
  Dockerfile
Labels: bug

#2225 Add missing CRD to GitHub actions release pipeline
  .github/workflows/release.yaml
Labels: ci

#2224 Add executable bit to helm upload script and upgrade ubi9-micro version
  Dockerfile
  hack/build/ci/push-helm-chart.sh
Labels: cherrypick

#2227 Add missing CRD to GitHub actions release pipeline
  .github/workflows/release.yaml
Labels: cherrypick

#2229 Stabilises Codemodules e2e Test
  test/helpers/kubeobjects/namespace/namespace.go
  test/helpers/proxy/proxy.go
  test/scenarios/cloudnative/codemodules/codemodules.go
Labels: test

#2243 Re-order provisioner structure in order to fix host-monitoring
  pkg/controllers/csi/provisioner/controller.go
  pkg/controllers/csi/provisioner/controller_test.go
Labels: bug

#2156 Improve oneAgent image validation using manifest labels
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/crd/bases/dynatrace.com_edgeconnects.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  pkg/api/status/version.go
  pkg/controllers/dynakube/version/activegate.go
  pkg/controllers/dynakube/version/codemodules.go
  pkg/controllers/dynakube/version/fakeregistry.go
  pkg/controllers/dynakube/version/oneagent.go
  pkg/controllers/dynakube/version/oneagent_test.go
  pkg/controllers/dynakube/version/synthetic.go
  pkg/controllers/dynakube/version/updater.go
  pkg/controllers/dynakube/version/updater_test.go
  pkg/oci/registry/client.go
Labels: core

#2246 Re-order provisioner structure in order to fix host-monitoring (#2243)
  src/controllers/csi/provisioner/controller.go
  src/controllers/csi/provisioner/controller_test.go
Labels: cherrypick

#2247 Re-order provisioner structure and add CSI init-container limits
  config/helm/chart/default/templates/Common/csi/daemonset.yaml
  config/helm/chart/default/tests/Common/csi/daemonset_test.yaml
  config/helm/chart/default/values.yaml
  src/controllers/csi/provisioner/controller.go
  src/controllers/csi/provisioner/controller_test.go
Labels: cherrypick

#2255 Update UBI9 base image to newer version
  Dockerfile
Labels: dependencies

#2234 Introduce integration of renovate bot for release branches
  .github/renovate.json5
Labels: dependencies

#2285 [do-not-merge] Adapt helm files for release version 0.13.1
  config/helm/repos/stable/dynatrace-operator-0.13.1.tgz
  config/helm/repos/stable/dynatrace-operator-0.13.1.tgz.prov
  config/helm/repos/stable/index.yaml
  config/helm/repos/stable/index.yaml.previous
Labels: do-not-merge

#2281 Add k8s app enabled feature flag
  pkg/api/v1beta1/dynakube/feature_flags.go
  pkg/clients/dynatrace/client.go
  pkg/clients/dynatrace/kubernetes_settings.go
  pkg/clients/dynatrace/kubernetes_settings_test.go
  pkg/clients/dynatrace/mock_client.go
  pkg/controllers/dynakube/apimonitoring/reconciler.go
  pkg/controllers/dynakube/apimonitoring/reconciler_test.go
  pkg/controllers/dynakube/dynakube_controller.go
Labels: activegate

#2297 Fix self deleting owner reference in created istio CRs
  pkg/controllers/dynakube/dynakube_controller.go
  pkg/controllers/dynakube/dynakube_controller_test.go
  pkg/controllers/dynakube/istio/client.go
  pkg/controllers/dynakube/istio/client_test.go
  pkg/controllers/dynakube/istio/reconciler.go
  pkg/controllers/dynakube/istio/reconciler_test.go
  pkg/webhook/validation/dynakube/istio.go
Labels: bug

#2299 Fix the broken links in the networking doc
  doc/network.md
Labels: documentation
