Repository Dynatrace/dynatrace-operator, pull requests merged in 2023-07, with the labels that each got.

#1909 Updates dependencies on release-0.11 branch
  Dockerfile
  go.mod
  go.sum
Labels: dependencies

#1910 Fixes trustedCA handling for image registries
  src/controllers/csi/provisioner/agent_test.go
  src/dockerconfig/docker_config.go
  src/dockerconfig/docker_config_test.go
Labels: cherrypick

#1911 Adds extra check for secret creation during pod mutation
  src/webhook/mutation/pod_mutator/dataingest_mutation/mutator.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/mutator.go
  src/webhook/mutation/pod_mutator/pod_mutator.go
Labels: cherrypick

#1912 Fixes oneAgent pod restarts after operator version change
  src/controllers/dynakube/deploymentmetadata/config.go
  src/controllers/dynakube/deploymentmetadata/reconciler.go
  src/controllers/dynakube/oneagent/daemonset/arguments.go
  src/controllers/dynakube/oneagent/daemonset/arguments_test.go
  src/controllers/dynakube/oneagent/daemonset/env_vars.go
Labels: cherrypick

#1832 Update e2e tests to use automatic platform detection
  src/cmd/config/config.go
  src/kubeobjects/platform.go
  src/kubeobjects/platform_test.go
  test/helpers/components/operator/installation.go
  test/helpers/istio/install.go
  test/helpers/platform/platform.go
  test/helpers/platform/platform_test.go
  test/helpers/proxy/proxy.go
  test/helpers/sampleapps/sampleapp.go
  test/scenarios/activegate/installation.go
  test/scenarios/cloudnative/proxy/proxy.go
Labels: test

#1885 Add image import to snyk to publish image workflow
  .github/workflows/release.yaml
Labels: ci

#1914 Adds optional digest parameter for operator image to makefile
  hack/make/images.mk
Labels: ci

#1918 [do-not-merge] Adapt helm files for release version 0.11.3
  config/helm/repos/stable/dynatrace-operator-0.11.3.tgz
  config/helm/repos/stable/dynatrace-operator-0.11.3.tgz.prov
  config/helm/repos/stable/index.yaml
  config/helm/repos/stable/index.yaml.previous
Labels: do-not-merge

#1920 Always set 'RunAsNonRoot' explicitly on init container
  src/webhook/mutation/pod_mutator/init_container.go
  src/webhook/mutation/pod_mutator/init_container_test.go
  src/webhook/mutation/pod_mutator/pod_mutator_test.go
  src/webhook/mutation/pod_mutator/request_test.go
Labels: bug

#1913 Enable Activegate http endpoint for metrics-ingest capability
  assets/calico/activegate-policy.yaml
  src/controllers/dynakube/activegate/consts/consts.go
  src/controllers/dynakube/activegate/internal/capability/service.go
  src/controllers/dynakube/activegate/internal/capability/service_test.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/serviceport.go
  src/controllers/dynakube/activegate/internal/statefulset/statefulset.go
  src/controllers/dynakube/activegate/internal/statefulset/statefulset_test.go
  src/controllers/dynakube/activegate/reconciler_test.go
  src/ingestendpoint/secret.go
  src/ingestendpoint/secret_test.go
  test/helpers/sampleapps/curl.go
  test/scenarios/activegate/installation.go
Labels: activegate

#1925 Change ActiveGate `group` field to "recommended"
  assets/samples/applicationMonitoring.yaml
  assets/samples/classicFullStack.yaml
  assets/samples/cloudNativeFullStack.yaml
  assets/samples/hostMonitoring.yaml
Labels: documentation

#1933 Removes metrics-ingest preview warning
  src/webhook/validation/activegate_test.go
  src/webhook/validation/config.go
  src/webhook/validation/preview.go
  src/webhook/validation/validation_test.go
Labels: core

#1932 Fix duplicated ClusterRole for Openshift
  config/helm/chart/default/templates/Common/activegate/clusterrole-activegate.yaml
  config/helm/chart/default/templates/Common/oneagent/clusterrole-oneagent.yaml
  config/helm/chart/default/tests/Common/activegate/clusterrole-activegate_test.yaml
  config/helm/chart/default/tests/Common/oneagent/clusterrole-oneagent_test.yaml
  hack/make/manifests/openshift.mk
Labels: helm

#1934 Refactor PR markdown template following Markdownlint rules
  .github/pull_request_template.md
Labels: documentation

#1924 Adds startup-probe command
  src/cmd/main.go
  src/cmd/startup_probe/builder.go
Labels: core

#1936 Removes creation of secrets by POD mutators
  config/helm/chart/default/templates/Common/webhook/clusterrole-webhook.yaml
  config/helm/chart/default/tests/Common/webhook/clusterrole-webhook_test.yaml
  src/webhook/mutation/pod_mutator/dataingest_mutation/mutator.go
  src/webhook/mutation/pod_mutator/dataingest_mutation/mutator_test.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/mutator.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/mutator_test.go
Labels: core

#1946 Reduce allowed version in Dockerfile to require only two digits
  .github/renovate.json5
Labels: bug

#1945 Add golangci-lint gh action to renovate
  .github/renovate.json5
  .github/workflows/ci.yaml
Labels: ci

#1955 Fixes K8s OLM manifests to include serviceAccount for oneAgents
  config/helm/chart/default/templates/Common/activegate/clusterrole-activegate.yaml
  config/helm/chart/default/templates/Common/csi/clusterrole-csi.yaml
  config/helm/chart/default/templates/Common/csi/csidriver.yaml
  config/helm/chart/default/templates/Common/kubernetes-monitoring/clusterrole-kubernetes-monitoring.yaml
  config/helm/chart/default/templates/Common/oneagent/clusterrole-oneagent.yaml
  config/helm/chart/default/templates/Common/operator/clusterrole-operator.yaml
  config/helm/chart/default/templates/Common/webhook/clusterrole-webhook.yaml
  config/helm/chart/default/templates/_platform.tpl
  hack/make/manifests/kubernetes.mk
  hack/make/manifests/openshift.mk
Labels: bug

#1954 Treat zip and image codemodules as the same in csi server
  config/helm/chart/default/templates/Common/csi/daemonset.yaml
  config/helm/chart/default/tests/Common/csi/daemonset_test.yaml
  src/cmd/csi/init/builder.go
  src/cmd/csi/init/manager.go
  src/cmd/csi/provisioner/builder.go
  src/cmd/csi/server/builder.go
  src/cmd/csi/server/manager.go
  src/cmd/main.go
  src/controllers/csi/config.go
  src/controllers/csi/driver/volumes/app/publisher.go
  src/controllers/csi/driver/volumes/app/publisher_test.go
  src/controllers/csi/gc/binaries.go
  src/controllers/csi/gc/binaries_test.go
  src/controllers/csi/gc/images.go
  src/controllers/csi/gc/images_test.go
  src/controllers/csi/gc/reconciler.go
  src/controllers/csi/gc/reconciler_test.go
  src/controllers/csi/metadata/correctness.go
  src/controllers/csi/metadata/correctness_test.go
  src/controllers/csi/metadata/fakes.go
  src/controllers/csi/metadata/metadata.go
  src/controllers/csi/metadata/path_resolver.go
  src/controllers/csi/metadata/sqlite.go
  src/controllers/csi/provisioner/agent.go
  src/controllers/csi/provisioner/agent_test.go
  src/controllers/csi/provisioner/controller.go
  src/controllers/csi/provisioner/controller_test.go
  src/controllers/csi/provisioner/install.go
  src/controllers/csi/provisioner/install_test.go
  src/controllers/csi/provisioner/processmoduleconfig_test.go
  src/installer/image/installer.go
  src/installer/image/installer_test.go
  src/installer/installer.go
  src/installer/mock.go
  src/installer/url/installer.go
  src/processmoduleconfig/update.go
  src/processmoduleconfig/update_test.go
  src/standalone/run.go
  src/standalone/run_test.go
Labels: core

#1960 Make seccomp field configurable for components
  config/helm/chart/default/templates/Common/csi/daemonset.yaml
  config/helm/chart/default/templates/Common/operator/deployment-operator.yaml
  config/helm/chart/default/templates/Common/webhook/deployment-webhook.yaml
  config/helm/chart/default/values.yaml
Labels: helm

#1963 Request raw codemodules from deployment API
  src/dtclient/endpoints.go
Labels: core

#1964 Add startupProbe to csi-provisioner and operator pod
  config/helm/chart/default/templates/Common/csi/daemonset.yaml
  config/helm/chart/default/templates/Common/operator/deployment-operator.yaml
  config/helm/chart/default/templates/_helpers.tpl
  config/helm/chart/default/tests/Common/csi/daemonset_test.yaml
  config/helm/chart/default/tests/Common/operator/deployment-operator_test.yaml
Labels: feature request

#1929 Add e2e test for switching monitoring modes
  hack/make/tests/e2e.mk
  test/helpers/components/dynakube/dynakube.go
  test/helpers/kubeobjects/daemonset/wait.go
  test/scenarios/classic/switch_modes/install.go
  test/scenarios/classic/switch_modes/switch_modes_test.go
  test/scenarios/cloudnative/switch_modes/install.go
  test/scenarios/cloudnative/switch_modes/switch_modes_test.go
Labels: test

#1949 Change SupportArchive file format from tar to zip
  src/cmd/support_archive/archive_test.go
  src/cmd/support_archive/archiver.go
  src/cmd/support_archive/builder.go
  src/cmd/support_archive/collector.go
  src/cmd/support_archive/loadsim.go
  src/cmd/support_archive/logs.go
  src/cmd/support_archive/logs_test.go
  src/cmd/support_archive/operator_version.go
  src/cmd/support_archive/operator_version_test.go
  src/cmd/support_archive/resources.go
  src/cmd/support_archive/resources_test.go
  src/cmd/support_archive/supportarchive_output.go
  src/cmd/support_archive/supportarchive_output_test.go
  src/cmd/support_archive/tarball.go
  src/cmd/support_archive/tarball_test.go
  src/cmd/support_archive/troubleshoot.go
  src/cmd/support_archive/troubleshoot_test.go
  test/scenarios/support_archive/install.go
Labels: core

#1969 Fix duplicated ClusterRole for Openshift
  config/helm/chart/default/templates/Common/activegate/clusterrole-activegate.yaml
  config/helm/chart/default/templates/Common/oneagent/clusterrole-oneagent-privileged.yaml
  config/helm/chart/default/tests/Common/activegate/clusterrole-activegate_test.yaml
  config/helm/chart/default/tests/Common/oneagent/clusterrole-oneagent-privileged_test.yaml
  hack/make/manifests/openshift.mk
Labels: cherrypick

#1970 Fix K8s OLM manifests to include serviceAccount for oneAgents
  config/helm/chart/default/templates/Common/activegate/clusterrole-activegate.yaml
  config/helm/chart/default/templates/Common/csi/clusterrole-csi.yaml
  config/helm/chart/default/templates/Common/csi/csidriver.yaml
  config/helm/chart/default/templates/Common/kubernetes-monitoring/clusterrole-kubernetes-monitoring.yaml
  config/helm/chart/default/templates/Common/oneagent/clusterrole-oneagent-privileged.yaml
  config/helm/chart/default/templates/Common/operator/clusterrole-operator.yaml
  config/helm/chart/default/templates/Common/webhook/clusterrole-webhook.yaml
  config/helm/chart/default/templates/_platform.tpl
  hack/make/manifests/kubernetes.mk
  hack/make/manifests/openshift.mk
Labels: cherrypick

#1972 Update dependencies for 0.12.1 release
  go.mod
  go.sum
Labels: dependencies

#1965 Deprecate feature flags as they are switched to enabled by default
  src/api/v1beta1/feature_flags.go
  src/api/v1beta1/feature_flags_test.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/containers_test.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/mutator_test.go
  src/webhook/validation/config.go
  src/webhook/validation/csi_daemonset_test.go
  src/webhook/validation/deprecation.go
  src/webhook/validation/deprecation_test.go
  src/webhook/validation/oneagent_test.go
Labels: core

#1967 Pass proxy to codemodules via ruxitagentproc.conf instead of env vari…
  src/controllers/csi/provisioner/controller.go
  src/dtclient/processmoduleconfig.go
  src/dtclient/processmoduleconfig_test.go
  src/standalone/run.go
  src/standalone/run_test.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/containers.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/containers_test.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/env.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/env_test.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/mutator_test.go
Labels: oneagent

#1974 Add missing service account for OLM installations
  config/helm/chart/default/templates/Common/oneagent/clusterrole-oneagent-unprivileged.yaml
Labels: bug

#1976 [do-not-merge] Adapt helm files for release version 0.12.1
  config/helm/repos/stable/dynatrace-operator-0.12.1.tgz
  config/helm/repos/stable/dynatrace-operator-0.12.1.tgz.prov
  config/helm/repos/stable/index.yaml
  config/helm/repos/stable/index.yaml.previous
Labels: do-not-merge

#1962 Add implementation of Keychain interface able to read docker config file from any path
  .golangci.yml
  go.mod
  go.sum
  src/dockerkeychain/docker_keychain.go
  src/dockerkeychain/docker_keychain_test.go
Labels: core

#1980 Fix activate gate read only assess (#1978)
  test/scenarios/activegate/installation.go
Labels: cherrypick

#1983 Refactor existing and add missing CRD annotations
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  src/api/v1beta1/activegate_types.go
  src/api/v1beta1/dynakube_status.go
  src/api/v1beta1/dynakube_types.go
  src/api/v1beta1/oneagent_types.go
Labels: documentation

#1989 Only use raw codemodules with csiDriver
  src/controllers/csi/provisioner/install.go
  src/dtclient/agent_version.go
  src/dtclient/agent_version_test.go
  src/dtclient/client.go
  src/dtclient/endpoints.go
  src/dtclient/mock_client.go
  src/installer/url/download.go
  src/installer/url/installer.go
  src/standalone/run.go
Labels: cherrypick

#1981 Use correct tenantUUID
  src/controllers/csi/provisioner/controller.go
  src/dtclient/processmoduleconfig.go
  src/initgeneration/initgeneration.go
  src/initgeneration/initgeneration_test.go
  src/standalone/run.go
  src/standalone/run_test.go
  src/standalone/secret_test.go
Labels: bug

#1988 Clean up better in switchmode e2e tests
  test/helpers/steps/assess/dynakube.go
  test/helpers/steps/assess/operator.go
  test/helpers/steps/teardown/operator.go
  test/helpers/steps/teardown/uninstall.go
  test/scenarios/activegate/installation.go
  test/scenarios/applicationmonitoring/labelversiondetection.go
  test/scenarios/applicationmonitoring/without_csi.go
  test/scenarios/classic/switch_modes/install.go
  test/scenarios/cloudnative/switch_modes/install.go
Labels: test

#1979 Add ActiveGate service to DT_DNS_ENTRY_POINT
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/serviceport.go
  src/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/serviceport_test.go
Labels: core
