Repository Dynatrace/dynatrace-operator, pull requests merged in 2023-09, with the labels that each got.

#2076 Replace cover.out occurrences with new coverage.txt
  .gitignore
  hack/make/go.mk
Labels: ci

#2081 Set logger for controller-runtime.
  test/scenarios/activegate/basic/activegate_test.go
  test/scenarios/activegate/proxy/activegate_test.go
  test/scenarios/applicationmonitoring/applicationmonitoring_test.go
  test/scenarios/classic/classic_test.go
  test/scenarios/classic/switch_modes/switch_modes_test.go
  test/scenarios/cloudnative/basic/cloudnative_test.go
  test/scenarios/cloudnative/codemodules/cloudnative_test.go
  test/scenarios/cloudnative/disabled_auto_injection/cloudnative_test.go
  test/scenarios/cloudnative/istio/cloudnative_test.go
  test/scenarios/cloudnative/network/cloudnative_test.go
  test/scenarios/cloudnative/proxy/cloudnative_test.go
  test/scenarios/cloudnative/public_registry/cloudnative_test.go
  test/scenarios/cloudnative/specific_agent_version/cloudnative_test.go
  test/scenarios/cloudnative/switch_modes/switch_modes_test.go
  test/scenarios/cloudnative/upgrade/cloudnative_test.go
Labels: test

#2084 Set logger in E2E test
  test/scenarios/support_archive/support_archive_test.go
Labels: test

#2077 Add network zone to OneAgent and ActiveGate endpoints
  src/dtclient/endpoints.go
  src/dtclient/endpoints_test.go
Labels: core

#2093 Fix smaller wording issues with edgeConnect CRD
  config/crd/bases/dynatrace.com_edgeconnects.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  src/api/v1alpha1/edgeconnect/edgeconnect_types.go
Labels: documentation

#2098 Add gke-autopilot namespaces to default ignored namespaces
  src/api/v1beta1/dynakube/feature_flags.go
  test/helpers/kubeobjects/deployment/wait.go
  test/testdata/sample-app/pod-base.yaml
Labels: test

#2097 Add network.md and refactor calico network policies
  assets/calico/activegate-policy.yaml
  assets/calico/dynatrace-policies.yaml
  doc/network.md
Labels: documentation

#2078 Add helm package generation to GitHub actions
  .github/actions/build-helm/action.yaml
  .github/workflows/release.yaml
  hack/build/ci/generate-helm-package.sh
  hack/build/ci/prepare-build-variables.sh
Labels: ci

#2102 Add "bird's eye" picture to ARCHITECTURE.md
  ARCHITECTURE.md
Labels: documentation

#2106 Add missing ports for ActiveGate network policy
  assets/calico/activegate-policy.yaml
Labels: activegate

#2086 Create pull request for adding helm index to main branch
  .github/workflows/release.yaml
  hack/build/ci/generate-new-helm-index-yaml.sh
Labels: ci

#2114 Remove network zone from ActiveGate API endpoint
  src/dtclient/endpoints.go
  src/dtclient/endpoints_test.go
Labels: activegate

#2105 Rework how istio is handled
  doc/isito.md
  src/controllers/dynakube/connectioninfo/communication_hosts.go
  src/controllers/dynakube/connectioninfo/communication_hosts_test.go
  src/controllers/dynakube/dynakube_controller.go
  src/controllers/dynakube/dynakube_controller_test.go
  src/controllers/dynakube/istio/client.go
  src/controllers/dynakube/istio/client_test.go
  src/controllers/dynakube/istio/config.go
  src/controllers/dynakube/istio/istio.go
  src/controllers/dynakube/istio/istio_test.go
  src/controllers/dynakube/istio/reconciler.go
  src/controllers/dynakube/istio/reconciler_test.go
  src/controllers/dynakube/istio/serviceentry.go
  src/controllers/dynakube/istio/serviceentry_test.go
  src/controllers/dynakube/istio/virtualservice.go
  src/controllers/dynakube/istio/virtualservice_test.go
  src/kubeobjects/hasher.go
  src/kubeobjects/hasher_test.go
  src/webhook/validation/dynakube/istio.go
  test/helpers/istio/install.go
Labels: core

#2115 Add livenessprobe to OneAgent from image
  src/api/v1beta1/dynakube/properties.go
  src/controllers/dynakube/oneagent/daemonset/daemonset.go
  src/controllers/dynakube/oneagent/daemonset/daemonset_test.go
Labels: core

#2119 refactoring e2e helpers
  test/helpers/components/dynakube/dynakube.go
  test/helpers/components/operator/deployment.go
  test/helpers/kubeobjects/environment/environment.go
  test/helpers/setup/setup_builder.go
  test/helpers/steps/assess/dynakube.go
  test/helpers/steps/assess/install.go
  test/helpers/steps/assess/operator.go
  test/helpers/steps/assess/upgrade.go
  test/helpers/steps/teardown/operator.go
  test/helpers/steps/teardown/uninstall.go
  test/scenarios/activegate/activegate.go
  test/scenarios/activegate/default/default_test.go
  test/scenarios/activegate/proxy/proxy_test.go
  test/scenarios/applicationmonitoring/applicationmonitoring_test.go
  test/scenarios/applicationmonitoring/data_ingest.go
  test/scenarios/applicationmonitoring/label_version_detection.go
  test/scenarios/applicationmonitoring/read_only_csi_volume.go
  test/scenarios/applicationmonitoring/without_csi.go
  test/scenarios/classic/classic.go
  test/scenarios/classic/classic_test.go
  test/scenarios/classic/switch_modes/switch_modes.go
  test/scenarios/classic/switch_modes/switch_modes_test.go
  test/scenarios/cloudnative/codemodules/codemodules.go
  test/scenarios/cloudnative/codemodules/codemodules_test.go
  test/scenarios/cloudnative/default/default.go
  test/scenarios/cloudnative/default/default_test.go
  test/scenarios/cloudnative/disabled_auto_injection/disabled_auto_injection.go
  test/scenarios/cloudnative/disabled_auto_injection/disabled_auto_injection_test.go
  test/scenarios/cloudnative/istio/istio_test.go
  test/scenarios/cloudnative/network_problems/network_problems.go
  test/scenarios/cloudnative/network_problems/network_problems_test.go
  test/scenarios/cloudnative/proxy/proxy.go
  test/scenarios/cloudnative/proxy/proxy_test.go
  test/scenarios/cloudnative/public_registry/public_registry.go
  test/scenarios/cloudnative/public_registry/public_registry_test.go
  test/scenarios/cloudnative/specific_agent_version/specific_agent_version.go
  test/scenarios/cloudnative/specific_agent_version/specific_agent_version_test.go
  test/scenarios/cloudnative/switch_modes/switch_modes.go
  test/scenarios/cloudnative/switch_modes/switch_modes_test.go
  test/scenarios/cloudnative/upgrade/upgrade.go
  test/scenarios/cloudnative/upgrade/upgrade_test.go
  test/scenarios/support_archive/install.go
  test/scenarios/support_archive/support_archive_test.go
Labels: test

#2122 Remove specific agent version e2e test
  hack/make/tests/e2e.mk
  src/controllers/dynakube/version/activegate_test.go
  src/controllers/dynakube/version/codemodules_test.go
  src/controllers/dynakube/version/oneagent_test.go
  src/controllers/dynakube/version/reconciler_test.go
  src/controllers/dynakube/version/synthetic_test.go
  src/controllers/dynakube/version/updater_test.go
  test/scenarios/cloudnative/specific_agent_version/specific_agent_version.go
  test/scenarios/cloudnative/specific_agent_version/specific_agent_version_test.go
Labels: test

#2127 Add release action
  .github/workflows/release.yaml
Labels: ci

#2128 Add markdownlint CI check and refactor md files
  .github/pre-commit
  .github/workflows/ci.yaml
  ARCHITECTURE.md
  CONTRIBUTING.md
  HACKING.md
  README.md
  config/helm/README.md
  config/helm/chart/default/README.md
  config/olm/README.md
  doc/coding-style-guide.md
  doc/isito.md
  hack/doc/README.md
  hack/helm/google-marketplace/README.md
  hack/make/markdown.mk
  hack/make/prerequisites.mk
  test/scenarios/README.md
  test/testdata/secrets-samples/README.md
Labels: ci

#2132 Add validator to check dynakube name for leading digits
  src/webhook/validation/dynakube/config.go
  src/webhook/validation/dynakube/dynakube_name.go
  src/webhook/validation/dynakube/dynakube_name_test.go
Labels: bug

#2129 Block OA rollout until communication hosts are available.
  src/api/v1beta1/dynakube/properties.go
  src/controllers/dynakube/connectioninfo/reconciler.go
  src/controllers/dynakube/connectioninfo/reconciler_test.go
  src/controllers/dynakube/dynakube_controller.go
  src/controllers/dynakube/dynakube_controller_test.go
  src/controllers/dynakube/oneagent/oneagent_reconciler.go
  src/controllers/dynakube/oneagent/oneagent_reconciler_test.go
  src/dtclient/activegate_connection_info.go
  src/dtclient/activegate_connection_info_test.go
  src/dtclient/communication_hosts_test.go
  src/dtclient/connection_info.go
  src/dtclient/dynatrace_client.go
  src/dtclient/oneagent_connection_info.go
  src/dtclient/oneagent_connection_info_test.go
  src/webhook/config.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/annotations.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/mutator.go
  src/webhook/mutation/pod_mutator/oneagent_mutation/mutator_test.go
Labels: core

#2140 Minor fixes for the e2e tests
  hack/make/tests/e2e.mk
  test/scenarios/cloudnative/codemodules/codemodules.go
  test/scenarios/cloudnative/network_problems/network_problems.go
Labels: test

#2141 Always write cluster id to container.conf
  src/standalone/run.go
  src/standalone/run_test.go
Labels: core

#2139 Add EdgeConnect e2e tests
  hack/make/tests/e2e.mk
  test/helpers/components/edgeconnect/edgeconnect.go
  test/helpers/components/operator/installation.go
  test/helpers/setup/setup_builder.go
  test/helpers/steps/assess/dynakube.go
  test/helpers/steps/assess/edgeconnect.go
  test/helpers/steps/teardown/dynakube.go
  test/helpers/steps/teardown/operator.go
  test/helpers/tenant/secrets.go
  test/scenarios/edgeconnect/edgeconnect.go
  test/scenarios/edgeconnect/edgeconnect_test.go
  test/testdata/secrets-samples/edgeconnect-tenant.yaml
Labels: test

#2144 Remove codeModulesImage e2e test isito parts
  test/scenarios/cloudnative/codemodules/codemodules.go
  test/scenarios/cloudnative/codemodules/codemodules_test.go
  test/scenarios/cloudnative/istio/istio_test.go
Labels: test

#2150 Fix not appearing hosts when using application monitoring
  src/standalone/files.go
  src/standalone/run.go
  src/standalone/run_test.go
Labels: bug

#2152 Update oneagent readiness and liveness probe defaults
  src/controllers/dynakube/oneagent/daemonset/daemonset.go
  src/controllers/dynakube/oneagent/daemonset/daemonset_test.go
Labels: bug

#2151 Fix `container.conf` contents for cloud native
  src/standalone/files.go
  src/standalone/run.go
  src/standalone/run_test.go
Labels: bug

#2157 Enable public registry e2e test
  hack/make/tests/e2e.mk
Labels: test

#2146 Add context parameter to Reconcile function of the Reconciler interface
  src/controllers/certificates/webhook_cert_controller.go
  src/controllers/certificates/webhook_cert_controller_test.go
  src/controllers/dynakube/activegate/internal/authtoken/reconciler.go
  src/controllers/dynakube/activegate/internal/authtoken/reconciler_test.go
  src/controllers/dynakube/activegate/internal/capability/mock.go
  src/controllers/dynakube/activegate/internal/capability/reconciler.go
  src/controllers/dynakube/activegate/internal/capability/reconciler_test.go
  src/controllers/dynakube/activegate/internal/customproperties/reconciler.go
  src/controllers/dynakube/activegate/internal/customproperties/reconciler_test.go
  src/controllers/dynakube/activegate/internal/proxy/reconciler.go
  src/controllers/dynakube/activegate/internal/proxy/reconciler_test.go
  src/controllers/dynakube/activegate/internal/statefulset/reconciler.go
  src/controllers/dynakube/activegate/internal/statefulset/reconciler_test.go
  src/controllers/dynakube/activegate/reconciler.go
  src/controllers/dynakube/activegate/reconciler_test.go
  src/controllers/dynakube/connectioninfo/reconciler.go
  src/controllers/dynakube/connectioninfo/reconciler_test.go
  src/controllers/dynakube/deploymentmetadata/reconciler.go
  src/controllers/dynakube/deploymentmetadata/reconciler_test.go
  src/controllers/dynakube/dtpullsecret/generate_test.go
  src/controllers/dynakube/dtpullsecret/reconciler.go
  src/controllers/dynakube/dtpullsecret/reconciler_test.go
  src/controllers/dynakube/dynakube_controller.go
  src/controllers/reconciler.go
Labels: core
