Repository Dynatrace/dynatrace-operator, pull requests merged in 2024-06, with the labels that each got.

#3219 Fix CRD generation for releases
  hack/make/manifests/crd.mk
Labels: bug

#3214 Remove resources limit field from csi provisioner
  config/helm/chart/default/questions.yml
  config/helm/chart/default/tests/Common/csi/daemonset_test.yaml
  config/helm/chart/default/values.yaml
  config/helm/schema.yaml
Labels: helm

#3222 Add nodeAffinity to csi daemonset
  config/helm/chart/default/templates/Common/csi/daemonset.yaml
  config/helm/chart/default/templates/Common/operator/deployment-operator.yaml
  config/helm/chart/default/templates/Common/webhook/deployment-webhook.yaml
  config/helm/chart/default/templates/_helpers.tpl
  config/helm/chart/default/templates/_platform.tpl
  config/helm/chart/default/tests/Common/csi/daemonset_test.yaml
Labels: helm

#3234 Add EC validator to reject CR with Kubernetes Automation feature enabled
  pkg/webhook/validation/edgeconnect/api_server_test.go
  pkg/webhook/validation/edgeconnect/config.go
  pkg/webhook/validation/edgeconnect/host_patterns_test.go
  pkg/webhook/validation/edgeconnect/kubernetes_automation.go
  pkg/webhook/validation/edgeconnect/kubernetes_automation_test.go
  pkg/webhook/validation/edgeconnect/name_test.go
Labels: core

#3136 Fix GORM and remove usage of digest
  pkg/controllers/csi/config.go
  pkg/controllers/csi/driver/server.go
  pkg/controllers/csi/driver/volumes/app/publisher.go
  pkg/controllers/csi/driver/volumes/app/publisher_test.go
  pkg/controllers/csi/driver/volumes/bind_config.go
  pkg/controllers/csi/driver/volumes/bind_config_test.go
  pkg/controllers/csi/driver/volumes/host/publisher.go
  pkg/controllers/csi/driver/volumes/host/publisher_test.go
  pkg/controllers/csi/driver/volumes/publisher.go
  pkg/controllers/csi/driver/volumes/volume_config.go
  pkg/controllers/csi/driver/volumes/volume_config_test.go
  pkg/controllers/csi/gc/binaries.go
  pkg/controllers/csi/gc/binaries_test.go
  pkg/controllers/csi/gc/images.go
  pkg/controllers/csi/gc/images_test.go
  pkg/controllers/csi/gc/reconciler.go
  pkg/controllers/csi/gc/reconciler_test.go
  pkg/controllers/csi/gc/unmounted.go
  pkg/controllers/csi/metadata/cleaner.go
  pkg/controllers/csi/metadata/cleaner_test.go
  pkg/controllers/csi/metadata/fakes.go
  pkg/controllers/csi/metadata/models.go
  pkg/controllers/csi/metadata/path_resolver.go
  pkg/controllers/csi/metadata/sqlite_gorm_client.go
  pkg/controllers/csi/provisioner/controller.go
  pkg/controllers/csi/provisioner/controller_test.go
  pkg/controllers/csi/provisioner/install.go
  pkg/controllers/csi/provisioner/install_test.go
  pkg/injection/codemodule/installer/image/installer.go
  pkg/injection/codemodule/installer/image/installer_test.go
  pkg/injection/codemodule/installer/image/unpack.go
Labels: core

#3242 Fix hostGroup conversion logic for v1beta2
  pkg/api/v1beta1/dynakube/convert_from.go
  pkg/api/v1beta1/dynakube/convert_to.go
  pkg/api/v1beta1/dynakube/convert_to_test.go
Labels: bug

#3241 Fix GORM and remove usage of digest
  pkg/controllers/csi/config.go
  pkg/controllers/csi/driver/server.go
  pkg/controllers/csi/driver/volumes/app/publisher.go
  pkg/controllers/csi/driver/volumes/app/publisher_test.go
  pkg/controllers/csi/driver/volumes/bind_config.go
  pkg/controllers/csi/driver/volumes/bind_config_test.go
  pkg/controllers/csi/driver/volumes/host/publisher.go
  pkg/controllers/csi/driver/volumes/host/publisher_test.go
  pkg/controllers/csi/driver/volumes/publisher.go
  pkg/controllers/csi/driver/volumes/volume_config.go
  pkg/controllers/csi/driver/volumes/volume_config_test.go
  pkg/controllers/csi/gc/binaries.go
  pkg/controllers/csi/gc/binaries_test.go
  pkg/controllers/csi/gc/images.go
  pkg/controllers/csi/gc/images_test.go
  pkg/controllers/csi/gc/reconciler.go
  pkg/controllers/csi/gc/reconciler_test.go
  pkg/controllers/csi/gc/unmounted.go
  pkg/controllers/csi/metadata/cleaner.go
  pkg/controllers/csi/metadata/cleaner_test.go
  pkg/controllers/csi/metadata/fakes.go
  pkg/controllers/csi/metadata/models.go
  pkg/controllers/csi/metadata/path_resolver.go
  pkg/controllers/csi/metadata/sqlite_gorm_client.go
  pkg/controllers/csi/provisioner/controller.go
  pkg/controllers/csi/provisioner/controller_test.go
  pkg/controllers/csi/provisioner/install.go
  pkg/controllers/csi/provisioner/install_test.go
  pkg/injection/codemodule/installer/image/installer.go
  pkg/injection/codemodule/installer/image/installer_test.go
  pkg/injection/codemodule/installer/image/unpack.go
Labels: cherrypick

#3235 Fixes autoUpdate being enabled when applying a DynaKube in v1beta1 with autoUpdate set to false.
  pkg/api/v1beta2/dynakube/oneagent_types.go
Labels: bug

#3251 Fixes autoUpdate being enabled when applying a DynaKube in v1beta1 with autoUpdate set to false.
  pkg/api/v1beta2/dynakube/oneagent_types.go
Labels: cherrypick

#3250 Automerge renovate PRs
  .github/renovate.json5
Labels: ci

#3254 Make conversion nil safe in case of empty annotations
  pkg/api/v1beta1/dynakube/convert_from.go
  pkg/api/v1beta1/dynakube/convert_to.go
Labels: bug

#3258 Make conversion nil safe in case of empty annotations (#3254)
  pkg/api/v1beta1/dynakube/convert_from.go
  pkg/api/v1beta1/dynakube/convert_to.go
Labels: cherrypick

#3266 Make otel error log less scary
  pkg/util/dtotel/otel.go
Labels: core

#3265 Add validation for the custom image fields in the DynaKube
  pkg/webhook/validation/dynakube/config.go
  pkg/webhook/validation/dynakube/image.go
  pkg/webhook/validation/dynakube/image_test.go
Labels: core

#3270 Merge trustedCAs certificates with ones shipped in the image (release-1.2)
  pkg/clients/dynatrace/client.go
  pkg/oci/registry/client.go
  test/testdata/custom-cas/custom.pem
Labels: core

#3273 Correct metadata-enrichment annotation prefix
  pkg/webhook/config.go
Labels: bug

#3279 Make otel error log less scary (#3266)
  pkg/util/dtotel/otel.go
Labels: cherrypick

#3281 Correct metadata-enrichment annotation prefix (#3273)
  pkg/webhook/config.go
Labels: cherrypick

#3280 Correct metadata-enrichment annotation prefix (#3273)
  pkg/webhook/config.go
Labels: cherrypick

#3285 Fix release pipeline version mismatch of skopeo/docker
  hack/build/ci/get-image-digest.sh
Labels: ci

#3271 Merge trustedCAs certificates with ones shipped in the image (main)
  pkg/clients/dynatrace/client.go
  pkg/oci/registry/client.go
  test/testdata/custom-cas/custom.pem
Labels: core

#3294 Fix release pipeline version mismatch of docker and skopeo
  hack/build/ci/get-image-digest.sh
Labels: ci

#3311 Avoid using skopeo in release pipeline
  .github/actions/upload-image/action.yaml
  .github/workflows/release.yaml
  hack/build/ci/get-image-digest.sh
  hack/build/ci/upload-docker-image.sh
Labels: ci

#3313 Avoid using skopeo in release pipeline (#3311)
  .github/actions/upload-image/action.yaml
  .github/workflows/release.yaml
  hack/build/ci/get-image-digest.sh
  hack/build/ci/upload-docker-image.sh
Labels: cherrypick

#3329 Add a wait timeout to E2E Test Setup for OCP Environments and Check Result of Deployments for all Environments
  .github/scripts/create-cluster.sh
Labels: test

#3331 Remove gke-autopilot as platform from helm chart
  .github/workflows/release.yaml
  config/helm/chart/default/templates/_platform.tpl
  config/helm/chart/default/tests/Common/operator/deployment-operator_test.yaml
  config/helm/chart/default/tests/Common/webhook/deployment-webhook_test.yaml
  config/helm/chart/default/tests/Google/application_test.yaml
  config/helm/chart/default/values.yaml
  hack/make/deploy/gke.mk
  hack/make/manifests/config.mk
  hack/make/manifests/kubernetes.mk
  hack/make/tests/e2e.mk
Labels: bug

#3206 CRUD Dynatrace Connection Settings object on EdgeConnect reconciliation
  config/crd/bases/dynatrace.com_edgeconnects.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  pkg/api/v1alpha1/edgeconnect/edgeconnect_types.go
  pkg/clients/edgeconnect/client.go
  pkg/clients/edgeconnect/client_test.go
  pkg/clients/edgeconnect/endpoints.go
  pkg/clients/edgeconnect/environment_settings.go
  pkg/clients/edgeconnect/environment_settings_test.go
  pkg/clients/edgeconnect/iface.go
  pkg/controllers/edgeconnect/controller.go
  pkg/controllers/edgeconnect/controller_test.go
  test/mocks/cmd/manager/provider.go
  test/mocks/pkg/clients/dynatrace/client.go
  test/mocks/pkg/clients/edgeconnect/client.go
  test/mocks/pkg/controllers/dynakube/dynatraceclient/builder.go
  test/mocks/pkg/controllers/dynakube/istio/reconciler.go
  test/mocks/pkg/controllers/dynakube/version/status_updater.go
  test/mocks/pkg/oci/registry/image_getter.go
  test/mocks/sigs.k8s.io/controller-runtime/pkg/manager/manager.go
Labels: edgeconnect

#3334 Remove gke-autopilot as platform from helm chart (#3331)
  .github/workflows/release.yaml
  config/helm/chart/default/templates/_platform.tpl
  config/helm/chart/default/tests/Common/operator/deployment-operator_test.yaml
  config/helm/chart/default/tests/Common/webhook/deployment-webhook_test.yaml
  config/helm/chart/default/tests/Google/application_test.yaml
  config/helm/chart/default/values.yaml
  hack/make/deploy/gke.mk
  hack/make/manifests/config.mk
  hack/make/manifests/kubernetes.mk
  hack/make/tests/e2e.mk
Labels: cherrypick

#3198 Add Conditions for ActiveGate and CodeModules to the Istio Reconciler
  pkg/controllers/dynakube/activegate/reconciler.go
  pkg/controllers/dynakube/activegate/reconciler_test.go
  pkg/controllers/dynakube/injection/reconciler.go
  pkg/controllers/dynakube/istio/conditions.go
  pkg/controllers/dynakube/istio/config.go
  pkg/controllers/dynakube/istio/reconciler.go
  pkg/controllers/dynakube/istio/reconciler_test.go
Labels: core

#3336 Add v1beta2 samples
  README.md
  assets/samples/dynakube/kustomization.yaml
  assets/samples/dynakube/v1beta1/applicationMonitoring.yaml
  assets/samples/dynakube/v1beta1/classicFullStack.yaml
  assets/samples/dynakube/v1beta1/cloudNativeFullStack.yaml
  assets/samples/dynakube/v1beta1/hostMonitoring.yaml
  assets/samples/dynakube/v1beta1/kubernetesObservability.yaml
  assets/samples/dynakube/v1beta1/multipleDynakubes.yaml
  assets/samples/dynakube/v1beta2/applicationMonitoring.yaml
  assets/samples/dynakube/v1beta2/classicFullStack.yaml
  assets/samples/dynakube/v1beta2/cloudNativeFullStack.yaml
  assets/samples/dynakube/v1beta2/hostMonitoring.yaml
  assets/samples/dynakube/v1beta2/kubernetesObservability.yaml
  assets/samples/dynakube/v1beta2/multipleDynakubes.yaml
Labels: documentation

#3337 Add v1beta2 samples to GitHub
  README.md
  assets/samples/dynakube/kustomization.yaml
  assets/samples/dynakube/v1beta1/applicationMonitoring.yaml
  assets/samples/dynakube/v1beta1/classicFullStack.yaml
  assets/samples/dynakube/v1beta1/cloudNativeFullStack.yaml
  assets/samples/dynakube/v1beta1/hostMonitoring.yaml
  assets/samples/dynakube/v1beta1/kubernetesObservability.yaml
  assets/samples/dynakube/v1beta1/multipleDynakubes.yaml
  assets/samples/dynakube/v1beta2/applicationMonitoring.yaml
  assets/samples/dynakube/v1beta2/classicFullStack.yaml
  assets/samples/dynakube/v1beta2/cloudNativeFullStack.yaml
  assets/samples/dynakube/v1beta2/hostMonitoring.yaml
  assets/samples/dynakube/v1beta2/kubernetesObservability.yaml
  assets/samples/dynakube/v1beta2/multipleDynakubes.yaml
Labels: cherrypick

#3338 Fix nil-pointer in conflicting namespace validation
  pkg/webhook/validation/dynakube/namespace_selector.go
Labels: bug

#3341 Fix nil-pointer in conflicting namespace validation (#3338)
  pkg/webhook/validation/dynakube/namespace_selector.go
Labels: cherrypick

#3335 Add ./test/mocks/* to ignore for codecov.yaml
  .github/workflows/ci.yaml
  codecov.yml
Labels: test

#3342 Remove log line from support archive zip.
  cmd/csi/init/builder.go
  cmd/csi/provisioner/builder.go
  cmd/csi/server/builder.go
  cmd/operator/builder.go
  cmd/troubleshoot/builder.go
  cmd/webhook/builder.go
  pkg/logd/logger.go
Labels: bug

#3339 Make csi-gc less aggressive
  pkg/controllers/csi/gc/binaries.go
  pkg/controllers/csi/gc/binaries_test.go
  pkg/controllers/csi/gc/reconciler.go
  pkg/controllers/dynakube/istio/reconciler_test.go
Labels: bug

#3345 Make csi-gc less aggressive (#3339)
  pkg/controllers/csi/gc/binaries.go
  pkg/controllers/csi/gc/binaries_test.go
  pkg/controllers/csi/gc/reconciler.go
Labels: cherrypick

#3332 Add hostMappings on EdgeConnect provisioning via API
  pkg/api/v1alpha1/edgeconnect/edgeconnect_types.go
  pkg/api/v1alpha1/edgeconnect/edgeconnect_types_test.go
  pkg/clients/edgeconnect/client.go
  pkg/clients/edgeconnect/client_test.go
  pkg/clients/edgeconnect/edgeconnect.go
  pkg/clients/edgeconnect/iface.go
  pkg/controllers/edgeconnect/controller.go
  pkg/controllers/edgeconnect/controller_test.go
  test/mocks/pkg/clients/edgeconnect/client.go
Labels: edgeconnect

#3351 Remove schemaVersion from EdgeConnect Settings object
  pkg/clients/edgeconnect/environment_settings.go
  pkg/clients/edgeconnect/environment_settings_test.go
  pkg/controllers/edgeconnect/controller.go
  pkg/controllers/edgeconnect/controller_test.go
Labels: edgeconnect

#3352 Fix csv generation
  pkg/api/v1beta2/dynakube/dynakube_types.go
Labels: bug

#3274 Add conditions and proper cleanup to injection reconciler
  pkg/controllers/dynakube/injection/conditions.go
  pkg/controllers/dynakube/injection/reconciler.go
  pkg/controllers/dynakube/injection/reconciler_test.go
  pkg/controllers/dynakube/istio/reconciler.go
  pkg/injection/namespace/ingestendpoint/secret.go
  pkg/injection/namespace/initgeneration/initgeneration.go
  pkg/util/conditions/error.go
  pkg/util/conditions/error_test.go
  pkg/util/kubeobjects/secret/secret.go
  pkg/util/kubeobjects/secret/secret_test.go
Labels: core

#3356 Add EEC ServiceAccount, Role and RoleBinding to Helm chart
  config/helm/chart/default/templates/Common/extensions-controller/role-extensions-controller.yaml
  config/helm/chart/default/templates/Common/extensions-controller/serviceaccount-extensions-controller.yaml
  config/helm/chart/default/templates/_labels.tpl
  config/helm/chart/default/tests/Common/extensions-controller/role-extensions-controller_test.yaml
  config/helm/chart/default/tests/Common/extensions-controller/serviceaccount-extensions-controller_test.yaml
Labels: helm

#3358 Fix wrong hostname used for Kubernetes API in EdgeConnect configuration.
  pkg/api/v1alpha1/edgeconnect/edgeconnect_types.go
  pkg/api/v1alpha1/edgeconnect/edgeconnect_types_test.go
  pkg/clients/edgeconnect/client.go
  pkg/clients/edgeconnect/client_test.go
  pkg/clients/edgeconnect/edgeconnect.go
  pkg/clients/edgeconnect/iface.go
  pkg/controllers/edgeconnect/controller_test.go
  pkg/controllers/edgeconnect/secret/secret.go
  pkg/controllers/edgeconnect/secret/secret_test.go
  test/mocks/pkg/clients/edgeconnect/client.go
Labels: bug

#3357 Update dynakube field description to match documentation
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  doc/api/dynakube-api-ref.md
  doc/api/edgeconnect-api-ref.md
  doc/api/feature-flags.md
  doc/e2e/features.md
  hack/doc/custom_resource_params_to_md.py
  hack/doc/gen_feature_flags.sh
  pkg/api/v1beta2/dynakube/activegate_types.go
  pkg/api/v1beta2/dynakube/dynakube_types.go
  pkg/api/v1beta2/dynakube/oneagent_types.go
Labels: documentation

#3362 Remove dot from comment causing CSV generation to break
  pkg/api/v1beta2/dynakube/dynakube_types.go
Labels: cherrypick

#3327 Add enrichment-rules to client and dynakube
  CONTRIBUTING.md
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  pkg/api/v1beta2/dynakube/dynakube_status.go
  pkg/clients/dynatrace/client.go
  pkg/clients/dynatrace/endpoints.go
  pkg/clients/dynatrace/kubernetes_settings_test.go
  pkg/clients/dynatrace/settings.go
  pkg/clients/dynatrace/settings_enrichment.go
  pkg/clients/dynatrace/settings_enrichment_test.go
  pkg/clients/dynatrace/settings_kubernetes.go
  pkg/clients/dynatrace/settings_kubernetes_test.go
  pkg/clients/dynatrace/settings_test.go
  pkg/controllers/dynakube/apimonitoring/reconciler.go
  pkg/controllers/dynakube/controller.go
  pkg/controllers/dynakube/controller_system_test.go
  pkg/controllers/dynakube/controller_test.go
  pkg/controllers/dynakube/injection/reconciler.go
  pkg/controllers/dynakube/injection/reconciler_test.go
  pkg/controllers/dynakube/metadata/rules/conditions.go
  pkg/controllers/dynakube/metadata/rules/config.go
  pkg/controllers/dynakube/metadata/rules/reconciler.go
  pkg/controllers/dynakube/metadata/rules/reconciler_test.go
  pkg/controllers/dynakube/status/status.go
  pkg/controllers/dynakube/status/status_test.go
  pkg/util/conditions/status.go
  test/mocks/pkg/clients/dynatrace/client.go
Labels: core

#3367 Handle missing API schema gracefully
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  pkg/clients/dynatrace/settings_enrichment.go
Labels: bug

#3350 Add new EdgeConnect provisioner/k8sautomation e2e tests
  .github/actions/run-e2e/action.yaml
  .github/scripts/run-e2e-tests.sh
  .github/workflows/e2e-tests-ondemand.yaml
  .github/workflows/e2e-tests.yaml
  hack/make/tests/e2e.mk
  pkg/clients/edgeconnect/client.go
  pkg/clients/edgeconnect/client_test.go
  pkg/clients/edgeconnect/iface.go
  pkg/controllers/edgeconnect/controller.go
  pkg/controllers/edgeconnect/controller_test.go
  test/features/edgeconnect/edgeconnect.go
  test/helpers/components/edgeconnect/edgeconnect.go
  test/helpers/components/edgeconnect/options.go
  test/helpers/tenant/secrets.go
  test/mocks/pkg/clients/edgeconnect/client.go
  test/scenarios/standard/standard_test.go
  test/testdata/secrets-samples/edgeconnect-tenant.yaml
Labels: test

#3374 Fix activeGate replica conversion
  pkg/api/v1beta1/dynakube/convert_from.go
  pkg/api/v1beta1/dynakube/convert_from_test.go
  pkg/api/v1beta1/dynakube/convert_to.go
Labels: bug

#3375 Add the missing ns in the service-detector CRB
  config/helm/chart/default/templates/Common/extensions-opentelemetry-collector/clusterrole-extensions-opentelemetry-collector.yaml
Labels: bug
