Repository Dynatrace/dynatrace-operator, pull requests merged in 2024-11, with the labels that each got.

#4006 Replace kspm.enabled with nil check
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  pkg/api/v1beta3/dynakube/dynakube_types.go
  pkg/api/v1beta3/dynakube/kspm/props.go
  pkg/api/v1beta3/dynakube/kspm/spec.go
  pkg/api/v1beta3/dynakube/kspm_props.go
  pkg/api/v1beta3/dynakube/zz_generated.deepcopy.go
  pkg/api/validation/dynakube/kspm_test.go
  pkg/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/kspm_test.go
  pkg/controllers/dynakube/kspm/daemonset/reconciler_test.go
  pkg/controllers/dynakube/kspm/token/reconciler_test.go
Labels: kspm

#3983 Move hash generation and adding to generic query implementation
  pkg/controllers/dynakube/activegate/internal/statefulset/reconciler_test.go
  pkg/controllers/dynakube/activegate/internal/statefulset/statefulset.go
  pkg/controllers/edgeconnect/controller.go
  pkg/util/hasher/hasher.go
  pkg/util/kubeobjects/configmap/query_test.go
  pkg/util/kubeobjects/internal/query/query.go
Labels: core

#3991 Align ProcessModuleConfig secret reconciler with other reconcilers
  pkg/controllers/dynakube/logmonitoring/daemonset/reconciler.go
  pkg/controllers/dynakube/processmoduleconfigsecret/reconciler.go
  pkg/controllers/dynakube/processmoduleconfigsecret/reconciler_test.go
  pkg/util/conditions/secret.go
  pkg/util/conditions/suffix.go
Labels: core

#4013 Fix PodDisruptionBudget not obeying highAvailability flag
  config/helm/chart/default/templates/Common/webhook/poddisruptionbudget-webhook.yaml
  config/helm/chart/default/tests/Common/webhook/poddisruptionbudget-webhook_test.yaml
Labels: bug

#4016 Update missing crd and chart fields
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
Labels: helm

#4025 Rename injected init-container
  pkg/webhook/config.go
  test/features/applicationmonitoring/without_csi.go
Labels: core

#4026 Add additional KSPM clusterrole
  config/helm/chart/default/templates/Common/kspm/clusterrole-kubernetes-monitoring.yaml
  config/helm/chart/default/templates/Common/kspm/serviceaccount-node-config-collector.yaml
  config/helm/chart/default/templates/Common/operator/install-config.yaml
  config/helm/chart/default/templates/_labels.tpl
  config/helm/chart/default/tests/Common/kspm/clusterrole-kubernetes-monitoring_test.yaml
  config/helm/chart/default/tests/Common/kspm/serviceaccount-node-config-collector_test.yaml
  config/helm/chart/default/tests/Common/operator/install-config_test.yaml
  config/helm/chart/default/values.yaml
  pkg/api/validation/dynakube/module_test.go
  pkg/api/validation/dynakube/modules.go
  pkg/api/validation/dynakube/validation.go
  pkg/util/installconfig/modules.go
  pkg/util/installconfig/modules_test.go
Labels: kspm

#4011 Fix automatic index.yaml PRs to not remove existing releases
  .github/workflows/release.yaml
Labels: bug

#4024 Removes vulnerability from the update-e2e-ondemand-pipeline.py script
  .github/workflows/self-update-on-new-release-version.yaml
  hack/build/ci/update-e2e-ondemand-pipeline.py
Labels: ci, security

#4052 Fix incorrect comparison of MEID lastSeenTimestamp
  pkg/controllers/dynakube/apimonitoring/reconciler_test.go
  pkg/controllers/dynakube/monitoredentities/reconciler.go
  pkg/controllers/dynakube/monitoredentities/reconciler_test.go
Labels: bug

#4047 Cleanup Dynakube's config and enrichment secrets when deleting it
  pkg/controllers/dynakube/injection/reconciler_test.go
  pkg/injection/namespace/mapper/dynakubes.go
  pkg/injection/namespace/mapper/dynakubes_test.go
  pkg/util/kubeobjects/internal/query/query.go
Labels: bug

#4004 Add default PersistentVolumeClaim to EEC statefulset
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  doc/api/dynakube-api-ref.md
  pkg/api/v1beta3/dynakube/dynakube_types.go
  pkg/api/v1beta3/dynakube/extensions.go
  pkg/api/v1beta3/dynakube/zz_generated.deepcopy.go
  pkg/api/validation/dynakube/eec.go
  pkg/api/validation/dynakube/eec_test.go
  pkg/api/validation/dynakube/validation.go
  pkg/controllers/dynakube/extension/eec/reconciler_test.go
  pkg/controllers/dynakube/extension/eec/statefulset.go
  pkg/util/kubeobjects/statefulset/query.go
Labels: extensions

#4063 Update metadataEnrichment samples
  assets/samples/dynakube/v1beta2/applicationMonitoring.yaml
  assets/samples/dynakube/v1beta2/classicFullStack.yaml
  assets/samples/dynakube/v1beta2/cloudNativeFullStack.yaml
  assets/samples/dynakube/v1beta2/hostMonitoring.yaml
  assets/samples/dynakube/v1beta2/kubernetesObservability.yaml
  assets/samples/dynakube/v1beta2/multipleDynakubes.yaml
Labels: documentation

#4067 Fixes api-ref file
  doc/api/dynakube-api-ref.md
Labels: core

#4028 Update CSI manifest to include all resources
  hack/doc/README.md
  hack/make/doc.mk
  hack/make/manifests/config.mk
  hack/make/manifests/kubernetes.mk
  hack/make/manifests/openshift.mk
Labels: ci

#4070 Simplify GetSettingsForMonitoredEntity and fix timestamp comparision bug incase of multiple MEs
  pkg/clients/dynatrace/client.go
  pkg/clients/dynatrace/settings.go
  pkg/clients/dynatrace/settings_test.go
  pkg/controllers/dynakube/activegate_test.go
  pkg/controllers/dynakube/apimonitoring/reconciler.go
  pkg/controllers/dynakube/apimonitoring/reconciler_test.go
  pkg/controllers/dynakube/controller_system_test.go
  pkg/controllers/dynakube/monitoredentities/reconciler.go
  test/mocks/pkg/clients/dynatrace/client.go
Labels: bug, cherrypick

#4064 Remove experimental multiple-osagents-on-node feature-flag
  doc/api/feature-flags.md
  doc/e2e/features.md
  hack/doc/gen_feature_flags.sh
  pkg/api/v1beta3/dynakube/feature_flags.go
  pkg/api/validation/dynakube/oneagent.go
  pkg/api/validation/dynakube/oneagent_test.go
Labels: core

#4085 Fix slack integration for e2e tests
  .github/workflows/e2e-tests-ondemand.yaml
  .github/workflows/e2e-tests.yaml
Labels: bug

#4091 Adds FSGroup to EEC podSecurityContext
  pkg/controllers/dynakube/extension/eec/statefulset.go
Labels: extensions

#4053 Add builtin:logmonitoring.log-storage-settings to CR and reconciler
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/crd/bases/dynatrace.com_edgeconnects.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  hack/make/manifests/config.mk
  pkg/api/v1beta3/dynakube/logmonitoring/ingestrulematchers.go
  pkg/api/v1beta3/dynakube/logmonitoring/spec.go
  pkg/api/v1beta3/dynakube/logmonitoring/zz_generated.deepcopy.go
  pkg/api/v1beta3/dynakube/zz_generated.deepcopy.go
  pkg/clients/dynatrace/client.go
  pkg/clients/dynatrace/settings.go
  pkg/clients/dynatrace/settings_kubernetes.go
  pkg/clients/dynatrace/settings_logmonitoring.go
  pkg/clients/dynatrace/settings_logmonitoring_test.go
  pkg/controllers/dynakube/controller.go
  pkg/controllers/dynakube/controller_system_test.go
  pkg/controllers/dynakube/logmonitoring/logmonsettings/conditions.go
  pkg/controllers/dynakube/logmonitoring/logmonsettings/config.go
  pkg/controllers/dynakube/logmonitoring/logmonsettings/reconciler.go
  pkg/controllers/dynakube/logmonitoring/logmonsettings/reconciler_test.go
  pkg/controllers/dynakube/logmonitoring/reconciler.go
  pkg/controllers/dynakube/logmonitoring/reconciler_test.go
  test/mocks/cmd/manager/provider.go
  test/mocks/cmd/remote_command/executor.go
  test/mocks/pkg/clients/dynatrace/client.go
  test/mocks/pkg/controllers/dynakube/dynatraceclient/builder.go
  test/mocks/pkg/controllers/dynakube/istio/reconciler.go
  test/mocks/pkg/controllers/dynakube/version/status_updater.go
  test/mocks/pkg/oci/registry/image_getter.go
  test/mocks/sigs.k8s.io/controller-runtime/pkg/manager/manager.go
Labels: logmodule

#4076 Makes ApiUrl immutable
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  pkg/api/v1beta3/dynakube/dynakube_types.go
  pkg/api/validation/dynakube/api_url.go
  pkg/api/validation/dynakube/api_url_test.go
  pkg/api/validation/dynakube/validation.go
  pkg/api/validation/dynakube/validation_test.go
Labels: core

#4039 Infer csi-usage based on csi-driver-availability
  cmd/troubleshoot/dynakube_test.go
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  config/helm/chart/default/templates/Common/csi/daemonset.yaml
  config/helm/chart/default/templates/Common/operator/install-config.yaml
  config/helm/chart/default/tests/Common/csi/daemonset_test.yaml
  config/helm/chart/default/tests/Common/operator/install-config_test.yaml
  pkg/api/v1beta1/dynakube/convert_from.go
  pkg/api/v1beta1/dynakube/convert_from_test.go
  pkg/api/v1beta1/dynakube/convert_to.go
  pkg/api/v1beta2/dynakube/convert_from.go
  pkg/api/v1beta2/dynakube/convert_from_test.go
  pkg/api/v1beta2/dynakube/convert_to.go
  pkg/api/v1beta3/dynakube/feature_flags.go
  pkg/api/v1beta3/dynakube/oneagent_props.go
  pkg/api/v1beta3/dynakube/oneagent_props_test.go
  pkg/api/v1beta3/dynakube/oneagent_types.go
  pkg/api/v1beta3/dynakube/zz_generated.deepcopy.go
  pkg/api/validation/dynakube/csi_daemonset.go
  pkg/api/validation/dynakube/csi_daemonset_test.go
  pkg/api/validation/dynakube/logmonitoring_test.go
  pkg/api/validation/dynakube/module_test.go
  pkg/api/validation/dynakube/modules.go
  pkg/api/validation/dynakube/namespace_selector_test.go
  pkg/api/validation/dynakube/oneagent.go
  pkg/api/validation/dynakube/oneagent_test.go
  pkg/api/validation/dynakube/validation.go
  pkg/api/validation/dynakube/validation_test.go
  pkg/controllers/csi/provisioner/controller.go
  pkg/controllers/csi/provisioner/controller_test.go
  pkg/controllers/dynakube/oneagent/daemonset/daemonset.go
  pkg/controllers/dynakube/oneagent/daemonset/env_vars.go
  pkg/controllers/dynakube/oneagent/daemonset/volumes.go
  pkg/controllers/dynakube/version/codemodules_test.go
  pkg/injection/namespace/initgeneration/initgeneration.go
  pkg/util/installconfig/modules.go
  pkg/util/installconfig/modules_test.go
  pkg/webhook/mutation/pod/init_container.go
  pkg/webhook/mutation/pod/init_container_test.go
  pkg/webhook/mutation/pod/oneagent/volumes.go
  pkg/webhook/mutation/pod/oneagent/volumes_test.go
  test/features/applicationmonitoring/label_version_detection.go
  test/features/applicationmonitoring/metadata_enrichment.go
  test/features/applicationmonitoring/read_only_csi_volume.go
  test/features/applicationmonitoring/without_csi.go
  test/features/cloudnative/codemodules/codemodules.go
  test/features/cloudnative/upgrade/upgrade.go
Labels: core

#4111 Remove garbage-collection (temporary)
  pkg/controllers/csi/gc/binaries.go
  pkg/controllers/csi/gc/binaries_test.go
  pkg/controllers/csi/gc/config.go
  pkg/controllers/csi/gc/reconciler.go
  pkg/controllers/csi/gc/reconciler_test.go
  pkg/controllers/csi/gc/unmounted.go
  pkg/controllers/csi/gc/unmounted_test.go
  pkg/controllers/csi/provisioner/controller.go
  pkg/controllers/csi/provisioner/controller_test.go
Labels: core

#4109 Remove standalone logMonitoring nodeSelector validation
  pkg/api/validation/dynakube/oneagent.go
  pkg/api/validation/dynakube/oneagent_test.go
Labels: logmodule

#4110 Allow custom version for cloudnative
  pkg/api/v1beta3/dynakube/oneagent_props.go
  pkg/controllers/dynakube/version/updater.go
Labels: core

#4118 Remove standalone logMonitoring nodeSelector validation (#4109)
  pkg/api/validation/dynakube/oneagent.go
  pkg/api/validation/dynakube/oneagent_test.go
Labels: cherrypick

#4119 Allow custom version for cloudnative (#4110)
  pkg/api/v1beta3/dynakube/oneagent_props.go
  pkg/controllers/dynakube/version/updater.go
Labels: cherrypick

#4116 Fixes 'make manifests' bug caused by overwritten generate_manifest definition
  hack/make/manifests/kubernetes.mk
  hack/make/manifests/openshift.mk
Labels: core

#4125 Create kubernetes-monitoring rbac's if only KSPM is enabled
  config/helm/chart/default/templates/Common/kubernetes-monitoring/clusterrole-kubernetes-monitoring.yaml
  config/helm/chart/default/templates/Common/kubernetes-monitoring/serviceaccount-kubernetes-monitoring.yaml
  config/helm/chart/default/tests/Common/kubernetes-monitoring/clusterrole-kubernetes-monitoring_test.yaml
  config/helm/chart/default/tests/Common/kubernetes-monitoring/serviceaccount-kubernetes-monitoring_test.yaml
  pkg/api/validation/dynakube/modules.go
  pkg/controllers/dynakube/kspm/daemonset/reconciler.go
Labels: bug

#4126 Create kubernetes-monitoring rbac's if only KSPM is enabled (#4125)
  config/helm/chart/default/templates/Common/kubernetes-monitoring/clusterrole-kubernetes-monitoring.yaml
  config/helm/chart/default/templates/Common/kubernetes-monitoring/serviceaccount-kubernetes-monitoring.yaml
  config/helm/chart/default/tests/Common/kubernetes-monitoring/clusterrole-kubernetes-monitoring_test.yaml
  config/helm/chart/default/tests/Common/kubernetes-monitoring/serviceaccount-kubernetes-monitoring_test.yaml
  pkg/api/validation/dynakube/modules.go
  pkg/controllers/dynakube/kspm/daemonset/reconciler.go
Labels: cherrypick

#4065 Remove arch param where necessary
  pkg/clients/dynatrace/activegate_version.go
  pkg/clients/dynatrace/agent_version.go
  pkg/clients/dynatrace/agent_version_test.go
  pkg/clients/dynatrace/client.go
  pkg/clients/dynatrace/dynatrace_client_test.go
  pkg/clients/dynatrace/endpoints.go
  pkg/controllers/dynakube/activegate/internal/statefulset/statefulset.go
  pkg/controllers/dynakube/activegate/internal/statefulset/statefulset_test.go
  pkg/controllers/dynakube/extension/eec/reconciler_test.go
  pkg/controllers/dynakube/extension/eec/statefulset.go
  pkg/controllers/dynakube/extension/otel/statefulset.go
  pkg/controllers/dynakube/extension/otel/statefulset_test.go
  pkg/controllers/dynakube/kspm/daemonset/reconciler.go
  pkg/controllers/dynakube/oneagent/daemonset/affinity.go
  pkg/controllers/dynakube/oneagent/daemonset/affinity_test.go
  pkg/injection/codemodule/installer/url/download.go
  pkg/util/kubeobjects/node/affinity.go
  pkg/util/kubeobjects/node/affinity_test.go
  pkg/webhook/mutation/pod/oneagent/env.go
  test/mocks/pkg/clients/dynatrace/client.go
Labels: core

#4124 Consider logmonitoring in the node-selector check
  pkg/api/validation/dynakube/logmonitoring_test.go
  pkg/api/validation/dynakube/oneagent.go
  pkg/api/validation/dynakube/oneagent_test.go
Labels: core

#4127 Remove arch param where necessary (#4065)
  pkg/clients/dynatrace/activegate_version.go
  pkg/clients/dynatrace/agent_version.go
  pkg/clients/dynatrace/agent_version_test.go
  pkg/clients/dynatrace/client.go
  pkg/clients/dynatrace/dynatrace_client_test.go
  pkg/clients/dynatrace/endpoints.go
  pkg/controllers/dynakube/activegate/internal/statefulset/statefulset.go
  pkg/controllers/dynakube/activegate/internal/statefulset/statefulset_test.go
  pkg/controllers/dynakube/extension/eec/reconciler_test.go
  pkg/controllers/dynakube/extension/eec/statefulset.go
  pkg/controllers/dynakube/extension/otel/statefulset.go
  pkg/controllers/dynakube/extension/otel/statefulset_test.go
  pkg/controllers/dynakube/kspm/daemonset/reconciler.go
  pkg/controllers/dynakube/oneagent/daemonset/affinity.go
  pkg/controllers/dynakube/oneagent/daemonset/affinity_test.go
  pkg/injection/codemodule/installer/url/download.go
  pkg/util/kubeobjects/node/affinity.go
  pkg/util/kubeobjects/node/affinity_test.go
  pkg/webhook/mutation/pod/oneagent/env.go
  test/mocks/pkg/clients/dynatrace/client.go
Labels: cherrypick
