Repository Dynatrace/dynatrace-operator, pull requests merged in 2024-09, with the labels that each got.

#3696 Remove extensions related yamls from v1.3
  config/helm/chart/default/templates/Common/extensions-controller/role-extensions-controller.yaml
  config/helm/chart/default/templates/Common/extensions-controller/serviceaccount-extensions-controller.yaml
  config/helm/chart/default/templates/Common/extensions-opentelemetry-collector/clusterrole-extensions-opentelemetry-collector.yaml
  config/helm/chart/default/templates/Common/extensions-opentelemetry-collector/serviceaccount-extensions-opentelemetry-collector.yaml
  config/helm/chart/default/templates/_labels.tpl
  config/helm/chart/default/tests/Common/extensions-controller/role-extensions-controller_test.yaml
  config/helm/chart/default/tests/Common/extensions-controller/serviceaccount-extensions-controller_test.yaml
  config/helm/chart/default/tests/Common/extensions-opentelemetry-collector/clusterrole-extensions-opentelemetry-collector_test.yaml
  config/helm/chart/default/tests/Common/extensions-opentelemetry-collector/serviceaccount-extensions-opentelemetry-collector_test.yaml
Labels: extensions

#3698 Remove extensions logic out of code base everywhere BUT api package
  pkg/controllers/dynakube/activegate/capability/capability.go
  pkg/controllers/dynakube/activegate/capability/capability_test.go
  pkg/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/config.go
  pkg/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/eec.go
  pkg/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/eec_test.go
  pkg/controllers/dynakube/activegate/reconciler_test.go
  pkg/controllers/dynakube/controller.go
  pkg/controllers/dynakube/extension/config.go
  pkg/controllers/dynakube/extension/consts/consts.go
  pkg/controllers/dynakube/extension/eec/conditions.go
  pkg/controllers/dynakube/extension/eec/config.go
  pkg/controllers/dynakube/extension/eec/reconciler.go
  pkg/controllers/dynakube/extension/eec/reconciler_test.go
  pkg/controllers/dynakube/extension/eec/statefulset.go
  pkg/controllers/dynakube/extension/hash/hash.go
  pkg/controllers/dynakube/extension/otel/conditions.go
  pkg/controllers/dynakube/extension/otel/config.go
  pkg/controllers/dynakube/extension/otel/reconciler.go
  pkg/controllers/dynakube/extension/otel/statefulset.go
  pkg/controllers/dynakube/extension/otel/statefulset_test.go
  pkg/controllers/dynakube/extension/reconciler.go
  pkg/controllers/dynakube/extension/reconciler_test.go
  pkg/controllers/dynakube/extension/secret.go
  pkg/controllers/dynakube/extension/service.go
  pkg/controllers/dynakube/extension/service_test.go
  pkg/controllers/dynakube/extension/utils/utils.go
  pkg/controllers/dynakube/phase.go
  pkg/controllers/dynakube/phase_test.go
  pkg/util/conditions/secret.go
  pkg/util/conditions/service.go
  pkg/util/conditions/statefulset.go
  pkg/util/conditions/suffix.go
  pkg/util/kubeobjects/labels/labels.go
  pkg/util/kubeobjects/service/builder.go
  pkg/util/kubeobjects/service/query.go
  pkg/util/kubeobjects/statefulset/builder.go
  pkg/util/kubeobjects/statefulset/builder_test.go
Labels: extensions

#3700 Prevent the double injection of the init-container
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/crd/bases/dynatrace.com_edgeconnects.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  pkg/injection/startup/run.go
  pkg/util/kubeobjects/container/container.go
  pkg/webhook/mutation/pod/webhook.go
  pkg/webhook/mutation/pod/webhook_test.go
Labels: bug

#3715 Change default value of metadata enrichment
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  pkg/api/v1beta2/dynakube/metada_enrichment.go
Labels: core

#3716 Change default value of metadata enrichment
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/crd/bases/dynatrace.com_edgeconnects.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  pkg/api/v1beta2/dynakube/metada_enrichment.go
  pkg/api/v1beta3/dynakube/metada_enrichment.go
Labels: cherrypick

#3702 Reduce RBAC permissions requested for operator/webhook
  config/helm/chart/default/templates/Common/operator/clusterrole-operator.yaml
  config/helm/chart/default/templates/Common/operator/role-operator.yaml
  config/helm/chart/default/templates/Common/webhook/clusterrole-webhook.yaml
  config/helm/chart/default/templates/Common/webhook/role-webhook.yaml
  config/helm/chart/default/tests/Common/operator/role-operator_test.yaml
  config/helm/chart/default/tests/Common/webhook/clusterrole-webhook_test.yaml
  config/helm/chart/default/tests/Common/webhook/role-webhook_test.yaml
  pkg/controllers/edgeconnect/controller.go
  pkg/controllers/edgeconnect/controller_test.go
Labels: core

#3722 Prevent the double injection of the init-container (#3700)
  pkg/injection/startup/run.go
  pkg/util/kubeobjects/container/container.go
  pkg/webhook/mutation/pod/webhook.go
  pkg/webhook/mutation/pod/webhook_test.go
Labels: cherrypick

#3727 Add missing metrics ports to manifest
  config/helm/chart/default/templates/Common/csi/daemonset.yaml
  config/helm/chart/default/templates/Common/operator/deployment-operator.yaml
  config/helm/chart/default/templates/Common/webhook/deployment-webhook.yaml
  config/helm/chart/default/tests/Common/csi/daemonset_test.yaml
  config/helm/chart/default/tests/Common/operator/deployment-operator_test.yaml
  config/helm/chart/default/tests/Common/webhook/deployment-webhook_test.yaml
Labels: bug

#3719 Make "standard" e2e scenario target work
  hack/make/tests/e2e.mk
  pkg/webhook/mutation/pod/init_container.go
  pkg/webhook/mutation/pod/webhook.go
  test/features/activegate/activegate.go
  test/features/applicationmonitoring/label_version_detection.go
  test/features/applicationmonitoring/metadata_enrichment.go
  test/features/applicationmonitoring/read_only_csi_volume.go
  test/features/applicationmonitoring/without_csi.go
  test/features/classic/classic.go
  test/features/classic/switch_modes/switch_modes.go
  test/features/cloudnative/codemodules/codemodules.go
  test/features/cloudnative/default/default.go
  test/features/cloudnative/disabled_auto_injection/disabled_auto_injection.go
  test/features/cloudnative/init_containers.go
  test/features/cloudnative/network_problems/network_problems.go
  test/features/cloudnative/network_zones/network_zones.go
  test/features/cloudnative/switch_modes/switch_modes.go
  test/features/cloudnative/upgrade/upgrade.go
  test/features/edgeconnect/edgeconnect.go
  test/features/publicregistry/publicregistry.go
  test/features/support_archive/support_archive.go
  test/helpers/components/activegate/installation.go
  test/helpers/components/dynakube/options.go
  test/helpers/registry/registry.go
  test/helpers/tenant/network_zone.go
  test/scenarios/filter.go
  test/scenarios/istio/istio_test.go
  test/scenarios/release/release_test.go
  test/scenarios/standard/standard_test.go
Labels: test

#3744 Make "standard" e2e scenario target work (#3719)
  hack/make/tests/e2e.mk
  pkg/webhook/mutation/pod/init_container.go
  pkg/webhook/mutation/pod/webhook.go
  test/features/activegate/activegate.go
  test/features/applicationmonitoring/label_version_detection.go
  test/features/applicationmonitoring/metadata_enrichment.go
  test/features/applicationmonitoring/read_only_csi_volume.go
  test/features/applicationmonitoring/without_csi.go
  test/features/classic/classic.go
  test/features/classic/switch_modes/switch_modes.go
  test/features/cloudnative/codemodules/codemodules.go
  test/features/cloudnative/default/default.go
  test/features/cloudnative/disabled_auto_injection/disabled_auto_injection.go
  test/features/cloudnative/init_containers.go
  test/features/cloudnative/network_problems/network_problems.go
  test/features/cloudnative/network_zones/network_zones.go
  test/features/cloudnative/switch_modes/switch_modes.go
  test/features/cloudnative/upgrade/upgrade.go
  test/features/edgeconnect/edgeconnect.go
  test/features/publicregistry/publicregistry.go
  test/features/support_archive/support_archive.go
  test/helpers/components/activegate/installation.go
  test/helpers/components/dynakube/options.go
  test/helpers/registry/registry.go
  test/helpers/tenant/network_zone.go
  test/scenarios/filter.go
  test/scenarios/istio/istio_test.go
  test/scenarios/release/release_test.go
  test/scenarios/standard/standard_test.go
Labels: cherrypick

#3750 Add missing Openshift versions to ondemand platforms
  .github/workflows/e2e-tests-ondemand.yaml
Labels: test

#3746 Add LogModule ServiceAccount and ClusterRole
  config/helm/chart/default/templates/Common/logmodule/clusterrole-logmodule.yaml
  config/helm/chart/default/templates/Common/logmodule/serviceaccount-logmodule.yaml
  config/helm/chart/default/templates/_labels.tpl
  config/helm/chart/default/tests/Common/logmodule/clusterrole-logmodule_test.yaml
  config/helm/chart/default/tests/Common/logmodule/serviceaccount-logmodule_test.yaml
Labels: logmodule

#3747 Add wait for status.Running after updating hostPatters inside edgeConnect e2e test
  test/features/edgeconnect/edgeconnect.go
Labels: test

#3754 Add missing Openshift versions to ondemand platforms (#3750)
  .github/workflows/e2e-tests-ondemand.yaml
Labels: cherrypick

#3755 Add wait for status.Running after updating hostPatters inside edgeCon…
  test/features/edgeconnect/edgeconnect.go
Labels: cherrypick

#3740 Mount certificate for extension signature verification
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  doc/api/dynakube-api-ref.md
  pkg/api/v1beta3/dynakube/extensions.go
  pkg/controllers/dynakube/extension/eec/reconciler_test.go
  pkg/controllers/dynakube/extension/eec/statefulset.go
Labels: extensions

#3734 Update EdgeConnect samples
  assets/samples/edgeconnect/automation-workflows.yaml
  assets/samples/edgeconnect/edgeconnect.yaml
  assets/samples/edgeconnect/provisioner.yaml
Labels: edgeconnect

#3760 Add LogModule configuration options for the Operator
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  doc/api/dynakube-api-ref.md
  pkg/api/v1beta3/dynakube/dynakube_types.go
  pkg/api/v1beta3/dynakube/extensions.go
  pkg/api/v1beta3/dynakube/logmodule.go
  pkg/api/v1beta3/dynakube/zz_generated.deepcopy.go
Labels: logmodule

#3711 Unify construction of EEC service fully qualified domain name
  pkg/controllers/dynakube/extension/eec/reconciler_test.go
  pkg/controllers/dynakube/extension/eec/statefulset.go
  pkg/controllers/dynakube/extension/otel/statefulset.go
  pkg/controllers/dynakube/extension/reconciler_test.go
  pkg/controllers/dynakube/extension/service.go
  pkg/controllers/dynakube/extension/service_test.go
  pkg/controllers/dynakube/extension/servicename/naming.go
Labels: extensions

#3776 Add check for deepcopy files to CI
  .github/workflows/ci.yaml
  hack/make/manifests/manifests.mk
Labels: ci

#3774 Create reconciler for LogModule deployment.conf
  pkg/api/v1beta3/dynakube/properties.go
  pkg/controllers/dynakube/connectioninfo/oneagent/reconciler.go
  pkg/controllers/dynakube/controller.go
  pkg/controllers/dynakube/controller_system_test.go
  pkg/controllers/dynakube/controller_test.go
  pkg/controllers/dynakube/logmodule/configsecret/conditions.go
  pkg/controllers/dynakube/logmodule/configsecret/config.go
  pkg/controllers/dynakube/logmodule/configsecret/reconciler.go
  pkg/controllers/dynakube/logmodule/configsecret/reconciler_test.go
  pkg/controllers/dynakube/logmodule/reconciler.go
  pkg/controllers/dynakube/logmodule/reconciler_test.go
  pkg/util/kubeobjects/labels/labels.go
Labels: logmodule

#3763 Replace validation logic with kubebuilder tags
  config/crd/bases/dynatrace.com_edgeconnects.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  pkg/api/v1alpha2/edgeconnect/edgeconnect_types.go
  pkg/api/v1alpha2/edgeconnect/validation/api_server_test.go
  pkg/api/v1alpha2/edgeconnect/validation/service_account.go
  pkg/api/v1alpha2/edgeconnect/validation/service_account_test.go
  pkg/api/v1alpha2/edgeconnect/validation/validation.go
Labels: core

#3777 Separate properties.go into separate files
  pkg/api/v1beta3/dynakube/activegate_props.go
  pkg/api/v1beta3/dynakube/activegate_props_test.go
  pkg/api/v1beta3/dynakube/dynakube_props.go
  pkg/api/v1beta3/dynakube/dynakube_props_test.go
  pkg/api/v1beta3/dynakube/extensions_props.go
  pkg/api/v1beta3/dynakube/logmodule_props.go
  pkg/api/v1beta3/dynakube/metadata_enrichment_props.go
  pkg/api/v1beta3/dynakube/oneagent_props.go
  pkg/api/v1beta3/dynakube/oneagent_props_test.go
  pkg/api/v1beta3/dynakube/properties.go
Labels: core

#3785 Fix workload Owner lookup in case of not well-known Owner type (#3783)
  pkg/webhook/mutation/pod/metadata/containers_test.go
  pkg/webhook/mutation/pod/metadata/env_test.go
  pkg/webhook/mutation/pod/metadata/workload.go
  pkg/webhook/mutation/pod/metadata/workload_test.go
Labels: cherrypick

#3787 Propagate both cluster-name and entity-id to enrichment files
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  doc/api/dynakube-api-ref.md
  pkg/api/v1beta2/dynakube/dynakube_status.go
  pkg/consts/enrichment_injection.go
  pkg/controllers/dynakube/monitoredentities/reconciler.go
  pkg/injection/startup/enrichment.go
  pkg/injection/startup/enrichment_test.go
  pkg/injection/startup/env.go
  pkg/injection/startup/env_test.go
  pkg/webhook/mutation/pod/metadata/containers.go
  pkg/webhook/mutation/pod/metadata/containers_test.go
  pkg/webhook/mutation/pod/metadata/env.go
  pkg/webhook/mutation/pod/metadata/env_test.go
  pkg/webhook/mutation/pod/metadata/mutator.go
  pkg/webhook/mutation/pod/metadata/mutator_test.go
Labels: bug

#3790 Propagate both cluster-name and entity-id to enrichment files (#3787)
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  pkg/api/v1beta2/dynakube/convert_from.go
  pkg/api/v1beta2/dynakube/convert_to.go
  pkg/api/v1beta2/dynakube/dynakube_status.go
  pkg/api/v1beta3/dynakube/dynakube_status.go
  pkg/consts/enrichment_injection.go
  pkg/controllers/dynakube/monitoredentities/reconciler.go
  pkg/injection/startup/enrichment.go
  pkg/injection/startup/enrichment_test.go
  pkg/injection/startup/env.go
  pkg/injection/startup/env_test.go
  pkg/webhook/mutation/pod/metadata/containers.go
  pkg/webhook/mutation/pod/metadata/containers_test.go
  pkg/webhook/mutation/pod/metadata/env.go
  pkg/webhook/mutation/pod/metadata/env_test.go
  pkg/webhook/mutation/pod/metadata/mutator.go
  pkg/webhook/mutation/pod/metadata/mutator_test.go
Labels: cherrypick

#3799 Reconcile AG connection-info before creating configmap from it
  pkg/controllers/dynakube/activegate/reconciler.go
Labels: bug

#3796 Rename extensions prometheus enabled flag to extensions enabled
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/crd/bases/dynatrace.com_edgeconnects.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  doc/api/dynakube-api-ref.md
  pkg/api/v1beta3/dynakube/extensions.go
  pkg/api/v1beta3/dynakube/extensions_props.go
  pkg/api/v1beta3/dynakube/validation/eec.go
  pkg/api/v1beta3/dynakube/validation/eec_test.go
  pkg/api/v1beta3/dynakube/zz_generated.deepcopy.go
  pkg/controllers/dynakube/activegate/capability/capability_test.go
  pkg/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/eec.go
  pkg/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/eec_test.go
  pkg/controllers/dynakube/activegate/reconciler_test.go
  pkg/controllers/dynakube/extension/eec/reconciler.go
  pkg/controllers/dynakube/extension/eec/reconciler_test.go
  pkg/controllers/dynakube/extension/otel/reconciler.go
  pkg/controllers/dynakube/extension/otel/statefulset_test.go
  pkg/controllers/dynakube/extension/reconciler_test.go
  pkg/controllers/dynakube/extension/secret.go
  pkg/controllers/dynakube/extension/service.go
  pkg/controllers/dynakube/phase.go
  pkg/controllers/dynakube/phase_test.go
Labels: extensions

#3802 Revert "Move CR name length validation to kubebuilder markers (#3665)"
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/crd/bases/dynatrace.com_edgeconnects.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  pkg/api/v1alpha2/edgeconnect/edgeconnect_types.go
  pkg/api/v1alpha2/edgeconnect/properties.go
  pkg/api/v1alpha2/edgeconnect/validation/name.go
  pkg/api/v1alpha2/edgeconnect/validation/name_test.go
  pkg/api/v1alpha2/edgeconnect/validation/validation.go
  pkg/api/v1beta2/dynakube/dynakube_types.go
  pkg/api/v1beta2/dynakube/properties.go
  pkg/api/v1beta2/dynakube/validation/dynakube_name.go
  pkg/api/v1beta2/dynakube/validation/dynakube_name_test.go
  pkg/api/v1beta2/dynakube/validation/validation.go
Labels: bug

#3805 Improve how we wait for status when we create/destroy clusters
  .github/scripts/create-cluster.sh
  .github/scripts/destroy-cluster.sh
Labels: test

#3803 Revert "Move CR name length validation to kubebuilder markers (#3665)"
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/crd/bases/dynatrace.com_edgeconnects.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  pkg/api/v1alpha2/edgeconnect/edgeconnect_types.go
  pkg/api/v1alpha2/edgeconnect/properties.go
  pkg/api/v1alpha2/edgeconnect/validation/name.go
  pkg/api/v1alpha2/edgeconnect/validation/name_test.go
  pkg/api/v1alpha2/edgeconnect/validation/validation.go
  pkg/api/v1beta2/dynakube/dynakube_types.go
  pkg/api/v1beta2/dynakube/properties.go
  pkg/api/v1beta2/dynakube/validation/dynakube_name.go
  pkg/api/v1beta2/dynakube/validation/dynakube_name_test.go
  pkg/api/v1beta2/dynakube/validation/validation.go
  pkg/api/v1beta3/dynakube/dynakube_props.go
  pkg/api/v1beta3/dynakube/dynakube_types.go
  pkg/api/v1beta3/dynakube/validation/dynakube_name.go
  pkg/api/v1beta3/dynakube/validation/dynakube_name_test.go
  pkg/api/v1beta3/dynakube/validation/validation.go
Labels: cherrypick

#3800 Reconcile AG connection-info before creating configmap from it (#3799)
  pkg/controllers/dynakube/activegate/reconciler.go
Labels: cherrypick

#3808 Revert kubebuilder minimal length tag and go back to custom validation
  config/crd/bases/dynatrace.com_edgeconnects.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  pkg/api/v1alpha2/edgeconnect/edgeconnect_types.go
  pkg/api/v1alpha2/edgeconnect/validation/api_server_test.go
  pkg/api/v1alpha2/edgeconnect/validation/service_account.go
  pkg/api/v1alpha2/edgeconnect/validation/service_account_test.go
  pkg/api/v1alpha2/edgeconnect/validation/validation.go
Labels: edgeconnect

#3806 Allow to configure the annotations of service accounts within helm values
  config/helm/chart/default/templates/Common/activegate/serviceaccount-activegate.yaml
  config/helm/chart/default/templates/Common/edge-connect/serviceaccount-edgeconnect.yaml
  config/helm/chart/default/templates/Common/extensions-controller/serviceaccount-extensions-controller.yaml
  config/helm/chart/default/templates/Common/extensions-opentelemetry-collector/serviceaccount-extensions-opentelemetry-collector.yaml
  config/helm/chart/default/templates/Common/kubernetes-monitoring/serviceaccount-kubernetes-monitoring.yaml
  config/helm/chart/default/templates/Common/logmodule/serviceaccount-logmodule.yaml
  config/helm/chart/default/templates/Common/oneagent/serviceaccount-oneagent.yaml
  config/helm/chart/default/tests/Common/activegate/serviceaccount-activegate_test.yaml
  config/helm/chart/default/tests/Common/edgeconnect/serviceaccount-edgeconnect_test.yaml
  config/helm/chart/default/tests/Common/extensions-controller/serviceaccount-extensions-controller_test.yaml
  config/helm/chart/default/tests/Common/kubernetes-monitoring/serviceaccount-kubernetes-monitoring_test.yaml
  config/helm/chart/default/tests/Common/logmodule/serviceaccount-logmodule_test.yaml
  config/helm/chart/default/tests/Common/oneagent/serviceaccount-oneagent_test.yaml
  config/helm/chart/default/values.yaml
Labels: helm

#3778 Reconcile and mount self-signed TLS certificate for EEC and OtelC
  pkg/api/v1beta2/dynakube/certs.go
  pkg/api/v1beta2/dynakube/test/certs_test.go
  pkg/api/v1beta3/dynakube/certs.go
  pkg/api/v1beta3/dynakube/extensions_props.go
  pkg/api/v1beta3/dynakube/test/certs_test.go
  pkg/controllers/dynakube/extension/consts/consts.go
  pkg/controllers/dynakube/extension/eec/reconciler_test.go
  pkg/controllers/dynakube/extension/eec/statefulset.go
  pkg/controllers/dynakube/extension/otel/statefulset.go
  pkg/controllers/dynakube/extension/otel/statefulset_test.go
  pkg/controllers/dynakube/extension/reconciler.go
  pkg/controllers/dynakube/extension/tls/config.go
  pkg/controllers/dynakube/extension/tls/reconciler.go
  pkg/controllers/dynakube/extension/tls/reconciler_test.go
  pkg/injection/namespace/initgeneration/initgeneration.go
  pkg/injection/namespace/initgeneration/initgeneration_test.go
  pkg/util/certificates/certificate_test.go
  pkg/util/certificates/certificates.go
  test/features/cloudnative/codemodules/codemodules.go
  test/helpers/components/dynakube/options.go
Labels: extensions

#3809 Do not inject into ignored namespaces after adding a namespace to the annotation
  pkg/injection/namespace/mapper/mapper.go
  pkg/injection/namespace/mapper/mapper_test.go
Labels: bug

#3813 Fix ondemand pipeline target branch if run scheduled
  .github/workflows/e2e-tests-ondemand.yaml
  hack/build/ci/update-e2e-ondemand-pipeline.py
Labels: bug

#3827 Do not inject into ignored namespaces after adding a namespace to the annotation
  pkg/injection/namespace/mapper/mapper.go
  pkg/injection/namespace/mapper/mapper_test.go
Labels: cherrypick

#3826 Fix ondemand pipeline using wrong branch for setup scripts
  .github/workflows/e2e-tests-ondemand.yaml
Labels: bug

#3831 Add wait for secret is created, before getting it
  .github/scripts/run-e2e-tests.sh
Labels: ci

#3828 Update EdgeConnect samples (#3734)
  assets/samples/edgeconnect/automation-workflows.yaml
  assets/samples/edgeconnect/edgeconnect.yaml
  assets/samples/edgeconnect/provisioner.yaml
Labels: cherrypick

#3832 Bump supported OperatorHub versions (#3773)
  hack/build/bundle.sh
Labels: cherrypick

#3825 Add logmodule daemonset reconciler
  pkg/api/v1beta3/dynakube/dynakube_types.go
  pkg/api/v1beta3/dynakube/extensions.go
  pkg/api/v1beta3/dynakube/logmodule_props.go
  pkg/api/v1beta3/dynakube/oneagent_props.go
  pkg/controllers/dynakube/controller.go
  pkg/controllers/dynakube/logmodule/configsecret/config.go
  pkg/controllers/dynakube/logmodule/configsecret/reconciler.go
  pkg/controllers/dynakube/logmodule/configsecret/reconciler_test.go
  pkg/controllers/dynakube/logmodule/daemonset/args.go
  pkg/controllers/dynakube/logmodule/daemonset/args_test.go
  pkg/controllers/dynakube/logmodule/daemonset/conditions.go
  pkg/controllers/dynakube/logmodule/daemonset/config.go
  pkg/controllers/dynakube/logmodule/daemonset/container.go
  pkg/controllers/dynakube/logmodule/daemonset/container_test.go
  pkg/controllers/dynakube/logmodule/daemonset/env.go
  pkg/controllers/dynakube/logmodule/daemonset/env_test.go
  pkg/controllers/dynakube/logmodule/daemonset/reconciler.go
  pkg/controllers/dynakube/logmodule/daemonset/reconciler_test.go
  pkg/controllers/dynakube/logmodule/daemonset/volumes.go
  pkg/controllers/dynakube/logmodule/daemonset/volumes_test.go
  pkg/controllers/dynakube/logmodule/reconciler.go
  pkg/controllers/dynakube/logmodule/reconciler_test.go
  pkg/util/conditions/daemonset.go
  pkg/util/kubeobjects/daemonset/builder.go
  pkg/util/kubeobjects/node/affinity.go
Labels: logmodule

#3838 E2E Test for Extensions components rollout
  .github/actions/run-e2e/action.yaml
  .github/scripts/run-e2e-tests.sh
  .github/workflows/e2e-tests-ondemand.yaml
  .github/workflows/e2e-tests.yaml
  hack/make/tests/e2e.mk
  test/features/extensions/extensions.go
  test/helpers/components/dynakube/options.go
  test/helpers/kubeobjects/secret/secret.go
  test/helpers/tenant/secrets.go
  test/scenarios/standard/standard_test.go
  test/testdata/secrets-samples/single-tenant.yaml
Labels: test

#3801 Validate collisions of logmodules and OneAgents in the validation webhook
  pkg/api/v1beta1/dynakube/validation/oneagent.go
  pkg/api/v1beta1/dynakube/validation/oneagent_test.go
  pkg/api/v1beta1/dynakube/validation/validation_test.go
  pkg/api/v1beta2/dynakube/validation/oneagent.go
  pkg/api/v1beta2/dynakube/validation/oneagent_test.go
  pkg/api/v1beta2/dynakube/validation/validation_test.go
  pkg/api/v1beta3/dynakube/oneagent_props.go
  pkg/api/v1beta3/dynakube/validation/logmodule.go
  pkg/api/v1beta3/dynakube/validation/logmodule_test.go
  pkg/api/v1beta3/dynakube/validation/oneagent.go
  pkg/api/v1beta3/dynakube/validation/oneagent_test.go
  pkg/api/v1beta3/dynakube/validation/validation.go
  pkg/injection/namespace/initgeneration/initgeneration.go
Labels: logmodule

#3855 Fix e2e framework not stopping if setup fails
  .github/renovate.json5
  go.mod
  go.sum
Labels: dependencies

#3853 Add rbac turn-off option in Helm values.yaml
  config/helm/chart/default/templates/Common/activegate/clusterrole-activegate.yaml
  config/helm/chart/default/templates/Common/activegate/serviceaccount-activegate.yaml
  config/helm/chart/default/templates/Common/edge-connect/serviceaccount-edgeconnect.yaml
  config/helm/chart/default/templates/Common/extensions-controller/role-extensions-controller.yaml
  config/helm/chart/default/templates/Common/extensions-controller/serviceaccount-extensions-controller.yaml
  config/helm/chart/default/templates/Common/extensions-opentelemetry-collector/clusterrole-extensions-opentelemetry-collector.yaml
  config/helm/chart/default/templates/Common/extensions-opentelemetry-collector/serviceaccount-extensions-opentelemetry-collector.yaml
  config/helm/chart/default/templates/Common/kubernetes-monitoring/clusterrole-kubernetes-monitoring.yaml
  config/helm/chart/default/templates/Common/kubernetes-monitoring/serviceaccount-kubernetes-monitoring.yaml
  config/helm/chart/default/templates/Common/logmodule/clusterrole-logmodule.yaml
  config/helm/chart/default/templates/Common/logmodule/serviceaccount-logmodule.yaml
  config/helm/chart/default/templates/Common/oneagent/clusterrole-oneagent.yaml
  config/helm/chart/default/templates/Common/oneagent/serviceaccount-oneagent.yaml
  config/helm/chart/default/templates/Common/operator/install-config.yaml
  config/helm/chart/default/templates/Common/webhook/deployment-webhook.yaml
  config/helm/chart/default/tests/Common/activegate/serviceaccount-activegate_test.yaml
  config/helm/chart/default/tests/Common/edgeconnect/serviceaccount-edgeconnect_test.yaml
  config/helm/chart/default/tests/Common/extensions-controller/role-extensions-controller_test.yaml
  config/helm/chart/default/tests/Common/extensions-controller/serviceaccount-extensions-controller_test.yaml
  config/helm/chart/default/tests/Common/extensions-opentelemetry-collector/clusterrole-extensions-opentelemetry-collector_test.yaml
  config/helm/chart/default/tests/Common/extensions-opentelemetry-collector/serviceaccount-extensions-opentelemetry-collector_test.yaml
  config/helm/chart/default/tests/Common/kubernetes-monitoring/clusterrole-kubernetes-monitoring_test.yaml
  config/helm/chart/default/tests/Common/kubernetes-monitoring/serviceaccount-kubernetes-monitoring_test.yaml
  config/helm/chart/default/tests/Common/logmodule/clusterrole-logmodule_test.yaml
  config/helm/chart/default/tests/Common/logmodule/serviceaccount-logmodule_test.yaml
  config/helm/chart/default/tests/Common/oneagent/clusterrole-oneagent_test.yaml
  config/helm/chart/default/tests/Common/oneagent/serviceaccount-oneagent_test.yaml
  config/helm/chart/default/tests/Common/operator/install-config_test.yaml
  config/helm/chart/default/tests/Common/webhook/deployment-webhook_test.yaml
  config/helm/chart/default/values.yaml
  pkg/api/validation/dynakube/module_test.go
  pkg/api/validation/dynakube/modules.go
  pkg/api/validation/dynakube/validation.go
  pkg/api/validation/dynakube/validation_test.go
  pkg/api/validation/edgeconnect/module.go
  pkg/api/validation/edgeconnect/module_test.go
  pkg/api/validation/edgeconnect/validation.go
  pkg/api/validation/edgeconnect/validation_test.go
  pkg/util/installconfig/modules.go
  pkg/util/installconfig/modules_test.go
Labels: helm
