Repository Dynatrace/dynatrace-operator, pull requests merged in 2024-12, with the labels that each got.

#4130 Consider logmonitoring in the node-selector check (#4124)
  pkg/api/validation/dynakube/logmonitoring_test.go
  pkg/api/validation/dynakube/oneagent.go
  pkg/api/validation/dynakube/oneagent_test.go
Labels: cherrypick

#4138 Add validator to only allow 1 AG replica in combination with KSPM
  pkg/api/validation/dynakube/kspm.go
  pkg/api/validation/dynakube/kspm_test.go
  pkg/api/validation/dynakube/validation.go
Labels: kspm

#4131 Recreate EEC statefulset for PVC changes only
  pkg/controllers/dynakube/extension/eec/reconciler_test.go
  pkg/util/kubeobjects/statefulset/builder.go
  pkg/util/kubeobjects/statefulset/query.go
Labels: extensions

#4139 Add validator to only allow 1 AG replica in combination with KSPM (#4138)
  pkg/api/validation/dynakube/kspm.go
  pkg/api/validation/dynakube/kspm_test.go
  pkg/api/validation/dynakube/validation.go
Labels: cherrypick

#4133 Reference official docs in SECURITY.md
  SECURITY.md
Labels: documentation

#4145 Add logmonitoring rbac to OA ServiceAccount (#4140)
  config/helm/chart/default/templates/Common/logmonitoring/clusterrole-logmonitoring.yaml
  config/helm/chart/default/tests/Common/logmonitoring/clusterrole-logmonitoring_test.yaml
  pkg/controllers/dynakube/logmonitoring/daemonset/env.go
  pkg/controllers/dynakube/oneagent/daemonset/env_vars.go
  pkg/controllers/dynakube/oneagent/daemonset/env_vars_test.go
Labels: cherrypick

#4147 Add feature flag to skip oneAgent livenessprobe (#4146)
  pkg/api/v1beta3/dynakube/feature_flags.go
  pkg/api/v1beta3/dynakube/oneagent_props.go
  pkg/controllers/dynakube/oneagent/daemonset/daemonset.go
  pkg/controllers/dynakube/oneagent/daemonset/daemonset_test.go
Labels: cherrypick

#4148 Correct schemaVersion and improve error handling
  pkg/clients/dynatrace/settings_logmonitoring.go
  pkg/controllers/dynakube/logmonitoring/logmonsettings/conditions.go
  pkg/controllers/dynakube/logmonitoring/logmonsettings/reconciler.go
Labels: bug

#4129 Remove db from csi-server
  cmd/csi/server/builder.go
  pkg/controllers/csi/config.go
  pkg/controllers/csi/driver/server.go
  pkg/controllers/csi/driver/volumes/app/publisher.go
  pkg/controllers/csi/driver/volumes/app/publisher_test.go
  pkg/controllers/csi/driver/volumes/bind_config.go
  pkg/controllers/csi/driver/volumes/bind_config_test.go
  pkg/controllers/csi/driver/volumes/host/publisher.go
  pkg/controllers/csi/driver/volumes/host/publisher_test.go
  pkg/controllers/csi/driver/volumes/publisher.go
  pkg/controllers/csi/driver/volumes/volume_config_test.go
  pkg/controllers/csi/metadata/path_resolver.go
Labels: core

#4151 Correct schemaVersion and improve error handling (#4148)
  pkg/clients/dynatrace/settings_logmonitoring.go
  pkg/controllers/dynakube/logmonitoring/logmonsettings/conditions.go
  pkg/controllers/dynakube/logmonitoring/logmonsettings/reconciler.go
Labels: cherrypick

#4153 Transfer EC.Labels and EC.Annotations to the POD spec
  pkg/controllers/edgeconnect/controller.go
  pkg/controllers/edgeconnect/deployment/deployment.go
  pkg/controllers/edgeconnect/deployment/deployment_test.go
Labels: bug, edgeconnect

#4168 Transfer EC.Labels and EC.Annotations to the POD spec
  pkg/controllers/edgeconnect/controller.go
  pkg/controllers/edgeconnect/deployment/deployment.go
  pkg/controllers/edgeconnect/deployment/deployment_test.go
Labels: bug, edgeconnect

#4160 Update dynakube samples
  assets/samples/dynakube/v1beta3/applicationMonitoring.yaml
  assets/samples/dynakube/v1beta3/classicFullStack.yaml
  assets/samples/dynakube/v1beta3/cloudNativeFullStack.yaml
  assets/samples/dynakube/v1beta3/hostMonitoring.yaml
  assets/samples/dynakube/v1beta3/kubernetesObservability.yaml
  assets/samples/dynakube/v1beta3/kubernetesSecurityPostureManagement.yaml
  assets/samples/dynakube/v1beta3/logMonitoring.yaml
  assets/samples/dynakube/v1beta3/multipleDynakubes.yaml
Labels: documentation

#4175 Add automountServiceAccountToken: true to fullstack OA serviceAccount
  config/helm/chart/default/templates/Common/oneagent/serviceaccount-oneagent.yaml
  config/helm/chart/default/tests/Common/oneagent/serviceaccount-oneagent_test.yaml
Labels: bug

#4176 Add automountServiceAccountToken: true to fullstack OA serviceAccount
  config/helm/chart/default/templates/Common/oneagent/serviceaccount-oneagent.yaml
  config/helm/chart/default/tests/Common/oneagent/serviceaccount-oneagent_test.yaml
Labels: cherrypick

#4172 Check that generated docs and mocks are up-to-date
  .github/workflows/ci.yaml
  .mockery.yaml
  doc/api/dynakube-api-ref.md
  doc/api/feature-flags.md
  doc/e2e/features.md
  hack/doc/gen_e2e_features.sh
  hack/doc/gen_feature_flags.sh
  test/mocks/cmd/config/provider.go
  test/mocks/pkg/clients/dynatrace/client.go
  test/mocks/pkg/clients/edgeconnect/client.go
  test/mocks/pkg/controllers/dynakube/dynatraceclient/builder.go
  test/mocks/pkg/controllers/dynakube/version/status_updater.go
  test/mocks/pkg/util/builder/modifier.go
  test/mocks/sigs.k8s.io/controller-runtime/pkg/manager/manager.go
Labels: ci

#4171 Implement app volume migration logic
  cmd/csi/init/builder.go
  cmd/csi/init/config.go
  cmd/csi/init/manager.go
  cmd/csi/server/command_test.go
  pkg/controllers/csi/driver/server.go
  pkg/controllers/csi/metadata/correctness.go
  pkg/controllers/csi/metadata/correctness_test.go
  pkg/controllers/csi/metadata/fakes.go
  pkg/controllers/csi/metadata/sqlite_test.go
  pkg/controllers/csi/provisioner/controller.go
Labels: core

#4174 Change logMonitoring error handling in case of no kubernetesClusterMEID
  pkg/controllers/dynakube/logmonitoring/logmonsettings/reconciler.go
Labels: bug

#4191 Always lowercase workload kind in enrichment file
  pkg/webhook/mutation/pod/metadata/mutator.go
  pkg/webhook/mutation/pod/metadata/mutator_test.go
  pkg/webhook/mutation/pod/metadata/workload.go
  pkg/webhook/mutation/pod/metadata/workload_test.go
Labels: bug

#4195 Always lowercase workload kind in enrichment file (#4191)
  pkg/webhook/mutation/pod/metadata/mutator.go
  pkg/webhook/mutation/pod/metadata/mutator_test.go
  pkg/webhook/mutation/pod/metadata/workload.go
  pkg/webhook/mutation/pod/metadata/workload_test.go
Labels: cherrypick

#4205 Fix e2e test by splitting up extensive if condition
  pkg/controllers/dynakube/logmonitoring/logmonsettings/reconciler.go
Labels: bug

#4201 cherry-pick: Update dynakube samples (#4160)
  assets/samples/dynakube/v1beta3/applicationMonitoring.yaml
  assets/samples/dynakube/v1beta3/classicFullStack.yaml
  assets/samples/dynakube/v1beta3/cloudNativeFullStack.yaml
  assets/samples/dynakube/v1beta3/hostMonitoring.yaml
  assets/samples/dynakube/v1beta3/kubernetesObservability.yaml
  assets/samples/dynakube/v1beta3/kubernetesSecurityPostureManagement.yaml
  assets/samples/dynakube/v1beta3/logMonitoring.yaml
  assets/samples/dynakube/v1beta3/multipleDynakubes.yaml
Labels: cherrypick

#4213 Mention new behavior of operator manifests
  README.md
Labels: documentation

#4220 Remove tenant image registry restriction for image fields
  pkg/api/validation/dynakube/image.go
  pkg/api/validation/dynakube/image_test.go
Labels: bug

#4234 Remove tenant image registry restriction for image fields (#4220)
  pkg/api/validation/dynakube/image.go
  pkg/api/validation/dynakube/image_test.go
Labels: cherrypick

#4233 Remove yet unused csi-volume-attribute `retryTimeout`
  pkg/controllers/csi/driver/volumes/volume_config.go
  pkg/controllers/csi/driver/volumes/volume_config_test.go
  pkg/controllers/dynakube/oneagent/daemonset/volumes.go
Labels: bug

#4190 Remove the db from the provisioner logic (and codebase)
  Dockerfile
  cmd/csi/provisioner/builder.go
  go.mod
  go.sum
  hack/build/create_go_build_tags.sh
  pkg/controllers/csi/metadata/fakes.go
  pkg/controllers/csi/metadata/metadata.go
  pkg/controllers/csi/metadata/metadata_test.go
  pkg/controllers/csi/metadata/path_resolver.go
  pkg/controllers/csi/metadata/path_resolver_test.go
  pkg/controllers/csi/metadata/sqlite.go
  pkg/controllers/csi/provisioner/config.go
  pkg/controllers/csi/provisioner/controller.go
  pkg/controllers/csi/provisioner/controller_test.go
  pkg/controllers/csi/provisioner/events.go
  pkg/controllers/csi/provisioner/install.go
  pkg/controllers/csi/provisioner/install_test.go
  pkg/controllers/dynakube/processmoduleconfigsecret/reconciler.go
  pkg/injection/codemodule/installer/image/installer.go
  pkg/injection/codemodule/installer/symlink/symlink.go
  pkg/injection/codemodule/processmoduleconfig/update.go
  pkg/injection/codemodule/processmoduleconfig/update_test.go
  pkg/injection/startup/run.go
  pkg/util/testing/events.go
Labels: core

#4231 Move install-config from `envFrom` to a direct env via templates
  config/helm/chart/default/templates/Common/csi/daemonset.yaml
  config/helm/chart/default/templates/Common/operator/deployment-operator.yaml
  config/helm/chart/default/templates/Common/operator/install-config.yaml
  config/helm/chart/default/templates/Common/webhook/deployment-webhook.yaml
  config/helm/chart/default/templates/_helpers.tpl
  config/helm/chart/default/tests/Common/csi/daemonset_test.yaml
  config/helm/chart/default/tests/Common/operator/deployment-operator_test.yaml
  config/helm/chart/default/tests/Common/operator/install-config_test.yaml
  config/helm/chart/default/tests/Common/webhook/deployment-webhook_test.yaml
Labels: bug

#4214 Unify make commands for deployment
  HACKING.md
  Makefile
  doc/debug.md
  hack/make/debug/debug.mk
  hack/make/deploy/deploy.mk
  hack/make/deploy/helm.mk
  hack/make/deploy/undeploy.mk
  test/helpers/components/operator/installation.go
Labels: helm

#4235 Remove yet unused csi-volume-attribute `retryTimeout` (#4233)
  pkg/controllers/csi/driver/volumes/volume_config.go
  pkg/controllers/csi/driver/volumes/volume_config_test.go
  pkg/controllers/dynakube/oneagent/daemonset/volumes.go
Labels: cherrypick
