Repository Dynatrace/dynatrace-operator, pull requests merged in 2024-04, with the labels that each got.

#2944 Remove proxy value from init log #2943
  pkg/injection/startup/dtclient_builder.go
Labels: cherrypick

#2948 Fix release notes generation script (#2947)
  hack/build/ci/generate-release-notes.sh
Labels: cherrypick

#2950 Reintroduce split manifests in release note generation
  .github/workflows/release.yaml
  hack/build/ci/generate-release-notes.sh
Labels: ci

#2942 Add clean up logic for version and connection-info reconcilers
  pkg/controllers/dynakube/activegate/reconciler.go
  pkg/controllers/dynakube/activegate/reconciler_test.go
  pkg/controllers/dynakube/connectioninfo/activegate/reconciler.go
  pkg/controllers/dynakube/connectioninfo/activegate/reconciler_test.go
  pkg/controllers/dynakube/connectioninfo/oneagent/reconciler.go
  pkg/controllers/dynakube/connectioninfo/oneagent/reconciler_test.go
  pkg/controllers/dynakube/controller.go
  pkg/controllers/dynakube/injection/reconciler.go
  pkg/controllers/dynakube/injection/reconciler_test.go
  pkg/controllers/dynakube/oneagent/oneagent_reconciler.go
  pkg/controllers/dynakube/oneagent/oneagent_reconciler_test.go
  pkg/controllers/dynakube/status/status.go
  pkg/controllers/dynakube/status/status_test.go
  pkg/controllers/dynakube/version/activegate.go
  pkg/controllers/dynakube/version/activegate_test.go
  pkg/controllers/dynakube/version/codemodules.go
  pkg/controllers/dynakube/version/codemodules_test.go
  pkg/controllers/dynakube/version/oneagent.go
  pkg/controllers/dynakube/version/oneagent_test.go
  pkg/util/kubeobjects/secret/secret.go
Labels: core

#2958 Reintroduce split manifests in release note generation (#2950)
  .github/workflows/release.yaml
  hack/build/ci/generate-release-notes.sh
Labels: cherrypick

#2984 Disable data migration and fix linting issues
  cmd/csi/init/builder.go
  pkg/api/v1alpha1/dynakube/dynakube_types.go
  pkg/api/v1alpha1/dynakube/helpers.go
Labels: core

#2978 Simplify e2e test workflow by creating composite action
  .github/actions/run-e2e/action.yaml
  .github/workflows/e2e-tests.yaml
Labels: ci

#2991 Add short names for dynakube
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  pkg/api/v1alpha1/dynakube/dynakube_types.go
Labels: core

#2968 Allow duplicate oneagent arguments
  pkg/controllers/dynakube/oneagent/daemonset/arguments.go
  pkg/controllers/dynakube/oneagent/daemonset/arguments_test.go
  pkg/controllers/dynakube/oneagent/daemonset/daemonset_test.go
  pkg/util/prioritymap/cmdline_parser.go
  pkg/util/prioritymap/conversion.go
  pkg/util/prioritymap/map.go
Labels: bug

#2992 Add new rules to permission script and remove outdated permission
  .gitignore
  config/helm/chart/default/templates/Common/operator/clusterrole-operator.yaml
  hack/doc/role-permissions2md.py
Labels: documentation

#2996 Remove dead ActiveGate CR logic
  pkg/api/v1alpha1/activegate/activegate_capability.go
  pkg/api/v1alpha1/activegate/activegate_status.go
  pkg/api/v1alpha1/activegate/activegate_types.go
  pkg/api/v1alpha1/activegate/config.go
  pkg/api/v1alpha1/activegate/feature_flags.go
  pkg/api/v1alpha1/activegate/feature_flags_test.go
  pkg/api/v1alpha1/activegate/properties.go
  pkg/api/v1alpha1/activegate/value_source.go
  pkg/api/v1alpha1/activegate/zz_generated.deepcopy.go
  pkg/api/v1alpha1/edgeconnect/zz_generated.deepcopy.go
  pkg/api/v1beta1/dynakube/dynakube_types.go
Labels: core

#2990 Decrease local build time by using container caches
  Dockerfile
Labels: ci

#2977 Add ServiceAcountName and kubernetesApiAutomation fields to EdgeConnect CRD
  config/crd/bases/dynatrace.com_edgeconnects.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  doc/api/edgeconnect-api-ref.md
  pkg/api/v1alpha1/edgeconnect/edgeconnect_types.go
  pkg/api/v1alpha1/edgeconnect/zz_generated.deepcopy.go
  pkg/webhook/validation/edgeconnect/api_server_test.go
  pkg/webhook/validation/edgeconnect/config.go
  pkg/webhook/validation/edgeconnect/host_patterns_test.go
  pkg/webhook/validation/edgeconnect/name_test.go
  pkg/webhook/validation/edgeconnect/service_account.go
  pkg/webhook/validation/edgeconnect/service_account_test.go
Labels: core

#2993 Update contribution relevant guides
  .github/pull_request_template.md
  CONTRIBUTING.md
  doc/coding-style-guide.md
Labels: documentation

#3003 Remove replicas field from multipleDynakubes.yaml sample
  assets/samples/dynakube/multipleDynakubes.yaml
Labels: documentation

#3004 Add prerequisites installation to all python commands
  .github/workflows/renovate.yaml
  hack/make/doc.mk
  hack/make/prerequisites.mk
Labels: ci

#3006 Remove forgotten ActiveGate CRD files
  config/crd/bases/dynatrace.com_activegates.yaml
  config/crd/bases/kustomization.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  config/helm/chart/default/templates/Common/operator/role-operator.yaml
  config/helm/chart/default/tests/Common/operator/role-operator_test.yaml
  doc/api/activegate-api-ref.md
  doc/e2e/features.md
  hack/make/doc.mk
  test/features/support_archive/files.go
Labels: core

#3008 Add python requirements file to renovate config
  .github/renovate.json5
Labels: dependencies

#3007 Fix container-name and container-image env var counter if container is excluded via annotation
  pkg/webhook/mutation/pod/oneagent/containers.go
Labels: bug

#3013 Fix container name and container image env var counter
  pkg/webhook/mutation/pod/oneagent/containers.go
Labels: cherrypick

#3034 Correct hostMonitoring sample
  assets/samples/dynakube/hostMonitoring.yaml
Labels: documentation

#3046 Fix failing operator deployment because of wrong crd config
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  pkg/api/v1beta2/dynakube/dynakube_conversion.go
  pkg/api/v1beta2/dynakube/dynakube_types.go
  pkg/api/v1beta2/groupversion_info.go
Labels: bug

#2906 Use new GORM client and DB tables in CSI Driver
  .golangci.yml
  cmd/csi/init/builder.go
  cmd/csi/init/manager.go
  go.mod
  pkg/controllers/csi/driver/volumes/app/publisher.go
  pkg/controllers/csi/driver/volumes/app/publisher_test.go
  pkg/controllers/csi/driver/volumes/bind_config.go
  pkg/controllers/csi/driver/volumes/bind_config_test.go
  pkg/controllers/csi/driver/volumes/host/publisher.go
  pkg/controllers/csi/driver/volumes/host/publisher_test.go
  pkg/controllers/csi/gc/binaries.go
  pkg/controllers/csi/gc/binaries_test.go
  pkg/controllers/csi/gc/images.go
  pkg/controllers/csi/gc/images_test.go
  pkg/controllers/csi/gc/reconciler.go
  pkg/controllers/csi/metadata/correctness.go
  pkg/controllers/csi/metadata/correctness_test.go
  pkg/controllers/csi/metadata/fakes.go
  pkg/controllers/csi/metadata/metadata.go
  pkg/controllers/csi/metadata/metadata_test.go
  pkg/controllers/csi/metadata/migrations.go
  pkg/controllers/csi/metadata/models.go
  pkg/controllers/csi/metadata/sqlite.go
  pkg/controllers/csi/metadata/sqlite_gorm_client.go
  pkg/controllers/csi/metadata/sqlite_gorm_client_test.go
  pkg/controllers/csi/metadata/sqlite_test.go
  pkg/controllers/csi/provisioner/controller.go
  pkg/controllers/csi/provisioner/controller_test.go
  pkg/controllers/csi/provisioner/install.go
  pkg/util/testing/partial_equal.go
Labels: core
