Repository Dynatrace/dynatrace-operator, pull requests merged in 2024-01, with the labels that each got.

#2535 Remove check before pull-secret generation
  pkg/controllers/dynakube/controller_test.go
  pkg/controllers/dynakube/dtpullsecret/reconciler.go
  pkg/controllers/dynakube/dtpullsecret/reconciler_test.go
Labels: bug

#2481 Enhance support archive to collect CRD and WebhookConfig manifests
  cmd/support_archive/builder.go
  cmd/support_archive/config.go
  cmd/support_archive/resources.go
  cmd/support_archive/resources_test.go
  config/helm/chart/default/templates/Common/operator/clusterrole-operator.yaml
  pkg/api/scheme/fake/fake.go
  pkg/oci/registry/mocks/client.go
  test/features/support_archive/files.go
  test/mocks/cmd/manager/provider.go
  test/mocks/pkg/clients/dynatrace/client.go
  test/mocks/pkg/controllers/dynakube/istio/reconciler.go
  test/mocks/pkg/controllers/dynakube/version/status_updater.go
  test/mocks/sigs.k8s.io/controller-runtime/pkg/manager/manager.go
Labels: core

#2532 Set default image to public ecr
  .github/workflows/release.yaml
  config/helm/chart/default/questions.yml
  hack/build/bundle.sh
  hack/build/ci/generate-release-notes.sh
  hack/make/manifests/kubernetes.mk
  hack/make/manifests/openshift.mk
Labels: ci

#2514 Display warning if ONEAGENT_INSTALLER_SCRIPT_URL or ONEAGENT_INSTALLER_TOKEN env vars are used
  pkg/webhook/validation/dynakube/config.go
  pkg/webhook/validation/dynakube/oneagent.go
  pkg/webhook/validation/dynakube/oneagent_test.go
Labels: core

#2545 Streamline init container config
  pkg/consts/agent_injection.go
  pkg/consts/general_injection.go
  pkg/injection/namespace/initgeneration/initgeneration.go
  pkg/injection/namespace/initgeneration/initgeneration_test.go
  pkg/injection/startup/env.go
  pkg/injection/startup/env_test.go
  pkg/injection/startup/files.go
  pkg/injection/startup/run.go
  pkg/injection/startup/run_test.go
  pkg/injection/startup/secret.go
  pkg/webhook/mutation/pod_mutator/init_container.go
  pkg/webhook/mutation/pod_mutator/init_container_test.go
  pkg/webhook/mutation/pod_mutator/oneagent_mutation/containers.go
  pkg/webhook/mutation/pod_mutator/oneagent_mutation/containers_test.go
  pkg/webhook/mutation/pod_mutator/oneagent_mutation/env.go
  pkg/webhook/mutation/pod_mutator/oneagent_mutation/env_test.go
  pkg/webhook/mutation/pod_mutator/oneagent_mutation/mutator.go
  pkg/webhook/mutation/pod_mutator/oneagent_mutation/mutator_test.go
  pkg/webhook/mutation/pod_mutator/pod_mutator.go
Labels: core

#2560 Add the image digest in manifests created by GitHub action
  .github/workflows/release.yaml
Labels: ci

#2565 Fix make command
  hack/build/build_image.sh
  hack/build/push_image.sh
Labels: bug

#2566 Merge csi driver manifest to general manifest in release workflow
  .github/workflows/release.yaml
Labels: ci

#2557 Add the Helm OCI repository in the Helm README
  config/helm/chart/default/README.md
Labels: documentation

#2501 Enable CSI Driver by default in helm
  config/helm/chart/default/tests/Common/csi/clusterrole-csi_test.yaml
  config/helm/chart/default/tests/Common/csi/csidriver_test.yaml
  config/helm/chart/default/tests/Common/csi/daemonset_test.yaml
  config/helm/chart/default/tests/Common/csi/role-csi_test.yaml
  config/helm/chart/default/values.yaml
Labels: helm

#2568 Update latest release version in upgrade e2e tests
  test/scenarios/release/release_test.go
Labels: ci

#2567 Fix empty secret config incase of dataIngest
  pkg/injection/startup/run.go
  pkg/injection/startup/run_test.go
Labels: bug

#2573 Add hostgroup parameter to process module config request URL
  pkg/clients/dynatrace/client.go
  pkg/clients/dynatrace/client_test.go
  pkg/clients/dynatrace/dynatrace_client.go
  pkg/clients/dynatrace/processmoduleconfig.go
  pkg/clients/dynatrace/processmoduleconfig_test.go
  pkg/controllers/dynakube/dynatraceclient/builder.go
  pkg/controllers/dynakube/dynatraceclient/options.go
Labels: core

#2579 Reintroduce clusterid as env var instead of secret value
  pkg/consts/general_injection.go
  pkg/injection/namespace/initgeneration/initgeneration.go
  pkg/injection/namespace/initgeneration/initgeneration_test.go
  pkg/injection/startup/env.go
  pkg/injection/startup/env_test.go
  pkg/injection/startup/files.go
  pkg/injection/startup/run.go
  pkg/injection/startup/run_test.go
  pkg/injection/startup/secret.go
  pkg/injection/startup/secret_test.go
  pkg/oci/registry/mocks/client.go
  pkg/webhook/mutation/pod_mutator/init_container.go
  pkg/webhook/mutation/pod_mutator/init_container_test.go
  pkg/webhook/mutation/pod_mutator/pod_mutator.go
  test/mocks/cmd/manager/provider.go
  test/mocks/pkg/clients/dynatrace/client.go
  test/mocks/pkg/controllers/dynakube/istio/reconciler.go
  test/mocks/pkg/controllers/dynakube/version/status_updater.go
  test/mocks/sigs.k8s.io/controller-runtime/pkg/manager/manager.go
Labels: bug

#2586 Add missing hostIdSource incase of cloudNativeFullStack
  pkg/controllers/dynakube/oneagent/daemonset/arguments.go
  pkg/controllers/dynakube/oneagent/daemonset/arguments_test.go
Labels: bug

#2583 Store ruxitagentproc file in node fs by dynakube name
  pkg/controllers/csi/driver/volumes/app/publisher.go
  pkg/controllers/csi/driver/volumes/app/publisher_test.go
  pkg/controllers/csi/driver/volumes/bind_config.go
  pkg/controllers/csi/driver/volumes/bind_config_test.go
  pkg/controllers/csi/metadata/path_resolver.go
  pkg/controllers/csi/provisioner/install.go
Labels: core

#2584 Create ruxitagentproc.conf secret on dynakube reconcile
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  pkg/api/v1beta1/dynakube/dynakube_status.go
  pkg/controllers/dynakube/controller.go
  pkg/controllers/dynakube/controller_test.go
  pkg/controllers/dynakube/processmoduleconfigsecret/config.go
  pkg/controllers/dynakube/processmoduleconfigsecret/reconciler.go
  pkg/controllers/dynakube/processmoduleconfigsecret/reconciler_test.go
Labels: core

#2603 Implement delay parameter to stall support-archive execution.
  cmd/support_archive/builder.go
Labels: troubleshoot

#2594 Increase util package test coverage
  pkg/util/kubeobjects/env/env_test.go
  pkg/util/kubeobjects/pod/pod_test.go
  pkg/util/kubeobjects/secret/secret_test.go
  pkg/util/prioritymap/map_test.go
Labels: test

#2604 Add new latestActiveGateVersion endpoint
  pkg/clients/dynatrace/activegate_version.go
  pkg/clients/dynatrace/activegate_version_test.go
  pkg/clients/dynatrace/client.go
  pkg/clients/dynatrace/dynatrace_client_test.go
  pkg/clients/dynatrace/endpoints.go
  test/mocks/pkg/clients/dynatrace/client.go
Labels: core

#2614 Add integration test to check build variables
  .github/workflows/ci.yaml
  cmd/integration/integration_test.go
  hack/make/go.mk
Labels: test

#2616 Collect ConfigMaps in operator namespace into support archive.
  cmd/support_archive/resource_query.go
  cmd/support_archive/resource_query_test.go
  cmd/support_archive/resources_test.go
  test/features/support_archive/files.go
Labels: troubleshoot

#2612 Version status uses endpoints instead of image manifest
  pkg/clients/dynatrace/dynatrace_client_test.go
  pkg/clients/dynatrace/endpoints.go
  pkg/controllers/dynakube/controller_test.go
  pkg/controllers/dynakube/version/activegate.go
  pkg/controllers/dynakube/version/activegate_test.go
  pkg/controllers/dynakube/version/codemodules_test.go
  pkg/controllers/dynakube/version/oneagent.go
  pkg/controllers/dynakube/version/oneagent_test.go
  pkg/controllers/dynakube/version/reconciler.go
  pkg/controllers/dynakube/version/reconciler_test.go
  pkg/controllers/dynakube/version/synthetic.go
  pkg/controllers/dynakube/version/synthetic_test.go
  pkg/controllers/dynakube/version/updater.go
  pkg/controllers/dynakube/version/updater_test.go
Labels: core

#2637 Use new secret containing ruxitagentproc.conf data in CSI Driver provisioner
  pkg/controllers/csi/provisioner/controller.go
  pkg/controllers/csi/provisioner/install.go
  pkg/controllers/csi/provisioner/install_test.go
  pkg/controllers/csi/provisioner/processmoduleconfig.go
  pkg/controllers/csi/provisioner/processmoduleconfig_test.go
  pkg/controllers/dynakube/processmoduleconfigsecret/reconciler.go
  pkg/controllers/dynakube/processmoduleconfigsecret/reconciler_test.go
Labels: core
