Repository Dynatrace/dynatrace-operator, pull requests merged in 2024-07, with the labels that each got.

#3378 Fix activeGate replica conversion (#3374)
  pkg/api/v1beta1/dynakube/convert_from.go
  pkg/api/v1beta1/dynakube/convert_from_test.go
  pkg/api/v1beta1/dynakube/convert_to.go
Labels: cherrypick

#3387 Fix failing initContainer incase of classicFullStack and metadataEnrichment combination
  pkg/consts/enrichment_injection.go
  pkg/injection/startup/files.go
  pkg/injection/startup/run_test.go
  pkg/webhook/mutation/pod/metadata/containers.go
  pkg/webhook/mutation/pod/metadata/mutator_test.go
  pkg/webhook/mutation/pod/metadata/volumes.go
  pkg/webhook/mutation/pod/metadata/volumes_test.go
Labels: bug

#3396 Fix failing initContainer incase of classicFullStack and metadataEnrichment combination #3387
  pkg/consts/enrichment_injection.go
  pkg/injection/startup/files.go
  pkg/injection/startup/run_test.go
  pkg/webhook/mutation/pod/metadata/containers.go
  pkg/webhook/mutation/pod/metadata/mutator_test.go
  pkg/webhook/mutation/pod/metadata/volumes.go
  pkg/webhook/mutation/pod/metadata/volumes_test.go
Labels: cherrypick

#3399 Fix incorrect golang digest for golang-1.22.5
  Dockerfile
Labels: ci

#3401 Fix incorrect golang digest for golang-1.22.5 image
  Dockerfile
Labels: cherrypick

#3400 Fix incorrect golang digest for golang-1.22.5 image
  Dockerfile
Labels: cherrypick

#3402 Change bracket type for labels and annotations in values.yaml
  config/helm/chart/default/templates/_platform.tpl
  config/helm/chart/default/values.yaml
Labels: helm

#3403 Fix pull secret not found error preventing codeModulesImage download
  pkg/oci/dockerkeychain/docker_keychain.go
  pkg/oci/dockerkeychain/docker_keychain_test.go
Labels: bug

#3407 Fix pull secret not found error preventing codeModulesImage download (#3403)
  pkg/oci/dockerkeychain/docker_keychain.go
  pkg/oci/dockerkeychain/docker_keychain_test.go
Labels: cherrypick

#3408 Change bracket type for labels and annotations in values.yaml
  config/helm/chart/default/templates/_platform.tpl
  config/helm/chart/default/values.yaml
Labels: cherrypick

#3388 Block osmount incase unmount is still in progress
  pkg/controllers/csi/driver/volumes/host/publisher.go
  pkg/controllers/csi/driver/volumes/host/publisher_test.go
  pkg/controllers/csi/gc/binaries.go
  pkg/controllers/csi/gc/binaries_test.go
  pkg/controllers/csi/gc/reconciler.go
  pkg/controllers/csi/gc/reconciler_test.go
  pkg/controllers/csi/metadata/cleaner_test.go
Labels: bug

#3410 Block osmount incase unmount is still in progress (#3388)
  pkg/controllers/csi/driver/volumes/host/publisher.go
  pkg/controllers/csi/driver/volumes/host/publisher_test.go
  pkg/controllers/csi/gc/binaries.go
  pkg/controllers/csi/gc/binaries_test.go
  pkg/controllers/csi/gc/reconciler.go
  pkg/controllers/csi/gc/reconciler_test.go
  pkg/controllers/csi/metadata/cleaner_test.go
Labels: cherrypick

#3386 Propagate annotations from namespace to pods for metadata enrichment
  pkg/api/v1beta2/dynakube/dynakube_status.go
  pkg/webhook/mutation/pod/metadata/mutator.go
  pkg/webhook/mutation/pod/metadata/mutator_test.go
Labels: core

#3423 Remove deprecation warnings for FFs with no replacement
  pkg/api/v1beta2/dynakube/validation/deprecation.go
  pkg/api/v1beta2/dynakube/validation/deprecation_test.go
  pkg/api/v1beta2/dynakube/validation/validation.go
Labels: core

#3424 Remove deprecation warnings for FFs with no replacement (#3423)
  pkg/webhook/validation/dynakube/config.go
  pkg/webhook/validation/dynakube/deprecation.go
  pkg/webhook/validation/dynakube/deprecation_test.go
Labels: cherrypick

#3429 Fix reconcile interval incase of an error when updating the agent in the provisioner
  pkg/controllers/csi/provisioner/controller.go
  pkg/controllers/csi/provisioner/controller_test.go
Labels: bug

#3442 Fix reconcile interval incase of an error when updating the agent in the provsioner (#3429)
  pkg/controllers/csi/provisioner/controller.go
  pkg/controllers/csi/provisioner/controller_test.go
Labels: cherrypick

#3459 Add Verification of OneAgent Version (#3405)
  pkg/api/v1beta2/dynakube/validation/oneagent.go
  pkg/api/v1beta2/dynakube/validation/oneagent_test.go
  pkg/api/v1beta2/dynakube/validation/validation.go
Labels: cherrypick

#3458 Fix ondemand E2E slack message
  .github/workflows/e2e-tests-ondemand.yaml
Labels: bug

#3453 Handle the force-delete scenario in the OS volume publisher
  pkg/controllers/csi/driver/volumes/host/publisher.go
  pkg/controllers/csi/driver/volumes/host/publisher_test.go
Labels: bug

#3461 Handle the force-delete scenario in the OS volume publisher (#3453)
  pkg/controllers/csi/driver/volumes/host/publisher.go
  pkg/controllers/csi/driver/volumes/host/publisher_test.go
Labels: cherrypick

#3460 Handle the force-delete scenario in the OS volume publisher (#3453)
  pkg/controllers/csi/driver/volumes/host/publisher.go
  pkg/controllers/csi/driver/volumes/host/publisher_test.go
Labels: cherrypick

#3478 Update trustedCAs description for Dynakube samples to indicate it works for all components
  assets/samples/dynakube/v1beta1/applicationMonitoring.yaml
  assets/samples/dynakube/v1beta1/classicFullStack.yaml
  assets/samples/dynakube/v1beta1/cloudNativeFullStack.yaml
  assets/samples/dynakube/v1beta1/hostMonitoring.yaml
  assets/samples/dynakube/v1beta1/kubernetesObservability.yaml
  assets/samples/dynakube/v1beta2/applicationMonitoring.yaml
  assets/samples/dynakube/v1beta2/classicFullStack.yaml
  assets/samples/dynakube/v1beta2/cloudNativeFullStack.yaml
  assets/samples/dynakube/v1beta2/hostMonitoring.yaml
  assets/samples/dynakube/v1beta2/kubernetesObservability.yaml
Labels: documentation

#3481 Update registrar to v2.11.1 and livenessprobe to v2.13.1 (release-1.2)
  Dockerfile
Labels: cherrypick

#3482 Update registrar to v2.11.1 and livenessprobe to v2.13.1 (release-1.3)
  Dockerfile
Labels: cherrypick

#3469 Specify ns when listing dynakubes during validation
  config/helm/chart/default/templates/Common/webhook/validatingwebhookconfiguration.yaml
  config/helm/chart/default/tests/Common/webhook/validatingwebhookconfiguration_test.yaml
  pkg/api/v1beta2/dynakube/validation/oneagent.go
  pkg/api/v1beta3/dynakube/validation/oneagent.go
Labels: bug

#3468 Enable ExtensionController in ActiveGate
  pkg/api/v1beta3/dynakube/properties.go
  pkg/controllers/dynakube/activegate/capability/capability.go
  pkg/controllers/dynakube/activegate/capability/capability_test.go
  pkg/controllers/dynakube/activegate/internal/capability/service.go
  pkg/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/serviceport.go
  pkg/controllers/dynakube/activegate/reconciler_test.go
Labels: core

#3483 Specify ns when listing dynakubes during validation (#3469)
  config/helm/chart/default/templates/Common/webhook/validatingwebhookconfiguration.yaml
  config/helm/chart/default/tests/Common/webhook/validatingwebhookconfiguration_test.yaml
  pkg/api/v1beta2/dynakube/validation/oneagent.go
Labels: cherrypick

#3484 Add versioned validation logic to v1beta1
  cmd/webhook/builder.go
  config/helm/chart/default/templates/Common/webhook/validatingwebhookconfiguration.yaml
  config/helm/chart/default/tests/Common/webhook/validatingwebhookconfiguration_test.yaml
  pkg/api/v1beta1/dynakube/dynakube_webhook.go
  pkg/api/v1beta1/dynakube/validation/activegate.go
  pkg/api/v1beta1/dynakube/validation/activegate_test.go
  pkg/api/v1beta1/dynakube/validation/api_url.go
  pkg/api/v1beta1/dynakube/validation/api_url_test.go
  pkg/api/v1beta1/dynakube/validation/config.go
  pkg/api/v1beta1/dynakube/validation/csi_daemonset.go
  pkg/api/v1beta1/dynakube/validation/csi_daemonset_test.go
  pkg/api/v1beta1/dynakube/validation/dynakube_name.go
  pkg/api/v1beta1/dynakube/validation/dynakube_name_test.go
  pkg/api/v1beta1/dynakube/validation/image.go
  pkg/api/v1beta1/dynakube/validation/image_test.go
  pkg/api/v1beta1/dynakube/validation/istio.go
  pkg/api/v1beta1/dynakube/validation/istio_test.go
  pkg/api/v1beta1/dynakube/validation/namespace_selector.go
  pkg/api/v1beta1/dynakube/validation/namespace_selector_test.go
  pkg/api/v1beta1/dynakube/validation/oneagent.go
  pkg/api/v1beta1/dynakube/validation/oneagent_test.go
  pkg/api/v1beta1/dynakube/validation/preview.go
  pkg/api/v1beta1/dynakube/validation/preview_test.go
  pkg/api/v1beta1/dynakube/validation/proxy_url.go
  pkg/api/v1beta1/dynakube/validation/proxy_url_test.go
  pkg/api/v1beta1/dynakube/validation/validation.go
  pkg/api/v1beta1/dynakube/validation/validation_test.go
Labels: core

#3485 Reconcile Extensions Secret with EEC Token
  pkg/controllers/dynakube/extension/consts.go
  pkg/controllers/dynakube/extension/reconciler.go
  pkg/controllers/dynakube/extension/reconciler_test.go
  pkg/controllers/dynakube/extension/secret.go
  pkg/util/conditions/secret.go
  pkg/util/dttoken/token_test.go
Labels: core

#3489 Update trustedCAs description for Dynakube samples (release-1.3)
  assets/samples/dynakube/v1beta1/applicationMonitoring.yaml
  assets/samples/dynakube/v1beta1/classicFullStack.yaml
  assets/samples/dynakube/v1beta1/cloudNativeFullStack.yaml
  assets/samples/dynakube/v1beta1/hostMonitoring.yaml
  assets/samples/dynakube/v1beta1/kubernetesObservability.yaml
  assets/samples/dynakube/v1beta2/applicationMonitoring.yaml
  assets/samples/dynakube/v1beta2/classicFullStack.yaml
  assets/samples/dynakube/v1beta2/cloudNativeFullStack.yaml
  assets/samples/dynakube/v1beta2/hostMonitoring.yaml
  assets/samples/dynakube/v1beta2/kubernetesObservability.yaml
Labels: cherrypick

#3494 Fixup e2e tests after introducing v1beta3
  test/helpers/components/dynakube/dynakube.go
  test/helpers/components/oneagent/daemonset.go
  test/helpers/components/operator/installation.go
Labels: test

#3495 Mark v1beta1 and v1beta2 package as deprecated
  .golangci.yml
  cmd/webhook/builder.go
  pkg/api/scheme/scheme.go
  pkg/api/v1beta1/dynakube/doc.go
  pkg/api/v1beta1/dynakube/test/certs_test.go
  pkg/api/v1beta1/dynakube/test/proxy_test.go
  pkg/api/v1beta1/dynakube/validation/activegate.go
  pkg/api/v1beta1/dynakube/validation/activegate_test.go
  pkg/api/v1beta1/dynakube/validation/api_url.go
  pkg/api/v1beta1/dynakube/validation/api_url_test.go
  pkg/api/v1beta1/dynakube/validation/csi_daemonset.go
  pkg/api/v1beta1/dynakube/validation/csi_daemonset_test.go
  pkg/api/v1beta1/dynakube/validation/dynakube_name.go
  pkg/api/v1beta1/dynakube/validation/dynakube_name_test.go
  pkg/api/v1beta1/dynakube/validation/image.go
  pkg/api/v1beta1/dynakube/validation/image_test.go
  pkg/api/v1beta1/dynakube/validation/istio.go
  pkg/api/v1beta1/dynakube/validation/istio_test.go
  pkg/api/v1beta1/dynakube/validation/namespace_selector.go
  pkg/api/v1beta1/dynakube/validation/namespace_selector_test.go
  pkg/api/v1beta1/dynakube/validation/oneagent.go
  pkg/api/v1beta1/dynakube/validation/oneagent_test.go
  pkg/api/v1beta1/dynakube/validation/preview_test.go
  pkg/api/v1beta1/dynakube/validation/proxy_url.go
  pkg/api/v1beta1/dynakube/validation/proxy_url_test.go
  pkg/api/v1beta1/dynakube/validation/validation.go
  pkg/api/v1beta1/dynakube/validation/validation_test.go
  pkg/api/v1beta2/dynakube/doc.go
  pkg/api/v1beta2/dynakube/test/certs_test.go
  pkg/api/v1beta2/dynakube/test/proxy_test.go
  pkg/api/v1beta2/dynakube/validation/activegate.go
  pkg/api/v1beta2/dynakube/validation/activegate_test.go
  pkg/api/v1beta2/dynakube/validation/api_url.go
  pkg/api/v1beta2/dynakube/validation/api_url_test.go
  pkg/api/v1beta2/dynakube/validation/csi_daemonset.go
  pkg/api/v1beta2/dynakube/validation/csi_daemonset_test.go
  pkg/api/v1beta2/dynakube/validation/dynakube_name.go
  pkg/api/v1beta2/dynakube/validation/dynakube_name_test.go
  pkg/api/v1beta2/dynakube/validation/image.go
  pkg/api/v1beta2/dynakube/validation/image_test.go
  pkg/api/v1beta2/dynakube/validation/istio.go
  pkg/api/v1beta2/dynakube/validation/istio_test.go
  pkg/api/v1beta2/dynakube/validation/namespace_selector.go
  pkg/api/v1beta2/dynakube/validation/namespace_selector_test.go
  pkg/api/v1beta2/dynakube/validation/oneagent.go
  pkg/api/v1beta2/dynakube/validation/oneagent_test.go
  pkg/api/v1beta2/dynakube/validation/preview_test.go
  pkg/api/v1beta2/dynakube/validation/proxy_url.go
  pkg/api/v1beta2/dynakube/validation/proxy_url_test.go
  pkg/api/v1beta2/dynakube/validation/validation.go
  pkg/api/v1beta2/dynakube/validation/validation_test.go
  pkg/clients/dynatrace/token_test.go
  pkg/controllers/dynakube/version/activegate_test.go
  pkg/injection/codemodule/processmoduleconfig/merge_test.go
  pkg/injection/codemodule/processmoduleconfig/update_test.go
  pkg/util/dtotel/otel.go
  test/features/cloudnative/upgrade/upgrade.go
  test/helpers/components/dynakube/dynakube.go
  test/helpers/components/oneagent/daemonset.go
Labels: core

#3447 Add monitored entity reconciler
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  pkg/api/v1beta2/dynakube/dynakube_status.go
  pkg/api/v1beta3/dynakube/dynakube_status.go
  pkg/clients/dynatrace/client.go
  pkg/clients/dynatrace/settings_enrichment.go
  pkg/clients/dynatrace/settings_enrichment_test.go
  pkg/controllers/dynakube/activegate.go
  pkg/controllers/dynakube/activegate_test.go
  pkg/controllers/dynakube/apimonitoring/reconciler.go
  pkg/controllers/dynakube/apimonitoring/reconciler_test.go
  pkg/controllers/dynakube/controller.go
  pkg/controllers/dynakube/controller_system_test.go
  pkg/controllers/dynakube/controller_test.go
  pkg/controllers/dynakube/injection/reconciler_test.go
  pkg/controllers/dynakube/metadata/rules/reconciler.go
  pkg/controllers/dynakube/metadata/rules/reconciler_test.go
  pkg/controllers/dynakube/monitoredentities/config.go
  pkg/controllers/dynakube/monitoredentities/reconciler.go
  pkg/controllers/dynakube/monitoredentities/reconciler_test.go
  test/mocks/pkg/clients/dynatrace/client.go
Labels: core

#3487 Automate creation of EEC service
  pkg/controllers/dynakube/extension/consts.go
  pkg/controllers/dynakube/extension/reconciler.go
  pkg/controllers/dynakube/extension/reconciler_test.go
  pkg/controllers/dynakube/extension/secret.go
  pkg/controllers/dynakube/extension/service.go
  pkg/controllers/dynakube/extension/service_test.go
  pkg/util/conditions/service.go
  pkg/util/kubeobjects/labels/labels.go
  pkg/util/kubeobjects/service/builder.go
  pkg/util/kubeobjects/service/builder_test.go
  pkg/util/kubeobjects/service/query.go
Labels: extensions

#3513 Standardize scheme usage in e2e-tests
  test/helpers/components/dynakube/dynakube.go
  test/helpers/components/edgeconnect/edgeconnect.go
  test/helpers/scheme.go
  test/scenarios/istio/istio_test.go
  test/scenarios/release/release_test.go
  test/scenarios/standard/standard_test.go
Labels: bug

#3497 Add modifier to ActiveGate StatefulSet mounting EEC token volume
  pkg/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/config.go
  pkg/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/eec.go
  pkg/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/eec_test.go
  pkg/controllers/dynakube/extension/consts.go
  pkg/controllers/dynakube/extension/reconciler_test.go
  pkg/controllers/dynakube/extension/secret.go
Labels: extensions

#3534 Set owner during update
  pkg/util/kubeobjects/deployment/query_test.go
  pkg/util/kubeobjects/internal/query/query.go
Labels: bug

#3519 Fix empty ME case by not throwing an error
  pkg/controllers/dynakube/apimonitoring/reconciler.go
  pkg/controllers/dynakube/monitoredentities/reconciler.go
  pkg/controllers/dynakube/monitoredentities/reconciler_test.go
Labels: bug

#3520 Reorg the injection-reconciler
  pkg/controllers/dynakube/injection/reconciler.go
  pkg/controllers/dynakube/injection/reconciler_test.go
Labels: bug

#3537 Generate OtelC token and store it in extensions secret
  pkg/controllers/dynakube/extension/consts.go
  pkg/controllers/dynakube/extension/reconciler_test.go
  pkg/controllers/dynakube/extension/secret.go
Labels: extensions

#3536 Update token scope api call version
  pkg/clients/dynatrace/dynatrace_client_test.go
  pkg/clients/dynatrace/endpoints.go
Labels: core

#3544 Updates deepcopy modules
  pkg/api/status/zz_generated.deepcopy.go
  pkg/api/v1alpha1/edgeconnect/zz_generated.deepcopy.go
  pkg/api/v1beta1/dynakube/zz_generated.deepcopy.go
  pkg/api/v1beta2/dynakube/zz_generated.deepcopy.go
  pkg/api/v1beta3/dynakube/zz_generated.deepcopy.go
Labels: core

#3518 Add k8s.cluster.name to enrichment + renames
  pkg/consts/enrichment_injection.go
  pkg/injection/namespace/initgeneration/initgeneration.go
  pkg/injection/startup/enrichment.go
  pkg/injection/startup/enrichment_test.go
  pkg/injection/startup/env.go
  pkg/injection/startup/env_test.go
  pkg/injection/startup/files.go
  pkg/injection/startup/files_test.go
  pkg/injection/startup/run.go
  pkg/webhook/mutation/pod/metadata/containers.go
  pkg/webhook/mutation/pod/metadata/containers_test.go
  pkg/webhook/mutation/pod/metadata/env.go
  pkg/webhook/mutation/pod/metadata/env_test.go
  pkg/webhook/mutation/pod/metadata/mutator.go
  pkg/webhook/mutation/pod/metadata/mutator_test.go
Labels: core

#3521 Automates deployment of EEC StatefulSet
  pkg/api/v1beta3/dynakube/validation/eec.go
  pkg/api/v1beta3/dynakube/validation/eec_test.go
  pkg/api/v1beta3/dynakube/validation/validation.go
  pkg/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/eec.go
  pkg/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/eec_test.go
  pkg/controllers/dynakube/extension/consts.go
  pkg/controllers/dynakube/extension/consts/consts.go
  pkg/controllers/dynakube/extension/eec/conditions.go
  pkg/controllers/dynakube/extension/eec/config.go
  pkg/controllers/dynakube/extension/eec/reconciler.go
  pkg/controllers/dynakube/extension/eec/reconciler_test.go
  pkg/controllers/dynakube/extension/eec/statefulset.go
  pkg/controllers/dynakube/extension/hash/hash.go
  pkg/controllers/dynakube/extension/reconciler.go
  pkg/controllers/dynakube/extension/reconciler_test.go
  pkg/controllers/dynakube/extension/secret.go
  pkg/controllers/dynakube/extension/service.go
  pkg/util/kubeobjects/statefulset/builder.go
  pkg/util/kubeobjects/statefulset/builder_test.go
Labels: core
