Repository Dynatrace/dynatrace-operator, pull requests merged in 2024-03, with the labels that each got.

#2823 Move startup-probe from csi-server to csi-provisioner
  cmd/csi/server/builder.go
  config/helm/chart/default/templates/Common/csi/daemonset.yaml
  config/helm/chart/default/tests/Common/csi/daemonset_test.yaml
  pkg/controllers/csi/driver/server.go
  pkg/controllers/csi/driver/volumes/app/publisher.go
  pkg/controllers/csi/driver/volumes/app/publisher_test.go
  pkg/controllers/csi/driver/volumes/host/publisher.go
  pkg/controllers/csi/driver/volumes/host/publisher_test.go
Labels: bug

#2824 Move startup-probe from csi-server to csi-provisioner #2823
  config/helm/chart/default/templates/Common/csi/daemonset.yaml
  config/helm/chart/default/tests/Common/csi/daemonset_test.yaml
Labels: cherrypick

#2826 Set E2E execution at 0AM and tweak dispatchable workfow
  .github/scripts/create-cluster.sh
  .github/scripts/destroy-cluster.sh
  .github/scripts/run-e2e-tests.sh
  .github/workflows/e2e-tests.yaml
Labels: test

#2816 Add condition for CodeModuleVersion and ProcessModuleConfig
  pkg/api/v1alpha1/activegate/zz_generated.deepcopy.go
  pkg/api/v1alpha1/dynakube/zz_generated.deepcopy.go
  pkg/api/v1beta1/dynakube/dynakube_status.go
  pkg/api/v1beta1/dynakube/dynakube_types.go
  pkg/api/v1beta1/dynakube/properties.go
  pkg/api/v1beta1/dynakube/zz_generated.deepcopy.go
  pkg/controllers/dynakube/conditions.go
  pkg/controllers/dynakube/injection/reconciler.go
  pkg/controllers/dynakube/processmoduleconfigsecret/conditions.go
  pkg/controllers/dynakube/processmoduleconfigsecret/reconciler.go
  pkg/controllers/dynakube/processmoduleconfigsecret/reconciler_test.go
  pkg/controllers/dynakube/version/codemodules.go
  pkg/controllers/dynakube/version/codemodules_test.go
  pkg/controllers/dynakube/version/conditions.go
  pkg/controllers/dynakube/version/reconciler_test.go
  pkg/util/conditions/error.go
  pkg/util/conditions/secret.go
Labels: core

#2838 Fix default value in E2E action
  .github/workflows/e2e-tests.yaml
Labels: test

#2850 Add Slack notification when E2E fails
  .github/workflows/e2e-tests.yaml
Labels: test

#2840 Run E2E tests in latest FLC version environments
  .github/scripts/run-e2e-tests.sh
  .github/workflows/e2e-tests.yaml
Labels: test

#2851 Fix edgeconnect url in E2E tests
  .github/scripts/run-e2e-tests.sh
Labels: test

#2855 Destroy FLC cluster after E2E execution
  .github/workflows/e2e-tests.yaml
Labels: test

#2852 Fix span titles for OTel.
  pkg/util/dtotel/traces.go
  pkg/util/dtotel/traces_test.go
Labels: bug

#2856 Add E2E tests slack notification when PASSED tests
  .github/workflows/e2e-tests.yaml
Labels: test

#2859 Fallback E2E success notification
  .github/workflows/e2e-tests.yaml
Labels: test

#2861 Publish e2e test results on github
  .github/scripts/run-e2e-tests.sh
  .github/workflows/e2e-tests.yaml
  hack/make/tests/e2e.mk
Labels: test

#2868 Make local build script more robust
  hack/build/build_image.sh
Labels: core

#2875 Add scheme field in proxy secret
  go.mod
  pkg/controllers/dynakube/proxy/consts.go
  pkg/controllers/dynakube/proxy/reconciler.go
  pkg/controllers/dynakube/proxy/reconciler_test.go
Labels: core

#2878 Lower case kind annotation on webhook pod mutation
  pkg/webhook/mutation/pod_mutator/dataingest_mutation/mutator.go
  pkg/webhook/mutation/pod_mutator/dataingest_mutation/mutator_test.go
Labels: core

#2877 Ignore terminating namespace during mapping
  pkg/util/kubeobjects/secret/secret.go
  pkg/util/kubeobjects/secret/secret_test.go
  pkg/webhook/mutation/namespace_mutator/mutator.go
Labels: bug

#2879 Adds go/testhtml make target
  hack/make/go.mk
Labels: test

#2876 Avoid support archive test failure incase of unexpected file
  test/features/support_archive/support_archive.go
Labels: bug

#2885 Delete dev-release workflow
  .github/workflows/dev-release.yaml
Labels: ci

#2892 Adapt supported OCP versions for OLM
  hack/build/bundle.sh
Labels: ci

#2895 Adapt supported OCP versions for OLM (#2892)
  hack/build/bundle.sh
Labels: ci

#2896 Update openshift preflight to v1.9.1 for v1.0.0
  .github/actions/preflight/action.yaml
Labels: dependencies

#2871 Add GitHub action to automatically update renovate config
  .github/renovate.json5
  .github/workflows/renovate.yaml
  hack/build/ci/update-renovate-json5.py
  hack/requirements.txt
Labels: ci

#2897 Update openshift preflight to v1.9.1 for v1.0.0 (#2896)
  .github/actions/preflight/action.yaml
Labels: dependencies

#2849 Create a GORM Client and Implementation of the CSI DB API
  pkg/controllers/csi/metadata/models.go
  pkg/controllers/csi/metadata/sqlite.go
  pkg/controllers/csi/metadata/sqlite_gorm_client.go
  pkg/controllers/csi/metadata/sqlite_gorm_client_test.go
Labels: core

#2910 Add OneAgent conditions to the dynakube status
  pkg/controllers/dynakube/connectioninfo/oneagent/conditions.go
  pkg/controllers/dynakube/connectioninfo/oneagent/reconciler.go
  pkg/controllers/dynakube/connectioninfo/oneagent/reconciler_test.go
  pkg/controllers/dynakube/oneagent/conditions.go
  pkg/controllers/dynakube/oneagent/oneagent_reconciler.go
  pkg/controllers/dynakube/oneagent/oneagent_reconciler_test.go
  pkg/controllers/dynakube/processmoduleconfigsecret/reconciler.go
  pkg/controllers/dynakube/processmoduleconfigsecret/reconciler_test.go
  pkg/controllers/dynakube/version/codemodules.go
  pkg/controllers/dynakube/version/conditions.go
  pkg/controllers/dynakube/version/oneagent.go
  pkg/controllers/dynakube/version/oneagent_test.go
  pkg/controllers/dynakube/version/reconciler_test.go
  pkg/util/conditions/error.go
  pkg/util/conditions/secret.go
  pkg/util/conditions/time.go
  pkg/util/conditions/time_test.go
  pkg/util/kubeobjects/daemonset/daemonset.go
  pkg/util/kubeobjects/daemonset/daemonset_test.go
  pkg/util/timeprovider/provider.go
  pkg/util/timeprovider/provider_test.go
Labels: core

#2917 Version reconcile only fails if there is no version info in the status
  pkg/controllers/dynakube/version/reconciler.go
  pkg/controllers/dynakube/version/reconciler_test.go
  pkg/controllers/dynakube/version/updater_test.go
Labels: core

#2925 Remove scheme field from EdgeConnect CRD
  config/crd/bases/dynatrace.com_edgeconnects.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  doc/api/edgeconnect-api-ref.md
  pkg/api/v1alpha1/edgeconnect/edgeconnect_types.go
Labels: core

#2930 Increase codemodules storage size delta in E2E tests
  test/features/cloudnative/codemodules/codemodules.go
Labels: test

#2932 Fix OLM release workflow
  .golangci.yml
  pkg/api/v1alpha1/dynakube/dynakube_types.go
  pkg/api/v1beta1/dynakube/dynakube_types.go
Labels: bug

#2936 Prevent duplication of CSI resources in release manifests
  hack/make/manifests/kubernetes.mk
  hack/make/manifests/openshift.mk
Labels: bug

#2937 Exclude CSI manifests (#2936)
  hack/make/manifests/kubernetes.mk
  hack/make/manifests/openshift.mk
Labels: cherrypick

#2924 Add agentType section to process module config request
  pkg/clients/dynatrace/endpoints.go
Labels: core

#2929 Add read permissions for DynaKubes to ActiveGate role
  config/helm/chart/default/templates/Common/kubernetes-monitoring/clusterrole-kubernetes-monitoring.yaml
  config/helm/chart/default/tests/Common/kubernetes-monitoring/clusterrole-kubernetes-monitoring_test.yaml
Labels: helm

#2943 Remove proxy value from init log
  pkg/injection/startup/dtclient_builder.go
Labels: bug
