Repository Dynatrace/dynatrace-operator, pull requests merged in 2024-08, with the labels that each got.

#3553 Revert back the tenantUUID change in the CSI driver
  pkg/controllers/csi/gc/binaries_test.go
  pkg/controllers/csi/provisioner/install.go
Labels: bug

#3567 Revert back the tenantUUID change in the CSI driver
  pkg/controllers/csi/gc/binaries_test.go
  pkg/controllers/csi/provisioner/install.go
Labels: cherrypick

#3568 Fix standalone metadata enrichment if no oneAgent section is configured
  pkg/controllers/dynakube/injection/reconciler.go
Labels: bug

#3569 Add feature flag to disable CSI volume
  pkg/api/v1beta2/dynakube/feature_flags.go
  pkg/api/v1beta2/dynakube/properties.go
Labels: oneagent

#3556 Update contributing guide
  CONTRIBUTING.md
Labels: documentation

#3561 Add k8s.container.name to the metadata enrichment files
  pkg/consts/agent_injection.go
  pkg/consts/enrichment_injection.go
  pkg/consts/general_injection.go
  pkg/injection/startup/enrichment.go
  pkg/injection/startup/enrichment_test.go
  pkg/injection/startup/env.go
  pkg/injection/startup/env_test.go
  pkg/injection/startup/files.go
  pkg/injection/startup/run_test.go
  pkg/webhook/container.go
  pkg/webhook/container_test.go
  pkg/webhook/mutation/pod/init_container.go
  pkg/webhook/mutation/pod/metadata/containers.go
  pkg/webhook/mutation/pod/metadata/mutator.go
  pkg/webhook/mutation/pod/metadata/mutator_test.go
  pkg/webhook/mutation/pod/metadata/volumes.go
  pkg/webhook/mutation/pod/metadata/volumes_test.go
  pkg/webhook/mutation/pod/oneagent/containers.go
  pkg/webhook/mutation/pod/oneagent/containers_test.go
  pkg/webhook/mutation/pod/oneagent/env.go
  pkg/webhook/mutation/pod/oneagent/env_test.go
  pkg/webhook/mutation/pod/oneagent/mutator.go
  pkg/webhook/mutation/pod/oneagent/mutator_test.go
  pkg/webhook/mutation/pod/request_test.go
  pkg/webhook/mutation/pod/webhook.go
  pkg/webhook/mutation/pod/webhook_test.go
  pkg/webhook/mutator.go
  pkg/webhook/util/container.go
Labels: core

#3554 Revert GORM changes
  .golangci.yml
  cmd/csi/init/builder.go
  go.mod
  go.sum
  pkg/controllers/csi/config.go
  pkg/controllers/csi/driver/server.go
  pkg/controllers/csi/driver/server_test.go
  pkg/controllers/csi/driver/volumes/app/publisher.go
  pkg/controllers/csi/driver/volumes/app/publisher_test.go
  pkg/controllers/csi/driver/volumes/bind_config.go
  pkg/controllers/csi/driver/volumes/bind_config_test.go
  pkg/controllers/csi/driver/volumes/host/publisher.go
  pkg/controllers/csi/driver/volumes/host/publisher_test.go
  pkg/controllers/csi/driver/volumes/publisher.go
  pkg/controllers/csi/driver/volumes/volume_config.go
  pkg/controllers/csi/driver/volumes/volume_config_test.go
  pkg/controllers/csi/gc/binaries.go
  pkg/controllers/csi/gc/binaries_test.go
  pkg/controllers/csi/gc/reconciler.go
  pkg/controllers/csi/gc/reconciler_test.go
  pkg/controllers/csi/gc/unmounted.go
  pkg/controllers/csi/gc/unmounted_test.go
  pkg/controllers/csi/metadata/cleaner.go
  pkg/controllers/csi/metadata/cleaner_test.go
  pkg/controllers/csi/metadata/correctness.go
  pkg/controllers/csi/metadata/correctness_test.go
  pkg/controllers/csi/metadata/fakes.go
  pkg/controllers/csi/metadata/metadata.go
  pkg/controllers/csi/metadata/metadata_test.go
  pkg/controllers/csi/metadata/migrations.go
  pkg/controllers/csi/metadata/models.go
  pkg/controllers/csi/metadata/path_resolver.go
  pkg/controllers/csi/metadata/sqlite.go
  pkg/controllers/csi/metadata/sqlite_gorm_client.go
  pkg/controllers/csi/metadata/sqlite_gorm_client_test.go
  pkg/controllers/csi/metadata/sqlite_test.go
  pkg/controllers/csi/provisioner/controller.go
  pkg/controllers/csi/provisioner/controller_test.go
  pkg/controllers/csi/provisioner/install.go
  pkg/controllers/csi/provisioner/install_test.go
  pkg/injection/codemodule/installer/image/installer.go
  pkg/injection/codemodule/installer/image/installer_test.go
  pkg/injection/codemodule/installer/image/unpack.go
  pkg/util/testing/partial_equal.go
Labels: bug

#3595 Add logAgent configuration options for Operator
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  doc/api/dynakube-api-ref.md
  pkg/api/v1beta3/dynakube/dynakube_types.go
  pkg/api/v1beta3/dynakube/extensions.go
  pkg/api/v1beta3/dynakube/log_monitoring_types.go
Labels: extensions

#3591 Adds customConfig field to dynakube.templates.ExtensionController spec
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  doc/api/dynakube-api-ref.md
  pkg/api/v1beta3/dynakube/extensions.go
  pkg/controllers/dynakube/extension/eec/reconciler_test.go
  pkg/controllers/dynakube/extension/eec/statefulset.go
Labels: extensions

#3598 Adds EEC and OtelC statefulsets to status.DeploymentPhase equation
  pkg/api/v1beta3/dynakube/properties.go
  pkg/controllers/dynakube/extension/eec/reconciler.go
  pkg/controllers/dynakube/extension/eec/reconciler_test.go
  pkg/controllers/dynakube/extension/eec/statefulset.go
  pkg/controllers/dynakube/extension/otel/reconciler.go
  pkg/controllers/dynakube/extension/otel/statefulset.go
  pkg/controllers/dynakube/extension/otel/statefulset_test.go
  pkg/controllers/dynakube/phase.go
  pkg/controllers/dynakube/phase_test.go
Labels: core

#3607 Undeploy operator gracefully
  hack/make/deploy/undeploy.mk
Labels: bug

#3622 Change release workflow to release all architectures to rhcc
  .github/actions/preflight/action.yaml
  .github/workflows/release.yaml
Labels: ci

#3613 Change slack notification target for e2e tests
  .github/workflows/e2e-tests.yaml
Labels: ci

#3623 Rename LogAgent to LogModule
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  doc/api/dynakube-api-ref.md
  pkg/api/v1beta3/dynakube/dynakube_types.go
  pkg/api/v1beta3/dynakube/log_module_types.go
  pkg/api/v1beta3/dynakube/zz_generated.deepcopy.go
Labels: core

#3628 Add `install-source` label to Operator deployment
  config/helm/chart/default/templates/Common/activegate/clusterrole-activegate.yaml
  config/helm/chart/default/templates/Common/activegate/serviceaccount-activegate.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  config/helm/chart/default/templates/Common/csi/clusterrole-csi.yaml
  config/helm/chart/default/templates/Common/csi/csidriver.yaml
  config/helm/chart/default/templates/Common/csi/daemonset.yaml
  config/helm/chart/default/templates/Common/csi/priority-class.yaml
  config/helm/chart/default/templates/Common/csi/role-csi.yaml
  config/helm/chart/default/templates/Common/csi/serviceaccount-csi.yaml
  config/helm/chart/default/templates/Common/edge-connect/serviceaccount-operator.yaml
  config/helm/chart/default/templates/Common/extensions-controller/role-extensions-controller.yaml
  config/helm/chart/default/templates/Common/extensions-controller/serviceaccount-extensions-controller.yaml
  config/helm/chart/default/templates/Common/extensions-opentelemetry-collector/clusterrole-extensions-opentelemetry-collector.yaml
  config/helm/chart/default/templates/Common/extensions-opentelemetry-collector/serviceaccount-extensions-opentelemetry-collector.yaml
  config/helm/chart/default/templates/Common/kubernetes-monitoring/clusterrole-kubernetes-monitoring.yaml
  config/helm/chart/default/templates/Common/kubernetes-monitoring/serviceaccount-kubernetes-monitoring.yaml
  config/helm/chart/default/templates/Common/oneagent/clusterrole-oneagent.yaml
  config/helm/chart/default/templates/Common/oneagent/serviceaccount-oneagent.yaml
  config/helm/chart/default/templates/Common/operator/clusterrole-operator.yaml
  config/helm/chart/default/templates/Common/operator/deployment-operator.yaml
  config/helm/chart/default/templates/Common/operator/role-operator.yaml
  config/helm/chart/default/templates/Common/operator/serviceaccount-operator.yaml
  config/helm/chart/default/templates/Common/webhook/clusterrole-webhook.yaml
  config/helm/chart/default/templates/Common/webhook/deployment-webhook.yaml
  config/helm/chart/default/templates/Common/webhook/mutatingwebhookconfiguration.yaml
  config/helm/chart/default/templates/Common/webhook/poddisruptionbudget-webhook.yaml
  config/helm/chart/default/templates/Common/webhook/role-webhook.yaml
  config/helm/chart/default/templates/Common/webhook/service.yaml
  config/helm/chart/default/templates/Common/webhook/serviceaccount-webhook.yaml
  config/helm/chart/default/templates/Common/webhook/validatingwebhookconfiguration.yaml
  config/helm/chart/default/templates/_platform.tpl
  config/helm/chart/default/tests/Common/labels.yaml
  config/helm/chart/default/values.yaml
  hack/helm/generate-crd.sh
Labels: helm

#3626 Ignore enrichment rules without mapping set
  pkg/api/v1beta3/dynakube/dynakube_status.go
  pkg/webhook/mutation/pod/metadata/mutator.go
  pkg/webhook/mutation/pod/metadata/mutator_test.go
Labels: core

#3621 Add LogModule ServiceAccount and ClusterRole
  config/helm/chart/default/templates/Common/logmodule/clusterrole-logmodule.yaml
  config/helm/chart/default/templates/Common/logmodule/serviceaccount-logmodule.yaml
  config/helm/chart/default/templates/_labels.tpl
  config/helm/chart/default/tests/Common/logmodule/clusterrole-logmodule_test.yaml
  config/helm/chart/default/tests/Common/logmodule/serviceaccount-logmodule_test.yaml
Labels: core

#3642 Revert LogModule commits
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  config/helm/chart/default/templates/Common/logmodule/clusterrole-logmodule.yaml
  config/helm/chart/default/templates/Common/logmodule/serviceaccount-logmodule.yaml
  config/helm/chart/default/templates/_labels.tpl
  config/helm/chart/default/tests/Common/logmodule/clusterrole-logmodule_test.yaml
  config/helm/chart/default/tests/Common/logmodule/serviceaccount-logmodule_test.yaml
  doc/api/dynakube-api-ref.md
  pkg/api/v1beta3/dynakube/dynakube_types.go
  pkg/api/v1beta3/dynakube/extensions.go
  pkg/api/v1beta3/dynakube/log_module_types.go
  pkg/api/v1beta3/dynakube/zz_generated.deepcopy.go
Labels: core

#3638 Adapt EEC statefulset to new version of the image
  pkg/controllers/dynakube/extension/eec/reconciler_test.go
  pkg/controllers/dynakube/extension/eec/statefulset.go
Labels: extensions

#3627 Add labels for rhcc manifest support to CSVs for OLM marketplace releases
  config/helm/chart/default/templates/_helpers.tpl
  config/manifests/bases/dynatrace-operator.clusterserviceversion.yaml
  pkg/api/v1beta3/dynakube/dynakube_types.go
Labels: ci

#3648 Rename fields of EnrichmentRules
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  pkg/api/v1beta2/dynakube/dynakube_status.go
  pkg/api/v1beta3/dynakube/dynakube_status.go
  pkg/clients/dynatrace/settings_enrichment_test.go
  pkg/controllers/dynakube/metadata/rules/reconciler_test.go
  pkg/webhook/mutation/pod/metadata/mutator.go
  pkg/webhook/mutation/pod/metadata/mutator_test.go
Labels: core

#3645 Propagate labels/annotations from values.yaml to both template and workload
  config/helm/chart/default/templates/Common/csi/daemonset.yaml
  config/helm/chart/default/templates/Common/operator/deployment-operator.yaml
  config/helm/chart/default/templates/Common/webhook/deployment-webhook.yaml
  config/helm/chart/default/tests/Common/csi/daemonset_test.yaml
  config/helm/chart/default/tests/Common/operator/deployment-operator_test.yaml
  config/helm/chart/default/tests/Common/webhook/deployment-webhook_test.yaml
Labels: helm

#3652 Make mutating webhook failurePolicy configurable via Helm
  config/helm/chart/default/templates/Common/webhook/mutatingwebhookconfiguration.yaml
  config/helm/chart/default/tests/Common/webhook/mutatingwebhookconfiguration_test.yaml
  config/helm/chart/default/values.yaml
Labels: helm

#3654 Adds RuntimeConfigMountPath env var if custom runtimeConfig is defined
  pkg/controllers/dynakube/extension/eec/reconciler_test.go
  pkg/controllers/dynakube/extension/eec/statefulset.go
Labels: extensions

#3653 Remove otel instrumentation for Operator code
  .github/actions/run-e2e/action.yaml
  .github/renovate.json5
  .github/scripts/run-e2e-tests.sh
  .github/workflows/e2e-tests-ondemand.yaml
  .github/workflows/e2e-tests.yaml
  cmd/csi/provisioner/builder.go
  cmd/csi/provisioner/command_test.go
  cmd/csi/provisioner/manager.go
  cmd/csi/server/builder.go
  cmd/csi/server/command_test.go
  cmd/csi/server/manager.go
  cmd/operator/builder.go
  cmd/operator/builder_test.go
  cmd/operator/manager.go
  cmd/operator/manager_test.go
  cmd/webhook/builder.go
  doc/otel.md
  go.mod
  go.sum
  pkg/controllers/csi/internal/otel/config.go
  pkg/controllers/csi/internal/otel/otel.go
  pkg/controllers/csi/provisioner/controller.go
  pkg/controllers/csi/provisioner/controller_test.go
  pkg/controllers/csi/provisioner/install.go
  pkg/controllers/csi/provisioner/install_test.go
  pkg/injection/internal/otel/otel.go
  pkg/injection/namespace/mapper/namespaces.go
  pkg/util/dtotel/auto_instrumentation.go
  pkg/util/dtotel/config.go
  pkg/util/dtotel/controller_runtime/client.go
  pkg/util/dtotel/controller_runtime/otel.go
  pkg/util/dtotel/controller_runtime/reader.go
  pkg/util/dtotel/metrics.go
  pkg/util/dtotel/metrics_test.go
  pkg/util/dtotel/otel.go
  pkg/util/dtotel/otel_test.go
  pkg/util/dtotel/traces.go
  pkg/util/dtotel/traces_test.go
  pkg/util/kubesystem/kubesystem.go
  pkg/util/kubesystem/otel.go
  pkg/webhook/internal/otel/config.go
  pkg/webhook/internal/otel/otel.go
  pkg/webhook/mutation/namespace/otel.go
  pkg/webhook/mutation/namespace/webhook.go
  pkg/webhook/mutation/pod/metadata/mutator.go
  pkg/webhook/mutation/pod/oneagent/mutator.go
  pkg/webhook/mutation/pod/otel.go
  pkg/webhook/mutation/pod/register.go
  pkg/webhook/mutation/pod/request.go
  pkg/webhook/mutation/pod/webhook.go
  pkg/webhook/mutation/pod/webhook_test.go
  test/helpers/tenant/secrets.go
  test/scenarios/istio/istio_test.go
  test/scenarios/release/release_test.go
  test/scenarios/standard/standard_test.go
  test/testdata/secrets-samples/otel-tenant.yaml
Labels: core

#3666 Exclude e2e curl pod from injection
  test/helpers/curl/curl.go
Labels: test

#3665 Move CR name length validation to kubebuilder markers
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/crd/bases/dynatrace.com_edgeconnects.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  pkg/api/v1alpha2/edgeconnect/edgeconnect_types.go
  pkg/api/v1alpha2/edgeconnect/properties.go
  pkg/api/v1alpha2/edgeconnect/validation/name.go
  pkg/api/v1alpha2/edgeconnect/validation/name_test.go
  pkg/api/v1alpha2/edgeconnect/validation/validation.go
  pkg/api/v1beta2/dynakube/dynakube_types.go
  pkg/api/v1beta2/dynakube/properties.go
  pkg/api/v1beta2/dynakube/validation/dynakube_name.go
  pkg/api/v1beta2/dynakube/validation/dynakube_name_test.go
  pkg/api/v1beta2/dynakube/validation/validation.go
  pkg/api/v1beta3/dynakube/dynakube_types.go
  pkg/api/v1beta3/dynakube/properties.go
  pkg/api/v1beta3/dynakube/validation/dynakube_name.go
  pkg/api/v1beta3/dynakube/validation/dynakube_name_test.go
  pkg/api/v1beta3/dynakube/validation/validation.go
Labels: core

#3644 Use csi liveness-probe sidecar
  cmd/csi/server/builder.go
  cmd/csi/server/manager.go
  cmd/csi/server/manager_test.go
  config/helm/chart/default/templates/Common/csi/daemonset.yaml
  config/helm/chart/default/tests/Common/csi/daemonset_test.yaml
Labels: core

#3668 Remove unnecessary roles from CSI serviceAccount
  config/helm/chart/default/templates/Common/csi/clusterrole-csi.yaml
  config/helm/chart/default/templates/Common/csi/role-csi.yaml
  config/helm/chart/default/tests/Common/csi/clusterrole-csi_test.yaml
  config/helm/chart/default/tests/Common/csi/role-csi_test.yaml
Labels: core

#3663 Reduce influence of each component reconcile on each other
  pkg/controllers/dynakube/controller.go
  pkg/controllers/dynakube/controller_test.go
  pkg/controllers/dynakube/injection/reconciler.go
  pkg/controllers/dynakube/injection/reconciler_test.go
Labels: bug

#3667 Propagate no proxy settings to all components
  assets/samples/dynakube/v1beta1/applicationMonitoring.yaml
  assets/samples/dynakube/v1beta1/classicFullStack.yaml
  assets/samples/dynakube/v1beta1/cloudNativeFullStack.yaml
  assets/samples/dynakube/v1beta1/hostMonitoring.yaml
  assets/samples/dynakube/v1beta1/kubernetesObservability.yaml
  assets/samples/dynakube/v1beta2/applicationMonitoring.yaml
  assets/samples/dynakube/v1beta2/classicFullStack.yaml
  assets/samples/dynakube/v1beta2/cloudNativeFullStack.yaml
  assets/samples/dynakube/v1beta2/hostMonitoring.yaml
  assets/samples/dynakube/v1beta2/kubernetesObservability.yaml
  pkg/api/v1beta2/dynakube/convert_from_test.go
  pkg/api/v1beta2/dynakube/convert_to_test.go
  pkg/api/v1beta2/dynakube/validation/featureflag.go
  pkg/api/v1beta2/dynakube/validation/featureflag_test.go
  pkg/api/v1beta2/dynakube/validation/validation.go
  pkg/api/v1beta3/dynakube/feature_flags.go
  pkg/api/v1beta3/dynakube/proxy.go
  pkg/api/v1beta3/dynakube/validation/featureflag.go
  pkg/api/v1beta3/dynakube/validation/featureflag_test.go
  pkg/api/v1beta3/dynakube/validation/validation.go
  pkg/controllers/dynakube/activegate/internal/customproperties/conditions.go
  pkg/controllers/dynakube/activegate/internal/customproperties/reconciler.go
  pkg/controllers/dynakube/activegate/internal/customproperties/reconciler_test.go
  pkg/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/customprops.go
  pkg/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/customprops_test.go
  pkg/controllers/dynakube/oneagent/daemonset/arguments.go
  pkg/controllers/dynakube/oneagent/daemonset/arguments_test.go
  pkg/controllers/dynakube/oneagent/daemonset/daemonset_test.go
  pkg/controllers/dynakube/oneagent/daemonset/volumes_test.go
  pkg/controllers/dynakube/processmoduleconfigsecret/reconciler.go
  pkg/controllers/dynakube/processmoduleconfigsecret/reconciler_test.go
  pkg/controllers/dynakube/proxy/reconciler_test.go
  pkg/injection/namespace/initgeneration/initgeneration.go
  pkg/injection/namespace/initgeneration/initgeneration_test.go
Labels: core

#3649 Adds support for EEC PersistentVolumeClaim
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  doc/api/dynakube-api-ref.md
  pkg/api/v1beta3/dynakube/extensions.go
  pkg/api/v1beta3/dynakube/zz_generated.deepcopy.go
  pkg/controllers/dynakube/extension/eec/reconciler_test.go
  pkg/controllers/dynakube/extension/eec/statefulset.go
Labels: extensions

#3684 Update permission table script to handle any RBAC resource
  hack/doc/role-permissions2md.py
Labels: documentation

#3681 Add fallback for enrichment rules API call
  pkg/clients/dynatrace/settings_enrichment.go
  pkg/clients/dynatrace/settings_enrichment_test.go
  pkg/clients/dynatrace/settings_kubernetes_test.go
Labels: core

#3679 Propagate metadata annotations from pod to metadata props files
  pkg/api/v1beta3/dynakube/dynakube_status.go
  pkg/consts/enrichment_injection.go
  pkg/controllers/dynakube/monitoredentities/reconciler.go
  pkg/injection/startup/enrichment.go
  pkg/injection/startup/enrichment_test.go
  pkg/injection/startup/env.go
  pkg/injection/startup/env_test.go
  pkg/webhook/mutation/pod/metadata/annotations.go
  pkg/webhook/mutation/pod/metadata/annotations_test.go
  pkg/webhook/mutation/pod/metadata/mutator.go
  pkg/webhook/mutation/pod/metadata/mutator_test.go
Labels: core

#3682 Enhance e2e slack notification
  .github/workflows/e2e-tests.yaml
Labels: test

#3687 Add additional permissions to prometheus-service-detector ClusterRole.
  config/helm/chart/default/templates/Common/extensions-opentelemetry-collector/clusterrole-extensions-opentelemetry-collector.yaml
  config/helm/chart/default/tests/Common/extensions-opentelemetry-collector/clusterrole-extensions-opentelemetry-collector_test.yaml
Labels: extensions
