Repository Dynatrace/dynatrace-operator, pull requests merged in 2024-02, with the labels that each got.

#2653 Add new kubernetesObservability sample
  assets/samples/dynakube/kubernetesObservability.yaml
Labels: documentation

#2638 Refactor Dynakube Controller Unit-Tests
  .mockery.yaml
  pkg/controllers/dynakube/activegate.go
  pkg/controllers/dynakube/activegate/reconciler.go
  pkg/controllers/dynakube/activegate/reconciler_test.go
  pkg/controllers/dynakube/activegate_test.go
  pkg/controllers/dynakube/apimonitoring/reconciler.go
  pkg/controllers/dynakube/connectioninfo/reconciler.go
  pkg/controllers/dynakube/controller.go
  pkg/controllers/dynakube/controller_system_test.go
  pkg/controllers/dynakube/controller_test.go
  pkg/controllers/dynakube/deploymentmetadata/deploymentmetadata_test.go
  pkg/controllers/dynakube/deploymentmetadata/reconciler.go
  pkg/controllers/dynakube/dtpullsecret/reconciler_test.go
  pkg/controllers/dynakube/istio/reconciler.go
  pkg/controllers/dynakube/oneagent/oneagent_reconciler.go
  pkg/controllers/dynakube/phase_test.go
  pkg/controllers/dynakube/proxy/reconciler_test.go
  pkg/controllers/dynakube/version/reconciler.go
  test/mocks/pkg/controllers/dynakube/istio/reconciler.go
Labels: test

#2657 Use mockery mock constructor in version/updater_test.go files
  pkg/controllers/dynakube/version/updater_test.go
  pkg/controllers/edgeconnect/version/updater_test.go
Labels: test

#2624 Add WEBHOOK_PORT environment variable
  cmd/webhook/manager.go
  cmd/webhook/manager_test.go
Labels: core

#2644 Move OneAgent delete logic into oneagent_reconciler
  pkg/controllers/dynakube/oneagent.go
  pkg/controllers/dynakube/oneagent/oneagent_reconciler.go
  pkg/controllers/dynakube/oneagent/oneagent_reconciler_test.go
Labels: core

#2654 Remove registryClient from version reconciler
  go.mod
  go.sum
  pkg/controllers/csi/provisioner/controller.go
  pkg/controllers/csi/provisioner/install.go
  pkg/controllers/csi/provisioner/install_test.go
  pkg/controllers/dynakube/controller.go
  pkg/controllers/dynakube/controller_test.go
  pkg/controllers/dynakube/version/fakeregistry.go
  pkg/controllers/dynakube/version/healthconfig.go
  pkg/controllers/dynakube/version/healthconfig_test.go
  pkg/controllers/dynakube/version/reconciler.go
  pkg/controllers/dynakube/version/reconciler_test.go
  pkg/controllers/dynakube/version/updater.go
  pkg/controllers/dynakube/version/updater_test.go
  pkg/injection/codemodule/installer/image/installer.go
  pkg/injection/codemodule/installer/image/installer_test.go
Labels: core

#2675 Add new release branch to renovate config for release-1.0
  .github/renovate.json5
Labels: dependencies

#2677 Copy ruxitagentproc.conf config into upper-dir (#2668)
  pkg/controllers/csi/driver/volumes/app/publisher.go
  pkg/controllers/csi/driver/volumes/app/publisher_test.go
  pkg/controllers/csi/metadata/path_resolver.go
  pkg/controllers/csi/provisioner/install_test.go
Labels: cherrypick

#2676 Handle custom-image in case of version checks
  pkg/controllers/dynakube/oneagent/daemonset/arguments.go
  pkg/controllers/dynakube/oneagent/daemonset/arguments_test.go
  pkg/controllers/dynakube/oneagent/daemonset/env_vars.go
  pkg/controllers/dynakube/oneagent/daemonset/env_vars_test.go
  pkg/controllers/dynakube/oneagent/oneagent_reconciler_test.go
  pkg/controllers/dynakube/version/healthconfig.go
  pkg/controllers/dynakube/version/healthconfig_test.go
Labels: bug

#2681 Handle custom-image in case of version checks (#2676)
  pkg/controllers/dynakube/oneagent/daemonset/arguments.go
  pkg/controllers/dynakube/oneagent/daemonset/arguments_test.go
  pkg/controllers/dynakube/oneagent/daemonset/env_vars.go
  pkg/controllers/dynakube/oneagent/daemonset/env_vars_test.go
  pkg/controllers/dynakube/oneagent/oneagent_reconciler_test.go
  pkg/controllers/dynakube/version/healthconfig.go
  pkg/controllers/dynakube/version/healthconfig_test.go
Labels: cherrypick

#2706 Align requests/limits of init resources in cloud native fullstack sample
  assets/samples/dynakube/cloudNativeFullStack.yaml
Labels: documentation

#2708 Align requests/limits of init resources in cloud native fullstack sample
  assets/samples/dynakube/cloudNativeFullStack.yaml
Labels: cherrypick

#2698 Adds workflow to move dev-latest tag on the most recent release branch
  .github/workflows/dev-release.yaml
Labels: ci

#2720 Adapt the local linting command to new linters
  hack/make/go.mk
  hack/make/prerequisites.mk
Labels: core

#2722 Run wsl linter and fix leftover problems
  hack/make/go.mk
  pkg/clients/dynatrace/communication_hosts_test.go
  pkg/injection/codemodule/installer/image/installer_test.go
  pkg/injection/codemodule/installer/url/installer_test.go
  pkg/injection/startup/run_test.go
  pkg/oci/registry/mocks/client.go
Labels: core

#2713 Remove the synthetic preview
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  doc/api/feature-flags.md
  doc/e2e/features.md
  hack/doc/gen_e2e_features.sh
  hack/make/prerequisites.mk
  pkg/api/status/zz_generated.deepcopy.go
  pkg/api/v1alpha1/dynakube/zz_generated.deepcopy.go
  pkg/api/v1alpha1/edgeconnect/zz_generated.deepcopy.go
  pkg/api/v1beta1/dynakube/dynakube_status.go
  pkg/api/v1beta1/dynakube/feature_flags.go
  pkg/api/v1beta1/dynakube/feature_flags_test.go
  pkg/api/v1beta1/dynakube/properties.go
  pkg/api/v1beta1/dynakube/zz_generated.deepcopy.go
  pkg/controllers/dynakube/activegate/capability/capability.go
  pkg/controllers/dynakube/activegate/consts/consts.go
  pkg/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/config.go
  pkg/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/serviceport_test.go
  pkg/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/synthetic.go
  pkg/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/synthetic_test.go
  pkg/controllers/dynakube/activegate/internal/statefulset/statefulset.go
  pkg/controllers/dynakube/activegate/internal/statefulset/statefulset_test.go
  pkg/controllers/dynakube/activegate/reconciler.go
  pkg/controllers/dynakube/activegate/reconciler_test.go
  pkg/controllers/dynakube/phase_test.go
  pkg/controllers/dynakube/version/reconciler.go
  pkg/controllers/dynakube/version/synthetic.go
  pkg/controllers/dynakube/version/synthetic_test.go
  pkg/util/kubeobjects/labels/labels.go
  pkg/webhook/validation/dynakube/activegate.go
  pkg/webhook/validation/dynakube/activegate_test.go
  pkg/webhook/validation/dynakube/config.go
  pkg/webhook/validation/dynakube/preview.go
  pkg/webhook/validation/dynakube/synthetic.go
  pkg/webhook/validation/dynakube/synthetic_test.go
Labels: core

#2725 Implement suggestions made by GoLand
  cmd/certificates/watcher.go
  cmd/manager/test.go
  cmd/manager/test_test.go
  cmd/operator/manager_test.go
  pkg/controllers/csi/metadata/fakes.go
  pkg/controllers/csi/metadata/sqlite_test.go
  pkg/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/serviceport_test.go
  pkg/controllers/dynakube/activegate/internal/statefulset/statefulset_test.go
  pkg/controllers/dynakube/deploymentmetadata/reconciler_test.go
  pkg/controllers/dynakube/istio/client_test.go
  pkg/controllers/dynakube/oneagent/daemonset/daemonset_test.go
  pkg/controllers/dynakube/oneagent/daemonset/env_vars.go
  pkg/controllers/dynakube/proxy/consts.go
  pkg/controllers/dynakube/version/activegate.go
  pkg/controllers/dynakube/version/codemodules.go
  pkg/controllers/edgeconnect/deployment/deployment.go
  pkg/webhook/mutation/pod_mutator/oneagent_mutation/config.go
  pkg/webhook/validation/dynakube/activegate.go
  pkg/webhook/validation/dynakube/api_url.go
  pkg/webhook/validation/dynakube/csi_daemonset.go
  pkg/webhook/validation/dynakube/oneagent.go
  test/helpers/platform/platform.go
Labels: core

#2710 Add additional linters: nolintlint, predeclared, promlinter, protogetter
  .golangci.yml
  cmd/startup_probe/builder.go
  cmd/support_archive/builder.go
  pkg/api/scheme/scheme.go
  pkg/api/v1beta1/dynakube/dynakube_status.go
  pkg/api/v1beta1/dynakube/dynakube_types.go
  pkg/clients/dynatrace/agent_version.go
  pkg/clients/dynatrace/oneagent_connection_info.go
  pkg/clients/edgeconnect/client_test.go
  pkg/controllers/certificates/certs_test.go
  pkg/controllers/certificates/webhook_cert_controller_test.go
  pkg/controllers/csi/driver/server.go
  pkg/controllers/csi/driver/volumes/app/publisher.go
  pkg/controllers/csi/driver/volumes/host/publisher.go
  pkg/controllers/csi/metadata/metadata.go
  pkg/controllers/csi/metadata/sqlite_test.go
  pkg/controllers/csi/provisioner/controller_test.go
  pkg/controllers/csi/provisioner/install.go
  pkg/controllers/dynakube/activegate.go
  pkg/controllers/dynakube/activegate/internal/authtoken/reconciler.go
  pkg/controllers/dynakube/activegate/internal/capability/reconciler.go
  pkg/controllers/dynakube/activegate/internal/customproperties/reconciler.go
  pkg/controllers/dynakube/activegate/internal/statefulset/reconciler.go
  pkg/controllers/dynakube/activegate/reconciler.go
  pkg/controllers/dynakube/apimonitoring/reconciler_test.go
  pkg/controllers/dynakube/connectioninfo/reconciler.go
  pkg/controllers/dynakube/controller.go
  pkg/controllers/dynakube/deploymentmetadata/reconciler.go
  pkg/controllers/dynakube/dtpullsecret/reconciler.go
  pkg/controllers/dynakube/oneagent/oneagent_reconciler.go
  pkg/controllers/dynakube/oneagent/oneagent_reconciler_test.go
  pkg/controllers/dynakube/version/reconciler.go
  pkg/controllers/dynakube/version/updater_test.go
  pkg/controllers/edgeconnect/version/reconciler.go
  pkg/injection/codemodule/installer/zip/gzip.go
  pkg/injection/namespace/mapper/dynakubes.go
  pkg/injection/namespace/mapper/namespaces.go
  pkg/oci/registry/client.go
  pkg/oci/registry/mocks/client.go
  pkg/webhook/mutation/pod_mutator/oneagent_mutation/containers_test.go
  pkg/webhook/mutation/pod_mutator/oneagent_mutation/mutator.go
  pkg/webhook/mutation/pod_mutator/request.go
  pkg/webhook/mutator.go
  test/features/cloudnative/init_containers.go
  test/features/support_archive/support_archive.go
  test/helpers/istio/install.go
  test/helpers/sample/app.go
  test/mocks/cmd/manager/provider.go
  test/mocks/pkg/clients/dynatrace/client.go
  test/mocks/pkg/controllers/dynakube/dynatraceclient/builder.go
  test/mocks/pkg/controllers/dynakube/istio/reconciler.go
  test/mocks/pkg/controllers/dynakube/version/status_updater.go
  test/mocks/sigs.k8s.io/controller-runtime/pkg/manager/manager.go
Labels: ci

#2738 Changes the default registry in the helm chart from docker.io to public.ecr.aws
  config/helm/chart/default/README.md
  config/helm/chart/default/templates/_helpers.tpl
  config/helm/chart/default/tests/Common/operator/deployment-operator_test.yaml
Labels: helm

#2740 Changes the default registry in the helm chart from docker.io to public.ecr.aws - main
  config/helm/chart/default/README.md
  config/helm/chart/default/templates/_helpers.tpl
  config/helm/chart/default/tests/Common/operator/deployment-operator_test.yaml
Labels: helm

#2744 Only support autoUpdate for default registry in EdgeConnect
  pkg/controllers/edgeconnect/version/updater.go
  pkg/controllers/edgeconnect/version/updater_test.go
Labels: core

#2754 Only support autoUpdate for default registry in EdgeConnect
  pkg/controllers/edgeconnect/version/updater.go
  pkg/controllers/edgeconnect/version/updater_test.go
Labels: cherrypick

#2753 Push Helm Chart to ECR on Release (main)
  .github/actions/upload-helm/action.yaml
  .github/workflows/release.yaml
Labels: cherrypick

#2755 Pass in the platform during CodeModulesImage pull
  pkg/arch/amd.go
  pkg/arch/arm.go
  pkg/arch/consts.go
  pkg/injection/codemodule/installer/image/unpack.go
Labels: bug

#2758 Add missing comments to make commands
  hack/make/go.mk
  hack/make/images.mk
  hack/make/prerequisites.mk
  hack/make/tests/e2e.mk
Labels: documentation

#2736 Create separate injection reconciler
  .mockery.yaml
  pkg/controllers/dynakube/activegate.go
  pkg/controllers/dynakube/controller.go
  pkg/controllers/dynakube/controller_system_test.go
  pkg/controllers/dynakube/controller_test.go
  pkg/controllers/dynakube/injection.go
  pkg/controllers/dynakube/injection/config.go
  pkg/controllers/dynakube/injection/reconciler.go
  test/mocks/pkg/controllers/dynakube/injection/reconciler.go
Labels: core

#2752 Remove deprecated `alpha.operator.dynatrace.com/feature-` feature-flag prefix
  pkg/api/v1beta1/dynakube/feature_flags.go
  pkg/webhook/validation/dynakube/config.go
  pkg/webhook/validation/dynakube/deprecation.go
  pkg/webhook/validation/dynakube/deprecation_test.go
Labels: core

#2759 Use the platform for all image related operations
  cmd/troubleshoot/image.go
  pkg/arch/consts.go
  pkg/injection/codemodule/installer/image/unpack.go
  pkg/oci/registry/client.go
Labels: bug

#2771 add image arch for ppcle
  pkg/arch/consts.go
  pkg/arch/ppcle.go
Labels: bug

#2772 Use oneAgent.hostGroup in ApplicationMonitoring mode
  pkg/api/v1beta1/dynakube/properties.go
  pkg/controllers/dynakube/oneagent/daemonset/arguments.go
  pkg/controllers/dynakube/oneagent/daemonset/arguments_test.go
  pkg/injection/startup/dtclient_builder.go
  pkg/injection/startup/run.go
  pkg/webhook/validation/dynakube/oneagent_test.go
Labels: core

#2778 Move relevant reconciler calls inside ActiveGate reconciler
  pkg/controllers/dynakube/activegate.go
  pkg/controllers/dynakube/activegate/reconciler.go
  pkg/controllers/dynakube/activegate/reconciler_test.go
  pkg/controllers/dynakube/activegate_test.go
  pkg/controllers/dynakube/controller.go
  pkg/controllers/dynakube/controller_test.go
Labels: activegate

#2789 CodeCov: never ending Processing state
  codecov.yml
Labels: ci

#2793 Enable verbose mode of codecov-upload GH action
  .github/workflows/ci.yaml
Labels: ci

#2777 Refactor ProcessmoduleConfig code and add missing unit test
  pkg/controllers/csi/provisioner/controller.go
  pkg/controllers/csi/provisioner/controller_test.go
  pkg/controllers/dynakube/controller.go
  pkg/controllers/dynakube/controller_test.go
  pkg/controllers/dynakube/injection/reconciler.go
  pkg/controllers/dynakube/processmoduleconfigsecret/reconciler.go
  pkg/controllers/dynakube/processmoduleconfigsecret/reconciler_test.go
  test/mocks/cmd/manager/provider.go
  test/mocks/pkg/clients/dynatrace/client.go
  test/mocks/pkg/controllers/dynakube/dynatraceclient/builder.go
  test/mocks/pkg/controllers/dynakube/istio/reconciler.go
  test/mocks/pkg/controllers/dynakube/version/status_updater.go
  test/mocks/pkg/oci/registry/image_getter.go
  test/mocks/sigs.k8s.io/controller-runtime/pkg/manager/manager.go
Labels: core

#2788 Change default OneAgent and ActiveGate images to use raw tag instead of latest
  cmd/troubleshoot/image_test.go
  pkg/api/consts.go
  pkg/api/v1beta1/dynakube/properties.go
  pkg/api/v1beta1/dynakube/properties_test.go
Labels: core

#2806 Increase mutatingwebhookconfiguration timeout to 10s
  config/helm/chart/default/tests/Common/webhook/mutatingwebhookconfiguration_test.yaml
  config/helm/chart/default/values.yaml
Labels: cherrypick

#2804 Create an ActiveGate CR
  config/crd/bases/dynatrace.com_activegates.yaml
  config/crd/bases/kustomization.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  doc/api/activegate-api-ref.md
  doc/api/feature-flags.md
  doc/e2e/features.md
  hack/make/doc.mk
  pkg/api/v1alpha1/activegate/activegate_capability.go
  pkg/api/v1alpha1/activegate/activegate_status.go
  pkg/api/v1alpha1/activegate/activegate_types.go
  pkg/api/v1alpha1/activegate/config.go
  pkg/api/v1alpha1/activegate/feature_flags.go
  pkg/api/v1alpha1/activegate/feature_flags_test.go
  pkg/api/v1alpha1/activegate/properties.go
  pkg/api/v1alpha1/activegate/value_source.go
  pkg/api/v1alpha1/activegate/zz_generated.deepcopy.go
  pkg/api/v1alpha1/edgeconnect/zz_generated.deepcopy.go
Labels: activegate

#2817 Add Github action running nightly E2E tests
  .github/scripts/create-cluster.sh
  .github/scripts/destroy-cluster.sh
  .github/scripts/run-test.sh
  .github/workflows/run-e2e-tests.yaml
Labels: test

#2819 Set E2E execution at 5AM and make the workflow dispatchable
  .github/workflows/run-e2e-tests.yaml
Labels: test

#2822 Re-add simpler public-registry e2e test
  hack/make/tests/e2e.mk
  pkg/controllers/dynakube/version/healthconfig.go
  pkg/util/dtversion/dtversion.go
  pkg/util/dtversion/dtversion_test.go
  test/features/publicregistry/publicregistry.go
  test/helpers/components/dynakube/options.go
  test/scenarios/standard/standard_test.go
Labels: test
