Repository Dynatrace/dynatrace-operator, pull requests merged in 2024-05, with the labels that each got.

#3059 EdgeConnect pod spec enhancements for Kubernetes Automation (ServiceAccountName, HostAlias)
  config/helm/chart/default/templates/Common/operator/clusterrole-operator.yaml
  pkg/controllers/edgeconnect/controller.go
  pkg/controllers/edgeconnect/controller_test.go
  pkg/controllers/edgeconnect/deployment/deployment.go
Labels: core

#3054 Instrument CSI provisioner with Otel traces
  pkg/controllers/csi/internal/otel/config.go
  pkg/controllers/csi/internal/otel/otel.go
  pkg/controllers/csi/provisioner/controller.go
  pkg/controllers/csi/provisioner/controller_test.go
  pkg/controllers/csi/provisioner/install.go
  pkg/controllers/csi/provisioner/install_test.go
Labels: core

#3104 Fix s390x image
  config/helm/chart/default/templates/Common/csi/daemonset.yaml
  config/helm/chart/default/templates/Common/operator/deployment-operator.yaml
  config/helm/chart/default/templates/Common/webhook/deployment-webhook.yaml
  config/helm/chart/default/tests/Common/csi/daemonset_test.yaml
  config/helm/chart/default/tests/Common/operator/deployment-operator_test.yaml
  config/helm/chart/default/tests/Common/webhook/deployment-webhook_test.yaml
  hack/build/ci/create-manifest.sh
Labels: ci

#3105 Fix manifest creation for multiarch images
  hack/build/ci/create-manifest.sh
Labels: ci

#3114 Add permission to cleanup data-ingest-endpoint secret
  config/helm/chart/default/templates/Common/operator/clusterrole-operator.yaml
Labels: core

#3115 Add permission to cleanup data-ingest-endpoint secret
  config/helm/chart/default/templates/Common/operator/clusterrole-operator.yaml
Labels: cherrypick

#3086 Remove unnecessary schema arguments
  pkg/controllers/certificates/certificate_secret.go
  pkg/controllers/certificates/certificate_secret_test.go
  pkg/controllers/certificates/webhook_cert_controller.go
  pkg/controllers/certificates/webhook_cert_controller_test.go
  pkg/controllers/dynakube/activegate.go
  pkg/controllers/dynakube/activegate/internal/authtoken/reconciler.go
  pkg/controllers/dynakube/activegate/internal/authtoken/reconciler_test.go
  pkg/controllers/dynakube/activegate/internal/customproperties/reconciler.go
  pkg/controllers/dynakube/activegate/internal/customproperties/reconciler_test.go
  pkg/controllers/dynakube/activegate/internal/statefulset/reconciler.go
  pkg/controllers/dynakube/activegate/internal/statefulset/reconciler_test.go
  pkg/controllers/dynakube/activegate/reconciler.go
  pkg/controllers/dynakube/activegate/reconciler_test.go
  pkg/controllers/dynakube/connectioninfo/activegate/reconciler.go
  pkg/controllers/dynakube/connectioninfo/activegate/reconciler_test.go
  pkg/controllers/dynakube/connectioninfo/common.go
  pkg/controllers/dynakube/connectioninfo/oneagent/reconciler.go
  pkg/controllers/dynakube/connectioninfo/oneagent/reconciler_test.go
  pkg/controllers/dynakube/controller.go
  pkg/controllers/dynakube/controller_system_test.go
  pkg/controllers/dynakube/controller_test.go
  pkg/controllers/dynakube/deploymentmetadata/reconciler.go
  pkg/controllers/dynakube/deploymentmetadata/reconciler_test.go
  pkg/controllers/dynakube/dtpullsecret/reconciler.go
  pkg/controllers/dynakube/dtpullsecret/reconciler_test.go
  pkg/controllers/dynakube/injection/reconciler.go
  pkg/controllers/dynakube/injection/reconciler_test.go
  pkg/controllers/dynakube/istio/client.go
  pkg/controllers/dynakube/istio/client_test.go
  pkg/controllers/dynakube/oneagent/oneagent_reconciler.go
  pkg/controllers/dynakube/oneagent/oneagent_reconciler_test.go
  pkg/controllers/dynakube/processmoduleconfigsecret/reconciler.go
  pkg/controllers/dynakube/processmoduleconfigsecret/reconciler_test.go
  pkg/controllers/dynakube/proxy/reconciler.go
  pkg/controllers/dynakube/proxy/reconciler_test.go
  pkg/controllers/dynakube/token/reader_test.go
  pkg/controllers/edgeconnect/controller.go
  pkg/controllers/edgeconnect/controller_test.go
  pkg/controllers/nodes/nodes_controller.go
  pkg/controllers/nodes/nodes_controller_test.go
  pkg/util/kubeobjects/configmap/configmap.go
  pkg/util/kubeobjects/configmap/configmap_test.go
  pkg/util/kubeobjects/secret/secret.go
  pkg/util/kubeobjects/secret/secret_test.go
  pkg/webhook/validation/dynakube/istio.go
Labels: core

#3120 Fix ignore-proxy feature flag for oneAgent daemonset
  pkg/controllers/dynakube/oneagent/daemonset/volumes.go
  pkg/controllers/dynakube/oneagent/daemonset/volumes_test.go
Labels: bug

#3121 Fix ignore-proxy feature flag for oneAgent daemonset #3120
  pkg/controllers/dynakube/oneagent/daemonset/volumes.go
  pkg/controllers/dynakube/oneagent/daemonset/volumes_test.go
Labels: cherrypick

#3141 Fix version field in samples
  assets/samples/dynakube/applicationMonitoring.yaml
  assets/samples/dynakube/classicFullStack.yaml
  assets/samples/dynakube/cloudNativeFullStack.yaml
  assets/samples/dynakube/hostMonitoring.yaml
Labels: documentation

#3142 Fix make bundle command
  .golangci.yml
  pkg/api/v1alpha1/dynakube/dynakube_types.go
  pkg/api/v1beta1/dynakube/dynakube_types.go
Labels: bug

#3143 Fix make bundle command
  .golangci.yml
  pkg/api/v1alpha1/dynakube/dynakube_types.go
  pkg/api/v1beta1/dynakube/dynakube_types.go
Labels: cherrypick

#3163 Adopt EdgeConnect provisioning for K8S API access
  config/helm/chart/default/templates/Common/operator/clusterrole-operator.yaml
  pkg/api/v1alpha1/edgeconnect/properties.go
  pkg/api/v1alpha1/edgeconnect/secret.go
  pkg/clients/edgeconnect/client.go
  pkg/clients/edgeconnect/client_test.go
  pkg/controllers/edgeconnect/controller.go
  pkg/controllers/edgeconnect/controller_test.go
  pkg/controllers/edgeconnect/deployment/deployment.go
  pkg/controllers/edgeconnect/secret/secret.go
  pkg/webhook/validation/edgeconnect/host_patterns.go
Labels: core

#3170 Change logic in WorkLoad retrieval when OwnerReference of Pod is no Controller
  pkg/webhook/mutation/pod/metadata/workload.go
  pkg/webhook/mutation/pod/metadata/workload_test.go
Labels: bug

#3197 Fix workload owner detection
  pkg/consts/enrichment_injection.go
  pkg/injection/startup/env.go
  pkg/injection/startup/env_test.go
  pkg/webhook/mutation/pod/metadata/workload.go
  pkg/webhook/mutation/pod/metadata/workload_test.go
Labels: bug

#3023 Add e2e tests for custom truststore
  hack/make/tests/e2e.mk
  test/features/cloudnative/codemodules/codemodules.go
  test/features/cloudnative/container.go
  test/features/cloudnative/default/default.go
  test/helpers/components/dynakube/options.go
  test/helpers/kubeobjects/configmap/configmap.go
  test/helpers/kubeobjects/secret/secret.go
  test/helpers/proxy/proxy.go
  test/helpers/shell/shell.go
  test/helpers/tenant/secrets.go
  test/scenarios/istio/istio_test.go
  test/testdata/custom-cas/agcrt.pem
  test/testdata/custom-cas/agcrtkey.p12
  test/testdata/custom-cas/custom.pem
  test/testdata/network/proxy-ssl.yaml
Labels: test

#3193 Add Dynakube status condition for the AG dynakube-activegate-authtoken-secret secret
  pkg/controllers/dynakube/activegate/internal/authtoken/conditions.go
  pkg/controllers/dynakube/activegate/internal/authtoken/reconciler.go
  pkg/controllers/dynakube/activegate/internal/authtoken/reconciler_test.go
  pkg/controllers/dynakube/activegate/reconciler.go
  pkg/controllers/dynakube/activegate/reconciler_test.go
  pkg/controllers/dynakube/controller_system_test.go
Labels: core

#3210 Always set ReadOnlyRootFilesystem explicitly on the OneAgent DaemonSet
  pkg/controllers/dynakube/oneagent/daemonset/daemonset.go
Labels: core

#3209 Only convert metadata enrichment if oneagent injection was necessary
  pkg/api/v1beta1/dynakube/convert_to.go
  pkg/api/v1beta1/dynakube/convert_to_test.go
Labels: core

#3199 Consider all namespaceselectors in the Pod webhook
  pkg/webhook/mutation/pod/metadata/containers_test.go
  pkg/webhook/mutation/pod/metadata/mutator.go
  pkg/webhook/mutation/pod/metadata/mutator_test.go
  pkg/webhook/mutation/pod/oneagent/mutator.go
  pkg/webhook/mutation/pod/oneagent/mutator_test.go
Labels: core
