Repository Dynatrace/dynatrace-operator, pull requests merged in 2024-10, with the labels that each got.

#3875 Mock all reconcilers in the dynakube controller
  pkg/controllers/dynakube/controller.go
  pkg/controllers/dynakube/controller_system_test.go
  pkg/controllers/dynakube/controller_test.go
  pkg/controllers/dynakube/proxy/reconciler.go
  pkg/controllers/dynakube/proxy/reconciler_test.go
  test/mocks/pkg/util/builder/modifier.go
Labels: core

#3896 Fix pod name prefix and shard id environment variable values.
  pkg/controllers/dynakube/extension/otel/statefulset.go
  pkg/controllers/dynakube/extension/otel/statefulset_test.go
Labels: extensions

#3886 Don't update k8s-settings object, if already present
  pkg/controllers/dynakube/apimonitoring/reconciler.go
  pkg/controllers/dynakube/apimonitoring/reconciler_test.go
Labels: bug

#3907 Don't update k8s-settings object, if already present (#3886)
  pkg/controllers/dynakube/apimonitoring/reconciler.go
  pkg/controllers/dynakube/apimonitoring/reconciler_test.go
Labels: cherrypick

#3905 Cherry-pick of K8S-11404 for EdgeConnect empty hostPatterns v1alpha1 to v1alpha2
  pkg/api/v1alpha1/edgeconnect/convert_to.go
  pkg/api/v1alpha1/edgeconnect/convert_to_test.go
Labels: cherrypick

#3897 Add EEC_DS_TOKEN env var to OTelC StatefulSet.
  pkg/api/v1beta3/dynakube/extensions_props.go
  pkg/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/eec.go
  pkg/controllers/dynakube/extension/consts/consts.go
  pkg/controllers/dynakube/extension/eec/reconciler_test.go
  pkg/controllers/dynakube/extension/eec/statefulset.go
  pkg/controllers/dynakube/extension/otel/statefulset.go
  pkg/controllers/dynakube/extension/otel/statefulset_test.go
  pkg/controllers/dynakube/extension/reconciler_test.go
  pkg/controllers/dynakube/extension/secret.go
Labels: extensions

#3908 Add node collector service account to manifests
  config/helm/chart/default/templates/Common/node-config-collector/serviceaccount-node-config-collector.yaml
  config/helm/chart/default/templates/_labels.tpl
  config/helm/chart/default/tests/Common/node-config-collector/serviceaccount-node-config-collector_test.yaml
  config/helm/chart/default/values.yaml
Labels: core

#3906 Add node collector to DynaKube
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/crd/bases/dynatrace.com_edgeconnects.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  doc/api/dynakube-api-ref.md
  doc/api/edgeconnect-api-ref.md
  hack/doc/custom_resource_params_to_md.py
  hack/make/manifests/config.mk
  pkg/api/v1beta3/dynakube/dynakube_types.go
  pkg/api/v1beta3/dynakube/kspm/kspm.go
  pkg/api/v1beta3/dynakube/kspm/zz_generated.deepcopy.go
  pkg/api/v1beta3/dynakube/zz_generated.deepcopy.go
Labels: extensions

#3915 Add retryTimeout as a volume attribute
  pkg/api/v1beta1/dynakube/convert_from_test.go
  pkg/api/v1beta1/dynakube/convert_to.go
  pkg/api/v1beta1/dynakube/convert_to_test.go
  pkg/api/v1beta1/dynakube/feature_flags.go
  pkg/api/v1beta2/dynakube/convert_from_test.go
  pkg/api/v1beta2/dynakube/convert_to.go
  pkg/api/v1beta2/dynakube/feature_flags.go
  pkg/api/v1beta3/dynakube/feature_flags.go
  pkg/api/v1beta3/dynakube/feature_flags_test.go
  pkg/controllers/csi/driver/volumes/volume_config.go
  pkg/controllers/csi/driver/volumes/volume_config_test.go
  pkg/controllers/dynakube/oneagent/daemonset/volumes.go
  pkg/webhook/mutation/pod/oneagent/volumes.go
Labels: core

#3934 Remove unnecessary roles from operator/webhook
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/crd/bases/dynatrace.com_edgeconnects.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  config/helm/chart/default/templates/Common/operator/role-operator.yaml
  config/helm/chart/default/templates/Common/webhook/role-webhook.yaml
  config/helm/chart/default/tests/Common/operator/role-operator_test.yaml
  config/helm/chart/default/tests/Common/webhook/role-webhook_test.yaml
Labels: core

#3933 Upgrade preflight from 1.9.9 to 1.10.1
  .github/actions/preflight/action.yaml
  .github/renovate.json5
Labels: dependencies

#3937 Rename the existing ClusterRole prometheus-service-detector and update permissions
  config/helm/chart/default/templates/Common/extensions-opentelemetry-collector/clusterrole-extensions-opentelemetry-collector.yaml
  config/helm/chart/default/tests/Common/extensions-opentelemetry-collector/clusterrole-extensions-opentelemetry-collector_test.yaml
Labels: extensions

#3863 Add debug documentation and make commands for easier debugging
  Dockerfile
  Makefile
  config/helm/chart/default/templates/Common/csi/daemonset.yaml
  config/helm/chart/default/templates/Common/webhook/deployment-webhook.yaml
  config/helm/chart/default/templates/_helpers.tpl
  config/helm/chart/default/tests/Common/csi/daemonset_test.yaml
  config/helm/chart/default/tests/Common/webhook/deployment-webhook_test.yaml
  doc/debug.md
  hack/build/build_image.sh
  hack/build/create_go_linker_args.sh
  hack/make/debug/debug.mk
  hack/make/deploy/helm.mk
  hack/make/images.mk
Labels: documentation

#3941 Use the secret.Query in the AuthToken reconciler
  pkg/controllers/dynakube/activegate/internal/authtoken/reconciler.go
  pkg/util/kubeobjects/secret/query.go
Labels: core

#3944 Add node collector token secret
  pkg/api/v1beta3/dynakube/kspm_props.go
  pkg/controllers/dynakube/controller.go
  pkg/controllers/dynakube/controller_system_test.go
  pkg/controllers/dynakube/controller_test.go
  pkg/controllers/dynakube/kspm/config.go
  pkg/controllers/dynakube/kspm/reconciler.go
  pkg/controllers/dynakube/kspm/token/conditions.go
  pkg/controllers/dynakube/kspm/token/config.go
  pkg/controllers/dynakube/kspm/token/reconciler.go
  pkg/controllers/dynakube/kspm/token/reconciler_test.go
  test/mocks/cmd/manager/provider.go
  test/mocks/pkg/clients/dynatrace/client.go
  test/mocks/pkg/controllers/dynakube/dynatraceclient/builder.go
  test/mocks/pkg/controllers/dynakube/istio/reconciler.go
  test/mocks/pkg/controllers/dynakube/version/status_updater.go
  test/mocks/pkg/oci/registry/image_getter.go
  test/mocks/sigs.k8s.io/controller-runtime/pkg/manager/manager.go
Labels: core

#3926 Skip OneAgent injection in case status is not ready
  pkg/webhook/config.go
  pkg/webhook/mutation/pod/oneagent/config.go
  pkg/webhook/mutation/pod/oneagent/mutator.go
  pkg/webhook/mutation/pod/oneagent/mutator_test.go
  pkg/webhook/mutation/pod/webhook_test.go
Labels: oneagent

#3932 Add monitored-entity reconciler to logmodule reconciler
  pkg/controllers/dynakube/controller.go
  pkg/controllers/dynakube/controller_test.go
  pkg/controllers/dynakube/logmodule/reconciler.go
  pkg/controllers/dynakube/logmodule/reconciler_test.go
Labels: logmodule

#3950 Do not reconcile extensions self-signed TLS secret when `spec.extensions.enabled: false`
  pkg/controllers/dynakube/extension/tls/reconciler.go
  pkg/controllers/dynakube/extension/tls/reconciler_test.go
Labels: extensions

#3951 Set ondemand E2E tests at 3AM
  .github/workflows/e2e-tests-ondemand.yaml
Labels: test

#3947 Fix proxy content logged in init-container logs
  pkg/injection/startup/secret.go
Labels: bug

#3948 Fix proxy content logged in init-container logs (#3947)
  pkg/injection/startup/secret.go
Labels: cherrypick

#3949 Fix proxy content logged in init-container logs (#3947)
  pkg/injection/startup/secret.go
Labels: cherrypick

#3940 Add symlink that points to the latest codemodule version
  pkg/controllers/csi/driver/volumes/app/publisher.go
  pkg/controllers/csi/driver/volumes/app/publisher_test.go
  pkg/controllers/csi/metadata/path_resolver.go
  pkg/controllers/csi/metadata/path_resolver_test.go
  pkg/controllers/csi/provisioner/controller.go
  pkg/controllers/csi/provisioner/controller_test.go
  pkg/controllers/csi/provisioner/install.go
  pkg/injection/codemodule/installer/image/installer.go
  pkg/injection/codemodule/installer/symlink/symlink.go
  pkg/injection/codemodule/installer/url/installer.go
Labels: core

#3956 Fix dynakube always being set to error phase
  pkg/controllers/dynakube/logmodule/daemonset/reconciler.go
  pkg/controllers/dynakube/logmodule/daemonset/reconciler_test.go
  pkg/controllers/dynakube/logmodule/reconciler.go
  pkg/controllers/dynakube/logmodule/reconciler_test.go
Labels: bug

#3957 Remove semver validator for custom OneAgent version
  assets/samples/dynakube/v1beta2/cloudNativeFullStack.yaml
  pkg/api/validation/dynakube/oneagent.go
  pkg/api/validation/dynakube/oneagent_test.go
  pkg/api/validation/dynakube/validation.go
Labels: bug

#3955 More excessively check if the oneagent injection happened
  pkg/util/kubeobjects/volumes/volumes.go
  pkg/webhook/mutation/pod/init_container.go
  pkg/webhook/mutation/pod/oneagent/mutator.go
  pkg/webhook/mutation/pod/webhook.go
Labels: bug

#3960 More excessively check if the oneagent injection happened (#3955)
  pkg/util/kubeobjects/volumes/volumes.go
  pkg/webhook/mutation/pod/init_container.go
  pkg/webhook/mutation/pod/oneagent/mutator.go
  pkg/webhook/mutation/pod/webhook.go
Labels: cherrypick

#3962 Configure Activegate for node collector communication
  pkg/api/v1beta3/dynakube/kspm/kspm.go
  pkg/api/v1beta3/dynakube/kspm/props.go
  pkg/api/v1beta3/dynakube/kspm_props.go
  pkg/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/config.go
  pkg/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/kspm.go
  pkg/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/kspm_test.go
  pkg/controllers/dynakube/kspm/token/reconciler.go
  pkg/controllers/dynakube/kspm/token/reconciler_test.go
Labels: kspm

#3966 Add OneAgent version validator
  pkg/api/validation/dynakube/oneagent.go
  pkg/api/validation/dynakube/oneagent_test.go
  pkg/api/validation/dynakube/validation.go
Labels: bug

#3965 Add simple KSPM dependency validation
  pkg/api/validation/dynakube/kspm.go
  pkg/api/validation/dynakube/kspm_test.go
  pkg/api/validation/dynakube/validation.go
Labels: kspm

#3602 Adds EEC diagnostic logs to support_archive package
  .mockery.yaml
  cmd/remote_command/command.go
  cmd/support_archive/builder.go
  cmd/support_archive/eec_fs_logs.go
  cmd/support_archive/eec_fs_logs_test.go
  cmd/support_archive/logs.go
  config/helm/chart/default/templates/Common/operator/deployment-operator.yaml
  config/helm/chart/default/templates/Common/operator/install-config.yaml
  config/helm/chart/default/templates/Common/operator/role-operator-supportability.yaml
  config/helm/chart/default/templates/Common/operator/role-operator.yaml
  config/helm/chart/default/tests/Common/operator/deployment-operator_test.yaml
  config/helm/chart/default/tests/Common/operator/install-config_test.yaml
  config/helm/chart/default/tests/Common/operator/role-operator-supportability_test.yaml
  config/helm/chart/default/tests/Common/operator/role-operator_test.yaml
  config/helm/chart/default/values.yaml
  doc/api/dynakube-api-ref.md
  pkg/util/installconfig/modules.go
  pkg/util/installconfig/modules_test.go
  test/features/consts/consts.go
  test/features/extensions/extensions.go
  test/features/support_archive/files.go
  test/features/support_archive/support_archive.go
  test/mocks/cmd/remote_command/executor.go
Labels: extensions

#3972 Run unit tests only once on CI
  .github/workflows/ci.yaml
  hack/make/go.mk
Labels: bug

#3977 Update preflight action to v1.10.2
  .github/actions/preflight/action.yaml
Labels: ci, dependencies

#3978 Update preflight action to v1.10.2
  .github/actions/preflight/action.yaml
Labels: ci, dependencies

#3976 Remove vulnerability from the update-renovate-json5.py script
  .github/workflows/self-update-on-new-release-version.yaml
  hack/build/ci/update-renovate-json5.py
Labels: ci, security

#3994 Add Dynakube condition for Extensions TLS reconciler
  pkg/controllers/dynakube/extension/tls/conditions.go
  pkg/controllers/dynakube/extension/tls/reconciler.go
  pkg/controllers/dynakube/extension/tls/reconciler_test.go
Labels: extensions

#4003 Update controller-gen version on CRD
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/crd/bases/dynatrace.com_edgeconnects.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
Labels: dependencies

#4000 Fix volume mount for EdgeConnect custom CA. (#3360)
  pkg/controllers/edgeconnect/deployment/deployment.go
Labels: cherrypick

#4002 Prevent the double injection of the init-container (#3700) (#3722)
  pkg/injection/startup/run.go
  pkg/util/kubeobjects/container/container.go
  pkg/webhook/mutation/pod/webhook.go
  pkg/webhook/mutation/pod/webhook_test.go
Labels: cherrypick

#3974 Update LogMonitoring validation logic
  pkg/api/v1beta3/dynakube/dynakube_types.go
  pkg/api/v1beta3/dynakube/logmonitoring/props.go
  pkg/api/v1beta3/dynakube/logmonitoring/spec.go
  pkg/api/v1beta3/dynakube/logmonitoring_props.go
  pkg/api/v1beta3/dynakube/oneagent_props.go
  pkg/api/v1beta3/dynakube/zz_generated.deepcopy.go
  pkg/api/validation/dynakube/logmonitoring.go
  pkg/api/validation/dynakube/logmonitoring_test.go
  pkg/api/validation/dynakube/oneagent.go
  pkg/api/validation/dynakube/oneagent_test.go
  pkg/api/validation/dynakube/validation.go
  pkg/controllers/dynakube/logmonitoring/configsecret/reconciler.go
  pkg/controllers/dynakube/logmonitoring/configsecret/reconciler_test.go
  pkg/controllers/dynakube/logmonitoring/daemonset/args.go
  pkg/controllers/dynakube/logmonitoring/daemonset/args_test.go
  pkg/controllers/dynakube/logmonitoring/daemonset/container.go
  pkg/controllers/dynakube/logmonitoring/daemonset/container_test.go
  pkg/controllers/dynakube/logmonitoring/daemonset/reconciler.go
  pkg/controllers/dynakube/logmonitoring/daemonset/reconciler_test.go
Labels: logmodule

#3997 Add KSPM DaemonSet reconciler
  pkg/api/v1beta3/dynakube/kspm/props.go
  pkg/api/v1beta3/dynakube/kspm/spec.go
  pkg/api/v1beta3/dynakube/kspm/zz_generated.deepcopy.go
  pkg/controllers/dynakube/kspm/daemonset/certs.go
  pkg/controllers/dynakube/kspm/daemonset/certs_test.go
  pkg/controllers/dynakube/kspm/daemonset/conditions.go
  pkg/controllers/dynakube/kspm/daemonset/config.go
  pkg/controllers/dynakube/kspm/daemonset/container.go
  pkg/controllers/dynakube/kspm/daemonset/container_test.go
  pkg/controllers/dynakube/kspm/daemonset/env.go
  pkg/controllers/dynakube/kspm/daemonset/env_test.go
  pkg/controllers/dynakube/kspm/daemonset/reconciler.go
  pkg/controllers/dynakube/kspm/daemonset/reconciler_test.go
  pkg/controllers/dynakube/kspm/daemonset/volumes.go
  pkg/controllers/dynakube/kspm/daemonset/volumes_test.go
  pkg/controllers/dynakube/kspm/reconciler.go
  pkg/controllers/dynakube/kspm/token/reconciler.go
  pkg/controllers/dynakube/logmonitoring/daemonset/reconciler.go
  pkg/util/kubeobjects/daemonset/builder.go
  pkg/util/kubeobjects/labels/labels.go
Labels: kspm

#4007 Create AG service if KSPM is enabled
  pkg/api/v1beta3/dynakube/activegate/props.go
  pkg/api/v1beta3/dynakube/activegate/spec.go
  pkg/api/v1beta3/dynakube/activegate_props.go
Labels: kspm
