Repository Dynatrace/dynatrace-operator, pull requests merged in 2025-09, with the labels that each got.

#5301 Add logmonitoring e2e test case
  .github/actions/run-e2e/action.yaml
  .github/scripts/run-e2e-tests.sh
  .github/workflows/e2e-tests-ondemand.yaml
  .github/workflows/e2e-tests.yaml
  hack/make/tests/e2e.mk
  test/features/logmonitoring/logmonitoring.go
  test/helpers/feature.go
  test/helpers/tenant/secrets.go
  test/scenarios/nocsi/no_csi_test.go
Labels: ci, test

#5335 Handle dangling symlinks in the host publisher
  pkg/controllers/csi/driver/volumes/host/publisher.go
  pkg/controllers/csi/driver/volumes/host/publisher_test.go
Labels: bug

#5343 Improve RunAsNonRoot check
  pkg/webhook/mutation/pod/config.go
  pkg/webhook/mutation/pod/init.go
  pkg/webhook/mutation/pod/init_test.go
  pkg/webhook/mutation/pod/mutator/oneagent/config.go
  pkg/webhook/mutation/pod/mutator/oneagent/init.go
  pkg/webhook/mutation/pod/mutator/oneagent/init_test.go
Labels: bug

#5355 Handle dangling symlinks in the host publisher (#5335)
  pkg/controllers/csi/driver/volumes/host/publisher.go
  pkg/controllers/csi/driver/volumes/host/publisher_test.go
Labels: cherrypick

#5374 Temporarily fix GCR deployer image step (#5246)
  .github/workflows/gcr-deployer-image.yaml
  .github/workflows/release.yaml
Labels: cherrypick, ci

#5417 Properly append image tag suffixes
  .github/actions/build-push-image/action.yaml
  hack/build/ci/create-image-index.sh
Labels: bug, ci

#5440 Strengthen validation for codeModulesImage without CSI
  pkg/api/validation/dynakube/oneagent.go
  pkg/api/validation/dynakube/oneagent_test.go
Labels: bug

#5434 Add OTLP webhook handler
  .mockery.yaml
  pkg/webhook/mutation/pod/handler/otlp/config.go
  pkg/webhook/mutation/pod/handler/otlp/handle.go
  pkg/webhook/mutation/pod/handler/otlp/handle_test.go
  pkg/webhook/mutation/pod/mutator/otlp/exporter/mutator.go
  pkg/webhook/mutation/pod/mutator/otlp/resourceattributes/mutator.go
  pkg/webhook/mutation/pod/register.go
  pkg/webhook/mutation/pod/request_test.go
  pkg/webhook/mutation/pod/webhook.go
  pkg/webhook/mutation/pod/webhook_test.go
  test/mocks/pkg/webhook/mutation/pod/handler/handler.go
Labels: telemetry-ingest

#5441 Check token scope required for otlp exporter configuration
  pkg/clients/dynatrace/client.go
  pkg/controllers/dynakube/token/feature.go
  pkg/controllers/dynakube/token/tokens_test.go
Labels: telemetry-ingest

#5448 Add extensions.databases spec to Dynakube CRD
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  doc/api/dynakube-api-ref.md
  pkg/api/latest/dynakube/dynakube_types.go
  pkg/api/latest/dynakube/extensions/spec.go
  pkg/api/latest/dynakube/extensions/zz_generated.deepcopy.go
  pkg/api/latest/dynakube/zz_generated.deepcopy.go
  pkg/api/validation/dynakube/activegate_test.go
  pkg/api/validation/dynakube/eec_test.go
  pkg/api/validation/dynakube/extensions_test.go
  pkg/api/validation/dynakube/module_test.go
  pkg/controllers/dynakube/activegate/capability/capability_test.go
  pkg/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/eec_test.go
  pkg/controllers/dynakube/activegate/reconciler_test.go
  pkg/controllers/dynakube/extension/eec/reconciler_integration_test.go
  pkg/controllers/dynakube/extension/eec/reconciler_test.go
  pkg/controllers/dynakube/extension/reconciler_test.go
  pkg/controllers/dynakube/extension/tls/reconciler_test.go
  pkg/controllers/dynakube/otelc/statefulset/env_test.go
  pkg/controllers/dynakube/otelc/statefulset/reconciler_integration_test.go
  pkg/controllers/dynakube/otelc/statefulset/reconciler_test.go
  pkg/controllers/dynakube/otelc/statefulset/volumes_test.go
  pkg/controllers/dynakube/phase_test.go
  test/helpers/components/dynakube/options.go
Labels: extensions
