Repository Dynatrace/dynatrace-operator, pull requests merged in 2025-07, with the labels that each got.

#5045 Only provide the custom-pull-secret to the download jobs (#5038)
  pkg/controllers/csi/provisioner/controller_test.go
  pkg/controllers/csi/provisioner/install.go
Labels: cherrypick

#5065 Use dk.templates.logMonitoring.resources to set value of main and init container resources
  pkg/controllers/dynakube/logmonitoring/daemonset/container.go
  pkg/controllers/dynakube/logmonitoring/daemonset/container_test.go
Labels: core

#5086 Fix potential integer overflow in the CSI gRPC server
  pkg/controllers/csi/driver/server.go
Labels: security

#5083 Make full use of the `docker-metadata` action
  .github/actions/build-push-image/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/fips-ci.yaml
  .github/workflows/fips-release.yaml
  .github/workflows/release.yaml
  hack/build/ci/prepare-build-variables.sh
Labels: ci

#5115 bug: remove automatic-tls-certificate when disable AG
  pkg/controllers/dynakube/activegate/reconciler.go
  pkg/controllers/dynakube/activegate/reconciler_test.go
Labels: bug

#5124 Bumps go.opentelemetry.io/collector modules and mapstructure indirectly
  go.mod
  go.sum
  pkg/otelcgen/services.go
Labels: dependencies

#5122 Custom version field should not be affected by autoUpdate (#5116)
  pkg/controllers/dynakube/version/updater.go
  pkg/controllers/dynakube/version/updater_test.go
Labels: bug, cherrypick

#5148 Add NodeTaintsPolicy to TopologySpreadConstraints
  config/helm/chart/default/templates/Common/webhook/deployment-webhook.yaml
  config/helm/chart/default/tests/Common/webhook/deployment-webhook_test.yaml
  pkg/controllers/dynakube/activegate/internal/statefulset/statefulset.go
  pkg/util/kubeobjects/topology/constraint.go
Labels: bug

#5151 Remove `entities.read` scope usage and replace it with `settings.read`
  pkg/api/latest/dynakube/oneagent/props.go
  pkg/clients/dynatrace/client.go
  pkg/clients/dynatrace/endpoints.go
  pkg/clients/dynatrace/settings.go
  pkg/clients/dynatrace/settings_enrichment_test.go
  pkg/clients/dynatrace/settings_kubernetes_test.go
  pkg/clients/dynatrace/settings_test.go
  pkg/controllers/dynakube/activegate_test.go
  pkg/controllers/dynakube/apimonitoring/reconciler.go
  pkg/controllers/dynakube/apimonitoring/reconciler_test.go
  pkg/controllers/dynakube/controller_system_test.go
  pkg/controllers/dynakube/controller_test.go
  pkg/controllers/dynakube/injection/reconciler.go
  pkg/controllers/dynakube/injection/reconciler_test.go
  pkg/controllers/dynakube/k8sentity/conditions.go
  pkg/controllers/dynakube/k8sentity/config.go
  pkg/controllers/dynakube/k8sentity/reconciler.go
  pkg/controllers/dynakube/k8sentity/reconciler_test.go
  pkg/controllers/dynakube/logmonitoring/reconciler.go
  pkg/controllers/dynakube/logmonitoring/reconciler_test.go
  pkg/controllers/dynakube/monitoredentities/conditions.go
  pkg/controllers/dynakube/monitoredentities/reconciler.go
  pkg/controllers/dynakube/token/feature.go
  pkg/controllers/dynakube/token/tokens_test.go
  pkg/util/conditions/time.go
  pkg/util/conditions/token.go
  test/mocks/pkg/clients/dynatrace/client.go
Labels: core

#5171 Fix supported versions in bundle generation
  hack/build/bundle.sh
Labels: bug
