Repository Dynatrace/dynatrace-operator, pull requests merged in 2025-01, with the labels that each got.

#4277 Bump x/net/html version to fix SNYK-GOLANG-GOLANGORGXNETHTML-8535262 vulnerability on release-1.3 branch
  go.mod
  go.sum
Labels: dependencies

#4266 Bump mount-utils version to 1.32.0 to fix CVE-2024-3154 in operator v1.4.1
  .mockery.yaml
  cmd/support_archive/logs_test.go
  go.mod
  go.sum
  test/mocks/cmd/config/provider.go
  test/mocks/k8s.io/client-go/kubernetes/typed/core/v1/pod_interface.go
  test/mocks/pkg/clients/dynatrace/client.go
  test/mocks/pkg/clients/edgeconnect/client.go
  test/mocks/pkg/controllers/dynakube/dynatraceclient/builder.go
  test/mocks/pkg/controllers/dynakube/version/status_updater.go
  test/mocks/pkg/util/builder/modifier.go
  test/mocks/sigs.k8s.io/controller-runtime/pkg/manager/manager.go
Labels: dependencies

#4280 Add cross-compile functionality to dockerfile
  Dockerfile
Labels: ci

#4281 Always enable the ActiveGate http port
  pkg/controllers/dynakube/activegate/internal/statefulset/statefulset.go
  pkg/controllers/dynakube/activegate/internal/statefulset/statefulset_test.go
Labels: activegate

#4293 reverts Flaky support_archive e2e test #4289
  test/features/support_archive/support_archive.go
Labels: test

#4307 Bump versions of livenessprobe and csi-node-driver-registrar on release-1.4 branch
  Dockerfile
Labels: dependencies

#4288 Add default initContainer resources in case of only metadata enrichment
  pkg/webhook/mutation/pod/init_container.go
  pkg/webhook/mutation/pod/init_container_test.go
Labels: core

#4317 Ensure that `kubernetes_monitoring` is activated in ActiveGate when extensions are used
  pkg/api/validation/dynakube/eec_test.go
  pkg/api/validation/dynakube/extensions.go
  pkg/api/validation/dynakube/extensions_test.go
  pkg/api/validation/dynakube/validation.go
Labels: extensions

#4290 Remove command descriptions in case the whole application is failing
  cmd/csi/init/cmd.go
  cmd/csi/provisioner/cmd.go
  cmd/csi/server/cmd.go
  cmd/operator/builder.go
  cmd/standalone/standalone.go
  cmd/webhook/builder.go
Labels: core

#4323 Make Log agent host path static
  pkg/controllers/dynakube/logmonitoring/daemonset/container.go
  pkg/controllers/dynakube/logmonitoring/daemonset/container_test.go
  pkg/controllers/dynakube/logmonitoring/daemonset/reconciler.go
  pkg/controllers/dynakube/logmonitoring/daemonset/volumes.go
  pkg/controllers/dynakube/logmonitoring/daemonset/volumes_test.go
Labels: bug

#4324 Log agent args must not contain dynamic strings
  pkg/controllers/dynakube/logmonitoring/daemonset/args.go
  pkg/controllers/dynakube/logmonitoring/daemonset/env.go
  pkg/controllers/dynakube/logmonitoring/daemonset/env_test.go
Labels: bug

#4329 [cherry-pick] Log agent args must not contain dynamic strings (#4324)
  pkg/controllers/dynakube/logmonitoring/daemonset/args.go
  pkg/controllers/dynakube/logmonitoring/daemonset/env.go
  pkg/controllers/dynakube/logmonitoring/daemonset/env_test.go
Labels: bug, cherrypick

#4330 Update logMonitoring DynaKube sample
  assets/samples/dynakube/v1beta3/logMonitoring.yaml
Labels: documentation

#4335 Ensure that automatic-kubernetes-api-monitoring is not disabled if KSPM is enabled
  pkg/api/validation/dynakube/kspm.go
  pkg/api/validation/dynakube/kspm_test.go
Labels: cherrypick, kspm

#4334 Require Kubernetes API monitoring config for extensions
  pkg/api/validation/dynakube/eec_test.go
  pkg/api/validation/dynakube/extensions.go
  pkg/api/validation/dynakube/extensions_test.go
  pkg/api/validation/dynakube/validation.go
Labels: cherrypick, extensions

#4332 Ensure that automatic-kubernetes-api-monitoring is not disabled if KS…
  pkg/api/validation/dynakube/kspm.go
  pkg/api/validation/dynakube/kspm_test.go
Labels: kspm

#4309 Fix Log monitoring handling without Kubernetes settings available
  pkg/api/validation/dynakube/logmonitoring.go
  pkg/api/validation/dynakube/logmonitoring_test.go
  pkg/api/validation/dynakube/oneagent_test.go
  pkg/api/validation/dynakube/validation.go
  pkg/controllers/dynakube/controller.go
  pkg/controllers/dynakube/logmonitoring/daemonset/reconciler.go
  pkg/controllers/dynakube/logmonitoring/logmonsettings/reconciler.go
Labels: bug

#4340 (cherry-pick) Fix Log monitoring handling without Kubernetes settings available (#4309)
  pkg/api/validation/dynakube/logmonitoring.go
  pkg/api/validation/dynakube/logmonitoring_test.go
  pkg/api/validation/dynakube/oneagent_test.go
  pkg/api/validation/dynakube/validation.go
  pkg/controllers/dynakube/controller.go
  pkg/controllers/dynakube/logmonitoring/daemonset/reconciler.go
  pkg/controllers/dynakube/logmonitoring/daemonset/volumes_test.go
  pkg/controllers/dynakube/logmonitoring/logmonsettings/reconciler.go
Labels: cherrypick

#4312 Move collector service account template to separate collector …
  config/helm/chart/default/templates/Common/extensions/clusterole-extensions-prometheus.yaml
  config/helm/chart/default/templates/Common/extensions/role-extensions-controller.yaml
  config/helm/chart/default/templates/Common/extensions/serviceaccount-extensions-controller.yaml
  config/helm/chart/default/templates/Common/opentelemetry-collector/serviceaccount-opentelemetry-collector.yaml
  config/helm/chart/default/templates/_labels.tpl
  config/helm/chart/default/tests/Common/extensions/clusterrole-extensions-prometheus_test.yaml
  config/helm/chart/default/tests/Common/extensions/role-extensions-controller_test.yaml
  config/helm/chart/default/tests/Common/extensions/serviceaccount-extensions-controller_test.yaml
  config/helm/chart/default/tests/Common/opentelemetry-collector/serviceaccount-opentelemetry-collector_test.yaml
Labels: helm

#4347 fixup e2e tests: wrong check during codemodules getInstaller inside provisioner
  pkg/controllers/csi/provisioner/controller_test.go
  pkg/controllers/csi/provisioner/install.go
  pkg/controllers/csi/provisioner/install_test.go
Labels: test

#4357 Fix OneAgent command line arguments
  pkg/controllers/dynakube/oneagent/daemonset/arguments.go
  pkg/controllers/dynakube/oneagent/daemonset/arguments_test.go
  pkg/controllers/dynakube/oneagent/daemonset/daemonset_test.go
  pkg/util/prioritymap/map.go
  pkg/util/prioritymap/map_test.go
Labels: bug

#4359 Cherry-pick e2e tests extensions
  test/features/extensions/extensions.go
Labels: cherrypick, test, extensions

#4358 Removes a log message that corrupts support_archive zip package
  cmd/csi/init/cmd.go
  cmd/csi/provisioner/cmd.go
  cmd/csi/server/cmd.go
  cmd/operator/builder.go
  cmd/support_archive/builder.go
  cmd/webhook/builder.go
  pkg/api/v1beta1/dynakube/convert_from.go
  pkg/api/v1beta1/dynakube/convert_from_test.go
  pkg/api/v1beta2/dynakube/convert_from.go
  pkg/api/v1beta2/dynakube/convert_from_test.go
  pkg/util/installconfig/modules.go
Labels: bug

#4333 Automate creation of Otel collector Service
  pkg/api/v1beta3/dynakube/telemetryservice/props.go
  pkg/api/v1beta3/dynakube/telemetryservice/spec.go
  pkg/api/v1beta3/dynakube/telemetryservice_props.go
  pkg/api/validation/dynakube/telemetryservice.go
  pkg/api/validation/dynakube/telemetryservice_test.go
  pkg/api/validation/dynakube/validation.go
  pkg/controllers/dynakube/extension/service.go
  pkg/controllers/dynakube/otelc/reconciler.go
  pkg/controllers/dynakube/otelc/service/conditions.go
  pkg/controllers/dynakube/otelc/service/config.go
  pkg/controllers/dynakube/otelc/service/reconciler.go
  pkg/controllers/dynakube/otelc/service/reconciler_test.go
  pkg/util/kubeobjects/labels/labels.go
  pkg/util/kubeobjects/service/builder.go
  pkg/util/kubeobjects/service/builder_test.go
Labels: core

#4383 Fix resilience e2e test
  test/features/cloudnative/network_problems/network_problems.go
Labels: test
