Repository Dynatrace/dynatrace-operator, pull requests merged in 2025-06, with the labels that each got.

#4926 Remove serviceName from Activegate Statefulset
  pkg/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/serviceport.go
Labels: bug

#4947 Feature/update preflight command
  .github/actions/preflight/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  hack/build/ci/preflight.sh
Labels: ci

#4960 Remove non-existent fields in logmon samples (#4959)
  assets/samples/dynakube/v1beta3/logMonitoring.yaml
  assets/samples/dynakube/v1beta4/logMonitoring.yaml
  assets/samples/dynakube/v1beta5/logMonitoring.yaml
Labels: cherrypick

#4970 Fix fips release ci
  .github/workflows/fips-release.yaml
Labels: ci

#4972 Run whole ci on main and release branches
  .github/workflows/ci.yaml
  .github/workflows/fips-ci.yaml
Labels: bug, ci

#5018 Properly cleanup CSI host mounts (#5001)
  pkg/controllers/csi/provisioner/cleanup/hostmounts.go
  pkg/controllers/csi/provisioner/cleanup/run.go
Labels: cherrypick

#5024 Telemetry ingest samples
  assets/samples/dynakube/v1beta5/telemetryIngest.yaml
  assets/samples/dynakube/v1beta5/telemetryIngestWithLocalActiveGate.yaml
Labels: telemetry-ingest

#4957 Add personal access token to workflow to improve PR creation
  .github/workflows/self-update-on-new-release-version.yaml
Labels: ci

#4985 Additional transform processor to add pod IP.
  pkg/otelcgen/processors.go
  pkg/otelcgen/services.go
  pkg/otelcgen/testdata/full_config.yaml
  pkg/otelcgen/testdata/processors_only.yaml
  pkg/otelcgen/testdata/services_only.yaml
  pkg/otelcgen/testdata/services_statsd_only.yaml
  pkg/otelcgen/testdata/services_zipkin_only.yaml
Labels: bug, telemetry-ingest

#5038 Only provide the custom-pull-secret to the download jobs
  pkg/controllers/csi/provisioner/controller_test.go
  pkg/controllers/csi/provisioner/install.go
Labels: bug

#5049 Add deprecation warning v1beta1 DK version
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  pkg/api/v1beta1/dynakube/dynakube_types.go
  pkg/api/v1beta2/dynakube/dynakube_types.go
  pkg/api/v1beta3/dynakube/dynakube_types.go
Labels: bug
