Repository Dynatrace/dynatrace-operator, pull requests merged in 2025-03, with the labels that each got.

#4527 Add DynaKube phase handling also to KSPM and LogMon
  pkg/controllers/dynakube/phase.go
  pkg/controllers/dynakube/phase_test.go
Labels: bug

#4515 Create bootstrapper config secret instead of existing dynakube config if needed
  config/helm/chart/default/templates/Common/operator/clusterrole-operator.yaml
  doc/api/feature-flags.md
  go.mod
  go.sum
  pkg/api/v1beta3/dynakube/dynakube_props.go
  pkg/api/v1beta3/dynakube/feature_flags.go
  pkg/api/validation/dynakube/oneagent.go
  pkg/api/validation/dynakube/oneagent_test.go
  pkg/consts/agent_injection.go
  pkg/controllers/csi/provisioner/controller_test.go
  pkg/controllers/csi/provisioner/install.go
  pkg/controllers/dynakube/injection/reconciler.go
  pkg/controllers/dynakube/injection/reconciler_test.go
  pkg/controllers/dynakube/processmoduleconfigsecret/conditions.go
  pkg/controllers/dynakube/processmoduleconfigsecret/reconciler.go
  pkg/controllers/dynakube/processmoduleconfigsecret/reconciler_test.go
  pkg/injection/namespace/bootstrapperconfig/bootstrapperconfig.go
  pkg/injection/namespace/bootstrapperconfig/bootstrapperconfig_test.go
  pkg/injection/namespace/bootstrapperconfig/config.go
  pkg/injection/namespace/bootstrapperconfig/endpoints.go
  pkg/injection/namespace/bootstrapperconfig/pmc.go
  pkg/injection/namespace/ingestendpoint/secret.go
  pkg/injection/namespace/mapper/dynakubes.go
  pkg/injection/namespace/mapper/dynakubes_test.go
  pkg/injection/namespace/mapper/mapper_test.go
  pkg/webhook/mutation/pod/oneagent/config.go
  pkg/webhook/mutation/pod/oneagent/mutator.go
  pkg/webhook/mutation/pod/oneagent/mutator_test.go
Labels: core

#4559 Add setup-go to `build` step in release workflow
  .github/workflows/release.yaml
Labels: bug, ci

#4561 Handle unexpected error in kspm token generation
  pkg/controllers/dynakube/kspm/token/reconciler.go
  pkg/controllers/dynakube/kspm/token/reconciler_test.go
  pkg/util/kubeobjects/internal/query/query.go
Labels: bug

#4575 Backport: Mount /var/log as read only to standalone logmonitoring #4522
  pkg/controllers/dynakube/logmonitoring/daemonset/args.go
  pkg/controllers/dynakube/logmonitoring/daemonset/args_test.go
  pkg/controllers/dynakube/logmonitoring/daemonset/container.go
  pkg/controllers/dynakube/logmonitoring/daemonset/volumes.go
  pkg/controllers/dynakube/logmonitoring/daemonset/volumes_test.go
Labels: backport

#4581 Fix multiple set host property arguments
  pkg/api/v1beta3/dynakube/oneagent_props.go
  pkg/api/v1beta3/dynakube/oneagent_props_test.go
  pkg/api/validation/dynakube/oneagent_test.go
  pkg/controllers/dynakube/oneagent/daemonset/arguments_test.go
Labels: bug

#4584 Update securityContext for node config collector container
  pkg/controllers/dynakube/kspm/daemonset/container.go
Labels: kspm

#4570 Use `.spec.telemetryIngest.serviceName` as name for telemetry ingest service
  pkg/api/v1beta4/dynakube/telemetryingest/props.go
  pkg/api/validation/dynakube/telemetryservice.go
  pkg/api/validation/dynakube/telemetryservice_test.go
  pkg/api/validation/dynakube/validation.go
  pkg/controllers/dynakube/otelc/service/reconciler.go
  pkg/controllers/dynakube/otelc/service/reconciler_test.go
Labels: core

#4589 Put ActiveGate `customProperties` in KSPM sample under comment
  assets/samples/dynakube/v1beta4/kubernetesSecurityPostureManagement.yaml
Labels: documentation

#4595 Configure attributes for bootstrapper injection
  pkg/webhook/mutation/pod/v1/metadata/config.go
  pkg/webhook/mutation/pod/v1/oneagent/config.go
  pkg/webhook/mutation/pod/v1/oneagent/env.go
  pkg/webhook/mutation/pod/v2/attributes.go
  pkg/webhook/mutation/pod/v2/attributes_test.go
  pkg/webhook/mutation/pod/v2/common/arg/arg.go
  pkg/webhook/mutation/pod/v2/common/volumes/volumes.go
  pkg/webhook/mutation/pod/v2/init.go
  pkg/webhook/mutation/pod/v2/init_test.go
  pkg/webhook/mutation/pod/v2/metadata/config.go
  pkg/webhook/mutation/pod/v2/metadata/containers.go
  pkg/webhook/mutation/pod/v2/webhook.go
  pkg/webhook/mutation/pod/v2/webhook_test.go
Labels: core

#4600 Add and use bootstrapper-config secret replication
  pkg/controllers/dynakube/injection/reconciler.go
  pkg/injection/namespace/bootstrapperconfig/bootstrapperconfig.go
  pkg/injection/namespace/bootstrapperconfig/bootstrapperconfig_test.go
  pkg/injection/namespace/bootstrapperconfig/replicate.go
  pkg/injection/namespace/bootstrapperconfig/replicate_test.go
  pkg/webhook/mutation/pod/register.go
  pkg/webhook/mutation/pod/v2/webhook.go
  pkg/webhook/mutation/pod/v2/webhook_test.go
Labels: core

#4601 Rename "remote-image-download" to "node-image-pull"
  doc/api/feature-flags.md
  pkg/api/v1beta4/dynakube/dynakube_props.go
  pkg/api/v1beta4/dynakube/feature_flags.go
  pkg/api/v1beta4/dynakube/oneagent_props.go
  pkg/api/validation/dynakube/oneagent.go
  pkg/api/validation/dynakube/oneagent_test.go
  pkg/controllers/csi/provisioner/controller_test.go
  pkg/controllers/csi/provisioner/install.go
  pkg/controllers/dynakube/injection/reconciler_test.go
  pkg/injection/namespace/mapper/dynakubes_test.go
  pkg/injection/namespace/mapper/mapper_test.go
  pkg/webhook/mutation/pod/v2/oneagent/init.go
  pkg/webhook/mutation/pod/v2/webhook_test.go
  pkg/webhook/mutation/pod/webhook_test.go
Labels: core

#4592 Smartscape ClusterRole and ClusterRole binding for ActiveGate
  config/helm/chart/default/templates/Common/kubernetes-monitoring/clusterrole-kubernetes-monitoring-full.yaml
  config/helm/chart/default/tests/Common/kubernetes-monitoring/clusterrole-kubernetes-monitoring-full_test.yaml
  config/helm/chart/default/values.yaml
Labels: do-not-merge

#4599 Add bootstrapper (CSI-Driver variant) e2e test
  doc/e2e/features.md
  hack/make/tests/e2e.mk
  pkg/api/validation/dynakube/oneagent.go
  pkg/api/validation/dynakube/oneagent_test.go
  test/features/bootstrapper/node_image_pull_csi.go
  test/features/cloudnative/codemodules/codemodules.go
  test/helpers/kubeobjects/job/get.go
  test/scenarios/standard/standard_test.go
Labels: test

#4605 Update dynakube samples to include optional fields
  assets/samples/dynakube/v1beta4/applicationMonitoring.yaml
  assets/samples/dynakube/v1beta4/classicFullStack.yaml
  assets/samples/dynakube/v1beta4/cloudNativeFullStack.yaml
  assets/samples/dynakube/v1beta4/hostMonitoring.yaml
  assets/samples/dynakube/v1beta4/kubernetesObservability.yaml
  assets/samples/dynakube/v1beta4/kubernetesSecurityPostureManagement.yaml
  assets/samples/dynakube/v1beta4/logMonitoring.yaml
Labels: documentation

#4614 Renames OTelC StatefulSet, rename OTelC template section.
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  doc/api/dynakube-api-ref.md
  pkg/api/v1beta3/dynakube/dynakube_types.go
  pkg/api/v1beta4/dynakube/dynakube_types.go
  pkg/api/v1beta4/dynakube/otelc_props.go
  pkg/controllers/dynakube/otelc/statefulset/env_test.go
  pkg/controllers/dynakube/otelc/statefulset/reconciler.go
Labels: telemetry-ingest

#4631 Make Job installer work on OCP
  config/helm/chart/default/templates/Common/csi/role-csi.yaml
  config/helm/chart/default/tests/Common/csi/role-csi_test.yaml
  pkg/controllers/csi/provisioner/controller.go
  pkg/injection/codemodule/installer/job/bootstrapper.go
  pkg/injection/codemodule/installer/job/bootstrapper_test.go
  pkg/util/kubeobjects/job/builder.go
Labels: bug

#4634 Add watch permission for provisioner
  config/helm/chart/default/templates/Common/csi/role-csi.yaml
  config/helm/chart/default/tests/Common/csi/role-csi_test.yaml
Labels: bug

#4633 Make standalone logmon privileged with FF
  pkg/controllers/dynakube/logmonitoring/daemonset/container.go
  pkg/controllers/dynakube/logmonitoring/daemonset/container_test.go
Labels: bug

#4636 Make standalone logmon privileged with FF (#4633)
  pkg/controllers/dynakube/logmonitoring/daemonset/container.go
  pkg/controllers/dynakube/logmonitoring/daemonset/container_test.go
Labels: cherrypick

#4624 Automatically activates ActiveGate capabilities for telemetry ingest
  pkg/api/v1beta4/dynakube/otelc_props.go
  pkg/controllers/dynakube/activegate/capability/capability.go
  pkg/controllers/dynakube/activegate/capability/capability_test.go
  pkg/controllers/dynakube/otelc/secret/reconciler.go
Labels: telemetry-ingest

#4630 Sets proxy env variables for otel collector
  pkg/controllers/dynakube/otelc/configuration/reconciler.go
  pkg/controllers/dynakube/otelc/statefulset/env.go
  pkg/controllers/dynakube/otelc/statefulset/env_test.go
  pkg/otelcgen/exporters.go
  pkg/otelcgen/otelcgen.go
  pkg/otelcgen/otelcgen_test.go
  pkg/otelcgen/services.go
  pkg/otelcgen/testdata/exporters_only.yaml
  pkg/otelcgen/testdata/full_config.yaml
  pkg/otelcgen/testdata/services_only.yaml
  pkg/otelcgen/testdata/services_statsd_only.yaml
  pkg/otelcgen/testdata/services_zipkin_only.yaml
Labels: telemetry-ingest

#4594 Add LogMonitoring e2e test
  doc/e2e/features.md
  hack/make/tests/e2e.mk
  pkg/controllers/dynakube/logmonitoring/configsecret/conditions.go
  pkg/controllers/dynakube/logmonitoring/configsecret/reconciler.go
  pkg/controllers/dynakube/logmonitoring/configsecret/reconciler_test.go
  pkg/controllers/dynakube/logmonitoring/daemonset/conditions.go
  pkg/controllers/dynakube/logmonitoring/daemonset/reconciler.go
  pkg/controllers/dynakube/logmonitoring/daemonset/reconciler_test.go
  pkg/controllers/dynakube/logmonitoring/logmonsettings/conditions.go
  pkg/controllers/dynakube/logmonitoring/logmonsettings/reconciler.go
  test/features/consts/consts.go
  test/features/logmonitoring/logmonitoring.go
  test/helpers/components/dynakube/options.go
  test/helpers/kubeobjects/daemonset/wait.go
  test/scenarios/no_csi/no_csi_test.go
Labels: test

#4645 Sets PVC Hash on ActiveGate StatefulSet
  pkg/controllers/dynakube/activegate/internal/statefulset/statefulset.go
  pkg/controllers/dynakube/activegate/internal/statefulset/statefulset_test.go
  pkg/util/kubeobjects/statefulset/builder.go
  pkg/util/kubeobjects/statefulset/consts.go
  pkg/util/kubeobjects/statefulset/query.go
Labels: telemetry-ingest

#4647 Update dynatrace-bootstrapper to v1.0.2
  go.mod
  go.sum
  pkg/webhook/mutation/pod/v2/attributes.go
  pkg/webhook/mutation/pod/v2/attributes_test.go
  pkg/webhook/mutation/pod/v2/init.go
  pkg/webhook/mutation/pod/v2/init_test.go
  pkg/webhook/mutation/pod/v2/metadata/containers.go
  pkg/webhook/mutation/pod/v2/oneagent/containers_test.go
  pkg/webhook/mutation/pod/v2/oneagent/init.go
  pkg/webhook/mutation/pod/v2/oneagent/volumes.go
Labels: dependencies

#4639 Add volume-type annotation
  pkg/api/v1beta4/dynakube/dynakube_props.go
  pkg/controllers/dynakube/injection/reconciler.go
  pkg/controllers/dynakube/injection/reconciler_test.go
  pkg/controllers/dynakube/processmoduleconfigsecret/reconciler.go
  pkg/injection/namespace/bootstrapperconfig/replicate.go
  pkg/webhook/mutation/pod/common/oneagent/config.go
  pkg/webhook/mutation/pod/common/oneagent/mutator.go
  pkg/webhook/mutation/pod/v2/webhook.go
  pkg/webhook/mutation/pod/v2/webhook_test.go
  pkg/webhook/mutation/pod/webhook.go
Labels: core

#4640 Update log monitoring sample requirements
  assets/samples/dynakube/v1beta4/logMonitoring.yaml
Labels: documentation

#4655 Add LogMonitoring e2e test (release-1.4)
  doc/api/feature-flags.md
  doc/e2e/features.md
  hack/doc/gen_feature_flags.sh
  hack/make/tests/e2e.mk
  pkg/controllers/dynakube/logmonitoring/configsecret/conditions.go
  pkg/controllers/dynakube/logmonitoring/configsecret/reconciler.go
  pkg/controllers/dynakube/logmonitoring/configsecret/reconciler_test.go
  pkg/controllers/dynakube/logmonitoring/daemonset/annotations.go
  pkg/controllers/dynakube/logmonitoring/daemonset/conditions.go
  pkg/controllers/dynakube/logmonitoring/daemonset/reconciler.go
  pkg/controllers/dynakube/logmonitoring/daemonset/reconciler_test.go
  pkg/controllers/dynakube/logmonitoring/logmonsettings/conditions.go
  pkg/controllers/dynakube/logmonitoring/logmonsettings/reconciler.go
  test/features/consts/consts.go
  test/features/logmonitoring/logmonitoring.go
  test/helpers/components/dynakube/options.go
  test/helpers/kubeobjects/daemonset/wait.go
  test/scenarios/standard/standard_test.go
Labels: test

#4657 Extend log monitoring sample for v1.4
  assets/samples/dynakube/v1beta3/logMonitoring.yaml
Labels: cherrypick

#4654 Cleanup /cmd
  cmd/config/config.go
  cmd/config/config_test.go
  cmd/csi/init/cmd.go
  cmd/csi/provisioner/cmd.go
  cmd/csi/server/cmd.go
  cmd/main.go
  cmd/manager/manager.go
  cmd/manager/test.go
  cmd/operator/builder.go
  cmd/operator/builder_test.go
  cmd/operator/certs.go
  cmd/operator/cmd.go
  cmd/operator/config.go
  cmd/operator/manager.go
  cmd/operator/manager_test.go
  cmd/standalone/cmd.go
  cmd/standalone/cmd_test.go
  cmd/startup_probe/cmd.go
  cmd/support_archive/cmd.go
  cmd/support_archive/cmd_test.go
  cmd/support_archive/eec_fs_logs.go
  cmd/support_archive/remote_command/command.go
  cmd/troubleshoot/builder_test.go
  cmd/troubleshoot/cmd.go
  cmd/webhook/builder_test.go
  cmd/webhook/certificates/config.go
  cmd/webhook/certificates/watcher.go
  cmd/webhook/cmd.go
  cmd/webhook/manager.go
  cmd/webhook/manager_test.go
  codecov.yml
  hack/make/go.mk
  pkg/controllers/certificates/webhook_cert_controller.go
  test/helpers/platform/platform.go
  test/integration/integration_test.go
Labels: core

#4658 Updated golangci to v2
  .github/workflows/ci.yaml
  .golangci.yml
  hack/make/prerequisites.mk
  pkg/api/v1alpha2/edgeconnect/edgeconnect_types_test.go
  pkg/api/v1beta3/dynakube/oneagent/props_test.go
  pkg/api/v1beta3/dynakube/test/proxy_test.go
  pkg/api/v1beta4/dynakube/oneagent/props_test.go
  pkg/api/v1beta4/dynakube/test/proxy_test.go
  pkg/clients/dynatrace/communication_hosts_test.go
  pkg/clients/dynatrace/dynatrace_client_test.go
  pkg/clients/dynatrace/oneagent_connection_info.go
  pkg/clients/dynatrace/settings_kubernetes_test.go
  pkg/clients/dynatrace/settings_logmonitoring_test.go
  pkg/clients/dynatrace/settings_test.go
  pkg/controllers/certificates/certificate_secret_test.go
  pkg/controllers/certificates/certs_test.go
  pkg/controllers/csi/driver/server.go
  pkg/controllers/dynakube/activegate/capability/capability_test.go
  pkg/controllers/dynakube/activegate/internal/statefulset/statefulset_test.go
  pkg/controllers/dynakube/apimonitoring/reconciler_test.go
  pkg/controllers/dynakube/dtpullsecret/reconciler.go
  pkg/controllers/dynakube/istio/serviceentry_test.go
  pkg/controllers/dynakube/istio/virtualservice_test.go
  pkg/controllers/dynakube/oneagent/daemonset/daemonset_test.go
  pkg/controllers/dynakube/token/tokens_test.go
  pkg/controllers/dynakube/version/activegate_test.go
  pkg/controllers/edgeconnect/deployment/deployment_test.go
  pkg/injection/codemodule/processmoduleconfig/merge_test.go
Labels: ci

#4651 Creates AG TLS certificate by default
  doc/e2e/features.md
  hack/make/tests/e2e.mk
  pkg/api/v1beta3/dynakube/feature_flags.go
  pkg/api/v1beta4/dynakube/activegate/props.go
  pkg/api/v1beta4/dynakube/feature_flags.go
  pkg/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/certs_test.go
  pkg/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/ssl_volume_test.go
  pkg/controllers/dynakube/activegate/internal/tls/reconciler_test.go
  pkg/controllers/dynakube/extension/eec/reconciler_test.go
  pkg/controllers/dynakube/oneagent/daemonset/volumes_test.go
  pkg/injection/namespace/bootstrapperconfig/bootstrapperconfig_test.go
  test/features/cloudnative/codemodules/codemodules.go
  test/scenarios/istio/istio_test.go
Labels: core

#4632 Configure host volumes for host agent without CSI driver
  doc/e2e/features.md
  hack/make/tests/e2e.mk
  pkg/api/v1beta4/dynakube/oneagent/props.go
  pkg/api/v1beta4/dynakube/oneagent/props_test.go
  pkg/api/validation/dynakube/oneagent.go
  pkg/api/validation/dynakube/oneagent_test.go
  pkg/controllers/csi/metadata/correctness.go
  pkg/controllers/csi/provisioner/cleanup/hostmounts.go
  pkg/controllers/csi/provisioner/controller.go
  pkg/controllers/dynakube/oneagent/daemonset/daemonset.go
  pkg/controllers/dynakube/oneagent/daemonset/env_vars.go
  pkg/controllers/dynakube/oneagent/daemonset/volumes.go
  pkg/controllers/dynakube/oneagent/daemonset/volumes_test.go
  test/features/cloudnative/default/default.go
  test/features/hostmonitoring/without_csi.go
  test/helpers/components/dynakube/options.go
  test/scenarios/istio/istio_test.go
  test/scenarios/no_csi/no_csi_test.go
  test/scenarios/standard/standard_test.go
Labels: core

#4668 E2E tests for `telemetryIngest`
  .github/actions/run-e2e/action.yaml
  .github/scripts/run-e2e-tests.sh
  .github/workflows/e2e-tests-ondemand.yaml
  .github/workflows/e2e-tests.yaml
  doc/e2e/features.md
  hack/make/tests/e2e.mk
  pkg/controllers/dynakube/otelc/service/reconciler.go
  pkg/controllers/dynakube/otelc/service/reconciler_test.go
  test/features/consts/consts.go
  test/features/telemetryingest/telemetryingest.go
  test/helpers/components/dynakube/options.go
  test/helpers/logs/logs.go
  test/helpers/tenant/secrets.go
  test/helpers/tls/tls.go
  test/scenarios/no_csi/no_csi_test.go
  test/testdata/custom-cas/README.md
  test/testdata/custom-cas/tls-telemetry-ingest.crt
  test/testdata/custom-cas/tls-telemetry-ingest.key
Labels: test, telemetry-ingest

#4674 Uses ConfigMap instead of Secret for DT API endpoint.
  doc/e2e/features.md
  pkg/controllers/dynakube/otelc/consts/consts.go
  pkg/controllers/dynakube/otelc/endpoint/conditions.go
  pkg/controllers/dynakube/otelc/endpoint/config.go
  pkg/controllers/dynakube/otelc/endpoint/reconciler.go
  pkg/controllers/dynakube/otelc/endpoint/reconciler_test.go
  pkg/controllers/dynakube/otelc/reconciler.go
  pkg/controllers/dynakube/otelc/secret/conditions.go
  pkg/controllers/dynakube/otelc/secret/reconciler.go
  pkg/controllers/dynakube/otelc/secret/reconciler_test.go
  pkg/controllers/dynakube/otelc/statefulset/env.go
  pkg/controllers/dynakube/otelc/statefulset/env_test.go
  test/features/telemetryingest/telemetryingest.go
Labels: test, telemetry-ingest
