Repository Dynatrace/dynatrace-operator, pull requests merged in 2025-04, with the labels that each got.

#4676 Improve CSI server logs
  pkg/controllers/csi/driver/server.go
  pkg/controllers/csi/driver/volumes/volume_config.go
  pkg/controllers/csi/driver/volumes/volume_config_test.go
Labels: core

#4685 Fix kspm cert volume related to AG TLS secret
  pkg/controllers/dynakube/kspm/daemonset/certs.go
  pkg/controllers/dynakube/kspm/daemonset/certs_test.go
  pkg/controllers/dynakube/kspm/daemonset/volumes_test.go
Labels: core

#4694 Update samples
  assets/samples/dynakube/v1beta3/applicationMonitoring.yaml
  assets/samples/dynakube/v1beta3/classicFullStack.yaml
  assets/samples/dynakube/v1beta3/cloudNativeFullStack.yaml
  assets/samples/dynakube/v1beta3/hostMonitoring.yaml
  assets/samples/dynakube/v1beta3/kubernetesObservability.yaml
  assets/samples/dynakube/v1beta3/kubernetesSecurityPostureManagement.yaml
  assets/samples/dynakube/v1beta3/logMonitoring.yaml
  assets/samples/dynakube/v1beta4/applicationMonitoring.yaml
  assets/samples/dynakube/v1beta4/classicFullStack.yaml
  assets/samples/dynakube/v1beta4/cloudNativeFullStack.yaml
  assets/samples/dynakube/v1beta4/hostMonitoring.yaml
  assets/samples/dynakube/v1beta4/kubernetesObservability.yaml
  assets/samples/dynakube/v1beta4/kubernetesSecurityPostureManagement.yaml
  assets/samples/dynakube/v1beta4/logMonitoring.yaml
Labels: documentation

#4684 Revert "Migrate CI to build and distribute images using buildah...
  .github/actions/build-image/action.yaml
  .github/actions/upload-image/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  hack/build/build_image.sh
  hack/build/ci/upload-docker-image.sh
  hack/build/ci/upload-podman-image.sh
Labels: ci

#4699 Fully remove podman from CI
  .github/actions/build-image/action.yaml
  .github/actions/create-manifests/action.yaml
  .github/actions/upload-image/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  hack/build/ci/create-manifest.sh
Labels: ci

#4713 Fix typo in digest of release pipeline
  .github/workflows/release.yaml
Labels: ci

#4729 Rework CI
  .github/actions/build-push-image/action.yaml
  .github/actions/create-manifests/action.yaml
  .github/actions/sign-image/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  hack/build/ci/prepare-build-variables.sh
  test/helpers/feature.go
  test/helpers/kubeobjects/statefulset/get.go
  test/helpers/platform/platform.go
  test/helpers/registry/registry.go
  test/scenarios/filter.go
Labels: ci

#4727 Switch to UPD ports for StatsD & Jaeger thrift/compact
  pkg/controllers/dynakube/otelc/service/reconciler.go
  pkg/controllers/dynakube/otelc/service/reconciler_test.go
Labels: telemetry-ingest

#4741 Switch to UPD ports for StatsD & Jaeger thrift/compact (#4727)
  pkg/controllers/dynakube/otelc/service/reconciler.go
  pkg/controllers/dynakube/otelc/service/reconciler_test.go
Labels: cherrypick, telemetry-ingest

#4745 Use conditions properly in bootstrapper config reconciler
  pkg/controllers/dynakube/injection/reconciler.go
  pkg/controllers/dynakube/processmoduleconfigsecret/conditions.go
  pkg/controllers/dynakube/processmoduleconfigsecret/reconciler.go
  pkg/controllers/dynakube/processmoduleconfigsecret/reconciler_test.go
  pkg/injection/namespace/bootstrapperconfig/bootstrapperconfig.go
  pkg/injection/namespace/bootstrapperconfig/bootstrapperconfig_test.go
  pkg/injection/namespace/bootstrapperconfig/conditions.go
  pkg/injection/namespace/bootstrapperconfig/endpoints.go
  pkg/injection/namespace/bootstrapperconfig/pmc.go
  pkg/injection/namespace/bootstrapperconfig/replicate.go
Labels: bug

#4744 Preserver sorting of keys inside pmc properties
  pkg/clients/dynatrace/processmoduleconfig.go
  pkg/clients/dynatrace/processmoduleconfig_test.go
  pkg/injection/namespace/bootstrapperconfig/pmc.go
Labels: bug

#4746 Use conditions properly in bootstrapper config reconciler (#4745)
  pkg/controllers/dynakube/injection/reconciler.go
  pkg/controllers/dynakube/processmoduleconfigsecret/conditions.go
  pkg/controllers/dynakube/processmoduleconfigsecret/reconciler.go
  pkg/controllers/dynakube/processmoduleconfigsecret/reconciler_test.go
  pkg/injection/namespace/bootstrapperconfig/bootstrapperconfig.go
  pkg/injection/namespace/bootstrapperconfig/bootstrapperconfig_test.go
  pkg/injection/namespace/bootstrapperconfig/conditions.go
  pkg/injection/namespace/bootstrapperconfig/endpoints.go
  pkg/injection/namespace/bootstrapperconfig/pmc.go
  pkg/injection/namespace/bootstrapperconfig/replicate.go
Labels: cherrypick

#4747 Preserver sorting of keys inside pmc properties (#4744) cherry-pick
  pkg/clients/dynatrace/processmoduleconfig.go
  pkg/clients/dynatrace/processmoduleconfig_test.go
  pkg/injection/namespace/bootstrapperconfig/pmc.go
Labels: cherrypick

#4754 Fix ECR image URL
  .github/workflows/release.yaml
Labels: cherrypick, ci

#4770 Remove dynamic parts from args section in job container
  pkg/injection/codemodule/installer/job/bootstrapper.go
  pkg/injection/codemodule/installer/job/bootstrapper_test.go
Labels: bug

#4778 Remove obsolete validation warning in case of custom image is used (#4775)
  pkg/api/validation/dynakube/oneagent.go
  pkg/api/validation/dynakube/validation.go
Labels: cherrypick

#4783 Fix cleanup of unused agent versions.
  pkg/controllers/csi/metadata/correctness.go
  pkg/controllers/csi/metadata/correctness_test.go
Labels: core

#4774 Creates proxy TLS secret in the runtime
  doc/e2e/features.md
  test/features/cloudnative/codemodules/codemodules.go
  test/helpers/proxy/proxy.go
  test/testdata/custom-cas/custom.pem
  test/testdata/network/proxy-ssl-namespace.yaml
  test/testdata/network/proxy-ssl.yaml
Labels: test

#4790 Align memory requests and limits for Activegate
  assets/samples/dynakube/v1beta3/applicationMonitoring.yaml
  assets/samples/dynakube/v1beta3/classicFullStack.yaml
  assets/samples/dynakube/v1beta3/cloudNativeFullStack.yaml
  assets/samples/dynakube/v1beta3/hostMonitoring.yaml
  assets/samples/dynakube/v1beta3/kubernetesObservability.yaml
  assets/samples/dynakube/v1beta3/kubernetesSecurityPostureManagement.yaml
  assets/samples/dynakube/v1beta3/logMonitoring.yaml
  assets/samples/dynakube/v1beta4/applicationMonitoring.yaml
  assets/samples/dynakube/v1beta4/classicFullStack.yaml
  assets/samples/dynakube/v1beta4/cloudNativeFullStack.yaml
  assets/samples/dynakube/v1beta4/hostMonitoring.yaml
  assets/samples/dynakube/v1beta4/kubernetesObservability.yaml
  assets/samples/dynakube/v1beta4/kubernetesSecurityPostureManagement.yaml
  assets/samples/dynakube/v1beta4/logMonitoring.yaml
Labels: documentation

#4791 Add fips build to CI
  .github/actions/build-push-image/action.yaml
  .github/workflows/ci.yaml
  fips.Dockerfile
  hack/make/deploy/deploy.mk
Labels: ci

#4796 Align memory requests and limits for Activegate (#4790)
  assets/samples/dynakube/v1beta3/applicationMonitoring.yaml
  assets/samples/dynakube/v1beta3/classicFullStack.yaml
  assets/samples/dynakube/v1beta3/cloudNativeFullStack.yaml
  assets/samples/dynakube/v1beta3/hostMonitoring.yaml
  assets/samples/dynakube/v1beta3/kubernetesObservability.yaml
  assets/samples/dynakube/v1beta3/kubernetesSecurityPostureManagement.yaml
  assets/samples/dynakube/v1beta3/logMonitoring.yaml
  assets/samples/dynakube/v1beta4/applicationMonitoring.yaml
  assets/samples/dynakube/v1beta4/classicFullStack.yaml
  assets/samples/dynakube/v1beta4/cloudNativeFullStack.yaml
  assets/samples/dynakube/v1beta4/hostMonitoring.yaml
  assets/samples/dynakube/v1beta4/kubernetesObservability.yaml
  assets/samples/dynakube/v1beta4/kubernetesSecurityPostureManagement.yaml
  assets/samples/dynakube/v1beta4/logMonitoring.yaml
Labels: cherrypick

#4795 Fix cleanup of unused agent versions. (#4783)
  pkg/controllers/csi/metadata/correctness.go
  pkg/controllers/csi/metadata/correctness_test.go
Labels: cherrypick

#4794 Add AG ServiceIP to the OneAgent NO_PROXY
  pkg/api/v1beta4/dynakube/activegate/spec.go
  pkg/controllers/dynakube/activegate/capability/capability.go
  pkg/controllers/dynakube/activegate/capability/capability_test.go
  pkg/controllers/dynakube/activegate/internal/capability/reconciler.go
  pkg/controllers/dynakube/activegate/internal/capability/reconciler_test.go
  pkg/controllers/dynakube/activegate/internal/capability/service.go
  pkg/controllers/dynakube/activegate/internal/capability/service_test.go
  pkg/controllers/dynakube/activegate/internal/statefulset/builder/modifiers/serviceport.go
  pkg/controllers/dynakube/activegate/internal/statefulset/reconciler_test.go
  pkg/controllers/dynakube/activegate/internal/statefulset/statefulset.go
  pkg/controllers/dynakube/activegate/internal/statefulset/statefulset_test.go
  pkg/controllers/dynakube/activegate/reconciler.go
  pkg/controllers/dynakube/activegate/reconciler_test.go
  pkg/controllers/dynakube/controller_system_test.go
  pkg/controllers/dynakube/extension/eec/statefulset.go
  pkg/controllers/dynakube/kspm/daemonset/env.go
  pkg/controllers/dynakube/oneagent/daemonset/arguments.go
  pkg/controllers/dynakube/oneagent/daemonset/arguments_test.go
  pkg/controllers/dynakube/otelc/statefulset/env.go
  pkg/controllers/dynakube/phase.go
  pkg/controllers/dynakube/processmoduleconfigsecret/reconciler.go
  pkg/controllers/dynakube/processmoduleconfigsecret/reconciler_test.go
  pkg/controllers/dynakube/version/reconciler_test.go
  pkg/injection/namespace/bootstrapperconfig/pmc.go
  pkg/injection/namespace/ingestendpoint/secret.go
  pkg/injection/namespace/ingestendpoint/secret_test.go
  pkg/injection/namespace/initgeneration/initgeneration.go
  test/features/activegate/curl.go
Labels: bug

#4799 Fix FIPS build
  .github/actions/build-push-image/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/fips.yaml
Labels: ci

#4763 Prevent to run `helm upgrade` with wrong/missing CRD versions
  cmd/operator/certs.go
  cmd/operator/cmd.go
Labels: core

#4811 Setup the cert controller properly
  cmd/operator/manager.go
  cmd/operator/manager_test.go
Labels: bug

#4812 Setup the cert controller properly (#4811)
  cmd/operator/manager.go
  cmd/operator/manager_test.go
Labels: cherrypick

#4818 Add `cmd/bootstrapper/download` package
  cmd/bootstrapper/download/client.go
  cmd/bootstrapper/download/client_test.go
  cmd/bootstrapper/download/config.go
  cmd/bootstrapper/download/config_test.go
  pkg/clients/dynatrace/client.go
  pkg/injection/codemodule/installer/url/installer.go
Labels: core

#4742 Remove dependency to livenessprobe and CSI node driver registrar
  .golangci.yml
  .mockery.yaml
  .testcoverage.yml
  cmd/csi/livenessprobe/cmd.go
  cmd/csi/registrar/cmd.go
  cmd/main.go
  codecov.yml
  config/helm/chart/default/templates/Common/csi/daemonset.yaml
  config/helm/chart/default/tests/Common/csi/daemonset_test.yaml
  config/helm/chart/default/values.yaml
  go.mod
  go.sum
  pkg/controllers/csi/driver/server.go
  pkg/csi/csitest/driver/driver.go
  pkg/csi/csitest/driver/mock.go
  pkg/csi/livenessprobe/livenessprobe.go
  pkg/csi/livenessprobe/livenessprobe_test.go
  pkg/csi/registrar/registrar.go
  pkg/csi/registrar/registrar_test.go
  test/mocks/github.com/container-storage-interface/spec/lib/go/csi/identity_server.go
Labels: core
