Repository Dynatrace/dynatrace-operator, pull requests merged in 2025-08, with the labels that each got.

#5152 Make cluster creation failures more visible in e2e tests
  .github/actions/run-e2e/action.yaml
  .github/scripts/create-cluster.sh
  .github/workflows/e2e-tests-ondemand.yaml
  .github/workflows/e2e-tests.yaml
Labels: ci

#5185 Add serviceaccounts to OLM (#5040)
  hack/build/bundle.sh
Labels: cherrypick

#5226 Update the cluster creation message in e2e tests
  .github/workflows/e2e-tests-ondemand.yaml
  .github/workflows/e2e-tests.yaml
Labels: ci

#5225 Extend ActiveGate ClusterRole permissions
  config/helm/chart/default/templates/Common/kubernetes-monitoring/clusterrole-kubernetes-monitoring.yaml
  config/helm/chart/default/tests/Common/kubernetes-monitoring/clusterrole-kubernetes-monitoring_test.yaml
Labels: helm

#5238 Fix metadataEnrichment not adding prefixed pod annotations to enrichment files
  pkg/webhook/mutation/pod/common/metadata/annotations.go
  pkg/webhook/mutation/pod/common/metadata/annotations_test.go
Labels: bug

#5231 Update style guide related to unit-testing
  doc/coding-style-guide.md
Labels: documentation

#5267 Remove incorrect app version labels
  pkg/controllers/dynakube/extension/eec/statefulset.go
  pkg/controllers/dynakube/extension/service.go
  pkg/controllers/dynakube/otelc/service/reconciler.go
  pkg/controllers/dynakube/otelc/statefulset/reconciler.go
Labels: bug, extensions, telemetry-ingest

#5269 Do not serve v1beta1 and v1beta2
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  pkg/api/v1beta1/dynakube/dynakube_types.go
  pkg/api/v1beta2/dynakube/dynakube_types.go
Labels: core

#5291 bugfix(otelc): telemetry ingest endpoint config map is not updated
  pkg/controllers/dynakube/otelc/endpoint/reconciler.go
  pkg/controllers/dynakube/otelc/endpoint/reconciler_test.go
  pkg/util/kubeobjects/configmap/query.go
Labels: bug, telemetry-ingest

#5250 Introduce nightly builds
  .github/actions/build-push-image/action.yaml
  .github/actions/upload-nightly-helm/action.yaml
  .github/workflows/nightly.yaml
  config/helm/chart/default/templates/_helpers.tpl
  hack/build/ci/prepare-build-variables.sh
  hack/build/ci/push-nightly-helm-chart.sh
Labels: ci

#5315 cherry-pick: Fix wrong init-container runAsNonRoot value on OCP (#5308)
  pkg/webhook/mutation/pod/init_test.go
  pkg/webhook/mutation/pod/mutator/oneagent/config.go
  pkg/webhook/mutation/pod/mutator/oneagent/init.go
  pkg/webhook/mutation/pod/mutator/oneagent/init_test.go
Labels: bug

#5299 Improve symlink remove logic
  pkg/injection/codemodule/installer/symlink/symlink.go
  pkg/injection/codemodule/installer/symlink/symlink_test.go
Labels: bug
