Repository Dynatrace/dynatrace-operator, pull requests merged in 2025-02, with the labels that each got.

#4391 Create new ActiveGate and Proxy custom TLS certificates
  test/testdata/custom-cas/README.md
  test/testdata/custom-cas/ag.ext
  test/testdata/custom-cas/agcrt.pem
  test/testdata/custom-cas/agcrtkey.p12
  test/testdata/custom-cas/custom.pem
  test/testdata/network/proxy-ssl.yaml
Labels: test

#4407 Adds possibility to enable Live Debugger module in ActiveGate.
  pkg/api/v1beta3/dynakube/activegate/spec.go
  pkg/controllers/dynakube/activegate/capability/capability.go
  pkg/controllers/dynakube/activegate/capability/capability_test.go
  test/features/activegate/activegate.go
  test/helpers/components/dynakube/options.go
Labels: activegate

#4406 Increase CSI driver server container livenessProbe default timeouts (release-1.4)
  config/helm/chart/default/templates/Common/csi/daemonset.yaml
  config/helm/chart/default/tests/Common/csi/daemonset_test.yaml
Labels: bug

#4413 Add `/var/log` mount to log agent
  pkg/controllers/dynakube/logmonitoring/daemonset/volumes.go
  pkg/controllers/dynakube/logmonitoring/daemonset/volumes_test.go
Labels: logmodule

#4403 Add rbac for otel collector with open signal
  config/helm/chart/default/templates/Common/opentelemetry-collector/clusterole-telemetry-endpoints.yaml
  config/helm/chart/default/templates/Common/opentelemetry-collector/serviceaccount-opentelemetry-collector.yaml
  config/helm/chart/default/templates/_labels.tpl
  config/helm/chart/default/tests/Common/opentelemetry-collector/clusterrole-telemetry-endpoints_test.yaml
  config/helm/chart/default/tests/Common/opentelemetry-collector/serviceaccount-opentelemetry-collector_test.yaml
  config/helm/chart/default/values.yaml
Labels: helm

#4392 Add logic to download CodeModules in separate Job
  config/helm/chart/default/templates/Common/csi/daemonset.yaml
  config/helm/chart/default/templates/Common/csi/role-csi.yaml
  config/helm/chart/default/tests/Common/csi/daemonset_test.yaml
  config/helm/chart/default/tests/Common/csi/role-csi_test.yaml
  doc/api/feature-flags.md
  pkg/api/v1beta3/dynakube/feature_flags.go
  pkg/controllers/csi/config.go
  pkg/controllers/csi/metadata/path_resolver.go
  pkg/controllers/csi/provisioner/cleanup/run.go
  pkg/controllers/csi/provisioner/controller.go
  pkg/controllers/csi/provisioner/controller_test.go
  pkg/controllers/csi/provisioner/install.go
  pkg/injection/codemodule/installer/image/installer.go
  pkg/injection/codemodule/installer/job/bootstrapper.go
  pkg/injection/codemodule/installer/job/bootstrapper_test.go
  pkg/injection/codemodule/installer/job/config.go
  pkg/injection/codemodule/installer/job/installer.go
  pkg/injection/codemodule/installer/job/installer_test.go
  pkg/injection/codemodule/installer/url/installer.go
  pkg/util/kubeobjects/env/env.go
  pkg/util/kubeobjects/env/env_test.go
  pkg/util/kubeobjects/internal/query/query.go
  pkg/util/kubeobjects/job/builder.go
  pkg/util/kubeobjects/job/query.go
  pkg/util/kubeobjects/labels/labels.go
Labels: core

#4426 Change readonly oneAgent + custom image validation to a warning
  pkg/api/validation/dynakube/oneagent.go
  pkg/api/validation/dynakube/oneagent_test.go
  pkg/api/validation/dynakube/validation.go
Labels: bug

#4420 cherry-pick: Add `/var/log` mount to log agent (#4413)
  pkg/controllers/dynakube/logmonitoring/daemonset/volumes.go
  pkg/controllers/dynakube/logmonitoring/daemonset/volumes_test.go
Labels: cherrypick

#4430 Follow naming pattern of previous feature-flags for Job feature-flag
  doc/api/feature-flags.md
  pkg/api/v1beta3/dynakube/feature_flags.go
Labels: core

#4412 Mount telemetryService.TlsRefName secret to OtelC POD
  pkg/api/consts.go
  pkg/controllers/dynakube/extension/eec/reconciler_test.go
  pkg/controllers/dynakube/extension/eec/statefulset.go
  pkg/controllers/dynakube/otelc/statefulset/reconciler.go
  pkg/controllers/dynakube/otelc/statefulset/reconciler_test.go
  pkg/controllers/dynakube/otelc/statefulset/volumes.go
Labels: core

#4386 Cherry-pick: Change readonly oneAgent + custom image validation to a warning #4346
  pkg/api/validation/dynakube/image_test.go
  pkg/api/validation/dynakube/oneagent.go
  pkg/api/validation/dynakube/oneagent_test.go
  pkg/api/validation/dynakube/validation.go
Labels: cherrypick

#4431 Fix volume path and name to use correct one
  pkg/controllers/dynakube/logmonitoring/daemonset/volumes.go
Labels: logmodule

#4361 Add automatic restarts of agents if token is rotated
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  pkg/api/shared/communication/types.go
  pkg/api/v1beta1/dynakube/dynakube_status.go
  pkg/api/v1beta2/dynakube/dynakube_status.go
  pkg/controllers/dynakube/activegate/consts/consts.go
  pkg/controllers/dynakube/activegate/internal/statefulset/statefulset.go
  pkg/controllers/dynakube/activegate/internal/statefulset/statefulset_test.go
  pkg/controllers/dynakube/connectioninfo/activegate/reconciler.go
  pkg/controllers/dynakube/connectioninfo/activegate/reconciler_test.go
  pkg/controllers/dynakube/connectioninfo/oneagent/reconciler.go
  pkg/controllers/dynakube/connectioninfo/oneagent/reconciler_test.go
  pkg/controllers/dynakube/logmonitoring/daemonset/annotations.go
  pkg/controllers/dynakube/logmonitoring/daemonset/reconciler.go
  pkg/controllers/dynakube/logmonitoring/daemonset/reconciler_test.go
  pkg/controllers/dynakube/oneagent/daemonset/daemonset.go
  pkg/controllers/dynakube/oneagent/daemonset/daemonset_test.go
Labels: bug

#4436 Make the `/var/log` volumeMount not readOnly
  pkg/controllers/dynakube/logmonitoring/daemonset/volumes.go
Labels: bug

#4455 Revert #4431 and #4413 to remove `journald` mounts from log agent again
  pkg/controllers/dynakube/logmonitoring/daemonset/volumes.go
  pkg/controllers/dynakube/logmonitoring/daemonset/volumes_test.go
Labels: logmodule

#4419 Move csi dk dirs into sub dir
  pkg/controllers/csi/config.go
  pkg/controllers/csi/driver/server.go
  pkg/controllers/csi/metadata/correctness.go
  pkg/controllers/csi/metadata/path_resolver.go
  pkg/controllers/csi/provisioner/cleanup/appmounts.go
  pkg/controllers/csi/provisioner/cleanup/hostmounts.go
  pkg/controllers/csi/provisioner/cleanup/hostmounts_test.go
  pkg/controllers/csi/provisioner/cleanup/run.go
  pkg/controllers/csi/provisioner/cleanup/run_test.go
  pkg/injection/codemodule/installer/job/bootstrapper.go
  pkg/injection/codemodule/installer/job/installer.go
  pkg/util/kubeobjects/job/builder.go
Labels: bug

#4495 Fix helm upgrade if debug field is string
  config/helm/chart/default/templates/_helpers.tpl
Labels: bug

#4488 Add background information to used operator roles
  config/helm/chart/default/templates/Common/operator/clusterrole-operator.yaml
  config/helm/chart/default/templates/Common/operator/role-operator.yaml
  config/helm/chart/default/tests/Common/operator/role-operator_test.yaml
  doc/roles/operator-roles.md
Labels: documentation

#4503 Support OCI `codeModulesImage` as well
  pkg/injection/codemodule/installer/image/unpack.go
Labels: bug

#4525 Respect custom nodeSelector when building logMon/KSPM DaemonSet
  pkg/controllers/dynakube/kspm/daemonset/reconciler.go
  pkg/controllers/dynakube/kspm/daemonset/reconciler_test.go
  pkg/controllers/dynakube/logmonitoring/daemonset/reconciler.go
  pkg/controllers/dynakube/logmonitoring/daemonset/reconciler_test.go
  pkg/util/kubeobjects/daemonset/builder.go
Labels: bug

#4526 cherry pick remove obsolete OTLP token
  pkg/controllers/dynakube/otelc/statefulset/env.go
  pkg/controllers/dynakube/otelc/statefulset/reconciler_test.go
Labels: cherrypick

#4522 Mount /var/log readonly to standalone logmonitoring
  pkg/controllers/dynakube/logmonitoring/daemonset/args.go
  pkg/controllers/dynakube/logmonitoring/daemonset/args_test.go
  pkg/controllers/dynakube/logmonitoring/daemonset/container.go
  pkg/controllers/dynakube/logmonitoring/daemonset/volumes.go
  pkg/controllers/dynakube/logmonitoring/daemonset/volumes_test.go
Labels: core
