Repository Dynatrace/dynatrace-operator, pull requests merged in 2025-05, with the labels that each got.

#4838 Add separate FIPS release workflow
  .github/workflows/fips-ci.yaml
  .github/workflows/fips-release.yaml
  hack/build/ci/create-fips-image-index.sh
  hack/build/ci/create-manifest.sh
  hack/make/release/release.mk
Labels: ci

#4854 Use docker metadata action (#4853)
  .github/actions/build-push-image/action.yaml
Labels: cherrypick

#4846 Remove nodes-controller
  cmd/operator/manager.go
  cmd/operator/manager_test.go
  pkg/clients/dynatrace/agent_version.go
  pkg/clients/dynatrace/agent_version_test.go
  pkg/clients/dynatrace/client.go
  pkg/clients/dynatrace/client_test.go
  pkg/clients/dynatrace/dynatrace_client.go
  pkg/clients/dynatrace/dynatrace_client_test.go
  pkg/clients/dynatrace/endpoints.go
  pkg/clients/dynatrace/send_event.go
  pkg/clients/dynatrace/send_event_test.go
  pkg/controllers/dynakube/controller_system_test.go
  pkg/controllers/dynakube/token/feature.go
  pkg/controllers/dynakube/token/tokens_test.go
  pkg/controllers/nodes/cache.go
  pkg/controllers/nodes/cache_test.go
  pkg/controllers/nodes/config.go
  pkg/controllers/nodes/nodes_controller.go
  pkg/controllers/nodes/nodes_controller_test.go
  pkg/controllers/nodes/oneagent_dao.go
  test/features/support_archive/files.go
  test/mocks/pkg/clients/dynatrace/client.go
Labels: core

#4861 Remove metadata check in v2
  pkg/controllers/dynakube/injection/reconciler_test.go
  pkg/injection/namespace/bootstrapperconfig/bootstrapperconfig.go
  pkg/injection/namespace/bootstrapperconfig/bootstrapperconfig_test.go
  pkg/injection/namespace/bootstrapperconfig/endpoints.go
  pkg/webhook/mutation/pod/v2/attributes_test.go
  pkg/webhook/mutation/pod/v2/metadata/containers.go
  pkg/webhook/mutation/pod/v2/webhook_test.go
Labels: bug

#4864 Add clusterrole for EC in case of OCP
  config/helm/chart/default/templates/Common/edge-connect/clusterrole-edgeconnect.yaml
  config/helm/chart/default/tests/Common/edgeconnect/clusterrole-edgeconnect_test.yaml
  doc/e2e/features.md
  test/features/edgeconnect/edgeconnect.go
  test/helpers/components/operator/installation.go
  test/testdata/edgeconnect/custom-service-account.yaml
Labels: bug

#4869 Add `enable-ds-eviction` annotation in OneAgent DaemonSet
  pkg/controllers/dynakube/oneagent/daemonset/daemonset.go
  pkg/controllers/dynakube/oneagent/daemonset/daemonset_test.go
Labels: oneagent

#4868 Don't use a too broad SCC for e2e testing
  test/helpers/sample/app.go
  test/testdata/edgeconnect/custom-service-account.yaml
  test/testdata/sample-app/binding.yaml
  test/testdata/sample-app/clusterrole.yaml
  test/testdata/sample-app/pod-base.yaml
  test/testdata/sample-app/restricted-csi.yaml
  test/testdata/sample-app/serviceaccount.yaml
Labels: bug, test

#4849 Speed up CI by adding checks
  .github/workflows/ci.yaml
  .github/workflows/fips-ci.yaml
Labels: ci

#4899 Fix: Use correcrt dockerfile in case of fips
  .github/workflows/fips-ci.yaml
Labels: ci

#4903 Fix missing telemetryIngest converter from beta4 to latest
  pkg/api/v1beta4/dynakube/convert_to.go
  pkg/api/v1beta4/dynakube/convert_to_test.go
Labels: bug

#4906 Update scheme in e2e tests and update release e2e test
  test/features/cloudnative/upgrade/upgrade.go
  test/helpers/components/dynakube/dynakube.go
  test/helpers/scheme.go
Labels: bug

#4855 Add bootstrap subcommand
  cmd/bootstrapper/cmd.go
  cmd/bootstrapper/cmd_test.go
  cmd/main.go
Labels: core

#4897 Add default mappedHostPaths to kspm sample (v1beta5)
  assets/samples/dynakube/v1beta5/applicationMonitoring.yaml
  assets/samples/dynakube/v1beta5/classicFullStack.yaml
  assets/samples/dynakube/v1beta5/cloudNativeFullStack.yaml
  assets/samples/dynakube/v1beta5/hostMonitoring.yaml
  assets/samples/dynakube/v1beta5/kubernetesObservability.yaml
  assets/samples/dynakube/v1beta5/kubernetesSecurityPostureManagement.yaml
  assets/samples/dynakube/v1beta5/logMonitoring.yaml
  assets/samples/dynakube/v1beta5/multipleDynakubes.yaml
  config/crd/bases/dynatrace.com_dynakubes.yaml
  config/helm/chart/default/templates/Common/crd/dynatrace-operator-crd.yaml
  doc/api/dynakube-api-ref.md
  pkg/api/latest/dynakube/kspm/spec.go
Labels: documentation
